[2022-06-20 15:50] parmeet commented on #1797
Hi @cdeepali, torchtext does not depend on CUDA. Is there a reason you are building torchtext with FORCE_CUDA=1?

[2022-06-20 16:28] cdeepali commented on #1797
Yes thats correct. But my build is failing without it as well, so I had just tried passing FORCE_CUDA=1. But my build fails even if I don't pass it.

[2022-06-20 17:17] atalman commented on #1797
@cdeepali could you please post complete compile log with errors ?

[2022-06-21 05:20] cdeepali commented on #1797
I am actually trying to build torchtext when CUDA enabled pytorch is installed in the build environment. As a result cmake detects CUDA on its own and eventually fails:

full log:

[code]

This issue was not seen until v0.12.

[2022-06-21 20:47] pmabbo13 opened #1800 "Add T5 Model and Demo on Text Summarization using CNNDM Dataset"
## 🚀 Feature

Add CNNDM dataset and a pre-trained T5 model to TorchText.  Demo model on task of abstractive summarization using the CNNDM dataset.

**Motivation**

There are multiple frameworks out in OSS that cater to a wide variety of audiences. As a result of this fragmentation, a typical NLP researcher usually writes their code in pure PyTorch while copying essential components from other repo

[2022-06-22 20:41] Nayef211 commented on #1797
@cdeepali would you mind sharing the code you used to link `torchtext.so` with required torch libraries?

cc @mthrok do you know if torchaudio users have run into similar issues in the past?

[2022-06-22 22:16] Nayef211 commented on #1756
Just wanted to mention another approach to get Multi30k working with the data you are hosting @neychev. Rather than downloading the data directly using `wget` we can programmatically modify the URLs that each split of the dataset is being dowloaded from as follows:

[code]

As @rrmina mentioned earlier, this approach still doesn't work with the `test` split. If I try to print the contents of the `

[2022-06-23 09:41] cdeepali commented on #1797
Although I reported this for  ppc as I tried the build first on Power platform the issue is applicable to x86 as well. I observed same error on x86 in a trial I did today:
[code]

[2022-06-23 10:20] cdeepali commented on #1797
@Nayef211, I used the following patch to link torchtext with the required torch libraries:

[code]

Please let me know if you see any issue with this.

[2022-06-23 14:40] neychev commented on #1756
Thanks, @Nayef211 !

No idea what's exactly wrong with the data, the files above were located in `~/.torchtext/cache/Multi30k` of one of my students.

I've tried to simply rename the archive (according to the name in [torchtext docs](https://pytorch.org/text/stable/_modules/torchtext/datasets/multi30k.html#Multi30k)) and files in it and change SHA256 to the correct one and it seems to work.

The f

[2022-06-23 21:34] parmeet commented on #1265
We have migrated our datasets on top of [torchdata datapipes](https://github.com/pytorch/data). @ejguan  I wonder if there is an elegant way to split datapipe into two random disjoint datapipes?

[2022-06-23 21:35] parmeet commented on #1255
I believe, this can be resolved now by linking the C++ binary with torchtext library using the CMAKE built cc: @Nayef211

[2022-06-23 21:38] parmeet commented on #1249
Closing this issue as the dataset is already implemented.

[2022-06-23 21:38] #1249 closed

[2022-06-23 21:42] parmeet commented on #1243
This issue can be close as torchtext's datasets have already been migrated to TorchData datapipes. Refer to this issue https://github.com/pytorch/text/issues/1494 for more details.

[2022-06-23 21:42] #1243 closed

[2022-06-23 21:44] parmeet commented on #1215
Google colab now have the latest version installed (0.12). Also the nightly installed instructions seems working fine. Feel free to re-open if the issue reappears.

[2022-06-23 21:44] #1215 closed

[2022-06-23 21:46] parmeet commented on #757
Legacy datasets are no longer supported. Closing issue as it is no longer relevant.

[2022-06-23 21:46] #757 closed

[2022-06-23 22:07] parmeet commented on #815
We have migrated to torchdata datapipes which support multiple types of [compressed file reading](https://pytorch.org/data/beta/torchdata.datapipes.iter.html#archive-datapipes).

[2022-06-23 22:07] #815 closed

[2022-06-23 22:09] parmeet commented on #1148
@ejguan , @kevinchn : I wonder if we add progress bar to download data pipes?

[2022-06-23 22:10] #1137 closed

[2022-06-24 00:10] Nayef211 commented on #752
Closing this since `torchtext.data.Field` has been deleted and is no longer available in the latest releases.

[2022-06-24 00:10] #752 closed

[2022-06-24 00:11] Nayef211 commented on #742
Closing as all datasets mentioned in this issue have now been added

[2022-06-24 00:11] #742 closed

[2022-06-24 00:12] Nayef211 commented on #721
Closing this since `torchtext.data.Field` has been deleted and is no longer available in the latest releases.

[2022-06-24 00:12] #721 closed

[2022-06-24 00:13] Nayef211 commented on #668
Closing this since `torchtext.data.Iterator` has been deleted and is no longer available in the latest releases of our library.

[2022-06-24 00:13] #668 closed

[2022-06-24 00:14] Nayef211 commented on #670
Going to close this as I wasn't able to repro the issue. Feel free to open if you're still seeing inconsistencies in the size.

[2022-06-24 00:14] #670 closed

[2022-06-24 00:15] #723 closed

[2022-06-24 00:16] #658 closed

[2022-06-24 00:17] #654 closed

[2022-06-24 00:19] Nayef211 commented on #674
We have migrated our datasets on top of [torchdata datapipes](https://github.com/pytorch/data). Feel free to compose datapipes together to load in your custom data following the examples of how torchtext datasets are implemented!

[2022-06-24 00:19] #674 closed

[2022-06-24 00:20] Nayef211 commented on #665
@kilbd with the migration to [torchdata datapipes](https://github.com/pytorch/data), we cache all datasets locally so that the download step is skipped if the data exists on your filesystem. Lmk if this resolves your feature request!

[2022-06-24 00:20] #665 closed

[2022-06-24 00:22] Nayef211 commented on #660
@speedcell4 lmk if you're still seeing these bottlenecks. There's also dataloader v2 coming out soon which should have some improvements on data loading perf.

[2022-06-24 00:22] #660 closed

[2022-06-24 00:25] Nayef211 commented on #706
Closing this since `torchtext.data.Field` has been deleted and is no longer available in the latest releases of our library. The `torchtext.vocab.Vocab` class should be able to support any special tokens including a custom `<unk>` token.

[2022-06-24 00:25] #706 closed

[2022-06-24 00:27] Nayef211 commented on #485
Closing this since `torchtext.data.Field` has been deleted and is no longer available in the latest releases of our library.

[2022-06-24 00:27] #485 closed

[2022-06-24 00:31] #477 closed

[2022-06-24 00:33] speedcell4 commented on #660
a "coming out soon" without reference but + closing issue before confirming
really good manner! @Nayef211

[2022-06-24 00:33] Nayef211 commented on #491
We have migrated all datasets to torchdata datapipes and should not be seeing this issue any longer.

[2022-06-24 00:33] #491 closed

[2022-06-24 00:35] Nayef211 commented on #492
Closing this since `torchtext.data.Field` has been deleted and is no longer available in the latest releases of our library. Additionally, we have migrated all datasets to torchdata datapipes.

[2022-06-24 00:35] #492 closed

[2022-06-24 00:39] Nayef211 commented on #660
@speedcell4 we are currently going through the backlog of issues and responding to/closing out issues that we think are legacy and may no longer be relevant as we've made a lot of updates to our library over the last couple of years. Feel free to keep the issue open if you're still running into the performance bottlenecks.

[2022-06-24 00:43] Nayef211 commented on #507
Closing this as we no longer have `torchtext.vocab.Vectors` in our library. Feel free to try out `torchtext.prototype.vectors.Vectors` to verify if you're running into this issue!

[2022-06-24 00:43] #507 closed

[2022-06-24 00:50] Nayef211 commented on #540
I believe this issue can be closed as torchtext's datasets have now been migrated to TorchData datapipes in https://github.com/pytorch/text/issues/1494. We no longer use `batch_size_fn` in our datasets.

[2022-06-24 00:50] #540 closed

[2022-06-24 00:52] Nayef211 commented on #532
Closing the issue as we no longer maintain the `TabularDataset` in our library.

[2022-06-24 00:52] #532 closed

[2022-06-24 00:53] Nayef211 commented on #513
I don't believe we plan to add any features about high frequency words (only low frequency words are supported for the time being). Closing this for now but will reopen if we continue getting requests for this feature.

[2022-06-24 00:53] #513 closed

[2022-06-24 00:55] Nayef211 commented on #514
I believe this issue can be closed as torchtext's datasets have now been migrated to TorchData datapipes in https://github.com/pytorch/text/issues/1494. We also no longer maintain the `field` module in our library.

[2022-06-24 00:55] #514 closed

[2022-06-24 00:56] #601 closed

[2022-06-24 00:56] #595 closed

[2022-06-24 00:57] Nayef211 commented on #599
Closing the issue as we no longer maintain `Field` or `SubwordField` in our library.

[2022-06-24 00:57] #599 closed

[2022-06-24 00:58] Nayef211 commented on #509
Closing the issue as we no longer maintain the `Field` class in our library.

[2022-06-24 00:58] #509 closed

[2022-06-24 00:58] Nayef211 commented on #508
Closing the issue as we no longer maintain the `Field` class in our library.

[2022-06-24 00:58] #508 closed

[2022-06-24 00:58] Nayef211 commented on #510
Closing the issue as we no longer maintain the `Field` class in our library.

[2022-06-24 00:58] #510 closed

[2022-06-24 01:00] Nayef211 commented on #607
Closing the issue as we no longer maintain the `Field` class in our library. We have migrated our dataset implementation on top of torchdata's datapipes.

[2022-06-24 01:00] #607 closed

[2022-06-24 13:51] ejguan commented on #1148
We do have a tracking issue here: https://github.com/pytorch/data/issues/457

But, based on my understanding, we might not have the bandwidth for now to implement it.

[2022-06-28 04:06] cdeepali commented on #1797
@Nayef211, pls let me know your view on the above patch.

[2022-06-28 10:20] tianyu-z commented on #1744
I have the same bug

[2022-06-28 19:11] Nayef211 commented on #1766
Closing out the issue as torchtext 0.13.0 is officially available on [PyPi](https://pypi.org/project/torchtext/) and [conda](https://anaconda.org/pytorch/torchtext). You can view the release notes [here](https://github.com/pytorch/text/releases/tag/v0.13.0).

[2022-06-28 19:11] #1766 closed

[2022-06-29 04:57] cdeepali commented on #1797
Sure @Nayef211.

[2022-06-29 17:47] Nayef211 commented on #1797
@cdeepali quick question, what is the value of your `TORCH_INSTALL_PREFIX` env variable? The build is erroring out for me locally on MacOS due to the env variable not being set.

[2022-06-30 04:52] cdeepali commented on #1797
I have it set to the following:

[code]

and `PYTHON_VERSION=3.9`

[2022-07-02 15:14] OrangeForTangerine commented on #1796
what,help why it is not an iterator . I have an same questions for you ,help

[2022-07-02 16:00] rrmina commented on #1796
to use it, you need to turn into an iter with iter() before iterating.

[code]

[2022-07-03 03:24] OrangeForTangerine commented on #1796
Thank you for your reply，i try it but it have an error```Exception: OnDiskCache Exception: ./data\datasets\IMDB\aclImdb_v1.tar.gz expected to be written by different process, but file is not ready in 300 seconds.
This exception is thrown by __iter__ of MapperIterDataPipe()`  i can't find same question in stackflow or other web .
today i will commit this program,😭it's so terrible
If you meet this s

[2022-07-06 01:07] OrangeForTangerine commented on #1796
Thank you for your answers,there is my code
[code]
but i user other dateset

[code]
😂Although the work is over that the other Colleagues user paddle to Implement it, only it leaves me with my doubts,I will keep looking for the answer. Thanks for everyone

[2022-07-07 15:40] wuxxin commented on #1797
torchtext 0.13 also fails to build on rocm, preliminary patch fixes build too.
See https://github.com/rocm-arch/python-pytorch-rocm/issues/46

[2022-07-08 03:33] #1644 closed

[2022-07-08 15:39] Nayef211 commented on #1797
@cdeepali @wuxxin I've merged in https://github.com/pytorch/text/pull/1814. Can you please verify if the build is fixed on your end before I close out this issue?

[2022-07-08 16:58] wuxxin commented on #1797
does not apply to released version (0.13), need to rebase patch for moved setup_helpers dir, will report once done

[2022-07-08 17:07] mthrok commented on #1797
I think PyTorch plans to do minor release 1.12.1 due to https://github.com/pytorch/pytorch/issues/80569. So I think we can include #1814 in torchtext 0.13.1 release.

[2022-07-09 18:12] yushikmr commented on #1744
I have the same bug

my env:
[code]

[2022-07-09 18:19] yushikmr opened #1819 "NameError: name 'IterableWrapper' is not defined in WikiText2"
Hi,

When I tried loading wikipedia data using `torchtext.dataset`
the error occured.

[code]

[code]

### Environment

I excuted this code on this enviroment.

GPU
[code]

- python=3.8.5

[code]

[2022-07-11 13:09] cdeepali commented on #1797
@Nayef211, I have verified with #1814 on my environment and it works. Thanks for adding the fix.

[2022-07-11 14:28] Nayef211 commented on #1819
This is a duplicate of #1744. Let me see if I can repro this.

[2022-07-11 16:28] #1357 closed

[2022-07-11 16:30] Nayef211 commented on #1255
That's right @parmeet. Here's the issue that describes the new build system #1644. And the example added in #1817 showcases how to load a saved `GPT2BPE` tokenizer in C++.

[2022-07-11 16:30] #1255 closed

[2022-07-11 16:47] Nayef211 commented on #1744
I also tried reproing but am not able to do so
[code]

Env:
[code]

@ejguan would you happen to have any ideas as to what could cause this error to surface? As @parmeet mentioned, `torchdata` is already available on the system and `IterableWrapper` has been imported.

[2022-07-11 17:34] ejguan commented on #1744
On MacOS, I can't reproduce it either
- nightly releases
[code]
- official releases
[code]

@rkingery Could you please try to use the latest nightly release?

@tianyu-z @yushikmr Could you please check if torchdata is installed with the right version.

TBH, I agree this is super strange and I can't reproduce it.

[2022-07-13 19:48] ejguan opened #1834 "Add Nightly releases for macos < 11 with x86_64"
## 🚀 Feature

After 2022/07/07, the nightly releases for TorchText on macos are updated to 11_0 with `amd64`. However, there are still use cases with `x86_64`. Apparently, PyTorch still provides releases for both platforms.

**Motivation**

This causes CI failure from TorchData side as GHA is still using 10.9 version of mac machines to execute tests. When the workflow tries to install torchtext, i

[2022-07-13 20:03] mthrok commented on #1834
Maybe it is related to https://github.com/pytorch/text/pull/1818
The migration to Xcode 12.5 might change the default CPU type.

However, the latest nightly build like [this one](https://app.circleci.com/pipelines/github/pytorch/text/6077/workflows/b642c26d-5c7d-40ad-802d-1af32ef33794/jobs/207400) suggests it is built for `x86_64`.

What Python version on which platform are you seeing the issue?

[2022-07-13 21:19] mthrok commented on #1834
That makes sense. I think this issue from audio has the same cause.

https://github.com/pytorch/audio/issues/2536

[2022-07-13 21:53] mthrok commented on #1834
Made a PR #1835 to fix it.

While looking at the job log from the recent nightly, it seems that the compilation is done for 10.9

[code]

but the final packaging step is somehow using 11.0 (and actually there are warnings about the issue)

[code]

[2022-07-15 03:33] regedo commented on #1662
pip install torchtext==0.9.2 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html, it works

[2022-07-15 20:28] parmeet opened #1840 "Off by one (OBO) error in torchtext implementation of BERTTokenizer"
The output token IDs are off by one for certain vocab files. Per the initial investigation by @geoffreyangus, apparently torchtext is not taking newlie \n into account in the vocab file, whereas HF does count it hence the offset by 1.

Reproducible gist by @geoffreyangus https://gist.github.com/geoffreyangus/ae8a68900a46e4b1b3fec4926b7fa51b

[2022-07-18 17:30] #1840 closed

[2022-07-19 03:17] shrinath-suresh opened #1847 "Can't pickle local object 'to_map_style_dataset.<locals>._MapStyleDataset'"
## 🐛 Bug

**Describe the bug**  `Can't pickle local object 'to_map_style_dataset.<locals>._MapStyleDataset'` error is produced while saving the entire model with `torch.save(model, "model.pth")`

**To Reproduce** Steps to reproduce the behavior:

1. Download the script - https://github.com/mlflow/mlflow-torchserve/blob/0e93a3e41b5a4ba1b8cf501a95f681cfb6cea24d/examples/BertNewsClassification/news_c

[2022-07-20 03:42] chauhang commented on #1847
cc: @VitalyFedyunin, @ejguan

[2022-07-20 13:05] parmeet commented on #1847
Can we move prepare_data (and other utilities to create DataLoader) outside of model class?

Also I think the use of to_map_style_dataset should be discouraged/deprecated, we probably should work with DataPipes directly to showcase usage of datasets built on top of Datapipes with DataLoader. Here is a [tutorial](https://pytorch.org/text/stable/tutorials/sst2_classification_non_distributed.html) th

[2022-07-20 14:28] parmeet commented on #1847
seems like the it is due to prepare_data is part of Model class https://github.com/mlflow/mlflow-torchserve/blob/0e93a3e41b5a4ba1b8cf501a95f681cfb6cea24d/examples/BertNewsClassification/news_classifier.py#L151

[2022-07-20 14:31] parmeet commented on #1847
That's sounds good! I think, we should probably get rid of to_map_style dataset function in favor of native support in torchdata :)

[2022-07-20 17:19] Nayef211 commented on #1744
@rkingery let me know if @MadSleep's suggestion helps fix your issue. Will close out this issue if it does.

[2022-07-20 17:40] shrinath-suresh commented on #1847
sure. i will retest by moving the prepare data out of model class.

[2022-07-20 17:41] shrinath-suresh commented on #1847
And if the PyTorch example can be updated, it would really help. Because, i followed the steps from the tutorial - https://pytorch.org/tutorials/beginner/text_sentiment_ngrams_tutorial.html#split-the-dataset-and-run-the-model .

[2022-07-20 17:41] mreso opened #1849 "Scripted Roberta model stuck in second call"
## 🐛 Bug

**Describe the bug**
Hi,

I've scripted a Roberta model and when I do two inference calls on it, the second call returns a result only after several minutes (up to 16 minutes).
I see this behavior under Linux on GPU as well as on CPU. Mac on CPU works fine.

**To Reproduce** Steps to reproduce the behavior:
Run this script:
The last call of the model takes 4-16 minutes to finish.

[code]

[2022-07-20 20:01] parmeet commented on #1849
Ok this does seems strange. I could repro the issue, but without torch.no_grad() it works just fine. Also when I run it once without torch.no_grad() and then run with torch.no_grad() it does manage to run:

[code]

@erichan1 wondering if it has to do anything with BT, since torch.no_grad() would lead to fast path?

[2022-07-21 08:35] erichan1 commented on #1849
It's definitely possible that this is a BT bug. Thanks for flagging! Let me look into it.

[2022-07-21 10:28] gicjmd opened #1850 "Compatibility error between torch 1.9 and torchtext 0.10"
## 🐛 Bug

I'm using detectron2 with cuda 11.2 and torch 1.9 version, installed with :

`pip3 install torch==1.9+cu111 torchvision==0.10.0+cu111 torchtext==0.10 -f https://download.pytorch.org/whl/torch_stable.html`

Versions should be compatible (cf. [detectron2](https://detectron2.readthedocs.io/en/latest/tutorials/install.html#install-pre-built-detectron2-linux-only), [torchtext](https://pypi.or

[2022-07-21 11:36] shrinath-suresh commented on #1847
@parmeet @ejguan Thanks for your input. I moved the prepare data out of model class and the issue is resolved. code link [here](https://github.com/mlflow/mlflow-torchserve/blob/bert-torchdata-datapipes/examples/BertNewsClassification/news_classifier.py)

[2022-07-21 12:48] #1850 closed, assigned to nobody

[2022-07-21 12:53] parmeet commented on #1847
Sounds good @shrinath-suresh, let me close this issue for now then.

[2022-07-21 12:53] #1847 closed

[2022-07-21 13:37] ejguan commented on #1744
@ivaquero

You need torchdata==0.4.0 to work with pytorch 1.12.0

[2022-07-21 13:50] yushikmr commented on #1744
I found same error in spite of  `torchdata==0.4.0 to work with pytorch 1.12.0`
#1819
[code]

[2022-07-21 14:03] ivaquero commented on #1744
Unfortunately, there is no torchdata==0.4.0 osx-arm64 build on conda channels.

[2022-07-21 14:11] ejguan commented on #1744
@ivaquero I see. I will see if torchdata can provide one for m1 mac.

[2022-07-21 15:17] ejguan commented on #1819
This is super weird and can't reproduce on torchdata side.

@yushikmr
Could you try to run
[code]
in your environment to see if any Error is raised.

[2022-07-21 18:41] MadSleep commented on #1744
Try to run your code on google colab

[2022-07-22 01:18] ParsaAkbari opened #1853 "Installing torchdata results in torchtext breaking"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

MacOS Monterey 12.2.1 - terminal - bash
[code]

[code]

**Expected behavior** A clear and concise description of what you expected to happen.
I expect torchtext to import after I install torchdata

**Screenshots** If applicable, add screenshots to help explain your

[2022-07-22 03:17] Nayef211 commented on #1853
@ParsaAkbari can you try installing the latest stable release of torchdata (i.e. `conda install -c pytorch torchdata`). According to the version compatibility guide on torchdata's GitHub repo, `torchdata=0.4.0` is compatible with `torch=1.12.0`. If you want to install torchdata from source, you should also install pytorch from source.

cc @ejguan

[2022-07-22 13:53] ejguan commented on #1853
@ParsaAkbari You might need to install `torchdata` manually by downloading and running `python setup.py develop` since `torchdata` has not provided binaries for m1.

[2022-07-22 16:32] BlueskyFR opened #1855 "Support for example/label slices batching in DataPipe"
wrong repo - sorry!

[2022-07-22 16:39] #1855 closed

[2022-07-27 14:55] ejguan commented on #1853
@ParsaAkbari
The binaries for arm64 becomes available for nightly release. You can get them via: `conda install pytorch torchdata -c pytorch-nightly.`

And, for the coming torchdata 0.4.1 minor releases, you will be able to get arm64 build of torchdata using `conda install pytorch torchdata -c pytorch`.

[2022-07-27 15:08] wumirose commented on #1819
I have the same error. Trying:

`import torchdata`
`from torchdata.datapipes.iter import IterableWrapper` could not solve it either.

Please keep me posted if you find a workaround.

[2022-07-27 19:14] ayanban011 opened #1863 "## Vocab"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior** A clear and concise description of what you expected to happen.

**Screenshots** If applicable, add screenshots to help explain your problem.

**Environment**

Please cop

[2022-07-28 00:08] Nayef211 commented on #1863
Hey @ayanban011, can you provide some example failures modes when using the vocab or specifics for issues you're running into? The issue summary is not very descriptive and makes it hard to repro.

[2022-07-28 09:38] ayanban011 commented on #1863
Hi, @Nayef211 Please go through the following notebook. I think it will help you to reproduce the environment.
https://colab.research.google.com/drive/1skn5tBhQwVQbH2h64_xjkU9pPa2tUBzC?authuser=1#scrollTo=ZZ3dvBdcshJS

[2022-07-28 18:22] mthrok commented on #1863
I cannot access the notebook.

<img width="719" alt="Screen Shot 2022-07-28 at 11 21 55 AM" src="https://user-images.githubusercontent.com/855818/181609885-e4f90d07-6186-4f29-a61d-1b1fc51a9e57.png">

[2022-07-30 17:30] ayanban011 commented on #1863
Hi, @mthrok @Nayef211 Sorry to know about that, it's not accessible. Please try with this link.
https://github.com/ayanban011/Getting-Started_with_Pytorch/blob/main/Represent_words_with_Embeddings.ipynb

[2022-08-05 21:25] ronakmal opened #1875 "Error running unit tests when building with setup.py install"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.
When building with python setup.py install, running pytest from either the project root directory or the test/ directory causes the error `ImportError: torchtext C++ Extension is not found`. This can be worked-around by renaming the torchtext subdirectory, or by instead using python setup.py develop like the CI does

[2022-08-08 13:46] parmeet commented on #1875
https://github.com/pytorch/text/pull/1874 resolves this.

[2022-08-08 15:20] ronakmal commented on #1875
Hi @parmeet. While installing torchdata does satisfy one of the testing requirements, I'm still running into the problem where the tests will error out with `ImportError: torchtext C++ Extension is not found` if I build with `setup.py install` instead of `setup.py develop`. Is there any way to fix this issue?

[2022-08-08 15:25] mthrok commented on #1875
This happens because the source code directory shadows the installed package. One proper fix is to introduce intermediate directory and put all the unit test code in there. In TorchAudio, unit test codes are placed in `torchaudio_unittest` directory.

There was a PR to do this clean up but it got staled. https://github.com/pytorch/text/pull/1223

cc @Nayef211

[2022-08-08 18:44] abhinavarora opened #1877 "Add Example of Machine Translation using mBART model to TorchText"
## 🚀 Feature

Add Example of Machine Translation using mBART model to TorchText

**Motivation**

The motivation to add this is to enable support for basic seq2seq tasks such as MT and provide Torchtext users the mBART pretrained models.

**Pitch**

- [ ] Add FLORES-101 datasets for Machine Translation to the repo
- [ ] Add the mBART model and its associated transforms
- [ ] Upload pretrained weigh

[2022-08-10 04:52] Rickymob opened #1878 "{ "name": "simple-node-d3", "version": "1.0.0", "description": "Serverside SVG via D3 & jsdom", "main": "index.js", "scripts": { "test": "echo \"Error: no test specified\" && exit 1" }, "author": "", "license": "ISC", "dependencies": { "d3": "^3.5.5", "jsdom": "^9.1.1" }"

[2022-08-10 14:09] Nayef211 commented on #1878
@Rickymob would you be able to provide a detailed description of the error you're seeing and update the title to be more descriptive?

[2022-08-10 14:55] #1878 closed

[2022-08-10 16:36] ejguan commented on #1834
Closing the issue as https://github.com/pytorch/text/pull/1835 has been merged.

[2022-08-10 16:36] #1834 closed

[2022-08-17 19:18] #1800 closed

[2022-08-17 21:11] Nayef211 commented on #1853
@ParsaAkbari going to close out this issue. Lmk if you're still unable to resolve this with the suggestion from @ejguan

[2022-08-17 21:11] #1853 closed

[2022-08-18 17:27] geoffreyangus opened #1883 "Add `never_split` kwarg to BERTTokenizer to achieve parity with `transformers.BertTokenizer`"
## 🚀 Feature

Add functionality to BERTTokenizer so that it does not split/tokenize special tokens like regular words.

**Motivation**

The HuggingFace [BertTokenizer](https://github.com/huggingface/transformers/blob/bbbb453e5869a5fec4925b02f1265c9e6bfc3ebb/src/transformers/models/bert/tokenization_bert.py#L137) is able to recognize its own special tokens and ensure that they are not split during

[2022-08-31 14:21] joecummings commented on #1779
@parmeet what is the status of this feature?

[2022-08-31 15:11] Nayef211 commented on #1779
@joecummings I don't think this feature was ever started. If you'd like, you could take this on as it should be relatively straightforward to implement!

[2022-08-31 16:52] xhluca opened #1891 "Allowing more control over verbosity of `torchtext.data.functional.generate_sp_model`"
## 🚀 Feature

There should be a `verbose` parameter, e.g.
[code]
**Motivation**

At the moment, there's no documented way to change the verbosity, but a lot of content is output, which might not be necessary. Having more finegrained control of the output would be nice too, but that might be difficult to accomplish.

**Pitch**

**Alternatives**

**Additional context**

[2022-09-01 03:11] xhluca opened #1892 "Moving from Google Drive downloads to GitHub Releases"
## Issue

At the moment, there are 12 datasets that use Google Drive: https://github.com/pytorch/text/search?l=Python&q=drive.google.com

GDrive has been the source of various issues, for example in https://github.com/pytorch/text/issues/1676 and quota exceeded in https://github.com/pytorch/text/issues/1359

As an alternative, GitHub Releases allow up to 2GB files, can be downloaded directly from

[2022-09-01 14:07] Nayef211 commented on #1892
@xhluca thanks for calling out this issue. Unfortunately, torchtext explicitly does take responsibility for hosting any datasets due to legal issues. I'd recommend reaching out directly to the organization that hosts the datasets and requesting if they can migrate to GitHub Releases (a task that might be more involved). Another thing to note is that a lot of text datasets exceed the 2GB file limit

[2022-09-01 14:10] Nayef211 commented on #1891
@xhluca this seems like a reasonable request. Do you want to take a stab at implementing this and I can provide a review?

[2022-09-01 15:02] mthrok commented on #1891
FYI: Following are the related code

Python Interface

https://github.com/pytorch/text/blob/c31a400990513d180fdbd4ae5d597781b6b7063a/torchtext/data/functional.py#L23-L41

C++ implementation

https://github.com/pytorch/text/blob/e1c7bc6f3f53492748d67ecb02f9f8117a58469c/torchtext/csrc/sentencepiece.h#L35-L39

https://github.com/pytorch/text/blob/508713439dd7723e575c6a6e7daf7a8363aea51c/torchtext/csr

[2022-09-01 15:14] joecummings opened #1893 "[CI] Unittests fail on Windows with Python 3.10"
## 🐛 Bug

In the CI builds, unit tests fail specifically on Windows with Python 3.10. The error is that the `setup_env.sh` script times out. I tested with 10 minutes, 20 minutes, and 30 minutes. It does not resolve the issue.

- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux): Windows 10
- How you installed PyTorch (`conda`, `pip`, source): conda
- Python version: 3.10

cc @peterjc123 @maxluk @nbc

[2022-09-03 17:39] #1893 closed

[2022-09-07 14:22] joecummings commented on #54
Closing as stale.

[2022-09-07 14:22] #54 closed

[2022-09-09 16:33] xhluca opened #1895 "Unclear how `torchtext.data.functional.generate_sp_model` handles CSV files"
## 📚 Documentation

**Description**

In the example shown, a `test.csv` file is used as an input. However, it is unclear whether the entire row is considered as a single sentence (separated by a comma) or as multiple sentences.

I've personally used a CSV file with 5000 rows, and I got the following output in the logs:
[code]

Which seems to indicate that all the columns in a row are loaded as a s

[2022-09-09 16:44] xhluca commented on #1892
Thanks for your response. I'll close this issue.

As an aside, I'm happy to learn more about the legal aspect of hosting data, as this is an important subject and (as researcher) I'm directly affected, either to consume or to publish datasets. I'm mainly curious about this:
* Is it due to internal compliance policy (within the pytorch team)?
* Or do the datasets explicitly prohibit re-hosting the

[2022-09-09 16:44] #1892 closed

[2022-09-13 23:57] Nayef211 opened #1900 "Investigate `test_vocab_from_raw_text_file` failures on Linux"
## 🐛 Bug

The `test_vocab_from_raw_text_file` test is failing on CI for linux platforms due to segmantation faults (see [sample CI job](https://app.circleci.com/pipelines/github/pytorch/text/6713/workflows/016984af-210f-4ec1-ac23-e7b31ea6f465/jobs/231623)). We currently disable the test on Linux to unblock OSS development. We plan to investigate the failure offline before reenabling the test in th

[2022-09-14 23:04] kaoutaar opened #1902 "cannot import name 'BERTTokenizer' from 'torchtext.transforms'"
## 🐛 Bug

Hi,
I am working on kaggle, i see they use torchtext  `0.12.0`
When i try to :
`from torchtext.transforms import BERTTokenizer`

I get :

[code]

[2022-09-15 00:50] Nayef211 commented on #1902
Hey @kaoutaar. The `BERTTokenizer` was only added to torchtext in the 0.13 release. You can see the [commit for it here](https://github.com/pytorch/text/commit/da509e14b2f972794d0513355c2589be0bd1ab23). As such you would need to update the torchtext version to 0.13 on Kaggle in order to be able to use it.

[2022-09-15 00:50] #1902 closed

[2022-09-15 08:41] kaoutaar commented on #1902
Ah ok! Thanks

[2022-09-15 13:05] MarkusSpanring opened #1903 "IWSLT datasets are not properly unpacked from `tgz` file"
## 🐛 Bug

IWSLT datasets are not properly unpacked from the downloaded `tgz` file when using `torchtext.datasets.IWSLT*`.
When I unpack the nested `tgz` files by hand everything works as expected.

**To Reproduce**

E.g. for IWSLT2017 download the `.tgz` file from [here](https://wit3.fbk.eu/2017-01) and put it under `./data/datasets/IWSLT2017`
[code]
[code]

**Expected behavior**

Dataset is prope

[2022-09-15 19:50] Nayef211 commented on #1903
cc @ejguan and @VitalyFedyunin as this seems to be an issue with the CacheHolder datapipe from torchdata

[2022-09-16 00:19] #1875 closed

[2022-09-16 15:31] VitalyFedyunin commented on #1903
Likely related to not yet landed race condition fix

[2022-09-19 16:09] joecummings commented on #1903
@VitalyFedyunin Can you link the Issue/PR?

[2022-09-19 16:32] VitalyFedyunin commented on #1903
Yep, In my TODO for 1st half of the week.

[2022-09-19 19:04] #1883 closed

[2022-09-25 05:28] Trevo1 commented on #1662
it works, thanks!

[2022-09-26 17:51] Nayef211 commented on #1702
@atalman @malfet @ejguan do you guys know if we have the go ahead to make TorchData as a required dep moving forward? I know we were aiming to do this with the last release but it got pushed back to the 0.13 release instead.

[2022-09-26 18:41] ejguan commented on #1702
Yeah, it would be great if we TorchData are aware of the requirements/criteria to make this happen. Then, we can investigate if we have any step missing.

[2022-09-27 19:00] joecummings opened #1915 "Investigate flaky test `test_download_charngram_vectors` on Windows"
## 🐛 Bug

CI tests are failing for `test_download_charngram_vectors` with this [trace](https://gist.github.com/joecummings/10244796a2ca2926b34ba1f5fd5bd7cb)

**To Reproduce**

1. Open CI and view failed tests

**Environment**

- PyTorch Version (e.g., 1.0): nightly
- OS (e.g., Linux): Windows
- How you installed PyTorch (`conda`, `pip`, source): conda
- Build command you used (if compiling from so

[2022-10-04 00:32] pandya6988 commented on #1661
Why pytorch should remove such a useful functions? specially when it was already developed.

[2022-10-04 01:04] pandya6988 opened #1920 "torchtext.data.Field"
## ❓ Questions and Help

**Field, TabularDataset, BucketIterator**

will you bring these features back? or is there any alternative functions for these?

[2022-10-04 01:51] Nayef211 commented on #1920
Refer to https://github.com/pytorch/text/issues/664 for the plans to revamp the torchtext library (which contains the motivation behind why these features were deprecated). https://github.com/pytorch/text/issues/1661#issuecomment-1075786324 has alternatives if these features are a must for your usecase.

[2022-10-04 01:51] #1920 closed

[2022-10-04 01:51] Nayef211 commented on #1661
Refer to https://github.com/pytorch/text/issues/664 for the plans to revamp the torchtext library (which contains the motivation behind why these features were deprecated).

[2022-10-04 18:31] EmreOzkose opened #1922 "Libtorchtext Bert Model"
Hi, is there a tutorial for Libtorchtext Bert implementation? There are some scripts [here](https://github.com/pytorch/text/blob/main/examples/libtorchtext/tokenizer/main.cpp) about the BERT in c++, but I couldn't find any example of how to use it in c++.

[2022-10-04 22:12] weiwangmeta opened #1926 "MacOS Nightly Failure with 2022-10-04 nightly release (258a3562b5f658ba945c43ad6406630c455176bc)"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.
The following unit test failed:
torchtext_unittest/datasets/test_iwslt2016.py::TestIWSLT2016::test_iwslt2016_178_train FAILED [ 41%]

The error stack is long, but essentially:
It seems to have parser issues https://app.circleci.com/pipelines/github/pytorch/text/6871/workflows/e488c26f-0ae6-4aaf-b3fa-6fffd0c36967/job

[2022-10-05 04:21] jiapei100 opened #1928 "Failed to import my built torchtext"
## ❓ Questions and Help

**Description**

[code]

My **torch** and **torchtext** are respectively installed as:

[code]

Any suggestions please??

[2022-10-05 12:36] MarkusSpanring commented on #1903
@VitalyFedyunin is there any update on this?

[2022-10-05 18:37] VitalyFedyunin commented on #1903
Working on it right now. Want to make sure it is part of the next official branch cut. So it requires intensive testing.

As mitigation cleaning cache folder and restart should help.

[2022-10-06 06:56] vince62s opened #1931 "Super slow performance"
## ❓ Questions and Help

**Description**

Hello,
I am wondering why vocab instantiation, get_itos(), get_stoi() are super slow. lookup_indices, lookup_tokens are fine.
Our use case is to build many small vocabs on the fly (literally for each sentence in a dataset) and this operation is super slow.

Similarly, individual get_itos() and get_stoi in loops are very slow too compared to lookups.

Any c

[2022-10-06 14:58] Nayef211 commented on #1926
Hey @weiwangmeta, thanks for raising this issue. We are aware of this flaky test failure which is likely caused by randomness when generating test data. As a next step, I will try adding some sort of seed to see if that helps resolve the issue.

[2022-10-06 16:03] VitalyFedyunin commented on #1903
https://github.com/pytorch/data/pull/652 should fix it.

[2022-10-06 19:07] Nayef211 commented on #1931
The torchtext Python Vocab uses custom C++ operators under the hood for performance reasons (see this [tutorial](https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html) for more details). The C++ class/methods are exposed to Python with bindings (via pybind/torchbind). Whenever data is passed via a FFI (foreign function interface), there's generally some sort of data copying (i.e. con

[2022-10-06 21:02] weiwangmeta commented on #1926
Thank you @Nayef211. Indeed, the failure is flaky. I can see latest nightly this test no longer fails (https://hud.pytorch.org/hud/pytorch/text/nightly). I am closing this issue now. Will re-open if needed.

[2022-10-06 21:02] #1926 closed

[2022-10-07 08:51] vince62s commented on #1931
check this by yourself:

[code]

[code]

[2022-10-07 18:08] Nayef211 commented on #1931
Ahh let me dig into this a bit further!

[2022-10-09 19:01] pandya6988 opened #1933 "torchtext.transforms does not provide custom tokenization"
## 🚀 Feature

In vertion 0.13.0 we can use BertTokenizer, ClipTokenizer etc. but we cannot use custom tokenizer.

**Motivation**

GPT2 uses different tokenization technique. sometime we want to use nltk tokenizer with [torchtext.transforms](https://pytorch.org/text/0.13.0/transforms.html#)

[2022-10-12 12:39] Pythonash commented on #1744
I found the solution in operating on colab.

You should rerun your notebook as below:

[code]

and re-turn on your runtime and:

[code]

Then, your task will be working on well.

[2022-10-12 15:00] ejguan commented on #1744
I am closing this Issue because TorchData currently provides pre-assembled binaries for Mac M1 on [PyPI](https://pypi.org/project/torchdata/#files) and [Conda](https://anaconda.org/pytorch/torchdata/files) after 0.4.1

You should be able to install `torchdata == 0.4.1` and `torchtext == 0.13.1` via
- `pip3 install torch torchdata torchtext`
- `conda install pytorch torchdata torchtext -c pytorch`

[2022-10-12 15:00] #1744 closed

[2022-10-13 02:33] Nayef211 opened #1943 "Add `LengthSetterIterDataPipe` to all torchtext datasets"
## 🚀 Feature

We want to add the [`LengthSetterIterDataPipe`](https://github.com/pytorch/data/blob/719616a1b4791034da3d888357e3ef62c70806e3/torchdata/datapipes/iter/util/header.py#L66-L67) to the end of all torchtext datasets. This will allow us to call `len()` on the datapipe object and prevent errors like `TypeError: DataPipe instance doesn't have valid length`.

**Motivation**
See https://githu

[2022-10-13 15:08] joecummings commented on #1933
Thanks for the suggestion @pandya6988 ! We'll document this on our backlog. For testing purposes, below are the list of most popular tokenizers we would plan on making sure work once we have the bandwidth to tackle this:
* NLTK
* SpaCy
* Penn Treebank
* Moses

If there are any others you may think are important to test, please leave a comment.

[2022-10-18 21:16] Nayef211 opened #1949 "Ensure `main` and `fbsync` are both in sync"
## Description
- Currently the `fbsync` branch is [172 commits ahead](https://github.com/pytorch/text/compare/main...fbsync), [749 commits behind](https://github.com/pytorch/text/compare/fbsync...main) main.
- We want to ensure that `main` and `fbsync` branches are both up to date which is a 2 stage process
   1. Merge all commits from `main` to `fbsync` and resolve any merge conflicts
   2. Merge

[2022-10-19 15:15] seemethere opened #1951 "Error when importing torchtext: "No module named 'regex'""
We're observing errors on torchtext when attempting to import wheels due to a missing dependency.

Error looks like:
[code]

Issue was introduced in #1946 and was fixed for conda but not fixed for wheels

[2022-10-19 19:30] #1951 closed

[2022-10-20 01:34] Nayef211 commented on #1819
Closing as https://github.com/pytorch/text/issues/1744 has now been resolved

[2022-10-20 16:51] ejguan commented on #1903
This is fixed by https://github.com/pytorch/text/pull/1942 and https://github.com/pytorch/data/pull/810

[2022-10-20 16:51] #1903 closed

[2022-10-26 20:49] xwang233 opened #1965 "Can't import torchtext"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

Can't import torchtext

**To Reproduce** Steps to reproduce the behavior:

[code]

**Expected behavior** A clear and concise description of what you expected to happen.

import should work

**Screenshots** If applicable, add screenshots to help explain your problem.

N/A

**Environment**

torch_commit: https://gith

[2022-10-26 20:59] ejguan commented on #1965
It's apparently the wrong version of torchdata is installed here.
Do you mind reinstall `torchdata` via nightly release?

[2022-10-26 21:01] xwang233 commented on #1965
We don't have torchdata explicitly installed in our environment. We build pytorch and torchtext from the latest github source with `python setup.py develop`. Do you know if a wrong version of torchdata is installed along with pytorch or torchtext?

[2022-10-26 21:08] ejguan commented on #1965
Understood, torchtext now adds a hard dependency on torchdata. So if you install everything from scratch, you have to install torchdata from scratch as well.
And, for TorchText side, on the main branch, a specific version of torchdata should be specified like `torchdata>0.5` in `setup.py` to make sure a proper dependency error is raised during installation.

[2022-10-26 21:09] ejguan commented on #1965
cc: @Nayef211 @abhinavarora

[2022-10-26 21:10] xwang233 commented on #1965
Thanks for the clarifications. We'll try to install the torchdata nightly wheel. Please feel free to close this issue if it's resolved on your side as well.

[2022-10-29 03:03] adamjstewart opened #1976 "0.14.0: incorrect version tag"
## 🐛 Bug

The 0.14.0 release on GitHub uses the v**1**.14.0 tag instead of v**0**.14.0: https://github.com/pytorch/text/releases/tag/v1.14.0

@abhinavarora

[2022-11-01 14:47] Nayef211 commented on #1976
@adamjstewart thanks for bringing this to our attention. This should be fixed now!

[2022-11-01 14:47] #1976 closed

[2022-11-01 16:17] ejguan opened #1979 "TorchText nightly release is based on PyTorch 1.13.0 official release"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

[code]

A `torch-1.13.0` binary will be installed.

**Expected behavior** A clear and concise description of what you expected to happen.

Expected `torch-1.14.0` installed

**Screenshots** If applicable, add screenshots to help explain your problem.

**Environment

[2022-11-02 02:27] xuzhao9 commented on #1979
I can reproduce this problem as it blocks torchbench nightly CI: https://github.com/pytorch/benchmark/actions/runs/3370045990/jobs/5596893302

[2022-11-02 17:57] Nayef211 commented on #1979
@abhinavarora can you take a look?

[2022-11-02 19:20] joecummings opened #1980 "Update readme to correct release versions."
Once #1979 is fixed, update README table with the correct release numbers.

[2022-11-04 13:41] ejguan commented on #1702
After #1979 is fixed, could we start to make torchdata as a hard dependency in the main branch? Then, we will be able to spend time on figuring out what's wrong with the installation script.

[2022-11-04 20:43] Nayef211 commented on #1979
Should be resolved by https://github.com/pytorch/text/pull/1981. Let's wait until the new nightly to confirm before closing this issue.

[2022-11-04 20:54] #1980 closed

[2022-11-07 15:23] ejguan commented on #1979
I think this issue has been resolved based on the nightly CI from torchdata. Closing now

[2022-11-07 15:23] #1979 closed

[2022-11-16 23:51] realprogrammersusevim opened #1988 "Torchtext addresses empty memory and fails with OSError"
## ❓ Questions and Help

### Description

Torchtext installed correctly with pip but whenever I try to import the module it fails immediately. Here's the full traceback:

[code]

If this is a bug then my apologies, I just had a feeling that I was doing something wrong.

### Environment

If it helps you at all here's the relevant information. One issue I had thought of was that I installed the torc

[2022-11-18 04:43] mthrok commented on #1988
You have unmatching versions of PyTorch and torchtext. Your torchtext is older than the others.

[2022-11-18 17:20] realprogrammersusevim commented on #1988
Thank you so much. I had installed the dev versions of torch  to try and take advantage of some new GPU acceleration for Apple Silicon. I installed the correct stable versions of everything and it's all working great now.

[2022-11-18 17:20] #1988 closed

[2022-11-21 16:15] Nayef211 commented on #1702
Closed by #1985

[2022-11-21 16:15] #1702 closed

[2022-11-22 15:07] cherry-licongyi commented on #1928
the same situation encountered after I installed torchdata on colab

[2022-11-23 07:11] woshicqy commented on #1079
Hi,

When I try to use the `from torchtext.experimental.datasets import IMDB` in my code, it didn't work and shows the feedback mentioned above. I used the torchtext == 0.8.1 Could you please give me some suggestions to fix this issue?

[2022-11-25 15:28] moDallel commented on #1943
Hello !
We are a group of students in second year in engineering school. We are currently interested in resolving this issue as a school project. Please let me know, if we can have your permision to contribute on this issue.

[2022-11-26 05:18] david-waterworth commented on #1933
I’d like to see Huggingface tokenisers added to the list.

[2022-11-27 04:07] david-waterworth opened #1992 "Cannot run text_classifier end to end"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

There's a minor issue with the `text_classifier` in the `examples` folder. When I run the `run_script.sh` it creates a `.data` folder, then the `train` command

`python train.py AG_NEWS --device cpu --save-model-path  model.i --dictionary vocab.i`

works fine, but when it's finished, there's only a single file `.da

[2022-11-27 04:28] david-waterworth commented on #1992
I think I found the problem the train split is accessed twice to build the vocab and count the number of labels

https://github.com/pytorch/text/blob/ed78e3b014e67c672b8fd224e0fc8ecea6282ab0/examples/text_classification/train.py#L113

and

https://github.com/pytorch/text/blob/ed78e3b014e67c672b8fd224e0fc8ecea6282ab0/examples/text_classification/train.py#L123

But then the third time both train and

[2022-11-28 16:03] joecummings commented on #1943
@moDallel  - We welcome contributions! Thanks for your interest in the project.

[2022-11-30 02:41] david-waterworth opened #1995 "Saving label vocab for serving"
## 🚀 Feature

It's not clear to me how to deal with text labels for classification. I built two transform pipelines, one is based on the example pipelines and applies a tokenizer, T.Truncate, T.VocabTransform etc and is applied to the text features. I also have text labels so I used a second pipeline based on T.LabelToIndex

None of the examples seem to cover this case, they only transform the fea

[2022-11-30 10:28] #1995 closed