[2021-02-20 17:06] zhangguanheng66 commented on #1193
Transformer is a model while `BucketIterator` or `Iterator` batches data. So in theory, users should be able to choose whatever they prefer to combine. Nevertheless, `BucketIterator` has been retired to the legacy folder (officially in v0.9.0 release).

A simple way to have `BucketIterator` func is to sort the processed data by lengths

[2021-02-24 14:35] StephennFernandes commented on #1152
@zhangguanheng66 could you please show a simple workable example of the `RawTextIterableDataset`, that would also support Distributed Sampler in case of TPU training.

[2021-02-24 15:48] zhangguanheng66 commented on #1152
I don't have an example for TPU training. But you can use `DataLoader` and the new `RawTextIterableDataset` to perform the `BucketIterator`. Let's take the IMDB as an example
[code]
This needs the nightly release to run.

[2021-02-24 17:54] StephennFernandes commented on #1152
@zhangguanheng66 Thanks for the help, does this implementation  groups similar length sequences together in a batch for minimum padding, similar to BucketIterator ??

[2021-02-24 18:42] zhangguanheng66 commented on #1152
Yes. This code snippet has the following steps:

- Shuffle the whole dataset randomly
- Generate multiple "pools" and each of them has a size of `batch_size*100`.
- Sort the samples in the pool by the size of the token list
- Yield the sample batch with a size of `batch_size` via `DataLoader` by processing the text/label data.

[2021-02-25 10:58] StephennFernandes opened #1215 "Unable to build from source torchtext on google Collab"
unable to build from source in the google colab

on running the cmd  `python setup.py clean install`
gives this error

`error: command 'x86_64-linux-gnu-gcc' failed with exit status`

tried with without GPU, TPU and CPU Runtime

[2021-02-25 14:35] zhangguanheng66 commented on #1215
You can always install the nightly release on Google Collab, and the nightly release was generated daily based on the master branch.

I think some people use `pip install` to build torchtext from source but I haven't tried.

[2021-02-25 14:54] StephennFernandes commented on #1215
i did try installing the nightly release in collab via the cmd :
`pip install --pre torch torchtext -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`

but i says requirements already satisfied
and i get the same old 0.3 torchtext by default in collab

[2021-02-25 14:59] zhangguanheng66 commented on #1215
You can add the version like this
[code]

[2021-02-25 17:05] StephennFernandes commented on #1152
in your following code example where does `pad_sequence` , `text_transform`, `label_transform`

what are their premise what specific transformations do they do to the existing data ?

[2021-02-25 17:26] zhangguanheng66 commented on #1152
OK, we just published the migration tutorial (literally yesterday), you can check it here for all the details - [link](https://github.com/pytorch/text/blob/master/examples/legacy_tutorial/migration_tutorial.ipynb).

[2021-02-26 08:08] StephennFernandes opened #1218 "how to load data using TabularDataset and the new nightly torchtext experimental dataloader"
the `torchtext.data.TabularDataset` returns an iterable of objects that cannot further be split into batches, or (x,y) sets of values. making it impossible to use the new `torchtext.vocab.Vocab` to build vocab using `Counter`

**my use-case code:**
tokenize = lambda x:x.split(" ")

konkani = Field(sequential=True, tokenize=tokenize, init_token='<sos>', eos_token='<eos>')

hindi = Field(sequential=

[2021-02-26 09:20] StephennFernandes commented on #1152
@zhangguanheng66  thank you enormously for all the assistance,

could you please show me how to parse a corpus.txt file throught BPTTIterator for language modeling task.
perferably using the latest expeirmental functionality too ..

I tried to follow the documentation, but it was messy

[2021-02-26 12:41] StephennFernandes commented on #1152
@zhangguanheng66 i did tryout the experimental code approach with my custom Dataset, thats a .csv file having 2 cols for nmt .

But the TabularDataset returns weird objects that i cannot pass through `torch.vocab.Vocab` class or any other mentioned approach in the migration tutorial

[2021-02-26 14:33] zhangguanheng66 commented on #1152
Let me reply your question in another issue you just opened.

[2021-02-26 14:45] zhangguanheng66 commented on #1152
You don't need `BPTTIterator` to have the source/target sentence for the language modeling task. Take a look at the data processing part in our language modeling [tutorial](https://pytorch.org/tutorials/beginner/transformer_tutorial.html#load-and-batch-data).

[2021-02-26 14:52] zhangguanheng66 commented on #1218
Currently, we don't have the utility functions to directly process the tabular data in a file. However, creating an iterator to yield the tabular data is quite straightforward. Here are a few examples:

- a `csv` file: [AG_NEWS](https://github.com/pytorch/text/blob/master/torchtext/datasets/ag_news.py#L27-L31)
- a `json` file: [SQuAD1](https://github.com/pytorch/text/blob/master/torchtext/datasets

[2021-02-26 16:47] StephennFernandes commented on #1218
@zhangguanheng66 thanks a ton for all the help.

[2021-02-26 16:47] #1218 closed

[2021-02-26 18:09] StephennFernandes commented on #1152
@zhangguanheng66

using the batch_sampler , makes [sampler, batch_sampler, batch_size] mutually exclusive in the `DataLoader` class.

but i do need the sampler args  to set `DistributedDataSampler` for TPU and DDP training.

then i am again stuck on single GPU training.

[2021-02-26 18:37] zhangguanheng66 commented on #1152
For this kind of questions, you can use people on [Pytorch NLP forum](https://discuss.pytorch.org/c/nlp/8)

[2021-03-04 19:35] mthrok opened #1237 "Shorten the cache job"
Currently the cache job detects if the cache exists by retrieving the cache. This adds 5 mins to all the unit tests and GBs of data transferred but not used. We should stop retrieving the cache in cache generation jobs.

Unfortunately CCI does not provide a mechanism to check if a cache exists.

A workaround is to cache a small file, which is easy to fetch, alongside of the actual cache, then rest

[2021-03-04 20:14] mthrok commented on #1237
#1238

[2021-03-05 06:53] mohitvaidya opened #1242 "TranslationDataset defined in datasets torch is taking too long to load"
## ❓ Questions and Help

**I am trying to load my translation data(txt files, separated by lines) with torchtext [TranslationDataset](https://github.com/pytorch/text/blob/0.4.0/torchtext/datasets/translation.py) , It usually takes more than 20-25 minutes even to load smaller datasets(10k lines). Is there a way around to make data loading faster ?**
Snippet of the code:
`datasets.TranslationDataset

[2021-03-05 13:52] StephennFernandes commented on #1152
@zhangguanheng66

using your above methods i tried implementing the model, but unfortunately i am getting Target out of bounds error.
I used the vocab from torchtext.vocab build the Dataiter using RawTextIterator as you recommended and all the collate_function and pooling techniques.

I tried all debugging methods and checked my code for any errors, I also checked the exact dimensionality of input

[2021-03-05 14:03] StephennFernandes commented on #1152
It seems like there error is caused dude to optimizer unable to process the loss value due to some conditionality error,

[2021-03-05 14:24] zhangguanheng66 commented on #1152
Is this a language modeling? You should just follow the transformer tutorial and set up the model/optimizer. Check the dimension of the last layer since the error is "target out of bound".

[2021-03-05 14:27] StephennFernandes commented on #1152
No its just a simple seq2seq NMT

[2021-03-05 14:31] zhangguanheng66 commented on #1152
OK, then you should check the NMT tutorial and the dimension of the last layer. https://pytorch.org/tutorials/beginner/torchtext_translation.html

[2021-03-05 15:13] zhangguanheng66 commented on #1242
We just release torchtext 0.9.0 and those legacy datasets have been moved to `torchtext.legacy`. Please give a try on the new datasets, which currently are only IWSLT2016 and IWSLT2017. The other two translation datasets are available in the nightly release.

[2021-03-05 17:30] bentrevett opened #1243 "Refactoring torchtext.datasets (and _RawIterableDataset) to work with torch datapipes (and other things) by changing _RawIterableDataset's __iter__ ."
## Problem

PyTorch `IterableDataset`s should implement an `__iter__` method which should call a function that creates a fresh iterator for the dataset. The new torchtext datasets use a `_RawIterableDataset`, which inherits from PyTorch's `IterableDataset`, but its `__iter__` method is only implemented as `return self`. This means if you can only iterate over a `_RawIterableDataset` dataset once b

[2021-03-05 17:42] zhangguanheng66 commented on #1243
Thanks @bentrevett for the feedback. I think at some point, we @cpuhrsch were talking about the option to reset the iterators. Since the current datasets are just iterators, it's pretty "cheap" to construct a new one once it has be depleted, especially the raw dataset files need to been downloaded once. But I think we should still think about the options @bentrevett proposed here, especially with

[2021-03-05 20:59] parmeet commented on #1242
In addition, we are working on new API for [TranslationDataset](https://github.com/pytorch/text/blob/408c4cfad9f2ec68c2d462326867787df2dba307/torchtext/experimental/datasets/translation.py#L87) that could help with this use case.

[2021-03-07 16:34] StephennFernandes commented on #1152
I did implemented the above mentioned tutorial in a single GPU and everything works perfectly fine.

But the output prediction in the decoder seq2seq produces a tensor which holds predicted values of multiple examples which i need to explicitly do .to(device) .. irespective of me using pytorch lightning

here the code snippet for the same.

` outputs = torch.zeros(target_len, batch_size, target_vo

[2021-03-08 16:18] parmeet opened #1249 "Tags clean-up or not in IWSLT2016 and IWSLT2017 translation datasets"
torchtext provides [iterables](https://github.com/pytorch/text/blob/6d8d50bece1f4e7023d778b1b5b23bb02f2f0f02/torchtext/data/datasets_utils.py#L279) to [IWSLT2016](https://github.com/pytorch/text/blob/6d8d50bece1f4e7023d778b1b5b23bb02f2f0f02/torchtext/datasets/iwslt2016.py#L148) and [IWLST2017](https://github.com/pytorch/text/blob/6d8d50bece1f4e7023d778b1b5b23bb02f2f0f02/torchtext/datasets/iwslt201

[2021-03-10 10:22] StephennFernandes commented on #1152
@zhangguanheng66 I was thinking of contributing to torchtext , is it possible ? .... I would love to contribute

[2021-03-10 15:35] zhangguanheng66 commented on #1152
OSS contributions are always welcome.

[2021-03-11 18:27] #1237 closed

[2021-03-13 06:51] MANU-CHAUHAN commented on #312
Hi,

Why is Multi30k dataset no longer available in torchtext ??

[2021-03-13 14:25] maroxtn opened #1253 "An implementation feature like torchtext.data.BucketIterator in regular Dataloader"
## 🚀 Feature
A way to pool sequences of similar lengths together in Dataloader, same as torchtext.data.BucketIterator.
**Motivation**

The BucketIterator feature is very helpful in torchtext data loading, it saves a lot of time during training. However in Dataloader this feature doesn't exist, it would be very practical.

Also the torchtext API is mainly design for NLP tasks, meanwhile this featur

[2021-03-13 16:52] zhangguanheng66 commented on #1253
We include a code snippet for the legacy BucketIterator in our legacy migration tutorial ([link](https://github.com/pytorch/text/blob/master/examples/legacy_tutorial/migration_tutorial.ipynb)). Of course, this could be re-implemented in our library.

[2021-03-13 17:07] maroxtn commented on #1253
Thanks for the response. I also managed to implement it in a similar fashion but using a custom Sampler:

    class KSampler(Sampler):

        def __init__(self, data_source, batch_size):
            self.lens = [x[1] for x in data_source]
            self.batch_size = batch_size

        def __iter__(self):

            idx = list(range(len(self.lens)))
            arr = list(zip(self.lens, idx)

[2021-03-15 06:23] #1242 closed

[2021-03-15 06:24] mohitvaidya commented on #1242
I am closing this issue, since it has more to do with pre-processing implementation, Thanks for support @zhangguanheng66

[2021-03-15 23:27] imagineer258 opened #1255 "Error loading saved tokenizer"
## ❓ Questions and Help

**Description**

When I try to load a saved tokenizer from torchtext I get the following error :

[code]

I saved the tokenizer with the following code :

[code]

and trying to load it back with

[code]

I'm assuming I have to link the torchtext c++ code correctly somewhere in my CMakeLists.txt but I'm not sure how to do that. I tried adding the following but it didn't hel

[2021-03-16 01:11] zhangguanheng66 commented on #1255
We don't have the support with `torch.jit.load` in C++. cc @mthrok

[2021-03-17 05:27] akihironitta commented on #826
@zhangguanheng66 Hi, it seems that this problem still persists. Is there any plan to fix this issue?
[code]

[2021-03-17 14:04] zhangguanheng66 commented on #826
cc @seemethere

[2021-03-17 15:12] StephennFernandes commented on #1152
I've been further trying to use a simple LSTM and other variations of LSTM like AWD-LSTM to train a language model on raw text data.
But the documentation is using the old BPTTIterator method to train the language model, which will again put me into a single GPU constraint.

Similar to the solution you provided above. is there a way to train Lang Models on the torchtext nightly

[2021-03-17 15:47] zhangguanheng66 commented on #1152
Could you explain me why the old BPTTIterator limit your language model to a single GPU? To my understanding, those two are not related.

[2021-03-17 15:53] StephennFernandes commented on #1152
because i use DistributedDataSampler class to get  a sampler object that I place in the DataLoader class to distribute samples of my data to different devices.

But in BPTTIterator there isn't a sampler args for me to place my sampler object.

[2021-03-17 19:05] zhangguanheng66 commented on #1152
Please take a look at the new datasets in `torchtext.datasets` folder. You should use iterable dataset without loading the whole dataset to your memory.

[2021-03-20 18:15] StephennFernandes commented on #1152
I tried this and the dataset_utils modules are missing so couldn`t implement the _read_text_iterator.
Would be great if you'd show a way(demo code or tutorial ) on how to load your custom .txt file with vocab for a language modeling task

[2021-03-20 18:38] StephennFernandes commented on #1152
I get an AttributeError when using BPTTIterator

`
~/anaconda3/lib/python3.7/site-packages/torch/utils/data/dataset.py in __getattr__(self, attribute_name)
    169             return function
    170         else:
--> 171             raise AttributeError
    172
    173     @classmethod

AttributeError:
`

[2021-03-23 06:37] ShadowTeamCN commented on #936
it seems offical example use built-in datasets, so what can we learn from this example about this issue

[2021-03-23 15:16] zhangguanheng66 commented on #936
The tutorials have been updated and the legacy codes have been removed after torchtext 0.9.0 release

[2021-03-23 15:16] #936 closed

[2021-03-27 11:54] #1152 closed

[2021-03-27 12:48] StephennFernandes opened #1264 "How to use fasttext emebddings in the torchtext Nightly Vocab"
I have a custom trained facebook fasttext embedding which i want to use in my RNN.

i use the nightly version of torchtext so the Vocab is kinda new.
How do i use fastext embedding there. a simple clear example would be great.

[2021-03-27 15:10] zhangguanheng66 commented on #1264
We have fasttext embedding in `torchtext.experimental.vectors`

[2021-03-27 16:21] StephennFernandes commented on #1264
And can i use that to load my custom embedding file ?

[2021-03-27 16:39] StephennFernandes commented on #1264
@zhangguanheng66  Hey man, Btw i still wasn't able to implement the Language modeling pipeline for my large .txt corpus.
I tried all the methods you suggested,

Is there any clear and detailed explaiantion to implement LM using torchtext nightly with the latest techniques.
current evertyhing feels clunky and unpolished in torchtext.

**When is torchtext getting a big rewrite ?**

on that note plea

[2021-03-29 01:44] parmeet commented on #1264
@StephennFernandes Thank you for your feedback! It would be great if you can provide more details on your pain points. Please do not hesitate to create Issue or Feature requests and we can take it forward from there. Here are the release notes for the latest torchtext that might provide some guidance as well https://github.com/pytorch/text/releases/tag/v0.9.0-rc5

Regarding LM, we do have a tutori

[2021-03-30 15:34] KickItLikeShika opened #1265 "How to split `_RawTextIterableDataset`"
## ❓ Questions and Help
I am trying to move from using `legacy` and use new provided features, i was doing this:
[code]
But now i want to split train_data, how can i do that?
[code]

[2021-03-30 15:49] zhangguanheng66 commented on #1265
It's an iterator so I don't think you can split/shuffle it. I think, it's worth an option to set up the offset or the beginning of line. So for the valid set, you can start from a different line. cc @cpuhrsch @parmeet

[2021-03-30 15:51] zhangguanheng66 commented on #1265
As a temporary solution, you can list all the items from the iterator and split them (if the dataset can fit the memory).
[code]

[2021-03-30 16:26] KickItLikeShika commented on #1265
Thanks! but i think if we did that we can not get it back to `_RawTextIterableDataset`, right?

[2021-03-31 07:00] sangwz opened #1268 "I can't install the torchtext==0.8.1"
I failed installing  the torchtext by the command "pip install torchtext==0.8.1" ,told me can't found the satisfied file. I am also failed by "pip install torchxxx.zip". How should I do?

The torchtext==0.6.1 can also setup by pip install.

[2021-03-31 19:05] knagrecha opened #1269 "BERT Examples, encoder_layer.init_weights() never called"
## ❓ Questions and Help

**Description**
In the BERT examples, there is a function init_weights() attached to the TransformerEncoderLayers. I have been using this code and noticed a memory leak that occurs on the first pass of TransformerEncoderLayers - subsequent passes do not have this issue. I am wondering if it is related to the init_weights() function? However, I could not find that the funct

[2021-03-31 19:16] knagrecha opened #1270 "Multihead Attention Container GPU Memory Leak"
## 🐛 Bug
**Describe the bug**
The Multihead Attention Container suffers a memory leak. This leak ONLY occurs on the first use of the module.

**To Reproduce**
Steps to reproduce the behavior:
Pass a tensor through the module. Delete the tensor. Check memory usage before and after.

Sample code:
[code]

**Expected behavior**
Ideally, memory prior to pass and post-pass should have been the same. I e

[2021-03-31 19:26] knagrecha commented on #1270
Misread my own logs...not an issue.

[2021-03-31 19:51] parmeet commented on #1265
@KickItLikeShika Thank you for bringing this up. We will discuss this request internally and get back to you shortly!

[2021-03-31 20:35] zhangguanheng66 commented on #1268
cc @seemethere

[2021-04-01 17:06] cpuhrsch commented on #1268
The Bug report issue template mentions the following instructions to help us help you best.
"""
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/text/master/torchtext/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux)

[2021-04-01 18:03] knagrecha commented on #1270
I've been digging in further, I think the issue comes from the InProjContainer class (also defined in torchtext.nn.multiheadattentioncontainer.py. Will try and find out what's going on.

[2021-04-01 18:10] knagrecha commented on #1270
It seems really strange, but it apparently is coming from the nn.Linear I sent to inprojcontainer. See this new code snippet. I'll post this on the general PyTorch forum rather than torchtext specifically.

`linear_layer = torch.nn.Linear(768, 768).to("cuda:0")
with torch.no_grad():
    print(utilities.get_free_space(0))
    a_detach = torch.zeros((128, 129, 768)).to("cuda:0")
    d = linear_layer

[2021-04-01 18:16] #1270 closed

[2021-04-01 20:28] ccoulombe opened #1271 "Please fix release tags"
## 🐛 Bug
**Describe the bug**
The repo tags are not consistent and missing _final_ release tags for `v0.9.*`.

The v0.9.0 associated tag is v0.9.0-rc5
The v0.9.1 associated tag is v0.9.1-rc1

Unfortunately, a force push to update the tags would be needed. Can you update the tags?

[2021-04-02 02:59] sangwz commented on #1268
There is my environment:
* Torch Version: 1.7.1
* Win10
* Conda installed PyTorch
* command : Pip install torchtext==0.8.1 & conda install torchtext=0.8.1
* python Version: 3.8.5
* Cuda: 10.1
* Gpu: 1660s

[2021-04-02 04:36] pbelevich opened #1272 "EnWik9 is XML dataset, not raw text"
According to http://mattmahoney.net/dc/textdata:

[code]

[2021-04-02 08:32] akihironitta commented on #826
@seemethere Pinging again just in case you missed the mention above.

[2021-04-02 12:42] zhangguanheng66 commented on #1272
The new dataset now is an iterator.

[2021-04-02 20:18] pbelevich commented on #1272
That's super cool, but the new dataset doesn't preprocess XML:
[code]

Is is expected?

[2021-04-04 20:39] UdbhavPrasad072300 opened #1274 "ImportError: cannot import name 'Field' from 'torchtext.data'"
## 📚 Documentation

**Description**

[code]

I get an error when trying to import Field like this, I'm using the latest torchtext (0.9.1)

[code]

Thank you.

[2021-04-04 23:40] learnJunWei opened #1275 "module 'torchtext.data' has no attribute 'Iterator'"
## ❓ Questions and Help

**Description**

class MyIterator(data.Iterator):
    def create_batches(self):
        if self.train:
            def pool(d, random_shuffler):
                for p in data.batch(d, self.batch_size * 100):
                    p_batch = data.batch(
                        sorted(p, key=self.sort_key),
                        self.batch_size, self.batch_size_fn)

[2021-04-05 14:09] parmeet commented on #1274
These primitives are retired and moved to legacy folder in the latest release (torchtext >= 0.9.0). Please refer to [release notes](https://github.com/pytorch/text/releases/tag/v0.9.0-rc5). Also you may find [migration guide](https://github.com/pytorch/text/blob/master/examples/legacy_tutorial/migration_tutorial.ipynb) useful.

[2021-04-05 21:07] UdbhavPrasad072300 commented on #1274
Oh, I didn't notice that; Thank you for your help!

[2021-04-05 21:07] #1274 closed

[2021-04-06 01:11] #1268 closed

[2021-04-06 19:13] cpuhrsch commented on #1271
cc @parmeet @seemethere

[2021-04-15 19:57] morgankohler commented on #664
Is there a standard method for using the new DataLoader format when working with variable sized inputs as BucketIterator was in the legacy method? As I understand it, the method used to modify data when passing through the DataLoader is the collate_fn argument but this will not get sorted data in the function. Should I then be sorting the data before passing it to the DataLoader and use shuffle=Fa

[2021-04-15 22:52] morgankohler commented on #1253
How are you declaring your DataLoader with this?

[2021-04-16 02:48] morgankohler opened #1282 "Bucket data loader from migration tutorial can only be iterated once"
## ❓ Questions and Help

**Description**

I have followed exactly the [migration tutorial](https://github.com/pytorch/text/blob/master/examples/legacy_tutorial/migration_tutorial.ipynb) and am able to iterate over the resulting bucket data loader. However if I try and iterate it twice (the next batch for example), the loop is skipped over.

For example, this:

`for batch in range(batch_size):

[2021-04-17 16:28] zhangguanheng66 commented on #1282
I guess it is because all the datasets are now iterators. It should be very cheap to initiate a new dataset object after epoch 1.

[2021-04-19 02:25] tejan-rgb opened #1284 "Why no Pretrained models in torchtext?"
## ❓ Question

Why there is no pretrained models like BERT, GPT, Transformer-XL, etc in torchtext like they have in torchvision?

[2021-04-19 02:40] zhangguanheng66 commented on #1284
Torchtext could provide some popular pretrained models if a lot of users request them.
cc @dongreenberg @cpuhrsch @parmeet

[2021-04-19 14:04] zhangguanheng66 commented on #1284
I have a relevant RFC PR. https://github.com/pytorch/text/pull/1136

[2021-04-21 16:57] diegoquintanav commented on #1098
@senadkurtisi did you manage to fix the error? if so, what did you do? thanks!

[2021-04-21 20:04] parmeet commented on #1098
You can also try IWSLT dataset in the latest release where you can find options to download by year, language_pair etc.
https://pytorch.org/text/stable/datasets.html#machine-translation

[2021-04-23 01:52] cpuhrsch commented on #826
cc @parmeet

[2021-04-23 02:21] cpuhrsch commented on #1275
cc @parmeet

[2021-04-23 03:06] parmeet commented on #1271
Hi @ccoulombe I am not sure if I understand the problem, could you please provide additional details where exactly do you see the issue?

[2021-04-23 04:07] cpuhrsch commented on #1253
cc @parmeet

[2021-04-23 12:59] ccoulombe commented on #1271
The git tags are inconsistent. The tags (version) varies between `X.Y.Z` and `vX.Y.Z` and `v.X.Y.Z-rc.X`

In Github interface, this yields :
[code]
while the tag `v0.9.1-rc1` (which is a release candidate) should be `v0.9.1` if it is tagged to the final source of this version.

[2021-04-24 09:02] harishsdev opened #1294 "Roadmap for torchtext"
## ❓ Questions and Help

**Description**

Can someone please  point the Roadmap for torchtext

[2021-04-25 10:53] lizitong67 commented on #668
How to solve this problem？？

[2021-04-27 00:06] EddieOne commented on #717
Also `pip install sentencepiece`

[2021-04-27 01:05] zhangguanheng66 commented on #717
Could you check the version of torchtext installed?

[2021-04-27 09:36] sandthou opened #1295 "How to train data with the similar number of tokens in a batch using distributed training?"
My code needs two functions:
1.  Bucket iterator;
2.  In each batch, the number of tokens are similar. (This means the batch size of each batch is not same.)

I think I could fulfill the function 2 with a custom sampler which inherits torch.utils.data.Sampler, but as seen in the tutorial, Bucket iterator inherits torch.utils.data.Dataset, and for distributed training,   the torch.utils.data.distri

[2021-04-28 01:11] parmeet commented on #1295
Hi, for general implementation strategies and questions about usage,  PyTorch Forums https://discuss.pytorch.org/ is the go-to place. Could you please post your question there? Thanks!

Also Please note that we have deprecated Bucket Iterator. You may refer to [migration tutorial](https://github.com/pytorch/text/blob/master/examples/legacy_tutorial/migration_tutorial.ipynb) to look for alternative

[2021-04-28 02:44] sandthou commented on #1295
The bucket iterator that my code uses now is the bucket_dataloader in the  [migration tutorial](https://github.com/pytorch/text/blob/master/examples/legacy_tutorial/migration_tutorial.ipynb)  and it works well!
But I just wonder how to modify the code in the tutorial to batch sentences with a similar number of tokens.
And maybe it is true that how to train distributed with different a batch size i

[2021-04-28 04:02] parmeet commented on #1295
The bucket_dataloader in the migration tutorial indeed is batching sentences with similar number of tokens. The logic to club sentences with similar length (number of tokens) is in batch_sampler generator.

[2021-04-28 07:24] sandthou commented on #1295
The number of tokens I mean is the total number of tokens in a batch, however, the bucket_dataloader can not make a batch with a similar number of total tokens in a batch.

To be more specific, I want to reproduce the results of WMT14 translation task in the paper, "Attention is all you need", which said, "Sentence pairs were batched together by approximate sequence length. Each training batch con

[2021-04-28 14:28] parmeet commented on #1295
Thanks for the clarification. Yes, batch_sampler above may not be well positioned to solve this..

One way to deal with this is to completely ditch collation by DataLoader (https://pytorch.org/docs/stable/data.html#disable-automatic-batching) and handle the collation directly inside your dataset (now you are free to collate the samples so that each batch consist of roughly 25000 src/target tokens)

[2021-04-29 03:09] cpuhrsch commented on #1282
cc @parmeet

[2021-04-29 03:36] parmeet opened #1296 "Convert iterator-style raw datasets to map-style raw datasets"
## 🚀 Feature

**Motivation**

torchtext provide several open source nlp datasets in raw form. These datasets are provide as [Iterables](https://pytorch.org/docs/stable/data.html#iterable-style-datasets). Although there are times when user may prefer [map-style](https://pytorch.org/docs/stable/data.html#map-style-datasets) datasets.

**Pitch**

We would like to implement a functionality that would

[2021-04-29 16:03] cpuhrsch commented on #1296
I think we should also consider a functional that will do this operation for arbitrary iterables, so effectively a factory function for this kind of Dataset. Next to memory issues with lists of strings we should also keep in mind the shared memory semantics. Can we make this datastructure share-able across workers? Something that might help here (and is new in Python 3.8) is [shared_memory](https:

[2021-04-30 02:42] cpuhrsch commented on #717
cc @parmeet

[2021-04-30 07:29] sandthou commented on #1295
Thanks, it really helps!
But I still have a question... When automatic batching is disabled, how to batch samples by collate_fn?
Pytorch document said, "When automatic batching is disabled, collate_fn is called with each individual data sample, and the output is yielded from the data loader iterator." It seems like only one sample could be collated by collate_fn each time?

[2021-04-30 13:32] parmeet commented on #1295
Yes, that's the idea. Essentially in this case we are no longer relying on DataLoader collation. We can potentially collate samples directly inside dataset and return the collated samples (not the individual ones) from `__getitem__`. As stated in the documentation `In certain cases, users may want to handle batching manually in dataset code, or simply load individual samples. `, we are basically h

[2021-05-02 01:14] parmeet commented on #1272
@pbelevich we have added functional to process the XML. Please refer to corresponding PR and doc for example usage.

[2021-05-03 14:12] parmeet commented on #1275
@learnJunWei Could you please provide torchtext version you are using? We have retired bunch of code into legacy in the recent release of torchtext. Please refer to the [release notes](https://github.com/pytorch/text/releases/tag/v0.9.0-rc5)

Yes, torchtext.data indeed have no attribute 'Iterator' in the latest release (https://github.com/pytorch/text/blob/release/0.9/torchtext/data/__init__.py#L9

[2021-05-03 14:27] parmeet commented on #826
@seemethere seems the problem still persists, any plan to fix the issue yet?

[2021-05-03 14:51] parmeet commented on #1253
The datasets in torchtext are iterators. Unfortunately, the idea similar to Bucket Iterator cannot be implemented on top of iterators as we can only access elements sequentially. We need to materialize the data and we have to do it efficiently for large datasets. I guess we can potentially provide functionality similar to bucket iterator as  `functional` once we figure out efficient way to materia

[2021-05-03 17:24] seemethere commented on #826
For some reason it looks like the object in S3 was set to private. I've made it public, can you try it again?

Should be fixed now, can you try?

[2021-05-03 18:22] parmeet commented on #826
Great, download link seems to work now. thanks @seemethere

[2021-05-03 18:22] #826 closed

[2021-05-04 02:57] parmeet commented on #1249
This issue is on similar lines with how we should provide capability to pre-process EnWik9 dataset (https://github.com/pytorch/text/issues/1272) without removing original tags if that what really user wants. We solved this by implementing pre-processing as a functional (https://github.com/pytorch/text/pull/1292).

I wonder if we should also make [_clean_xml_file](https://github.com/pytorch/text/bl

[2021-05-04 21:07] cpuhrsch commented on #1249
It would certainly be more consistent and flexible, since it allows direct access to the raw data and then allows to layer these filters on top.

[2021-05-08 12:21] tejan-rgb commented on #1284
Please do add.

[2021-05-13 02:52] parmeet opened #1305 "On Vocab Factory functions behavior"
Related discussion #1016
Related PRs #1304, #1302

---------

torchtext provides several factory functions to construct [Vocab class](https://github.com/pytorch/text/blob/f7a6fbd3a910c4066b9a748545df388ae5933a6a/torchtext/vocab.py#L19) object. The three primary ways to construct vocabulary are:

1. Reading raw text from file followed by tokenization to get token entries.
2. Reading token entries d

[2021-05-17 13:19] patelrajnath commented on #250
In the current updated version, I think it is not possible to use `batch_size_fn`. Can anyone suggest how to do token-based dynamic batching with the current version which uses Pytorch `Dataloader`. I tried to use sampler but no success.

[2021-05-17 15:30] ecly commented on #250
@patelrajnath for my usecase I've implemented a subclass of `torch.utils.data.Sampler` that simple generates lists of indices, corresponding to dynamically generated batches, based on the amount of tokens within the batch.

For each call of `__iter__` I do the following:
- Shuffle a copy of a List containing `Tuple[int, Tuple[int, int]]` which maps `Dataset` indices to the `src_len, tgt_len` tuple

[2021-05-18 09:14] shinux commented on #717
for me, the reason might be version of pytorch is a little bit low.

[2021-05-18 17:09] cpuhrsch commented on #717
Care to elaborate on this point?

[2021-05-19 02:53] shinux commented on #717
I was installing hugging face related package which has dependencies of `pytorch` and `torchtext`.

And I got an error as this issue described.

Then I found that pytorch version in my conda env was just 1.5, after remove conda env and reinstall hugging face, this error disappeared.

Hope this will help.

[2021-05-19 11:19] patelrajnath commented on #250
@ecly Thanks! I'll try that.

[2021-05-19 13:48] parmeet commented on #250
Related Issue https://github.com/pytorch/text/issues/1295

[2021-05-19 14:43] parmeet opened #1311 "Support offsets in Raw Iterable datasets"
## 🚀 Feature

**Motivation**

torchtext provides several open source nlp datasets in raw form. These datasets are provided as [Iterables](https://pytorch.org/docs/stable/data.html#iterable-style-datasets). There are times when the user wants to start the iterator at an arbitrary offset rather than from the beginning. One of the reference issue on this is https://github.com/pytorch/text/issues/1265

[2021-05-22 14:55] patelrajnath commented on #250
@ecly
I implemented this - https://github.com/makeesyai/makeesy-deep-learning/blob/main/seq2seq/torchtext_iter.py

Please suggest if we can improve something.

[2021-05-24 06:23] robbenplus opened #1316 "How to load AG_NEWS data from local files"
## How to load AG_NEWS data from local files

I can't get ag news data with `train_iter, test_iter = AG_NEWS(split=('train', 'test'))` online because of my bad connection. So I download the the `train.csv` and `test.csv` manually to my local folder `AG_NEWS` from url `'train': "https://raw.githubusercontent.com/mhjabreel/CharCnn_Keras/master/data/ag_news_csv/train.csv",
    'test': "https://raw.gi

[2021-05-24 14:53] parmeet commented on #1316
Hi @robbenplus, could you try by specifying your root as './myfolder'? (AG_NEWS is the auto-appended to the root path by dataset internally)

[2021-05-25 09:31] ankitk074 opened #1317 "Exception in ASGI application"
## ❓ Questions and Help
def zero_shot(sequence_to_classify, candidate_labels):
    x = tokenizer.encode(sequence_to_classify, candidate_labels, return_tensors='pt',truncation_strategy='only_first')
    logits = nli_model(x.to(device))[0]
# we throw away "neutral" (dim 1) and take the probability of
# "entailment" (2) as the probability of the label being true
    entail_contradiction_logits = logi

[2021-05-27 13:28] ecly commented on #250
@patelrajnath I'll instead suggest that you have a look at `huggingface` who has a similar implementation (which I just found out recently), which you can use to compare or get inspiration:
https://github.com/huggingface/transformers/blob/c2cd02ac625cd0ab64cf42124ad71ce9158fb67c/src/transformers/trainer_pt_utils.py#L501

[2021-05-30 19:51] satyajitghana commented on #664
I've been trying to use `pad_sequence` using the following collator

[code]

but this results in

[code]

i'm not sure what would be good way to go about doing this since there's been a lot of changes in `torchtext` recently. I do want them sorted.

[2021-06-01 08:50] bentrevett commented on #664
@satyajitghana To avoid this error you must pass `enforce_sorted=False` to the `pack_padded_sequence` function call.

[2021-06-01 21:04] JVedant opened #1320 "Torchtext not compatible with torch version 1.9.0.dev20210601+cu113"
## ❓ Questions and Help

**Description**
As the cuda version I'm using is 11.2, I've installed torch version "1.9.0.dev20210601+cu113" (nightly build) and when I'm installing torchtext, it's changing the version of torch to 1.8.1 and as it's incompatible with cuda 11.2 the torch module doesn't work (It doesn't find an appropriate version of CUDA kernel to run on).

Is there any way of installing t

[2021-06-01 21:26] JVedant commented on #1275
@learnJunWei I guess you can access it using torchtext.legacy.data.Iterator instead of torchtext.data.Iterator

[2021-06-02 02:23] parmeet commented on #1320
cc: @seemethere @malfet

[2021-06-02 02:43] malfet commented on #1320
torchtext is CPU only library and as such does not have dependencies on a particular CUDA version.
@parmeet it looks like although binary builds are succeeded they are not getting published to https://anaconda.org/pytorch-nightly/torchtext/files
@JVedant are you trying to install it using pip or conda? Can you share exact command you are running
P.S. Please note, that neither CUDA-11.3 nor 11.2 ar

[2021-06-02 07:26] JVedant commented on #1320
yeah i agree that torchtext is CPU based but it's used with torch to train neural nets where the inputs are based on torchtext so as the torch version changes there are no ways to train a model. Hence, only 1 of the two can be used at a time.

Also i'm using pip to install torchtext. The nightly version of torch can be installed using
`pip3 install --pre torch torchvision torchaudio -f https://dow

[2021-06-02 13:13] parmeet commented on #1320
Note that `pip3 install torchtext` will give you the release version (not the nightly). Since the latest torchtext released version is 0.9.1, it will change the torch version back to 1.8.1

You may try installing torchtext  nightly together with torch

`pip3 install --pre --upgrade torch torchvision torchaudio torchtext -f https://download.pytorch.org/whl/nightly/cu113/torch_nightly.html`

[2021-06-02 16:43] JVedant commented on #1320
I tried to install using the above mentioned command (using pip), but it seems that now the command installs the stable version of torch i.e. 1.8.0 but the torchtext version it installs is 0.10.0

[2021-06-04 14:27] ericxsun commented on #130
following @mttk 's idea, I implemented the usable snippet:

[code]

additionally, if using `multiprocessing` in DataLoader, one could get such exception `TypeError: cannot serialize '_io.BufferedReader' object`. Replacing `multiprocessing` with **[multiprocess](https://pypi.org/project/multiprocess/)**, things goes okay.

[2021-06-05 10:58] satyajitghana opened #1323 "How to use pretrained embeddings (`Vector`) in the new API?"
From what is see in the `experimental` module is that we pass a vocab object, which transforms the token into an unique integer.

https://github.com/pytorch/text/blob/e189c260e959ab966b1eaa986177549a6445858c/torchtext/experimental/datasets/text_classification.py#L50-L55

Thus something like `['hello', 'word']` might turn into `[42, 43]`, this can then be fed into an `nn.Embedding` layer to get the

[2021-06-07 20:42] satyajitghana commented on #1323
I partially solved it by using this style of approach:

[code]

but i'm still not sure how would i use the pretrained embeddings with a model, i mean i can do it in a non-elegant way, but i would like to know how its supposed to be done

[2021-06-08 03:33] JTWang2000 opened #1324 "fix_length in data.Field does not truncate the sequence"
I am trying to use `Field` and `TabularDataset` to process the text sequence input. To make the input be a fix length, I add the `fix_length=MAX_SEQ_LEN` in Field.
[code]

However, when I run the code, there is a warning:
[code]

I checked that fix_length should be able to truncate the data input, however, it does not work on my side.

It happens both on local side and Google colab:
Local: Mac m1

[2021-06-09 15:08] JVedant commented on #1320
Hi @parmeet , I've tried the above mentioned method multiple times but every time Torchtext is installed, it just changes the version of pytorch to 1.8.x.

Is there any other method to work with it ?

[2021-06-09 16:05] malfet commented on #1320
`pip3 install -pre torchtext -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html` (without `--pre` flag pip will roll one back to latest released binary) And you can add `--no-deps` if it still attempts to downgrade PyTorch for you.

[2021-06-10 16:42] Aryahagh commented on #548
I have the same problem and since I have pytorch 0.3.0 installed, I cannot use torchtext>0.2.3. Could you solve the problem without changing the versions of pytorch or torchtext?

[2021-06-17 02:35] parmeet opened #1337 "Separate tests for experimental features"
In order to do experimentation with new features, we typically put things in [experimental](https://github.com/pytorch/text/tree/master/torchtext/experimental) folder and add corresponding tests in [test/experimental](https://github.com/pytorch/text/tree/master/test/experimental). Unfortunately, some tests for experimental features got  spilled over other test folders. Here is an [example](https:/

[2021-06-23 12:48] mthrok commented on #1255
Hi @imagineer258

Sorry for not getting back to you sooner. The notification was buried in my inbox.
Currently, `torchtext` does not support C++.
The C++ code has `PyBind11` (and `Python`) dependency, so you would link against `libpython`, and it's not trivial to do so.

There was a plan to clean up the code to extract the Python dependency and change the build step to CMake based one, but that ha

[2021-06-23 13:16] parmeet commented on #1255
@mthrok sounds good! let's take a look at this.

[2021-06-24 17:28] parmeet commented on #1255
Hi @imagineer258 till we do the clean up and find a more convenient way to inject torchtext dependency into C++, you may try to manually link against `torchtext` shared lib (you can find _torchtext.so in the installed directory or you can also build it from source) and `python` lib

Below is the sample CMake file that should do the job:

[code]

cc: @mthrok

[2021-06-25 15:56] AK391 opened #1342 "ImportError undefined symbol: _ZNK3c104Type14isSubtypeOfExtERKSt10shared_ptrIS0_EPSo"
getting this error recently

ImportError: /home/user/miniconda/lib/python3.8/site-packages/torchtext/_torchtext.so: undefined symbol: _ZNK3c104Type14isSubtypeOfExtERKSt10shared_ptrIS0_EPSo

[2021-06-25 17:40] parmeet commented on #1342
Hi @AK391 Thanks for raising this issue. In order to better understand the problem, could you please try to provide info using this [template](https://github.com/pytorch/text/issues/new?assignees=&labels=&template=bug-report.md) ?

[2021-06-26 00:26] HamidShojanazeri opened #1344 "The text classification example requires updates based on 0.10.0"
## 🐛 Bug
Based on the recents changes in with torchtext=0.10.0, the [tutorial](https://github.com/pytorch/text/blob/master/examples/text_classification/spm_dataset.py#L4) requires updates, currently it fails on importing text_classification from datasets.

**To Reproduce**
Run the tutorial.

**Logs*
[torchtext-failure.logs.txt](https://github.com/pytorch/text/files/6719320/torchtext-failure.logs.t

[2021-06-26 03:35] AK391 commented on #1342
this is part of the stacktrace
<img width="1306" alt="Screen Shot 2021-06-25 at 11 34 19 PM" src="https://user-images.githubusercontent.com/81195143/123500708-f3e93d00-d60d-11eb-813d-20d030355778.png">

[2021-06-26 06:22] parmeet commented on #1342
could you please share details of your environment as per the [template](https://github.com/pytorch/text/issues/new?assignees=&labels=&template=bug-report.md?

[2021-06-28 18:44] HamidShojanazeri commented on #1344
@parmeet the changes are required in the training script imports and also, [here](https://github.com/pytorch/text/blob/master/examples/text_classification/train.py#L180) in getting the vocab as well.

[2021-06-28 18:58] parmeet commented on #1344
@HamidShojanazeri Thank you for identifying these issues. Yes, we have some broken pieces including our BERT examples owing to this PR #1326. There might be some due to change in Vocab module too. I will look into this.

[2021-06-28 21:12] nateanl commented on #1337
#1346

[2021-06-30 08:22] pedropgusmao opened #1349 "Difficulty using the package due to outdated documentation and lack of examples"
## 📚 Documentation

**Description**

I'm trying to use `torchtext` for review rating prediction, but the new API is not well documented yet. I tried to learn from the migration jupyter notebook but it fails on cell #10 if I change `torchtext` version to `0.10.0`.

There are a few things that remain are unclear to me:
- I would imagine Vectors to require specific tokenizer as they might encode spec

[2021-06-30 15:05] hengee commented on #1323
Having the same problem, find it messy in the new API both 0.9 and 0.10

[2021-06-30 16:04] satyajitghana commented on #1349
The `experimental` module is non-existent on `0.10.0`, which explains the breaking. The only solution I found was to stick to `0.9.0` for now, or maybe use the nightly `0.11.0`.

- `Vector` is fixed as far as i know, but you can use an Embedding layer and load the vectors so it can be finetuned/

[2021-06-30 16:11] hengee opened #1350 "How to build vocab from Glove embedding?"
## ❓ How to build vocab from Glove embedding?

**Description**

How to build vocab from Glove embedding?

I have gone through the documentation and the release update, I got to know that the Vectors object is not an attribute of the new Vocab object anymore.

But I would still want to build my vocab using Glove embedding or perhaps using Glove embedding in my model, anyway for the new API?

[2021-07-01 02:09] soudabeh1000 commented on #430
you can find the example indices which are empty (by
indx = []
try:
    text_data.examples[i]
except:
   indx.append(i)

then you can delete such examples using:
del text_data.examples[i]

[2021-07-01 02:11] parmeet commented on #1349
Thanks @pedropgusmao for bring this up. Yes, you are right this cell is not functional for version `0.10.0` due to update in Vocab. I will update this.

This is a good question. I would suggest to refer to original source of vectors to learn more about how to tokenize. For example refer here for [GloVe](https://fasttext.cc/docs/en/english-vectors.html) and  [FastText](https://fasttext.cc/docs/en/e

[2021-07-01 02:14] parmeet commented on #1349
Thanks @satyajitghana  for your reply. Yes, we have removed the experimental features from the released package, so in case you depend on them, I would suggest to install from source. Also could you please share your use-case for why you need to patch with 0.9.0?

[2021-07-01 02:32] parmeet commented on #1350
Hi @hengee , you may access the Vector member `stoi `and use it to build your Vocab. For example, one way to do is

[code]

[2021-07-01 03:26] parmeet commented on #1323
#1350

[2021-07-01 04:26] satyajitghana commented on #1349
@parmeet there was this `build_vocab_from_iterator` that was in `torchtext.vocab` in `0.9.0`, but couldn't find it in `0.10.0`. I think it's deprecated now ? or moved to legacy ?

[code]

I also modified it to support `*args` and `**kwargs`. The reason being now i can do this: `build_vocab_from_iterator(apply_transforms(data), len(data), specials=['<unk>', '<pad>', '<bos>', '<eos>'])`

[2021-07-01 04:29] satyajitghana commented on #1350
@parmeet this clears a lot of things ! but sure these things are missing from official documentation 😞

Would love to have notebook style examples of the new changes (also will try to contribute if possible), as it brings in all the code in one place and easy to experiment with beforehand.

[2021-07-01 07:39] pedropgusmao commented on #1350
Thanks everyone for their replies!

@parmeet  Is there a way to combine vocab creation with special tokens and initialization of vectors? i.e. Can I use `myvocab = vocab(myvec.stoi)`, then expand `myvocab` to include a default token (in case of token not found) and then use this `myvocab` (which contains vectors from GloVe) with `nn.Embedding`? Or should I first try and expand `GloVe` to include a

[2021-07-01 13:39] parmeet commented on #1349
Actually we have it for new voacb as well, refer [here](https://pytorch.org/text/stable/vocab.html#build-vocab-from-iterator) for documentation. Also refer to section "creating Vocab from text file" and "Backward Incompatible changes" in [release notes](https://github.com/pytorch/text/releases/tag/v0.10.0) for additional details and usage.

[2021-07-01 14:32] parmeet commented on #1350
Yes, you can expand the existing vocab module with new tokens using [insert_token](https://pytorch.org/text/stable/vocab.html#torchtext.vocab.Vocab.insert_token) and [append_token](https://pytorch.org/text/stable/vocab.html#torchtext.vocab.Vocab.insert_token) APIs.

As an example refer to following workflow where we want use Glove vectors and corresponding vocab for text classification model

[cod

[2021-07-01 14:37] parmeet commented on #1350
@satyajitghana Glad it helps! Also, yes I do agree the documentation can be better. Appreciate your feedback. I have taken a note on this and we will try to complement code with notebook examples and design specs (wherever possible). Meanwhile I do encourage and welcome you to contribute. will be greatly appreciated :).

[2021-07-02 10:02] ZihaoZheng98 commented on #1350
That's good, but I still have a question.
How to build vocab from custom dataset and load the vocab's corresponding embeddings from glove?
Is the below method the best way?
1. use above method to get a glove vocab and glove vectors
2. build vocab  from custom dataset
3. traverse the custom vocab, for each word, find the corresponding vector in glove vectors.

Thanks!

[2021-07-02 13:24] parmeet commented on #1350
Yes, I think that's a viable approach. The only think I want to be careful about is what tokenizer to use to build the vocab for custom dataset. The pre-trained word vector embeddings like Glove are from pre-sentencepiece/sub-word times, so i am not sure if you would find many missing embeddings for tokens that results from sub-words segmentation.

[2021-07-06 16:22] parmeet commented on #1295
cc: @hudeven

[2021-07-06 16:23] parmeet commented on #250
cc: @hudeven

[2021-07-07 10:30] OmegAshEnr01n commented on #1342
PyTorch version: 1.9.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.1 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: Could not collect
Libc version: glibc-2.10

Python version: 3.7.9 (default, Aug 31 2020, 12:42:55)  [GCC 7.3.0] (64-bit runtime)
Python platform: Linux-5

[2021-07-07 17:52] bentrevett commented on #1350
In case this is useful for anyone, this is how I've been building a vocabulary and then initializing a `nn.Embedding` layer using `FastText` embeddings that are "aligned" with that vocabulary (e.g. `vocab['hello'] = 5`, and therefore `nn.Embedding([5]))` gives the `FastText` embedding for the string `'hello'`):

[code]

One thing to note is that the embeddings tokens in your vocabulary but not in

[2021-07-09 06:23] pedropgusmao commented on #1350
@bentrevett , thanks for your example. In your experience, Is there a reason why random vectors would be better than null one for the `<unk>` ? Is `<pad>` already the null vector? Should padding be done at the beginning or at the end of a short sentence?

[2021-07-09 07:46] pedropgusmao commented on #1350
@bentrevett , would that be
`pretrained_embedding = pretrained_vectors.get_vecs_by_tokens(vocab.get_itos())`  ?

[2021-07-09 11:24] bentrevett commented on #1350
@pedropgusmao

Not necessarily. However, in theory if a large percentage, say 50%, of your vocab weren't in your pre-trained vectors then you might want each of these vectors to be initialized to a different value so your model immediately knows they are different tokens. I've found initializing them all to zeros has worked fine though.

Both `<unk>` and `<pad>` aren't in the FastText vectors so b

[2021-07-12 11:26] #814 closed

[2021-07-12 12:26] SOURO opened #1356 "Switching between batches from two different bucket iterator objects"
## ❓ Questions and Help

I have two below `BucketIterator` objects:
`Iterator1` and `Iterator2`

For training I have to use two Iterators (Mixing is not possible in my case)
Now while training I am using the batches from these two iterators
say `batch1` from `Iterator1` and `batch2` from `Iterator2` ...

I want to use these batches(`batch1` and `batch2`) alternatively while training ... But I am n

[2021-07-15 21:54] chrisyeh96 opened #1357 "torchtext.legacy.datasets.IWSLT is unusable due to outdated URL"
## 🐛 Bug

The IWSLT dataset's URL was updated some time in late 2020, as mentioned in #1091. When torchtext v0.9.0 updated the IWSLT datasets to use the new dataset URL on Google Drive (see #1115), the corresponding `torchtext.legacy.datasets.IWSLT` dataset was not updated to the new URL.

Consequently, using `torchtext.legacy.datasets.IWSLT` causes torchtext to download an HTML page with a 404 me

[2021-07-16 20:08] parmeet commented on #1357
Thanks @chrisyeh96 for raising the issue. Unfortunately, the legacy code-base is no longer maintained.

Please refer to the [release notes ](https://github.com/pytorch/text/releases/tag/v0.9.0-rc5) and [migration guide](https://github.com/pytorch/text/blob/master/examples/legacy_tutorial/migration_tutorial.ipynb) for additional guidance. Also we have IWSLT available as Iterable datasets. Please re

[2021-07-20 00:40] YonghyunRyu opened #1359 "utils.download_from_url from torchtext 0.10.0 has a problem."
## 🐛 Bug
**Describe the bug**
A clear and concise description of what the bug is.
I tried to download a file from google drive file id using the function `utils.download_from_url` with 0.10.0.
The logic of the function has a problem so I can not download the file.

**To Reproduce**
Steps to reproduce the behavior:
[code]
this code raised an error.

**Expected behavior**
But, I think this must down

[2021-07-21 00:27] imaginary-person opened #1360 "After #1327, importing `torchtext` fails with error `Undefined symbol: _ZTVN5torch3jit6MethodE`"
## 🐛 Bug

After the latest commit (#1327), builds succeed with Python 3.8.5 on Ubuntu 18.04, but importing `torchtext` fails with error `Undefined symbol: _ZTVN5torch3jit6MethodE`, if `torch` has also been built locally from the master branch.

If the `HEAD` of the cloned repo is changed to the commit before #1327, then this issue doesn't reproduce.

Traceback:
[code]

**Environment**
[code]

[2021-07-21 01:25] imaginary-person commented on #1360
Issue was due to a PyTorch version conflict. The default Ubuntu image already had PyTorch pre-installed

[2021-07-21 01:25] #1360 closed

[2021-07-21 02:57] parmeet commented on #1359
Thanks @YonghyunRyu for raising the issue. It seems the link doesn't offer confirm_token and it currently only support downloading from google drive links that have confirm_token. Although I do not see reason why we should not support google drive downloads without confirm_token. Let me fix it in the Master.

[2021-07-21 14:09] parmeet commented on #1356
can you try converting Iterator1 and Iterator2 into Python Iterator first by calling[ iter()](https://docs.python.org/3/library/functions.html#iter) method. Then you can use the` next()` method.

[code]

As a side note, we have deprecated BucketIterator into legacy starting from version>=0.9.0 and is no longer supported in torchtext. Please refer to [release notes](https://github.com/pytorch/text/

[2021-07-22 23:32] Dongximing opened #1363 "yield of yield ?"
## ❓ Questions and Help

**Description**

Hi,
I saw the document of torchText, function 'ngrams_iterator' has become a yield, when you call 'build_vocab_from_iterator ' you still have 'yield ngrams_iterator'  that become 'yield of yield '?  it that ok?
thanks

[2021-07-23 07:38] anjali-chadha opened #1364 "ImportError with torch installed from source"
## ❓ Questions and Help

**Description**
I am working on a Docker container which has installed pytorch from the source code.
Here is the Pytorch version installed in my container

[code]
'1.9.0a0+git854cc53'

I installed torchtext in my Docker using `pip install torchtext==0.10.0`

Now, when I try to import torchtext in my container, I get following error
[code]

As per the README, torchtext 0.10

[2021-07-23 13:48] parmeet commented on #1364
Hi @anjali-chadha, thank you for providing the detailed analysis of the issue. Looks like you have installed PyTorch from source, but are installing torchtext from the binary distribution via pip, which was built against PyTorch 1.9 released version. It is likely this is causing the issue. Can you also try building torchtext from source (if installing PyTorch 1.9 from binary distribution is not an

[2021-07-23 13:50] parmeet commented on #1363
Hi @Dongximing , could you please provide additional details, for example using sample code snippets? How are you using 'build_vocab_from_iterator' together with 'ngrams_iterator'? Also would be great if you can post any error encountered. Thanks!

[2021-07-23 14:24] malfet commented on #1364
Hi @anjali-chadha , just to confirm, you've built PyTorch from release/1.9 branch, haven't you? And can you please share the output of `torch.__config__.show()`

All PyTorch binary distributions due to manylinux compatibility are built with pre C++11 ABI, which is not the default settings when one builds locally.

[2021-07-23 14:27] Dongximing commented on #1363
[code]
I just wondering that  'ngrams_iterator' has become an iterator, but 'yield' also make 'ngrams_iterator(tokenizer(text), ngrams)' become a iterator again. That is why I called "yield of yield "
when I add 'list function'-> list(ngrams_iterator(tokenizer(text), ngrams)) is the same result as without list.
so I mean 'ngrams_iterator' has become an iterator, should we make it to be list and th

[2021-07-23 21:27] anjali-chadha commented on #1364
Thank you @parmeet and @malfet. Appreciate your quick response.

For me installing PyTorch 1.9 from binary distribution is not an option. As you suggested, I tried building torchtext from the source and that fixed the import error.

Steps I followed to build torchtext from source
[code]

[code]

Resolving the issue.

[2021-07-23 21:27] #1364 closed

[2021-07-26 09:28] ManuelSenge commented on #235
I had the same error. I created a custom dataset class and parsed the file myself. The problem I had was trailing empty lines. They counted as entries and therefore were present in the length function but pandas cut them out so that the arrays I indexed were short some entries.

[2021-07-28 03:30] einzigsue opened #1366 "get_tokenizer('spacy', language='de_core_news_sm') error"
Hi There,

I installed torchtext from source and then spacy before following the advice in README.txt to download the tokeniser like
"""
python3 -m spacy download de_core_news_sm
"""
I can see de_core_news_sm is installed as a package in my home dir and I can load it as the following
"""
$ python3
Python 3.9.2 (default, Mar 29 2021, 10:41:26)
[GCC 8.3.1 20191121 (Red Hat 8.3.1-5)] on linux
Type "h

[2021-07-28 20:01] anjali-chadha opened #1368 "Access vocabulary of Pretrained SentencePiece model using SentencePieceProcessor"
## ❓ Questions and Help

**Description**
I have a pretrained SentencePiece Tokenizer model "foo.model" which I want to serialize using torchscript.

I am using `sentencepiece_processor` for this purpose as described in the [code documentation](https://github.com/pytorch/text/blob/f7a6fbd3a910c4066b9a748545df388ae5933a6a/torchtext/experimental/transforms.py#L310-L312)

I am interested in accessing

[2021-07-28 21:18] parmeet commented on #1368
Hi @anjali-chadha, sentencepiece_processor is nn.module and is a wrapper around the sentencepiece model itself. So you can use public functions in [SentencePiece](https://github.com/pytorch/text/blob/master/torchtext/csrc/sentencepiece.h) class implementation to create the vocabulary. Below is the complete example.

[code]

cc: @hudeven

[2021-07-29 09:06] anjali-chadha commented on #1368
Thanks @parmeet for detailed explanation. This was helpful.

[2021-07-29 09:06] #1368 closed

[2021-07-29 20:41] anjali-chadha opened #1369 "How to use TorchText with Java"
## ❓ Questions and Help

**Description**
I have a SentencePiece model which I serialized using `sentencepiece_processor`. My end goal is to use this torchscript serialized tokenizer in Java along with DJL Pytorch dependency. I am looking for guidance on how can I import torchtext dependency in Java environment.

Steps:
**1. Serializing SPM Tokenizer using Torchtext**
Torchscript Serialized file is

[2021-07-29 22:54] parmeet commented on #1369
Hi @anjali-chadha, Unfortunately I am not too familiar with Java.

Regarding Python:
We need to load the library _torchtext.so in order for functionalities to be available in python run-time. Importing torchtext would implicitly load this library, but you could do so explicitly as well. Have a look here https://github.com/pytorch/text/blob/760a625f8796293145c7a9bf4d5c710cfb0aabc8/torchtext/__init_

[2021-08-05 13:21] viniciusd commented on #1344
Does this issue already cover the BERT examples or do you want me to open an issue specific for the examples while this one covers the tutorial?

[2021-08-05 23:30] frankfliu commented on #1369
@anjali-chadha
You can try to load `_torchtext.so` manually:
[code]

With DJL 0.12.0, you simple define an environment variable, and DJL will load it to you:
[code]

[2021-08-09 12:22] jamiesalter opened #1371 "MultiheadAttentionContainer uses incorrect embed dimension before the projection"
## 🐛 Bug
**Describe the bug**
Within the `forward` function of `MultiheadAttentionContainer`, `embed_dim = query.size(-1)` on [line 89](https://github.com/pytorch/text/blob/760a625f8796293145c7a9bf4d5c710cfb0aabc8/torchtext/nn/modules/multiheadattention.py#L89).

The variable `embed_dim` is used to reshape the output from the attention layer to the correct shape with: `attn_output = attn_output.re

[2021-08-11 05:39] Esperanto-mega commented on #790
通过datasets.IMDB获取到的数据集应该是服从官网中给出的组织形式的，如果需要修改这个比例，需要下载数据集后进行修改。

![image](https://user-images.githubusercontent.com/57856207/128975364-ad3a303d-1a52-48d7-a14b-3f97b5792970.png)

[2021-08-11 06:00] Tikquuss commented on #790
我宁愿让这个比例保持不变，并从训练数据集中抽取5000个例子来验证模型。有了这一点，该模型就能实现泛化。

[2021-08-11 06:09] #790 closed

[2021-08-19 07:57] TejasKarkera10 commented on #1324
Hey @parmeet can I try to fix this issue ?

[2021-08-19 09:06] BepfCp commented on #1275
Try code below:

[code]

[2021-08-20 08:44] chngdickson commented on #1268
Am currently facing the same issue. How were u able to solve it?

[2021-08-20 09:01] chngdickson opened #1379 "Can't install torchtext == 0.8.1"
## 🐛 Bug
**Describe the bug**
Unable to install torchtext == 0.8.1 with pip install nor with conda install.

**To Reproduce**
Steps to reproduce the behavior:
1. pip install torchtext==0.8.1

**Expected behavior**
A matching distribution for torchtext==0.8.1 should be found. and a working **.whl** file for windows.

**Screenshots**
![image](https://user-images.githubusercontent.com/20728313/130208

[2021-08-23 17:42] seemethere opened #1380 "torchtext nightly conda package is currently uninstallable"
## 🐛 Bug
**Describe the bug**
Conda package installs of `torchtext` are currently borked due to a dependency issue

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following:
[code]

<details>
<summary> Long and mostly useless output from conda install command </summary>

[code]

</details>

**Expected behavior**
A clear and concise description of what you expected to happen.

Install

[2021-08-23 20:43] seemethere commented on #1380
Seems as though this issue is resolved if you add `-c conda-forge` to the install command

[2021-08-23 20:51] seemethere commented on #1380
I think I've found the root cause of all of these issues, I believe that `iopath` as referenced in this PR: https://github.com/pytorch/text/pull/1319/files#r694298893 does not actually exist in any known `conda` repositories which is causing the dependencies to fail to resolve.

The package _is_ available on `conda-forge` but that doesn't help us since we don't want to have a dependency on `conda-

[2021-08-23 20:54] malfet commented on #1380
Can it be an optional dependency? But yes, we need to resolve or revert the PR, as it is a release blocking issue

[2021-08-23 20:58] seemethere commented on #1380
Since `iopath` is a facebookresearch project I'm going to go ahead and copy the packages from https://anaconda.org/iopath/iopath to both all of our `pytorch` channels just so we can stop having these things break but we really do need to find a better solution for conda that doesn't require `conda-forge`

[2021-08-23 21:06] n8henrie commented on #1342
Same error here.

pytorch 1.9.0 in arch linux installed via pytorch-opt-cuda, torchtext 0.1.0 installed via pip

[2021-08-23 22:01] parmeet commented on #1380
Yes, I think the findings make sense. Unfortunately the package is not available on conda and need to be installed through [iopath channel](ttps://github.com/facebookresearch/iopath#2-install-from-anaconda-cloud-updated-nightly). Also it cannot be optional dependency as per current implementation.

Unfortunately, reverting the PR is not viable solution as that would break some functionality on int

[2021-08-24 05:50] seemethere commented on #1380
Closed with #1381

[2021-08-24 05:50] #1380 closed

[2021-08-31 00:54] Rain-Main commented on #1268
I am sorry that I notice your comment just now. It is too long to solve the issue, I forget the method to solve it. maybe I tried another version that I can install. I am not clearly sure.

[2021-08-31 13:08] yuvrajeyes opened #1384 "NotImplementedError Using BucketIterator"
[code]
[code]
[code]
[code]
When I tried to iterate on train_iterator using
[code]
It gives me **NotImplementedError** like this,
[code]
Please help me to find out whats going wrong in this particular case

Thanks,

[2021-09-02 10:24] cdeepali opened #1385 "v0.9.2 final tag"
Its been some days that v0.9.2-rc1 has been tagged.
Do we expect final tag v0.9.2  sometime soon?

[2021-09-04 13:16] lizhixi212 commented on #1379
maybe there is not torchtext 0.8.1（<0.9）for windows，but linux、macos

[2021-09-05 07:41] wn1652400018 opened #1386 "how to make clear what torchtext._torchtext module do，when i import something from"
## 📚 Documentation

**Description**

[2021-09-08 22:07] hudeven commented on #1379
@lizhixi212 is right. @chngdickson you may try the latest version 0.10.0 which has pre-built wheels for windows: https://pypi.org/project/torchtext/0.10.0/#files

[2021-09-08 22:12] hudeven commented on #1384
@parmeet could you help to take a look?

[2021-09-09 02:44] parmeet commented on #1379
cc: @seemethere

[2021-09-09 04:17] parmeet commented on #1384
BucketIterator won't work with [new datasets](https://github.com/pytorch/text/tree/main/torchtext/datasets). You may need to [legacy datasets](https://github.com/pytorch/text/tree/main/torchtext/legacy/datasets).

Please note that legacy code is no longer maintained and will be removed in up-coming releases. You may refer to [migration tutorial](https://github.com/pytorch/text/blob/master/examples

[2021-09-13 20:57] mthrok commented on #1386
`torchtext._torchtext` is an extension module written in C++.

Here is the interface

https://github.com/pytorch/text/blob/b40eb2c7d7bf0054a2bf177717a40d12cd894039/torchtext/csrc/vocab.h#L28-L82

The corresponding implementation can be found in the following `vocab.cpp` file.

https://github.com/pytorch/text/blob/b40eb2c7d7bf0054a2bf177717a40d12cd894039/torchtext/csrc/vocab.cpp

[2021-09-17 20:09] brando90 opened #1394 "Torch text does not work with python 3.9 despite pypi saying it works for 3.6+"
## 🐛 Bug
Do the following on a new env:
[code]

**Expected behavior**
Expected is that one can import torchtext e.g.
[code]

error:
[code]

**Environment**
[code]

[2021-09-17 20:10] brando90 commented on #1394
pypi https://pypi.org/project/torchtext/

[2021-09-17 20:10] brando90 commented on #1394
[code]

[2021-09-17 22:08] brando90 opened #1395 "torchtext for cuda >=11.0 doesn't work"
## 🐛 Bug
Trying to install torchtext with cuda >=11.09

Just try to install it your favorite way, bu you can try this command:

**Expected behavior**
torchtext and pytorch should install and show version 11.0 e.g.
[code]
**Environment**
[code]

**Additional context**
Add any other context about the problem here.

[code]

[2021-09-17 22:09] brando90 commented on #1395
note the wrong version is installed for me:
[code]

[2021-09-17 22:12] brando90 commented on #1395
https://discuss.pytorch.org/t/how-does-one-install-a-torchtext-version-compatible-with-cuda-11-0/132276

[2021-09-17 22:12] brando90 commented on #1395
https://stackoverflow.com/questions/69229975/how-does-one-install-torchtext-with-cuda-11-0-and-pytorch-1-9

[2021-09-18 07:52] ASKanse opened #1396 "Converting train_iter to list"
## ❓ Why does this happen when I convert train_iter to a list using list()

**Description**
[code]
[code]
I am running the above 2 blocks of code in COLAB. When I run the 2nd block of code for the first time it returns a list of tuples containing the first 10 elements of data in `train_iter`. But when I run the 2nd block of code a second time I get an empty array. Why is this happening? (Only run

[2021-09-18 17:11] philipGaudreau opened #1397 "Publish torchtext 0.9.2 on PyPi"
It is not a bug _per se_, but it would be nice if **torchtext** **0.9.2** could be added to the releases, since at the moment, 0.9.1 requires Pytorch 1.8.1, which is not the LTS (1.8.2).

In other words, at the moment, if I do a `pip install "torchtext<0.10"`, it will install torchtext 0.9.1 and thus pytorch 1.8.1.

[2021-09-22 16:37] parmeet commented on #1396
Hi @ASKanse the datasets in torchtext are of type [Iterable Datasets](https://pytorch.org/docs/stable/data.html#iterable-style-datasets).  When you call the `list` first time, it materialized the dataset and the iterator is exhausted. Calling list again on same iterator would return empty since the iterator is already exhausted.

You would need to create dataset object every time you need to itera

[2021-09-22 17:24] parmeet commented on #1394
Thanks @brando90  for raising the issue. Yes, looks like the problem with Conda installation. could you please try with pip using version 0.8.1 (the supported version for 3.9, I will update the readme as well)
[code]

It seems to be same issue using Conda with audio/vision as well for pytorch version<1.9?

CC: @seemethere

CC: @mthrok, @NicolasHug

[2021-09-22 18:35] parmeet commented on #1397
cc: @seemethere, @malfet

[2021-09-23 14:26] brando90 commented on #1394
would having my setup.py have
[code]
be sufficient?

How is the rest going? @seemethere @mthrok @NicolasHug

[2021-09-23 14:27] brando90 commented on #1394
will try your suggestion in a bit. My hpc is slow so the install will take me some time...

[2021-09-23 14:29] brando90 commented on #1395
related: https://github.com/pytorch/text/issues/1394

[2021-09-23 15:02] brando90 commented on #1397
yes please!

[2021-09-23 15:03] brando90 commented on #1395
related: https://github.com/pytorch/text/issues/1397

[2021-09-23 15:27] brando90 commented on #1394
related to issue https://github.com/pytorch/text/issues/1397 will installing torchtest 0.9.2 give me issues? @parmeet

[2021-09-23 15:56] brando90 commented on #1394
is this relevant? https://stackoverflow.com/a/65458738/1601580

[2021-09-23 16:23] brando90 commented on #1397
related: https://stackoverflow.com/questions/69229975/how-does-one-install-torchtext-with-cuda-11-0-and-pytorch-1-9

[2021-09-23 16:31] brando90 commented on #1397
@philipGaudreau

does this help?

pip install torchtext==0.8.1
It seems to be same issue using Conda with audio/vision as well for pytorch version<1.9?

CC: @seemethere

CC: @mthrok, @NicolasHug

[2021-09-23 16:32] brando90 commented on #1394
but I also need pytorch 1.9.x. Would that work? @parmeet

[2021-09-25 15:10] Matrix-Jian commented on #1098
I met the same problem and fixed it now. I thought that the url of dataset in the function: 'datasets.IWSLT.splits' is outdated and it lead to download an error file 'de-en.tgz'. So I download the IWSLT2016 datasets from [here](https://drive.google.com/file/d/1l5y6Giag9aRPwGtuZHswh3w5v3qEz8D8/view). I found the file 'de-en.tgz' in the path: '2016-01/2016-01/texts/de/en/' after unzipping. And repla

[2021-09-26 12:06] AMNAALMGLY commented on #581
I observed yeah many times it get me a train data of zero length unless I restart the runtime  if working with colab

[2021-09-27 02:59] parmeet commented on #1394
for pytorch 1.9.x you would need to install torchtext >=0.10.0. This one also supports python 3.9. If you try installing using Conda without explicitly specifying the torchtext version i.e `conda install torchtext -c pytorch`, I think you get the latest both for torchtext (0.10.1) and pytorch (1.9.1)

[2021-09-27 15:22] brando90 commented on #1394
installing pytorch 1.9 with cuda: https://stackoverflow.com/questions/69230502/how-does-one-install-pytorch-1-9-in-an-hpc-that-seems-to-refuse-to-cooperate/69349188#69349188

[2021-09-27 22:13] harishsk commented on #1397
Currently the LTS releases are published on the Anaconda `pytorch-lts` channel and the pip packages are published at https://download.pytorch.org/whl/lts/1.8/torch_lts.html.

Torchtext 0.9.2 is also published there. Can you use the installation command lines listed at [Start Locally|Pytorch](https://pytorch.org/get-started/locally/) or is your request to publish the LTS packages on PyPi?

[2021-09-29 22:09] philipGaudreau commented on #1397
Here is what is happening:

[code]

[2021-09-30 06:27] harishsk commented on #1397
The installation instructions need to be fixed on the site. Until then please try the following:
[code]

[2021-10-06 08:47] batermj opened #1401 "ModuleNotFoundError: No module named 'torchtext.experimental' for "examples/BERT/qa_task.py""
## 🐛 Bug
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**

Please copy

[2021-10-06 13:42] parmeet commented on #1401
Hi @batermj, The experimental package is not part of release binaries. It is available through nightly releases. Also on side note, the examples folder is broken as we have removed some of the experimental functionalities in this PR https://github.com/pytorch/text/pull/1326 on which they depend. We are in process of fixing our examples directory.

[2021-10-06 15:40] User47122 opened #1403 "BUG TabularDataset---split()---stratified= True"

[2021-10-09 18:36] Yuvaraj91 commented on #1098
I am facing the same problem on MacOs, may I know where is the  './data' folder location? @Matrix-Jian

[2021-10-09 22:15] Yuvaraj91 commented on #1357
@parmeet Thanks for notifying, I myself am facing this issue. I have gone through the migration guide, however it only shows for a single language. For a translation dataset like Multi30k and IWSLT2016, is there an example on how to achieve the similar iterator output as the legacy implementation?

I know on the PyTorch website there are two guides, but this one (https://pytorch.org/tutorials/begi

[2021-10-12 21:38] gkowarzyk commented on #1397
I've included a [comment related to this here](https://github.com/pytorch/pytorch.github.io/issues/828#issuecomment-941370876), as it is also an issue for us.

[2021-10-21 15:08] mattip opened #1416 "tagging a release creates a directory 0.11. instead of 0.11.0"
## 🐛 Bug
The script to commit new docs when the repo is tagged is faulty. It assumes the tag is 5 characters, which is fine when the tag is `0.9.0` but fails for `0.10.0`. This is the problematic line https://github.com/pytorch/text/blob/main/.circleci/config.yml.in#L589

After changing it, the actual `config.yml` should be regenerated with `regenerate.py`.

@brianjo: this is probably the cause of

[2021-10-21 16:53] mattip commented on #1416
@malfet opened PRs against all the repos. Sorry for the mess.

[2021-10-21 21:56] #1416 closed, assigned to nobody

[2021-10-23 05:39] parmeet opened #1422 "Remove legacy datasets and abstractions from repo"
As mentioned in [torchtext 0.9 release notes](https://github.com/pytorch/text/releases/tag/v0.9.0-rc5), we moved the legacy Datasets and abstractions into legacy folder to ease the migration, and were supposed to be there for two more consecutive release.

As we are working on revamping the library with new datasets abstractions, we will remove the legacy folder from the upcoming release. This iss

[2021-11-03 07:29] FlorientHuang commented on #1357
I met this problem while studying and now I now why it went wrong...

[2021-11-03 07:29] FlorientHuang commented on #1357
I met this problem while studying and now I know why it went wrong...

[2021-11-06 16:49] Tharunkumar01 commented on #1342
I'm too facing the same error. Please fix this issue faster.

[2021-11-10 19:36] #1422 closed

[2021-11-12 21:25] abhinavarora opened #1443 "Revamp Pytorch Benchmark implementations for pytorch_struct and Attention is All You Need models"
## 🚀 Feature
Revamp Pytorch Benchmark implementations for pytorch_struct and Attention is All You Need models

**Motivation**
Since we deprecated pytorch.legacy, we need to revamp these tutorials to make them adhere to newer TorchText APIs.

[2021-11-16 21:31] 00krishna opened #1445 "Vocab() is broken: getting errors when providing keyword arguments to function: `__init__() got an unexpected keyword argument 'min_freq'`"
## 🐛 Bug
**Describe the bug**
I was working through the migration notebook to understand the new API. The `Vocab()` function seems very broken, at least in google colab? I am getting an error when I try and
create a `Vocab()` with the `min_freq=10` setting. But even after I removed this setting, I am getting an error `TypeError: __init__() got an unexpected keyword argument 'specials'`. So this su

[2021-11-17 00:07] parmeet commented on #1445
Hi @00krishna , Thanks for the question. I think what you meant to use is `vocab` factory function instead of `Vocab` class, note the difference in capital v/s small 'V'.  Hope this helps!

[2021-11-17 00:54] 00krishna commented on #1445
Hey @parmeet thanks for pointing this out. I will have to check it out. The key thing is that I copied this code directly from the `migration.ipynb` notebook in the repo, so the repo notebook has this error. I am trying to see where the proper import is for the factory function to try this out. But thanks for pointing this out.

[2021-11-17 01:00] 00krishna commented on #1445
@parmeet I tried your suggestion. But the problem seems to occur, just a bit differently.

[code]
Now the error is about the `specials` not being recognized.

[code]
So it seems like the factory is not completely working then. Not sure how this is supposed to work, haha?

[2021-11-17 03:41] parmeet commented on #1445
The specials keyword is not part of 0.11.0 yet, it is only added recently in the main branch in this PR https://github.com/pytorch/text/pull/1436. Also the migration tutorial is valid only for version 0.9.0. for torchtext > 0.9.0, the original vocab is replaced by new vocab. Please refer to torchtext's 0.10.0 [release notes](https://github.com/pytorch/text/releases/tag/v0.10.0) "Backward Incompati

[2021-11-17 03:44] parmeet commented on #1445
Also please refer to the doc for latest release (0.11.0) https://pytorch.org/text/stable/vocab.html

[2021-11-17 04:37] 00krishna commented on #1445
@parmeet Ahhh okay so that makes sense. Thanks for pointing out the docs--I was confused about the difference I encountered between 0.9.0 and 0.11.0, but now that make sense as part of the design. So the tutorial is only valid for 0.9.0 and then look at the other docs for 0.10.0. That make sense.

So just to clarify, what is the best strategy for now? Like should I stabilize around 0.9.0, or is it

[2021-11-17 04:47] parmeet commented on #1445
I would strongly recommend to follow version >=0.10.0.

Yes, that's our goal to standardize around pytorch dataloaders and datasets, which is why we also deprecated our legacy data abstractions APIs and created torchtext datasets using Iterable datasets.  Please do follow the developments on main branch where we are also adding support for Model APIs in upcoming releases. Thank you for your feedba

[2021-11-17 15:51] hongjiedai commented on #1350
Thanks for every one reply.
I notice that the voc size generated by the above code is wrong.
I should set the min_freq to 0 to get the correct size.
`glove_vocab = vocab(glove_vectors.stoi, 0)`

[2021-11-17 16:37] 00krishna commented on #1445
This can be marked as closed. The resolution was to use version 0.10.0 of torchtext.

[2021-11-17 16:37] #1445 closed

[2021-11-17 16:40] 00krishna opened #1446 "Is there a torchtext Pipeline or transformation pipeline for 0.10.0"
## ❓ Questions and Help

**Description**

I saw that in earlier versions of Torchtext there used to be a torchtext.data.Pipeline() to facilitate sequential transformation of text data.
I just looked through the documentation for 0.10.0 and I don't see this functionality anymore. I was just wonder if perhaps this Pipeline was renamed or if the developers decided on a better way to handle these tran

[2021-11-18 04:47] parmeet commented on #1446
Indeed we are doing revamp on our transforms. Although we do not have good support for transforms in version 0.10.0 (or current released version i.e 0.11.0), but we plan to add a bunch in upcoming release. You could take a look at newly added [transforms](https://pytorch.org/text/main/transforms.html) and [functionals](https://pytorch.org/text/main/functional.html). These transforms are nn modules

[2021-11-18 15:53] 00krishna commented on #1446
Thanks @parmeet yeah this makes sense. I was just working on my preprocessing pipeline and have a lot of `list(map(lambda x: ...))` stuff going on, so I am looking forward to the revamped transforms. But what I have will work for now and into the future. And I can convert them over when the new features are ready. Thanks again.

[2021-11-18 15:53] #1446 closed

[2021-11-19 01:27] 00krishna opened #1447 "Problem with StopIteration on dataset when creating vocabulary"
## ❓ Questions and Help

**Description**

Hey folks, I was hoping someone could tell me a better way to deal with this issue. I am getting a `StopIteration` error on the
dataset, and I am not clear on how to get around it. Here is a minimal example below which creates the error. I am using `Torchtext` 0.10.0.

 In the real code, I am pulling the AG_NEWS dataset into the `train_iter` variable, buil

[2021-11-19 02:04] parmeet commented on #1447
Yes, this is a know issue/limitation of current datasets. We are working on improving this user-experience in the next release.

For now the only way around is to get new iterator every time we need it (for instance inside epochs). Getting iterator is expensive only for the 1st time around, due to download and extraction (if any) of data. But next time, it is almost immediately returned by the fun

[2021-11-19 23:46] aflah02 opened #1448 "Problem with Bucket Iterator Seemingly"
I've been trying to follow a youtube tutorial on Seq 2 Seq Attention Model Implementation

After coding and making modifications since the tutorial was old I am still facing this error which I think is due to the BucketIterator and I have no clue how to fix this. I tried playing with the repeat parameter but that didn't help out

My entire code is here - https://github.com/aflah02/Seq-2-Seq-Transf

[2021-11-20 02:42] 00krishna commented on #1447
@parmeet Oh I see. That is interesting. Yeah, I thanks for explaining the issue. This helps me to understand how to run training now. I will have to copy this code and keep it in mind.

[2021-11-22 15:22] parmeet commented on #1448
Hi @aflah02, legacy BucketIterator is not compatible with torchtext's current datasets. We have deprecated legacy datasets in 0.9 release, please refer to corresponding [release notes](https://github.com/pytorch/text/releases/tag/v0.9.0-rc5). We also provide migration guide in this [tutorial](https://github.com/pytorch/text/blob/release/0.9/examples/legacy_tutorial/migration_tutorial.ipynb), you m

[2021-11-22 18:58] aflah02 commented on #1448
@parmeet Thanks a lot!

[2021-11-22 18:58] #1448 closed

[2021-11-25 05:33] selene57 commented on #1342
@AK391 why did you close this issue? I'm still running into this error. Do you have a solution?

[2021-11-25 06:35] AK391 commented on #1342
@selene57 sorry reopened

[2021-11-29 23:20] 00krishna commented on #331
Say @PetrochukM I was wondering if there were any updates on this post? I have been looking at `Torchtext` lately, and the API has been completely revamped. Lots of major breaking change and even a different design concept as they try to be more consistent with pytorch Dataloaders, etc.  BUT I am finding the package really hard to use because of a lack of documentation for the new API. And there a

[2021-12-10 07:06] pberko opened #1460 "build_vocab for custom data"
## ❓ Questions and Help

**Description**
Hello, I want to train custom data with lstm, the data looks like:

a a a a b a ... 0.2
a a a a b a ... 0.2
a a a a b a ... 0.2

[2021-12-10 16:25] Nayef211 commented on #1460
@pberko would you be able to clarify what you are asking here? If you want to build a vocab we expose 2 factory methods:
- `vocab()` - creates a vocab object from an `ordered_dict`
- `build_vocab_from_iterator()` - creates a vocab object from an iterator -> likely what you need

If you want to see usage examples of how to build the vocab from a file, take a look at the [example code snippet](https

[2021-12-11 16:36] pberko commented on #1460
Hi @Nayef211,

Thanks for the answer,
I'm afraid I did not clarify myself:

My data contains sentences in unknown language (just "a a a b b ...") and probability 0-1 to each sentence.
I want to train the data.

Since the value is probability I thought it must be any float and not just the probabiliy apeared in the train set file.

Is it possible to use `build_vocab_from_iterator()` to any value be

[2021-12-13 22:58] parmeet commented on #1460
Hi @pberko I am not why you want to add sentence probability to the vocabulary. Could you please provide additional details on what you are exactly trying to build?

[2021-12-14 07:14] pberko commented on #1460
Hello @parmeet
I have a machine which prints output made of few characters e.g. only a/b/c

the output look like "a b b b ..."
few times the machine ends with failure and I want to predict when the output starts with "a b b" what is the probability to failure,

For that reason I want to train a model to predict for an input the probability for a failure.
Thanks

[2021-12-14 14:22] kusoboy520 commented on #1342
i'm facing the same error too.
pytorch 1.10.0
torchtext 0.10.0

[2021-12-14 19:54] mthrok commented on #1342
torchtext has an extension module written in C++, which is compiled against specific PyTorch binary distribution. This means that torch text requires the matching PyTorch binary distribution.
If installing an official binary distribution of torchtext, please make sure that the combination of pytorch and torchtext is one that is listed in README. https://github.com/pytorch/text#installation

If you

[2021-12-14 20:12] parmeet commented on #1342
As noted in previous [comment](https://github.com/pytorch/text/issues/1342#issuecomment-993928516) could you please try installing torchtext 0.11.0 which is the compatible version for pytorch 1.10.0?

[2021-12-16 23:48] parmeet commented on #1460
Thanks @pberko for additional details here. I think you might be mixing labels with your input. If I understand correctly, your data is a collection of sequence of tokens "a b b b ..." and associated probabilities (float values between 0 and 1) of failures. Is that right?

If so, as far as vocabulary is concerned, you could simply add all the possible unique tokens that could occur in the sequence

[2021-12-17 04:35] pberko commented on #1460
exeactly @parmeet
do you have an example how to train a LSTM for such a problem?

Thanks

[2021-12-18 12:13] minhnhat10 opened #1465 "Fast WordPiece Tokenization"
Hello everyone, I want to implement a Fast WordPiece Tokenization algorithm introduced by Google.

# Fast WordPiece algortihm
Google introduced a new algorithm called LinMaxMatch for WordPiece tokenization has time complexity O(n). I realized that Pytorch don't have support it yet so I want to implement it. This can be especially useful for mobile platform.

# Implementation
I'm using C++ and I ha

[2021-12-18 18:32] mthrok opened #1464 "Should hide the symbols from the third party"
I am integrating KenLM in torchaudio and realized that KenLM uses double-conversion like torchtext does.

In torchaudio we are hiding the symbols of third party with `-fhidden` flag with compiling, but it turns out that torchtext does not do this. (and according to the conversation I had with @malfet about a year ago, PyTorch also hides the symbol of their own code, in addition to third party.)

T

[2021-12-20 15:36] gkowarzyk commented on #1397
Hello,

Following up: @harishsk , I also don't see the `v0.9.2` tag for `torchtext`, only `v0.9.2-rc1`.
Would it be possible to add i please?

Thanks in advance!

[2021-12-20 15:51] parmeet commented on #1465
Hi @minhnhat10, thank you for your proposal. This would certainly be a welcome contribution  to torchtext repo :).

Currently, we have sentencepiece and byte-level BPE (used in GPT-2) implemented and binded with python that could act as a starting point to help with the code-base.

I would suggest looking at [sentencepiece wrapper](https://github.com/pytorch/text/blob/main/torchtext/csrc/sentencep

[2021-12-20 18:26] harishsk commented on #1397
@malfet  / @seemethere I do not have permissions to add the tags. Can you please do so?

[2021-12-21 16:31] minhnhat10 commented on #1465
Hi @parmeet, thank you for your suggestion. I will try that

[2021-12-22 02:08] #1464 closed

[2021-12-22 12:06] erip commented on #1443
Where can these be found? I'd be happy to take a stab at this.

[2021-12-22 12:20] erip opened #1471 "Generate sentencepiece model from iterable"
## 🚀 Feature

**Motivation**

The current method of training a sentencepiece model requires a file to be passed. It would be nice if this was not required.

**Pitch**

Like other data-related functions in torchtext, there should be a `_from_iterator` function to train a sentencepiece model.

**Alternatives**

For some datasets, it may be prohibitively expensive to continually replenish the iterato

[2021-12-22 13:03] erip commented on #1471
It seems like what this will require is implementing [this class](https://github.com/google/sentencepiece/blob/bc53923a9147dc8ffa54034c8ed774de78cc4d39/python/src/sentencepiece/sentencepiece.i#L101) and making the analog to [this function](https://github.com/pytorch/text/blob/e3799a6eecef451f6e66c9c20b6432c5f078697f/torchtext/csrc/sentencepiece.cpp#L54-L56) accept a `PyObject *iter` (which require

[2021-12-22 13:36] mthrok commented on #1443
This?

https://github.com/pytorch/benchmark/blob/121ea0230d9f675928625b9a9c83d4cd9772f27f/torchbenchmark/models/pytorch_struct/__init__.py

https://github.com/pytorch/benchmark/tree/121ea0230d9f675928625b9a9c83d4cd9772f27f/torchbenchmark/models/attention_is_all_you_need_pytorch

[2021-12-25 12:34] erip commented on #1443
Just started this. Tracking here.

- [ ] pytorch_struct
- [ ] aiayn

[2021-12-26 22:23] rbahumi commented on #1100
Thanks @zhangguanheng66 . I had the same issue with the `torchtext.models` and re-installing the why you described solved it for me. Maybe it is worth adding it to the main Readme file.

[2021-12-27 16:43] erip opened #1474 "Add bucket sampler"
## 🚀 Feature

**Motivation**

The legacy `BucketIterator` was convenient because it could batch samples by length to minimize padding. It had many disadvantages because of its API and non-comformance with other parts of the pytorch data{sets,loader} ecosystem. It would be nice if torchtext supported the spirit of the `BucketIterator` by way of a `Sampler`.

**Pitch**

A sampler with the ability to

[2021-12-27 22:52] erip commented on #1443
I think the pytorch_struct refactor is ready for review: https://github.com/pytorch/benchmark/pull/673

[2022-01-01 06:53] yipliu opened #1476 "How to get all tokens in a Vocab using text"
## 🚀 Feature

**Motivation**
Hi,

When I load a vocab or have built a vocab using torchtext.vocab, I can not print its all token in the Vocab

[2022-01-01 13:42] erip commented on #1476
There are several different "Vocab" classes in torchtext. If it's one you've generated from `vocab_factory`, you can use `vocab.vocab.itos_` which prints a list of tokens in the vocab ordered by their index.

[2022-01-01 14:07] yipliu commented on #1476
Thank you!

[2022-01-01 14:07] #1476 closed

[2022-01-01 21:52] erip opened #1478 "Add transforms kwarg to Datasets"
## 🚀 Feature

torchtext datasets should provide an optional `transforms` kwarg.

**Motivation**

Other domain libraries provide a `transform` and `target_transform` kwargs to datasets for common operations (e.g., resizing, scaling, and cropping images in torch and numericalizing the associated labels). torchtext should provide similar kwargs for tokenization, numericalization, and potentially padd

[2022-01-03 05:06] RohitPawar2406 commented on #1384
BucketIterator won't work with new datasets. You may need to use legacy datasets.

Please note that legacy code is no longer maintained and will be removed in up-coming releases. You may refer to migration tutorial to help you move from legacy code-base. - By Parmeet sir , works for me

[2022-01-03 23:54] parmeet commented on #1474
Thanks @erip for raising this issue. This indeed is one of the important issues to be resolved and we understand that many users rely on this feature. We are currently working on updating torchtext datasets to build on [torchdata DataPipes](https://github.com/pytorch/data). Fortunately, the equivalent functionality is already implemented [here](https://github.com/pytorch/data/blob/main/torchdata/d

[2022-01-04 00:01] erip commented on #1474
I'd definitely be interested in contributing!

[2022-01-04 14:56] erip commented on #1474
As an aside, I've also got a [max token sampler](https://gist.github.com/erip/81d2816f71ba2e95668095e5a1e1040e) which is a bit different, but may be of interest. Not sure if it makes sense to include it in torchtext, but if you think it's worth a discussion I'd be happy to contribute it.

[2022-01-05 15:10] erip commented on #1474
@nateanl thanks for the pointer! I think it looks pretty good, but a couple of questions:

- it looks like shuffling happens unconditionally. Does it make sense to add a shuffle kwarg to the sampler?
- I didn't realize Datasets had a len_list attr and I can't find that in the pytorch source. Is that populated somewhere in torchaudio?
- one neat trick to promote diversity in batches is to add some

[2022-01-05 15:48] nateanl commented on #1474
The `len_list` is in the custom HuBERT dataset, I think your impl is better, we should assume the dataset is unsorted and sort the indices by passing the unsorted lengths list.

I'm not sure shuffle the samples in the batch will improve the training, will the gradient differ by shuffling? What I did is shuffle the samples in the same bucket so that you can get different samples every epoch. I don'

[2022-01-05 16:17] nateanl commented on #1474
[code]
Yeah this shuffling will generate different batches, assume the bucket size is greater than `batch_size`, but shuffle the samples in the same batch may not change the gradient, what do you think ;)

`max_len` and `min_len` sounds good to me. Does it mean the samples whose length is `< min_len` or `> max_len` will be filtered out? If so, we can add such filtering to the new DataPipes code.

[2022-01-05 16:24] erip commented on #1474
Ah, I misread the code -- this makes total sense. I agree that this will have more impact than shuffling within a batch. I still think it is good to give an option to the user about whether there should be shuffling at all. maybe just `shuffle: bool = True` by default?

Yes, exactly. See [here](https://gist.github.com/erip/81d2816f71ba2e95668095e5a1e1040e#file-max_token_per_batch_sampler-py-L25-L3

[2022-01-06 04:01] #1100 closed

[2022-01-06 17:50] whjackso23 opened #1489 "Torchtext 0.6.0 extract_archive broken with Pytorch train.de.gz & train.en.gz datasets"
## 🐛 Bug
**Describe the bug**
A clear and concise description of what the bug is.

While following the torchtext tutorial here https://pytorch.org/tutorials/beginner/torchtext_translation_tutorial.html I am unable to download english & german gzipped datasets from the urls specified in the example, receving an error message indicating that downloading any files that don't end in .gz is unsupported

[2022-01-06 18:49] mthrok commented on #1489
This old tutorial was ran with PyTorch 1.7.1, and torchtext 0.8.1.
What happens if you use torchtext 0.8.1?

Please note that the different versions of PyTorch and domain libraries are not compatible.
The matching version has to be used. See https://github.com/pytorch/text#installation

[2022-01-07 16:48] erip commented on #1478
It seems like once torchdata lands we could just apply a map datapipe to transform the data. I'll keep this open until we've cut over to the datapipes API and torchdata.

[2022-01-07 17:20] Nayef211 opened #1493 "Revamp TorchText Dataset Testing Strategy"
## 🚀 Feature
Revamp our dataset testing strategy in order to reduce the amount of time we spend waiting on tests to complete before merging our PRs in torchtext.

**Motivation**

TorchText dataset testing currently relies on downloading and caching the datasets daily and then running CircleCI tests on the cached data. This can be slow and unreliable for the first PR that kicks off the dataset down

[2022-01-07 17:21] Nayef211 commented on #1493
cc @mthrok @NicolasHug @parmeet @abhinavarora

[2022-01-07 17:22] parmeet commented on #1478
That's right! I am working on tutorial that shows how it is done on datapipes. Feel free to share your feedback in there :) https://github.com/pytorch/text/blob/ca48ff66e6af66fb14b4f99b02f04354bf48bbac/examples/tutorials/sst2_classification_non_distributed.py

[2022-01-07 18:12] parmeet opened #1494 "Migrate datasets to build on top of torchdata datapipes"
## 🚀 Feature

**Motivation**

https://github.com/pytorch/data#why-composable-data-loading

**_user-experience:_** TorchData datasets enable new functional API, auto-sharding, and snapshotting support out-of-the-box. They also enable standard flow-control like batching, collation, shuffling, bucketing, and mapping/transformation using user-defined functions and transforms (UDFs).

**_Maintenance:_*

[2022-01-07 19:33] erip commented on #1494
This sounds great! Logistically, how do we want to organize the PRs? Should we have a branch which adds torchdata as a dependency, we branch from that branch and target that branch for our PRs?

[2022-01-07 19:58] Nayef211 commented on #1494
@erip That's a good point. Right now we have torchdata as an optional dependency since it is not yet available on pypi (torchdata is in prototype phase until the next Pytorch release). I think going forward we still want to keep it as an optional dependency until torchdata is released as beta.

What do you think @parmeet @abhinavarora?

[2022-01-07 22:14] parmeet commented on #1494
Right, agreed with @Nayef211 . Let's continue keeping optional dependency. I am working on PR to migrate AmazonReviewPolarity (https://github.com/pytorch/text/pull/1490) to ensure nothing breaks in the CI when doing the migration. Once this lands, we can follow the same to migrate other datasets.

[2022-01-07 22:16] erip commented on #1494
Great, so individual PRs instead of one big one -- got it! I'll pick a couple soon and start digging.

[2022-01-07 22:29] mthrok commented on #1494
I guess it will become necessary to use some `skip if` logic when dealing with optional dependency.
In CI, I recommend to make them fail unless explicitly allowed to skip.
We had an issue where CUDA tests were unintentionally skipped because of wrong CI configuration and permissive `skipIf`.

Here is the update I applied recently to avoid that https://github.com/pytorch/audio/pull/2127

[2022-01-08 13:43] erip commented on #1494
I'll keep a moving list here. To start, I'll take...

- AG_NEWS
- AmazonReviewFull
- AmazonReviewPolarity
- DBpedia

[2022-01-08 18:41] parmeet commented on #1494
Hey @erip, thank you for picking the datasets :).

Since we already have a backlog checklist in the the issue, you may constraint this list to the datasets you pick-up and checkmark it directly in the backlog items once the PR lands.

 you may skip the mention for this dataset. I will check mark it once I land the PR :)

[2022-01-08 18:57] parmeet commented on #1494
AmazonRiviewPolarity  [WIP] https://github.com/pytorch/text/pull/1490. Note that this PR shall also resolve issues with existing CI dataset tests.

[2022-01-10 14:58] parmeet commented on #1494
Actually in this case, the problem is beyond just unit-testing. The package builds (conda, wheels, docs) also rely on availability of torchdata, because it is imported inside the modules. As of now, the import is [conditioned](https://github.com/pytorch/text/blob/1a052693509ce32b6fb91302f6ca62546b0afe0d/torchtext/experimental/datasets/sst2.py#L12) on availability. For unit-testing, we are [install

[2022-01-10 18:59] mthrok commented on #1494
Isn't torchdata optional runtime dependency? I looked into the build process, and CI configuration but I do not see any mention to torchdata or the build/packaging logic changed by the presence of torchdata.

[2022-01-10 20:54] parmeet commented on #1494
I plan to pick-up CC-100 next..

[2022-01-11 17:50] ejguan commented on #1494
I second on this. Before our release, TorchData theoretically is unstable library, which means our API would change a lot. Nightly users of TorchText can encounter error during installation phase. This should not be expected as some users won't use anything from TorchData.

[2022-01-11 19:54] mthrok commented on #1494
Okay, this is what I wanted to verify. As long as it is the intended move (and is going to be mentioned in README) then it sounds good to me.

nit: IMU, packaging job should not be importing torchtext, so, I am not entirely convinced that it's required at build time. (especially since torchdata is pure-python package) Maybe it failed at smoke test step that happens right after the packaging step i

[2022-01-11 21:41] parmeet commented on #1494
sorry for the confusion, yes you are right it is not needed for packaging, but rather in testing in the same CI job (basically importing torchtext would fail as it would implicitly import datasets that would fail due to missing torchdata package)

[2022-01-13 22:07] abhinavarora commented on #1494
I plan to pick up

- WikiText103
- WikiText2

[2022-01-14 18:23] parmeet commented on #1494
Continuing on the discussion (https://github.com/pytorch/text/pull/1513#issuecomment-1013319134) by @ejguan, I think it's worth considering this point. The point of discussion is whether we should keep both the implementations (current one and the one with datapipes) in upcoming release (0.12) and  provide user-warning to switch to the new implementation?

**Some thoughts**

Pros:
* Better handlin

[2022-01-14 19:49] Nayef211 commented on #1494
In terms of pros I agree with the 2nd and 3rd points. My question about the first point would be whether there would be any BC related issues? As we discussed before starting this revamp effort, the purpose of this migration is to change the underlying implementation of the datasets without modifying the user facing API. If this is indeed the case, the end-user shouldn't notice any changes in how

[2022-01-14 21:16] abhinavarora commented on #1494
I would be wary of adding additional maintenance costs. Could you elaborate what is the BC breaking change. Since the API is the same, is it just the missing torchdata library? Given that torchdata is also releasing with our 0.12 release, I honestly don't see any serious issue with just migrating to the new code. Also the test failures will only impact nightly users right? In that case the warning

[2022-01-14 21:31] xhlulu opened #1523 "Add a `max_words` argument to `build_vocab_from_iterator`"
## 🚀 Feature

[Link to the docs](https://pytorch.org/text/stable/vocab.html?highlight=build%20vocab#torchtext.vocab.build_vocab_from_iterator)

I believe it would be beneficial to limit the number of words you want in your vocabulary with an argument like `max_words`, e.g.:
[code]

**Motivation**

This allows a controllable-sized `nn.Embedding`, with rare words being mapped to `<unk>`. Otherwise,

[2022-01-14 21:35] parmeet commented on #1494
Thanks @abhinavarora  and @Nayef211  for your thoughts on BC issue. Honestly, I am of similar impression and cannot think immediately of any obvious BC issues (which is why I wrote unexpected :) ). One of things new API doesn't support is `__next__` method, though I don't know how this might impact user if any.

@Nayef211  regarding you question:

I don't think we want to do that. One way to keep

[2022-01-15 21:03] ShairozS opened #1524 "__getitem__ not implemented?"
## ❓ Questions and Help

**Description**

For some reason, calling __getitem__() on the Torchtext Multi30k dataset returns a NotImplementedError for me, despite the dataset being properly downloaded and calling next(iter()) on it providing valid output. Can someone help me understand this? I need the method as I'm wrapping the dataset in a larger dataset class and will have to call __getitem__() e

[2022-01-15 22:55] parmeet commented on #1523
Thank you @xhlulu for interesting proposal. I don't see any downsides for adding this argument. Internally, we are sorting tokens by frequency and I think it would be trivial to add the support for max_words by discarding the lowest frequency tokens. I wonder if there are any other criteria that users might want to follow instead of frequency?

[2022-01-16 00:23] erip commented on #1524
`Multi30k` is an iterable-style dataset and therefore does not implement `__getitem__`. You can convert it to a map-style dataset (which implements `__getitem__`) by using `torchtext.data.functional.to_map_style_dataset`:

[code]

[2022-01-16 00:42] erip commented on #1523
I'll add that normally your "upstream" tokenization strategy will sometimes handle this for you. For instance, you can specify subword vocab size when training unigram LM as in sentencepiece or BPE-based models. Building your torchtext vocabulary from subword tokenized segments means you already get this "max_tokens" implicitly.

[2022-01-16 03:02] parmeet commented on #1524
Thanks @erip for the reply. Please note that this is an experimental functionality (https://github.com/pytorch/text/blob/a2ab9741415b2cff026d158a5a54b62b993571d9/torchtext/data/functional.py#L15). Also in light of migration (#1494), I wonder if there is a better way to do it such that we do not lose the datapipe properties. @ejguan Is there provision to support`__getitem__` for datapipe (even if i

[2022-01-16 03:08] parmeet commented on #1523
I wonder if this is valid for all types of tokenizers? For instance white-space or other rule/regex based tokenizers may not provide such constraints out-of-the-box, right?

[2022-01-16 03:25] erip commented on #1523
It's certainly not valid in all cases and your point is well taken. I'd at the very least recommend sticking with "max tokens" or "max vocab size" since words are a bit sticky. :-)

[2022-01-18 07:02] abhinavarora commented on #1523
This does seem like a valid request as this limit from upstream tokenizers is something that is not applicable to regex, whitespace or from a pre-existing vocabulary. Agree with @erip on the naming being something like `max_vocab_size`

[2022-01-18 07:03] abhinavarora commented on #1523
Having the frequency criteris seems good enough for now :-)

[2022-01-18 14:56] ejguan commented on #1524
It's doable using `MapDataPipe` but it's a different concept. And, it's currently the second citizen for TorchData as we are recommending using `IterDataPipe` in favor of streaming especially for the large Dataset.
- https://github.com/pytorch/pytorch/tree/master/torch/utils/data/datapipes/map

And, there are ways to convert from `MapDataPipe` to `IterDataPipe`, or collaborate between two types of

[2022-01-18 17:55] kevinchn commented on #1494
I'd like to take a stab at the IMDB dataset

[2022-01-18 17:56] erip opened #1526 "Add secondary caching to newly-migrated datapipe-based datasets"
This is mostly so things don't fall through the cracks...

## 🚀 Feature

**Motivation**

CI spends too much time unpacking cached datasets. We can also cache uncompressed and extracted files for relevant splits.

**Pitch**

Add secondary caching to datasets which have been migrated per #1494.

**Alternatives**

N/A

**Additional context**

See discussion in review of #1515

[2022-01-18 18:19] parmeet commented on #1526
I would also add to Motivation that it helps improve workflow efficiency. With extracted files being cached on disk in the first iteration, datapipe would avoid doing the same in the consecutive iterations. Also the alternative would be [In Memory caching](https://github.com/pytorch/data/blob/c06066ae360fc6054fb826ae041b1cb0c09b2f3b/torchdata/datapipes/iter/util/cacheholder.py#L19) in which case t

[2022-01-18 18:24] ejguan commented on #1526
Correct. But, it requires more careful design. If we do in memory caching over file handlers, it won't actually work unless you explicitly rewind them.

[2022-01-21 00:29] #1523 closed

[2022-01-21 20:42] erip commented on #1526
I think this can be closed since the previously-migrated datasets now have double caching and future migrations will require it as part of code review.

[2022-01-21 20:42] #1526 closed

[2022-01-21 21:03] parmeet commented on #1526
Thanks @erip for helping keep track of progress through this issue!

[2022-01-21 22:19] mthrok commented on #1494
Replying the comment from #1513

If using a flag, I recommend that to make it a part of constructor. (should not be a big deal if the interface is same) Not a global flag. torchaudio has a global flag for I/O backend and it's not a good maintenance experience. It turned the codebase stateful and in a large code base, it becomes impossible to tell which downstream project sets/expects which flag st

[2022-01-23 13:29] erip commented on #1494
Quick update:

- UDPOS is done. I can't check if off here.
- The IWSLT datasets are a bit tricky for a couple of reasons:
  - The have nested tarballs. I have submitted a PR upstream to torchdata to add a [flatmap datapipe](https://github.com/pytorch/data/pull/179) and will add it to the torchtext repo until that's merged.
  - The files get cleaned and rewritten in-place. This isn't a strict requi

[2022-01-24 04:03] erip commented on #23
I think this can be closed. As of 0.9.0 there's a `build_vocab_from_iterator` which accepts a `List[List[str]]`.

[2022-01-24 04:37] parmeet commented on #1494
Done :)

Could you please help provide more details as to where is this required?

Great, thanks!

SST-2 is in experimental folder. @Nayef211  is working on it, and is currently blocked due to some internal fbcode dependency. I am looking at CC100. It is already added as a notebook example [here](https://github.com/pytorch/data/blob/main/examples/text/CC100.ipynb). Unfortunately, the host seems to

[2022-01-24 04:47] erip commented on #1494
Yes, it's [here](https://github.com/pytorch/text/blob/main/torchtext/datasets/iwslt2016.py#L231-L241). We extract contents from a tarball and inside the tarball are other tarballs. This requires something roughly like:

[code]

[2022-01-24 16:45] Nayef211 commented on #23
Thanks for identifying stale issues @erip. Moving forward, we should make an effort to clean up non-relevant issues and PRs. I will create an issue for this soon 😃

[2022-01-24 16:45] #23 closed

[2022-01-24 17:24] erip opened #1537 "[META] how do we want to handle stale issues/PRs?"
## ❓ Questions and Help

There are many issues and PRs in the repo either related to long-gone legacy APIs or have been overcome by events. How do we want to track/manage these potentially stale issues?

Options:
- A bot
  - I don't like this option because it can permit false positives which makes it hard for users to find real issues
- Manual inspection
  - This can take a bit of time, but it's

[2022-01-24 20:25] abhinavarora commented on #1537
Maybe we can do a manual rundown and close them? For future ones we could establish a core process. What do you think?

[2022-01-24 20:57] Nayef211 commented on #1537
Thanks @erip for creating this issue. I also brought this up with @parmeet earlier last week and we thought that it would make sense to do this manually so we can ensure that only non-relevant PRs/issues are closed. This can be a collaborative effort throughout the next couple of months. If each of us spends 30 minutes a day going through and closing some of the stale issues and PRs, the torchtext

[2022-01-24 23:35] ShairozS commented on #1524
Can I understand the reasoning behind implementing torchtext datasets as iterable-style instead of map-style? Many significantly larger image datasets (such as Imagenet and CIFAR-10) are implemented as iterable-style in torchvision (indeed loading the entire dataset into memory is not a requirement of the iterable-style anyway), and I'm not sure why batch size would be element dependent in this ca

[2022-01-24 23:52] erip commented on #1524
Batch-size can certainly be element dependent in NLP cases where you may want to form batches based on the length of examples (like max-token post-pad batching).

Some datasets in torchtext are modestly sized, but others (like CC100 soon) are significantly larger and iterable-style is the only way to realistically consume it. Additionally, datapipes in the pytorch ecosystem prefer iterable-style w

[2022-01-25 03:26] abhinavarora commented on #1537
Yes, agree with this. Let's use the obsolete tag for such PRs and diffs so that we can quantify the number of PRs and issues easily.

[2022-01-25 03:55] abhinavarora commented on #224
Closing this issue as we have gotten rid of legacy datasets in the latest version.
#1537

[2022-01-25 03:55] #224 closed

[2022-01-25 03:56] abhinavarora commented on #231
Closing the issue as we have gotten rid of legacy code and thus this issue is no more relevant,
#1537

[2022-01-25 03:56] #231 closed

[2022-01-25 03:57] abhinavarora commented on #209
Closing issue as we have gotten rid of iterators and the issue is no more relevant.
#1537

[2022-01-25 03:57] #209 closed

[2022-01-25 03:58] abhinavarora commented on #428
Closing issue as we have gotten rid of `TranslationDataset` and the issue is no more relevant.
#1537

[2022-01-25 03:58] #428 closed

[2022-01-25 03:59] abhinavarora commented on #375
Closing issue as we have gotten rid of`TabularDataset` and the issue is no more relevant.
#1537

[2022-01-25 03:59] #375 closed

[2022-01-25 04:00] abhinavarora commented on #368
Closing issue as we have gotten rid of`NestedField` and the issue is no more relevant.
#1537

[2022-01-25 04:00] #368 closed

[2022-01-25 04:04] abhinavarora commented on #522
Closing issue as we have gotten rid of iterators and the issue is no more relevant.
#1537

[2022-01-25 04:04] #522 closed

[2022-01-25 04:05] abhinavarora commented on #640
Closing issue as we have gotten rid of iterators and the issue is no more relevant.
#1537

[2022-01-25 04:05] #640 closed

[2022-01-25 04:05] abhinavarora commented on #440
Closing issue as we have gotten rid of iterators and the issue is no more relevant.
#1537

[2022-01-25 04:05] #440 closed

[2022-01-25 04:06] abhinavarora commented on #444
Closing issue as we have gotten rid of`LanguageModelingDataset` and the issue is no more relevant.
#1537

[2022-01-25 04:06] #444 closed

[2022-01-25 04:08] abhinavarora commented on #640
Closing issue as we have gotten rid of iterators and the issue is no more relevant.
#1537

[2022-01-25 04:09] abhinavarora commented on #631
Closing issue as we have gotten rid of iterators and the issue is no more relevant.
#1537

[2022-01-25 04:09] #631 closed

[2022-01-25 04:09] abhinavarora commented on #612
Closing issue as we have gotten rid of `TabularDataset` and the issue is no more relevant.
#1537

[2022-01-25 04:09] #612 closed

[2022-01-25 04:10] abhinavarora commented on #604
Closing issue as we have gotten rid of `MultilabelField` and the issue is no more relevant.
#1537

[2022-01-25 04:10] #604 closed

[2022-01-25 04:11] abhinavarora commented on #537
Closing issue as we have gotten rid of Fields and the issue is no more relevant.
#1537

[2022-01-25 04:11] #537 closed

[2022-01-25 04:11] abhinavarora commented on #536
Closing issue as we have gotten rid of iterators and the issue is no more relevant.
#1537

[2022-01-25 04:11] #536 closed

[2022-01-25 04:12] abhinavarora commented on #526
Closing issue as we have gotten rid of `NestedField` and the issue is no more relevant.
#1537

[2022-01-25 04:12] #526 closed

[2022-01-25 04:26] abhinavarora commented on #672
Closing issue as we have gotten rid of this file and the issue is no more relevant.
#1537

[2022-01-25 04:26] #672 closed

[2022-01-25 04:30] parmeet commented on #1537
Some issues/PRs are related to legacy torchtext APIs (which we have removed recently #1422 ). We might also want to attach `legacy` tag with those PRs/issues. It's not a hard-requirement, but let's try to do so wherever it's obvious :)

[2022-01-25 04:35] parmeet commented on #1537
@abhinavarora  I am not sure what `obsolete` really mean? Are you referring to `legacy` torchtext issues/PRs as `obsolete`?

[2022-01-25 05:09] abhinavarora commented on #1537
Obsolete just means out of date or deprecated. I am referring to any issue or PR that refers to legacy or non-existent code as `obsolete`.  I don't have context on what was the state of the library before we had the `legacy` directory, that we removed in Dec. So `obsolete` is just a blanket label for anything that is stale or legacy or is no longer relevant. Hope that makes sense.

[2022-01-25 05:10] abhinavarora commented on #871
Closing issue as we have gotten rid of `TabularDataset` and the issue is no more relevant.
#1537

[2022-01-25 05:10] #871 closed

[2022-01-25 05:11] abhinavarora commented on #816
Closing issue as we have gotten rid of `torchtext.data.batch` and the issue is no more relevant.
#1537

[2022-01-25 05:11] #816 closed

[2022-01-25 05:24] parmeet commented on #1537
yupp, we had the label for that `legacy`. You may be able to find more https://github.com/pytorch/text/issues?q=label%3Alegacy+ although I could imagine not all the issues/PR associated with legacy code is labelled as such.

[2022-01-26 00:59] parmeet commented on #1494
I see, but isn't it that tar datapipe would recursively already do it and return all the inner files?

[2022-01-26 01:00] erip commented on #1494
@parmeet oh, I'm not sure... I didn't think so, but I guess I hadn't tried yet so I don't know. I'll give it a shot tomorrow.

[2022-01-26 13:19] erip commented on #1494
@parmeet looking at the implementation of the datapipe associated with the `read_from_tar` functional, it doesn't extract recursively. The PR in torchdata seems to moving forward so it will likely not be something we need to worry about much.

[2022-01-27 01:59] ebsmothers opened #1539 "Installing nightly TorchText with PyTorch forces CPU-only install"
## 🐛 Bug
**Describe the bug**
When trying to install the nightly builds of PyTorch and TorchText with CUDA, the PyTorch install is coerced into a CPU-only one.

Running `conda install pytorch torchtext cudatoolkit=11.3 -c pytorch-nightly` will try to install `pytorch==pytorch-nightly/linux-64::pytorch-1.11.0.dev20220126-py3.9_cpu_0`.

**To Reproduce**
Create a new conda environment, then try to in

[2022-01-27 03:57] parmeet commented on #1494
Awesome! Thanks so much @erip for taking it forward. I guess these are the only two datasets left (apart for CC-100 :) ). Please feel free to post if there are any blockages :).

[2022-01-27 04:26] parmeet commented on #1539
cc: @seemethere, @malfet

[2022-01-27 17:24] Nayef211 commented on #1493
I plan to pick up SQuAD1, SQuAD2, and SST2 tests next!

[2022-01-28 01:40] malfet commented on #1397
Added https://github.com/pytorch/text/releases/tag/v0.9.2

[2022-01-29 04:13] VirgileHlav commented on #1493
I have pending feature branches for `EnWik9`, `AmazonReviewFull`, `DBpdia`, `YelpReviewPolarity`, `YelpReviewFull`, `UDPOS` and `CoNLL2000Chunking`. I plan to pick up next `WikiText103` and `WikiText2`!

[2022-01-29 15:32] parmeet commented on #1493
will give a try to Multi30K

[2022-01-30 03:01] erip commented on #1493
I can pick up the IWSLTs

[2022-01-30 14:17] erip opened #1556 "[META] OS X conda builds for python 3.{7,9} are broken"
CI is generally unhappy because of caching, but something has broken with the OS X conda builds. cc @seemethere

[2022-01-31 18:08] Nayef211 commented on #1556
This looks like it's being caused by python version errors for OSX. I.e. this is the error for `binary_macos_conda_py3.7 ` from [here](https://app.circleci.com/pipelines/github/pytorch/text/4678/workflows/6fdd2167-7355-408e-a643-0140eb611fbd/jobs/156658).

[code]

I wonder if torchaudio or torchvision are facing similar errors. cc @mthrok @NicolasHug

[2022-02-04 02:17] Nayef211 commented on #1493
Planning on picking up YahooAnswers, SogouNews, and PennTreebank next!

[2022-02-04 16:25] MSiba opened #1581 "Specified Field dtype <torchtext.legacy.data.pipeline.Pipeline object at ...> can not be used with use_vocab=False because we do not know how to numericalize it."
## ❓ Questions and Help

**Description**

I am trying to implement a sequence (multi-output) regression task using `torchtext`, but I am getting the error in the title.

torch version: 1.10.1
torchtext version: 0.11.1

Here's how I proceed:

**Given.** sequential data (own data) of the form:
[code]
**TorchText Fields to read this data.** (works perfectly)

[code]

Since I have sequential data, I u

[2022-02-04 17:48] #1494 closed

[2022-02-04 17:55] parmeet commented on #1494
This issue is officially close now. For any improvements, bug fixes, CI dependencies or adding new datasets, we can follow them in separate threads. Thank you everyone for your contributions in realizing this issue sooner than I expected :).

cc: @erip, @Nayef211, @abhinavarora, @ejguan, @VirgileHlav

[2022-02-04 19:03] Nayef211 commented on #1494
Thanks for leading the efforts on this migration @parmeet! It was great to see how fast we worked together to get this done 😄

[2022-02-04 21:40] parmeet commented on #1493
Planning on picking-up cc-100.

[2022-02-05 01:24] mthrok commented on #1556
I do not know why but the stability of build workflow is very different between nightly build and the others. The dependencies in macOS seem much more fragile than the other platforms.

It's not a great solution, but most of the time, they can be ignored, as long as one is not making changes to build process or dependency.

[2022-02-05 16:57] Nayef211 commented on #1397
Thanks @malfet for adding the `v0.9.2` release tag. Closing the issue!

[2022-02-05 16:57] #1397 closed

[2022-02-06 15:04] parmeet opened #1588 "Datasets Documentation"
## 📚 Documentation

**Description**
Torchtext provides access to publicly hosted datasets for varying NLP tasks like  classification, machine translation, sequence tagging, Q&A, self-supervised learning etc. In terms of documentation available [here](https://pytorch.org/text/stable/datasets.html#), there is only minimal information provided to the user. Unfortunately, it does not necessarily cover

[2022-02-07 15:32] Nayef211 commented on #1588
Thanks for creating this issue @parmeet! Do you want to take on creating/standardizing the documentation for one of the datasets that we can use as an example moving forward when writing the docs for the rest of the datasets? Also would it be worthwhile keeping a checklist of which datasets still need to be worked on similar to what we've been doing for https://github.com/pytorch/text/issues/1493

[2022-02-07 16:09] Nayef211 opened #1589 "Add Secondary Caching for Extracted Datasets Files"
## 🚀 Feature
We need to update our dataset implementations to add secondary caching for extracted files as a followup to https://github.com/pytorch/text/issues/1494.

**Motivation**

Some of our datasets have a `cache_compressed_dp` and then a `cache_decompressed_dp` which is the behavior we want (i.e. [EnWik9](https://github.com/pytorch/text/blob/main/torchtext/datasets/enwik9.py#L35-L50)). On th

[2022-02-07 16:11] erip commented on #1589
Isn't it the case that some of these files (e.g., AG_NEWS) are just text files? So there's no `cache_decompressed_dp` that would exist?

[2022-02-07 16:30] Nayef211 commented on #1589
Oops you're right thanks for catching this. I've removed AG_NEWS from this list. I may also have missed a dataset or two so it might be worth going through all the datasets again to make sure the list is accurate!

[2022-02-08 21:38] #1589 closed

[2022-02-12 18:06] erip opened #1607 "[META] Add missing unicode generation for IWSLTs"
With #1599 most tests have utf-8 roundtrip tests with the exception of the IWSLTs. It seems like the `xml.etree.ElementTree.fromstring` has no mechanism for recovering from error-inducing unicode (which is likely in randomly-generated strings). `lxml` has such a mechanism, but I'd hate to add a userland dependency for the sake of testing.

This issue records the TODO and acts as a place to brainst

[2022-02-14 20:04] ProGamerGov opened #1612 "Make the `CLIPTokenizer`'s `encoder_json_path` variable optional, and use `dict(zip(vocab, range(len(vocab))))` instead"
## 🚀 Feature

https://github.com/pytorch/text/blob/main/torchtext/transforms.py#L312

In both CLIP and OpenCLIP, the encoder is simply just the vocab run through `dict(zip(vocab, range(len(vocab))))`, and it doesn't make a ton of sense to require a `encoder.json` file for this information. The `encoder.json` file requirement should be optional as the vocab file itself can be used to create the enc

[2022-02-15 16:57] parmeet commented on #1612
cc: @abhinavarora

[2022-02-15 17:26] parmeet commented on #1588
Closing this issue, since the basic documentation has been added.

[2022-02-15 17:26] #1588 closed

[2022-02-15 19:21] Nayef211 commented on #1493
Just a quick update. This issue can be closed once #1608 is merged in. All other dataset testing is completed

[2022-02-16 00:01] malfet commented on #1539
Yeah, this is caused by https://github.com/pytorch/text/pull/1520

[2022-02-16 03:03] jiapei100 opened #1615 "How to build pytorch text with system third_party libraries?"
## ❓ Questions and Help

**Description**

Three packages are under [pytorch text third_party](https://github.com/pytorch/text/tree/main/third_party). However, I personally prefer using system installed packages,
- libre2-dev
- libdouble-conversion-dev
- libsentencepiece-dev

In addition, isn't there a **CMakeLists.txt** for  **pytorch text**??

Cheers

[2022-02-18 00:03] atalman commented on #1539
Fixed by reverting the above comment:
Ref PR https://github.com/pytorch/text/pull/1619
Ref PR release branch: https://github.com/pytorch/text/pull/1618

[2022-02-18 00:03] #1539 closed

[2022-02-18 07:32] abhinavarora commented on #1612
Thank you @ProGamerGov for bringing this to my notice. I agree with you that this can get redundant. Currently we take both the encoder json and the vocab file to match the output of [HuggingFace's CLIP tokenizer](https://github.com/mlfoundations/open_clip/blob/main/src/clip/tokenizer.py#L67) which is a popular CLIP implementation. I am creating a PR to address this issue as well as another issue

[2022-02-18 09:37] A-Pandey20 opened #1620 "IWSLT2017 Download Issue in torchtext v0.11.0"
Downloaling IWSLT2017 raises Internal Error. This is the error message:
[code]
I tried to use both the function and module version, but both raise the same error:
[code]
[code]

Please have a look and fix it as soon as possible.

[2022-02-18 14:17] jiwidi opened #1621 "Does torchtext.vocab support onnx export?"
## ❓ Questions and Help

Hello!

Im interested in using the torch.nn module [vocab](https://pytorch.org/text/stable/vocab.html) but I have doubts whether it supports the ONNX format. If I export a model where a layer is:

[code]

Would this be exportable to ONNX? Accepting string as input and doing the vocab lookup to index on runtime.

Edit: I tried myself and I couldnt export models to onnx as t

[2022-02-18 20:44] abhinavarora commented on #1612
@ProGamerGov Here is PR: #1622

[2022-02-18 23:19] erip commented on #1620
Duplicate of #1359.

[2022-02-19 02:25] ProGamerGov commented on #1612
@abhinavarora Thank you for taking the time to implement the changes!

[2022-02-21 11:21] jiwidi opened #1623 "Using torchtext vocab with torchscript"
Hi!

I'm trying to use the torchtext vocab layer along with torchscript but I'm getting some errors and I was wondering if someone here has made it work.

My current model is

[code]
That works when I do a pass of the model like this:

[code]

But when I try to compile it with torchscript it fails:

[code]
With the following error:
![image|690x265](upload://kkF8ueMBXldUeEH46r8RhFofAdR.png)

I thin

[2022-02-21 11:23] #1623 closed

[2022-02-21 14:36] A-Pandey20 commented on #1620
Yes, same with me. Neither one of the IWSLTs are working. Even for me they worked in the last week. Must be some cloud issue where the data is stored.

[2022-02-21 14:40] erip commented on #1620
I think it is basically the torchtext code is somewhat flimsy wrt expected responses from gdrive. There's a good chance you're getting throttled by upstream and this is being misreported. We've recently migrated away from homegrown code for GDrive handling to the more robust torchdata approach, but that doesn't help for users stuck on 0.11.x...

[2022-02-21 15:12] A-Pandey20 commented on #1620
Ohh yes, makes sense. This might be the actual problem..

[2022-02-22 17:23] erip opened #1624 "Separate object construction from file reading"
## 🚀 Feature

Tracking issue for [this discussion](https://github.com/pytorch/text/pull/1622#discussion_r812166562). File-reading should probably be handled in a classmethod so files don't need to be written to construct certain objects.

[2022-02-22 17:48] parmeet commented on #1624
Thanks @erip for creating this issue. Would be great if you can also provide some mock-code/proposals above to elaborate on the idea and give direction to the discussion/requested feature :)

[2022-02-22 19:41] Nayef211 commented on #1623
Hi @jiwidi. I see that you closed this issue. In order to help resolved similar issues in the future, I'm wondering if you were able to figure out what your error was caused by and what fixed it?

[2022-02-22 20:17] #1612 closed

[2022-02-23 08:38] jiwidi commented on #1623
It was actually due to a problem with the function I was using to cast to tensor, following https://discuss.pytorch.org/t/unknown-builtin-op-aten-tensor/62389 I could fix it.

But I have another issue at this repos still that I havent been able to figure out https://github.com/pytorch/text/issues/1621

[2022-02-23 16:34] ProGamerGov commented on #1624
Ideally one could do something like this to avoid having to deal with differing file paths on different computers:

[code]

[2022-02-23 19:17] Nayef211 commented on #1621
cc @abhinavarora @parmeet

[2022-02-23 20:16] hudeven commented on #1384
I'm closing it now. Please reopen if it's still a issue

[2022-02-23 20:16] #1384 closed

[2022-02-23 21:08] hudeven commented on #1379
Please reopen if the issue is not resolved

[2022-02-23 21:08] #1379 closed

[2022-02-23 21:56] Nayef211 commented on #1384
@parmeet @abhinavarora just wondering if we should use `legacy` or `obsolete` labels for old issues moving forward?

[2022-02-24 02:49] mthrok commented on #1621
Looking at https://onnxruntime.ai/docs/reference/operators/add-custom-op.html, to run a custom operator on ONNX, the operator needs to be registered on C-level. As far as I am aware, none of torchtext's custom C++ implementation mentions ONNX, so I do not think it can work in ONNX.

One of the example from the same ONNX page says

so it seems plausible to make the vocab work with ONNX via torchtex

[2022-02-24 04:04] parmeet commented on #1401
closing the issue as BERT example is removed from the repo

[2022-02-24 04:04] #1401 closed

[2022-02-24 05:04] mthrok commented on #1615
Not at the moment. @Nayef211 and I are looking into this.

Once re-organizing the build process / system, introducing `USE_SYSTEM_XXX` options seem to be a straightforward and reasonable solution.

PyTorch core has this, which is compliant with Debian according to https://github.com/pytorch/pytorch/issues/14699.

https://github.com/pytorch/pytorch/blob/b3e3eb9935b65dd4cfbf20f23264f5a51c7bb791/CMak

[2022-02-25 21:12] ProGamerGov opened #1630 "`CLIPTokenizer` does not add tokens for `<|startoftext|>` and `<|endoftext|>` to outputs when using only using `merge_path` input variable"
## 🐛 Bug

I'm not 100% sure if this is a bug, but the CLIP tokenizer does not add tokens for `<|startoftext|>` and `<|endoftext|>` to outputs when using the `merge_path` input variable. In [open_clip](https://github.com/mlfoundations/open_clip/blob/main/src/clip/tokenizer.py) and [OpenAI](https://github.com/openai/CLIP/blob/main/clip/simple_tokenizer.py)'s CLIP tokenizers, the `<|startoftext|>` to

[2022-02-25 21:18] ProGamerGov commented on #1630
Outputs also appear to be a list of strings of numbers, rather than a tensor or even a list of numbers:

[code]

[2022-02-25 21:31] ProGamerGov opened #1631 "CLIP Tokenizer should output tensors rather than lists of numbers in str form"
## 🚀 Feature

Outputs for the current CLIP tokenizer appear to be a list of strings of numbers, rather than a tensor or even a list of numbers:

[code]

It might be easier to have outputs be tensors with a shape of `[batch, tokens]`.

OpenAI's CLIP tokenizer for example returns outputs like these, with zeros filling up the rest of the model's `content_length`:

[code]

[2022-02-25 23:48] Nayef211 commented on #1630
cc @abhinavarora since you have the most context on the CLIP tokenizer

[2022-02-25 23:48] Nayef211 commented on #1631
cc @abhinavarora

[2022-02-27 11:29] the-utkarshjain commented on #1350
@parmeet Is it possible to freeze the pre-trained weights but keep the newly concatenated embeddings trainable?

[2022-02-27 19:59] ProGamerGov opened #1632 "`CLIPTokenizer` always ignores the first line in `bpe_merges`"
## 🐛 Bug

It seems to me that the first line is ignored due to it being a comment about the file in open_clip and OpenAI's vocab file, but this may not always be the case with inputs.

https://github.com/pytorch/text/blob/main/torchtext/transforms.py#L351

This issue will probably be resolved once: https://github.com/pytorch/text/issues/1624 is done, but in the meantime it's a potentially problema

[2022-02-27 21:40] austinvhuang commented on #1620
@erip any idea if the throttling is happening across all downloads or somehow specific to a client? IWSLT2016 data loading hasn't worked for the last two weeks for me now - wondering if gdrive has just cut off access from paperspace hosts at this point.

Any resolution suggestions? Should we be using the master branch instead of the 0.11.2 release?

[2022-02-27 21:42] erip commented on #1620
@austinvhuang I suspect it's IP based, but that is a total guess. You could definitely try the main branch, but that's not going to change gdrive server responses, just what your client reports for diagnostics.

[2022-02-28 13:39] parmeet commented on #1631
Thanks @ProGamerGov for raising the issue. The output for the transform is to keep consistency with other tokenizer transforms (SentencePiece, GPT2BPE). You can do the conversion to tensor using functional [to_tensor](https://github.com/pytorch/text/blob/ea16b6a7bffa551dbb848705ed751454837341e7/torchtext/functional.py#L14) or [ToTensor](https://github.com/pytorch/text/blob/ea16b6a7bffa551dbb848705

[2022-02-28 15:52] ProGamerGov commented on #1631
@parmeet Ah, okay. I put together a helper function to convert the outputs to the proper format for the CLIP models:

[code]

[2022-02-28 22:01] parmeet commented on #1631
You can also try to use `Sequential` to compose the transform as shown [here](https://github.com/pytorch/text/blob/ea16b6a7bffa551dbb848705ed751454837341e7/examples/tutorials/sst2_classification_non_distributed.py#L68) for XLM-R text pre-processing. In the linked example, you would need to add `ToTensor` transform such that you would get tensor instead of `List[List[str]]`. For `VocabTransform` (c

[2022-03-01 18:04] abhinavarora commented on #1631
Thanks @ProGamerGov for reporting this. We are looking to standardize the interface of our transforms/tokenizers and this will be an action item for us to refactor this if needed. The general philosophy is that any tokenizer has an interface like this:

[code]

Now the resulting tokens that are produced by the tokenizer could be _anything_, they could be real tokens or subword ids depending on the

[2022-03-01 18:08] abhinavarora commented on #1630
@ProGamerGov Thank you again for reporting this. This was explicitly not added to the tokenizer to keep it as generic as possible. The expectation is that anyone writing a `CLIPTransform` would add them manually after calling the tokenizer so that all users have the flexibility to choose whether they want to add special tokens or not. The reason they have been added to the vocab to keep the vocab

[2022-03-02 13:43] aashish-chaubey opened #1636 "torchtext.data.Field is not working but torchtext.legacy.data.Field is! The documentation doesn't help either"
## ❓ Questions and Help
Made a fresh installation of torchtext and followed the documentation to use the Field
[code]
For some reason, this doesn't work and throws the following error
[code]
However, this works
[code]

The specification of my systems are mentioned below.

[code]

**Description**
By using the legacy, I am able to create the field. Also, I read that this is usually the case when the

[2022-03-04 12:40] dongqi-liu opened #1638 "Internal error: confirm_token was not found in Google drive link."
[code]

Traceback (most recent call last):
  File "/Users/darcy/opt/anaconda3/envs/supar/lib/python3.7/site-packages/torchtext/data/datasets_utils.py", line 257, in wrapper
    return func(root=new_root, *args, **kwargs)
  File "/Users/darcy/opt/anaconda3/envs/supar/lib/python3.7/site-packages/torchtext/data/datasets_utils.py", line 219, in new_fn
    result.append(fn(root, item, **kwargs))
  File

[2022-03-05 20:38] ProGamerGov commented on #1630
@abhinavarora Yeah, that makes sense!

[2022-03-05 20:38] #1630 closed

[2022-03-05 21:48] ProGamerGov commented on #1631
@parmeet So, it looks like the ToTensor transform doesn't allow padding to be greater than the given list length. It would require concatinating a set of zeros (in the case of CLIP) to reach the context length size of 77.

[2022-03-07 19:57] Nayef211 commented on #1636
Hi @aashish-chaubey. I believe the `Field` class has been moved to the legacy folder since torchtext `0.9.0` release. Here are the release notes that go into more detail about this https://github.com/pytorch/text/tree/v0.11.2/torchtext/legacy#legacy.  The legacy folder is deleted altogether in https://github.com/pytorch/text/pull/1437 and will not be available in torchtext `0.12.0` onwards.

[2022-03-07 19:57] #1636 closed

[2022-03-07 21:26] AlexSchumi opened #1640 "torchtext.experimental is not unable to install via nighly build version"
## ❓ Questions and Help

**Description**

I was trying to use the torchtext.experimental module in my code and use `pip install --pre torch torchtext -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html` to install the package. Previously it worked but days ago, when i did this and do `from torchtext.experimental.transforms import sentencepiece_processor`, it showed that `ModuleNot

[2022-03-07 22:04] parmeet commented on #1640
can you try to make sure there is no parallel installation for torchtext (perhaps some other release version)? May be try to do `pip uninstall torchtext` and then redo the installation using nightly. Alternatively, try creating a new Conda environment and do the installation.

[2022-03-07 22:52] Nayef211 commented on #1537
Closing this issue as we decided to manually close out old PRs and opened issues. I will add this to torchtext's better engineering efforts for this half.

[2022-03-07 22:52] #1537 closed

[2022-03-07 23:48] Nayef211 commented on #1638
Hi @dongqi-liu. Can you provide more details as to the version of `torchtext` you are using? I just tried running your code on the latest `master` branch and it seems to be working fine for me.

[2022-03-07 23:48] Nayef211 commented on #1621
Hey @jiwidi, let me know if you have any further questions. I'm going to go ahead and close out this issue for now.

[2022-03-07 23:48] #1621 closed

[2022-03-08 00:16] AlexSchumi commented on #1640
Thanks @parmeet! I tried to uninstall and reinstall, but it still didn't work for me. 4 days ago, its still working. Is there any changes in the nightly built version?

[2022-03-08 00:43] parmeet commented on #1640
Hmm interesting, not that I am aware of. I tried to installed nightly using `conda install torchtext -c pytorch-nightly` on my mac, and it seems working fine for me.

[2022-03-08 03:28] maulberto3 commented on #1638
I am on kaggle.com and have the exact same problem.

[2022-03-08 03:35] parmeet commented on #1638
This may likely not be an issue with any particular version of torchtext. This is caused typically due to some issues connecting with google drive servers (likely some form of quota limits or so)..I have seen some other users also raising the same issue with IWSLT2016/2017 datasets.

[2022-03-08 18:20] AlexSchumi commented on #1640
Thanks @parmeet! I tested on my local mac and it works. But when I tried to install the package on the AWS SageMaker, it didn't work.

[2022-03-09 05:00] Nayef211 commented on #1607
I think this should be resolved by #1642. Let's reopen this issue if we start seeing test failures again

[2022-03-09 05:00] #1607 closed

[2022-03-09 05:05] Nayef211 commented on #1493
Thanks @parmeet, @abhinavarora, @erip, and @VirgileHlav for all your help with designing, implementing, and iterating on the mock dataset tests. I'm going to go ahead and close this now that all tasks within the backlog are complete!

[2022-03-09 22:38] Nayef211 opened #1644 "Enable CMake Based Build System for Torchtext"
## 🚀 Feature
Create native C++ binaries using a CMake based build system to allow third-parties to integrate torchtext in their applications

### Motivation
Currently torchtext’s C++ extension and third party libraries are built using PyTorch’s [`CppExtension`](https://pytorch.org/docs/stable/cpp_extension.html#torch.utils.cpp_extension.CppExtension) module. Though this approach has some pros, the

[2022-03-12 16:19] austinvhuang commented on #1638
Having a related discussion here:

https://github.com/pytorch/text/issues/1620
https://github.com/pytorch/text/issues/1359

[2022-03-12 16:22] austinvhuang commented on #1620
@erip I seem to be able to download datasets manually following the URL links in here https://github.com/pytorch/text/blob/c31a400990513d180fdbd4ae5d597781b6b7063a/test/asset/raw_datasets.jsonl so it seems like this is not necessarily google drive throttling downloads by IP but only a lack of this confirm_token response.

I'm not sure what confirm_token is for, but could it just be ignored as @par

[2022-03-13 04:30] AlexSchumi commented on #1640
I found that the torchtext nightly built version was for python3.6+, but I have python3.6, does anyone know how to install torchtext(with experimental module) in python3.6?

[2022-03-13 23:35] rafidka opened #1655 "torchtext data loader uses root logger"
## 🐛 Bug

### Description

This is not a behavioural bug, but a logging issue. `torchtext` dumps a large amount of logs while loading data sets when a Python root logger is configured. See Snapshots section for an example.

Ideally, I should be able to suppress all information logs with a code like this:

[code]

However, `torchtext` uses the root logger in `text/utils.py` (and perhaps other place

[2022-03-14 05:45] vipermu commented on #1342
I had the same error but managed to fix it.

As @parmeet and @mthrok noted, I fixed it by using a compatible `torchtext` and `torch` versions. In my case, `torchtext==0.8.0` and `torch==1.7.1`.

[2022-03-14 13:22] parmeet commented on #1342
Closing this issue, as the resolution is to use compatible versions.

[2022-03-14 13:22] #1342 closed

[2022-03-14 13:45] parmeet commented on #1640
you may try to build both torch and torchtext from source on python 3.6 platform, although I am not sure if there will be issues since python 3.6 is no longer supported.

[2022-03-14 16:19] parmeet commented on #1655
Thanks @rafidka for raising this issue. This make sense, we do have file specific loggers but this practice is not universal in the library. Will make PR to fix this.

[2022-03-14 20:46] xuzhao9 commented on #1443
Due to a recent code change in torchtext(https://github.com/pytorch/text/pull/1654), another workaround is added: https://github.com/pytorch/benchmark/pull/795

[2022-03-14 22:57] #1655 closed

[2022-03-14 23:00] rafidka commented on #1655
Thanks for the quick fix!

[2022-03-15 23:19] shawnjhenry opened #1659 "Can't get SST2"
## 🐛 Bug

When I follow the instructions to get the SST2 dataset I get the error:

"/torch/utils/data/datapipes/utils/common.py:24: UserWarning: Lambda function is not supported for pickle, please use regular python function or functools.partial instead.
  warnings.warn(
/torch/utils/data/datapipes/iter/selecting.py:54: UserWarning: Lambda function is not supported for pickle, please use regular p

[2022-03-15 23:31] shawnjhenry commented on #1659
When I went into the code I noticed the DILL_AVAILABLE flag.  Installing dill solved the issue, but it seems like that should be installed by default if it's a required dependency.

[2022-03-16 02:18] Nayef211 commented on #1659
Hi @shawnjhenry. I believe the output you are seeing is just a warning message rather than an actual error. I just tried reproing your code and it works fine within a MacOS environment. Here is the exact snippet of code I'm running.

[code]

Can you try doing the same within your dev environment and see if you get any errors?

[2022-03-17 04:03] Nayef211 commented on #1638
@NivekT @ejguan I think these errors are all coming from the GDriveReader in torchdata. Do you think this issue may be related to https://github.com/pytorch/data/issues/204 and/or https://github.com/pytorch/data/issues/167?

[2022-03-17 19:18] NivekT commented on #1638
I don't think it is related. The error is raised by the follow line of code in `torchtext`:
https://github.com/pytorch/text/blob/142b1ef32d04a46a46de92853d7a45d512be5e09/torchtext/_download_hooks.py#L36

I suspect users may have an older version of `torchtext` where the functions in `_download_hooks.py ` are still being used instead of `torchdata`.

Note that in `torchdata`, `confirm_token` is opt

[2022-03-21 11:03] 1152545264 opened #1661 "what's is the replacement of legacy?"
## ❓ Questions and Help

**Description**

in torchtext0.12.0, the module legacy has been removed, so how to implement the same functions as the class legacy.Field?
thanks for your help.

[2022-03-22 01:05] Nayef211 commented on #1620
@austinvhuang were you able to verify if updating to version `0.12.0` resolved your issue?

[2022-03-23 00:34] Nayef211 commented on #1661
The legacy module has been deprecated since torchtext 0.11 and has been deleted in 0.12.0. If you want to use `legacy.Field` class or associated functions, feel free to downgrade your version of torchtext or copy over the functions/classes to your own project!

[2022-03-23 00:34] #1661 closed

[2022-03-25 08:12] PolarisRisingWar opened #1662 "How to install LTS (0.9.2)?"
## ❓ Questions and Help

**Description**

I've found that my PyTorch version is 1.8.2, so according to https://github.com/pytorch/text/#installation , the torchtext version is 0.9.2:
![image](https://user-images.githubusercontent.com/48322321/160079803-6149cea6-ccfa-4b8f-a392-894c1a018216.png)
But as I use `conda install -c pytorch torchtext` to install, the version I installed defaultly is 0.6.0.

[2022-03-25 14:58] Nayef211 commented on #1662
I would recommend to update your torchtext version to 0.9.2 if you are using PyTorch version 1.8.2. Different versions of torchtext may work with different versions of PyTorch, but we don't provide any guarantees that they will be compatible and there won't be any breakages.

[2022-03-25 15:24] PolarisRisingWar commented on #1662
I've uninstalled 0.6.0 version. But when I use `conda install -c pytorch torchtext==0.9.2`, it shows that this version is not in conda channel. When I use `pip install torchtext==0.9.2`, it shows that `ERROR: Could not find a version that satisfies the requirement torchtext==0.9.2 (from versions: 0.1.1, 0.2.0, 0.2.1, 0.2.3, 0.3.1, 0.4.0, 0.5.0, 0.6.0, 0.7.0, 0.8.0, 0.8.1, 0.9.0, 0.9.1, 0.10.0, 0.1

[2022-03-25 15:49] PolarisRisingWar commented on #1662
I tried `pip install torchtext==0.9.1`, and it forced my pytorch version changed to 1.8.1...

[2022-03-25 16:06] Nayef211 commented on #1662
Ahh I think in this case our version compatibility matrix might not be correct. I just took a look at all the torchtext versions available in conda [here](https://anaconda.org/pytorch/torchtext/files?page=2). If you click on the info for `torchtext 0.9.1` you will see  that the min version required for PyTorch is indeed `1.8.1`.

Are you able to update to the latest versions of the package? Or is

[2022-03-25 18:43] Nayef211 commented on #1662
cc @seemethere @malfet any idea why `0.9.2` is missing for `torchtext`, `torchaudio`, `torchvision` in both pypi and anaconda?

[2022-03-25 18:50] malfet commented on #1662
@Nayef211 All LTS releases are hosted on https://anaconda.org/pytorch-lts anaconda channel and https://download.pytorch.org/whl/lts/1.8/torch_lts.html as documented in https://pytorch.org/get-started/locally/

[2022-03-25 19:18] mthrok commented on #1662
@PolarisRisingWar Can you try the `pytorch-lts` channel?

I guess this is where we can improve the documentation across domains.

[2022-03-26 01:25] PolarisRisingWar commented on #1662
OK. I used `conda install -c pytorch-lts pytorch` and `conda install -c pytorch-lts torchtext`, and it seemed rechanged my pytorch version to 1.8.2 and torchtext version to 0.9.2.
It seemed work well, and if something goes wrong I will continus to post bugs.
I suggest that we can improve the README file of torchtext project so that other users can know where to get torchtext 0.9.2 for lts version

[2022-03-28 19:46] Nayef211 commented on #1662
Let me know if #1665 helps provide this clarification

[2022-03-28 20:04] #1662 closed

[2022-03-31 04:42] mthrok opened #1668 "Doc build is broken"
`build_doc` jobs are broken due to the recent update in one of the dependencies.
Need to pin some of the dependency versions. See https://github.com/pytorch/audio/pull/2292

[2022-04-01 04:20] #1668 closed

[2022-04-02 06:25] austinvhuang commented on #1620
@Nayef211 yes looks like it's resolved now, thanks.

[2022-04-02 19:20] #1620 closed

[2022-04-04 20:28] Nayef211 commented on #1638
Closing because updating to torchtext version `0.12.0` resolves the error

[2022-04-04 20:28] #1638 closed

[2022-04-07 04:22] pi-guy-in-the-sky opened #1676 "Unable to download IWSLT datasets"
## 🐛 Bug

**Describe the bug** Unable to download IWSLT2016 or IWSLT2017 datasets.

**To Reproduce** Steps to reproduce the behavior:

[code]

The same error occurs when trying to use `IWSLT2017`.

**Expected behavior** The program returns the next `src, tgt` pair in the training data.

**Screenshots** Full error logs are in [this gist](https://gist.github.com/pi-guy-in-the-sky/f38fbf1b408d981e658

[2022-04-07 04:38] pi-guy-in-the-sky commented on #1676
As a temporary fix, I'm just downloading the datasets manually via the links in the documentation:

- https://wit3.fbk.eu/2016-01 for `IWSLT2016`
- https://wit3.fbk.eu/2017-01 for `IWSLT2017`

Then you can put the downloaded `.tgz` file into the proper directory: `~/.torchtext/cache/IWSLT2016/` for 2016 and similar for 2017.

Then `torchtext` will recognize the files and not download from GDrive.

[2022-04-07 11:49] parmeet commented on #1659
Since this is just a user-warning, closing this issue for now.

[2022-04-07 11:49] #1659 closed

[2022-04-07 13:29] StephennFernandes opened #1677 "what is currently the ideal effective torchtext pipeline for almost any nlp tasks"
## searching the ideal torchtext pipeline

**Description**
hey there, so ive been using the legacy version of torchtext for quite sometime as it provides easier ways to load custom dataset  and custom pretrained word embeddings locally and i can semlessly implement it for seq2seq, text classification, pos tagging, language modeling etc. most importantly i could use Buckeriterator to sort samples b

[2022-04-09 17:31] yananchen1989 opened #1678 "Internal error: confirm_token was not found in Google drive link"
torchtext version: 0.11.2
when I try download dataset it comes out the error below

[2022-04-09 22:25] Nayef211 commented on #1678
This is a duplicate of https://github.com/pytorch/text/issues/1638. Updating to torchtext version `0.12.0` should resolve the issue

[2022-04-09 22:25] #1678 closed

[2022-04-13 16:37] ejguan opened #1680 "`_torchtext` was not found in nightly release for windows 3.7"
## 🐛 Bug

**Describe the bug**

See the CI on TorchData https://github.com/pytorch/data/runs/6011121045?check_suite_focus=true

We installed TorchText with version `torchtext-0.13.0.dev20220413` for Python 3.7 on Windows. The test failure is:
`ModuleNotFoundError: No module named 'torchtext._torchtext'`

**To Reproduce** Steps to reproduce the behavior:

Add a test for nightly release?

**Expected

[2022-04-13 16:51] mthrok commented on #1680
Corresponding CI failure on TorchText repo

Smoke test failure: https://app.circleci.com/pipelines/github/pytorch/text/5246/workflows/40ecc516-0f48-47e4-8f5b-fb5417701699/jobs/176575

Build: https://app.circleci.com/pipelines/github/pytorch/text/5246/workflows/40ecc516-0f48-47e4-8f5b-fb5417701699/jobs/176557

The final link command looks strange, it looks as if the variable name `_torchtet` is mis

[2022-04-13 16:59] ejguan commented on #1680
Not an expert on this topic. But looking at the build log, it seems `_torchtext.pyd` somehow is changed to `pyd`.

See:
<details>
"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.29.30133\bin\HostX64\x64\link.exe" /nologo /INCREMENTAL:NO /LTCG /DLL /MANIFEST:EMBED,ID=2 /MANIFESTUAC:NO /LIBPATH:C:\Users\circleci\project\third_party\build\lib /LIBPATH:C:\Users\circleci

[2022-04-13 17:09] mthrok commented on #1680
It's processed by PyTorch's `CppExtension` at the moment, so it could be something on PyTorch core side.

https://github.com/pytorch/text/blob/main/build_tools/setup_helpers/extension.py#L168

However, `CppExtension` is a wrapper around `setuptools`. So the peculiarity of failing only on Windows 3.7 could be caused by there, in which case there aren't much thing torchtext can fix. Also @Nayef211 i

[2022-04-13 18:48] Nayef211 commented on #1680
Yeah I don't believe we've made any changes to torchtext's build system recently to warrant this failure so I also suspect it might be related to a change coming from PyTorch. The revamped build system using CMake is almost ready in https://github.com/pytorch/text/pull/1673. We're just waiting to resolve all Windows build failures before we land.

[2022-04-13 23:23] mthrok commented on #1680
Note: I am working on the branch from @Nayef211 's cmake build. I am observing the similar phenomenon but the CI job is failing properly.

https://app.circleci.com/pipelines/github/pytorch/text/5250/workflows/b27e96e4-f791-4d84-9e37-55ec181ed2af/jobs/176668

`error: can't copy 'build\lib.win-amd64-3.7\pyd': doesn't exist or not a regular file`

<details>

[code]

</details>

[2022-04-15 15:18] phase commented on #709
But how does one fix this???

[2022-04-15 18:40] Nayef211 commented on #709
Are you seeing this on the latest torchtext nightly or on `0.12.0`?

[2022-04-15 18:42] maulberto3 opened #1682 "Importing torchtext in Kaggle notebook"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

There is a bug just by following PyTorch's SST-2 tutorial online.

**To Reproduce** Steps to reproduce the behavior:

1. Go to [the demo online](https://pytorch.org/text/main/tutorials/sst2_classification_non_distributed.html)
2. Just following the steps, code fails on `import torchtext.transforms as T` with torcht

[2022-04-15 20:18] Nayef211 commented on #1682
So it looks like the default `torchtext` version in this tutorial is `0.11.0`. I verified this using the following lines
[code]

After installing torchtext `0.12.0` using `!pip install torchtext==0.12.0`, we are able to get past the code failure. @parmeet  do you know how we can update the default `torchtext` and `torch` versions for this tutorial?

[2022-04-15 20:24] parmeet commented on #1682
I just went ahead and look at the default version of torch on google Colab. It is 1.10 on my side and hence the torchtext version as 0.11. Seem like they haven't upgraded to newer version yet? @mthrok Do you know the path to upgrade the PyTorch libraries on Colab, is there someone on our end have to manually request?

@maulberto3 meanwhile, the resolution would be to upgrade the library version on

[2022-04-16 00:27] maulberto3 commented on #1682
Hi @parmeet thank you for the attention.

Do you reckon Colab as kaggle.com? Also, note that as per explained, I am using version 12.

[2022-04-16 03:27] mthrok commented on #1682
You can track the Google Colab's update request at https://github.com/googlecolab/colabtools/issues/2668.

But if torchtext 0.12 is installed on (Kaggle) notebook, the tutorial should work as is.
@maulberto3 Can you run the following in the notebook, and share what it reports ?

[code]

[2022-04-16 03:31] maulberto3 commented on #1682
@mthrok

Hi, it reports the following:
[code]

[2022-04-16 03:34] mthrok commented on #1682
So the version of `torchtext` recognized by Python interpreter is 0.11.
I am not sure if Kaggle notebook is exactly same as Colab, or even close, but
one typical scenario this happens on Colab is that one imports the module first, and then update the package.
In this case the package installed after the module is not reflected.

Did you, or could you restart your session after installing `torchtex

[2022-04-16 03:36] maulberto3 commented on #1682
@mthrok

I think that the notebook restarting session suggestion played me this time, as upon doing it before importing the module, it does not show the mentioned error.

[2022-04-16 03:38] mthrok commented on #1682
@maulberto3 Great.

FYI: the combination of domain libraries and PyTorch in the report look strange.
If they are installed from official channel, then the combination that would work is either

[code]

[2022-04-16 03:41] maulberto3 commented on #1682
@mthrok

Nice to know the correct combination of libraries. Will be happy to report if anything else. Thanks a lot. Lastly, hopefully this will help other people too.

[2022-04-16 16:46] #1682 closed

[2022-04-17 07:52] zouziwei1998 commented on #1581
Hello, I also encountered a similar problem, have you solved this problem?

[2022-04-17 08:21] MSiba commented on #1581
Hi @zouziwei1998,
I re-implemented it in PyTorch, including all the steps that torch text usually offers. In particular, I used DataLoader to iterate through the training data. It worked!

[2022-04-17 08:46] zouziwei1998 commented on #1581
Thank you for your reply!
Actually I've been stuck with this problem for a few days.
Because I'm not familiar with pytorch, I didn't use DataSet and DataLoader way at first.
Can I take a look at how your code solves this problem? I would like to learn how to handle this situation. Thank you very much.

[2022-04-21 15:24] PolarisRisingWar opened #1686 "Want to find a solution for different version of torchtext when using the code in `https://pytorch.org/tutorials/beginner/transformer_tutorial.html`"
## ❓ Questions and Help

**Description**

The link of code is: https://pytorch.org/tutorials/beginner/transformer_tutorial.html

The code is:
[code]

My torchtext version is 0.9.2 (As recommended as my torch version is 1.8.1), and I got this error:
[code]
I found that in https://github.com/pytorch/text/blob/master/torchtext/vocab/vocab_factory.py this function get this keyword argument, but in 0.9

[2022-04-24 00:06] austinvhuang commented on #1676
I've run into this as well. Given the download problem in 0.11, maybe downloads checks could be in CI or integration tests?

[2022-04-25 13:16] parmeet commented on #1676
Apparently torchtext 0.12 also have this download issue, just that error message is not the same. Looking into it, the error is apparently same as found in 0.11 which is `Internal error: confirm_token was not found in Google drive link.` . I think, the reason it is shown as `Internal error: headers don't contain content-disposition.` in version 0.12 (which build datasets using datapipes) is becaus

[2022-04-25 13:44] ejguan commented on #1676
@parmeet Even though the root cause of this Error is unknown to me, do you think we could align the Error between two versions of TorchText? These OnlineReader could take extra keyword arguments and pass them to the `request` function to achieve the same behavior.

[2022-04-25 13:59] parmeet commented on #1676
I think one way to achieve this would be to go through the same error tracing as provided in torchtext download hook for google drive . I am not exactly sure why [this error message](https://github.com/pytorch/text/blob/38f520cd0293308e86ef0b2f2adc2f180dc3bab9/torchtext/_download_hooks.py#L35-L36) is removed from the implementation in GDriveReader [here](https://github.com/pytorch/data/blob/c1d89f

[2022-04-25 14:14] ejguan commented on #1676
Can't find why via git blame as the actual commit was buried into combined commits. But, I think it's reasonable to add it back to the function in TorchData.

[2022-04-25 15:17] NivekT commented on #1676
I was under the impression that even when the `confirm_token` is `None`, the download can still be valid and work as intended. Hence, why #1620 was resolved. Is that incorrect? If that is true, we should not add that back into TorchData.

[2022-04-25 15:22] NivekT commented on #1676
@parmeet @Nayef211 Do we know what cause `Internal error: headers don't contain content-disposition`? And is it possible for the download be completed successfully even if the `headers don't contain content-disposition`?

[2022-04-25 15:55] ejguan commented on #1676
@NivekT Thank you for pointing it out!!

@parmeet Does it mean the file not existing on the GDrive if `content-disposition` is not presented in the response?
We may need to illustrate the Error detail from https://github.com/pytorch/data/blob/c1d89fe9a1b06e610f32f823359771557b1ca12a/torchdata/datapipes/iter/load/online.py#L90

[2022-04-25 17:17] parmeet commented on #1686
Hi @PolarisRisingWar, I would suggest to upgrade the torchtext version. The tutorials are meant to be compatible with latest release and are not guaranteed to be Backward compatible.

[2022-04-26 13:08] manchandasahil commented on #1342
Issue still there with the following :

pytorch-lightning==1.2.10
pytorch-quantization==2.1.2
torch==1.12.0a0+2c916ef
torch-stft==0.1.4
torch-tensorrt @ file:///opt/pytorch/torch_tensorrt/py/dist/torch_tensorrt-1.1.0a0-cp38-cp38-linux_x86_64.whl
torchmetrics==0.2.0
torchtext==0.12.0

[2022-04-27 13:34] Nayef211 commented on #1686
@PolarisRisingWar let me know if the issue wasn't fixed by upgrading your torchtext version. Going to close the issue for now!

[2022-04-27 13:34] #1686 closed

[2022-04-28 16:54] pourfazl opened #1691 "Torchtext 0.12.0 Legacy"
Hi and kind regards,

It seems that "Legacy" folder was removed from Torchtext 0.12.0. Is it temporarily or I should use older versions? Lots of thanks.

[2022-04-28 18:22] VirgileHlav commented on #1691
Hi @pourfazl, it was removed permanently from TorchText. We will not support fixes in the `legacy` folder moving forward. This [thread](https://github.com/pytorch/text/pull/1689#issuecomment-1112502958) might also be relevant.

Feel free to re-open the issue if you have more questions.

[2022-04-28 18:22] #1691 closed

[2022-04-28 22:16] ProGamerGov opened #1692 "Bug in CLIPTokenizer input handling"
## 🐛 Bug

**Describe the bug**

The output of OpenAI's CLIP tokenizer is different than Torchtext's tokenizer, when using the same inputs & settings.

**To Reproduce** Steps to reproduce the behavior:

Install the CLIP tokenizer from OpenAI's repo or copy the code from [simple_tokenizer.py](https://github.com/openai/CLIP/blob/main/clip/simple_tokenizer.py):

[code]

Download the merge file from he

[2022-04-28 22:16] ProGamerGov commented on #1692
cc @abhinavarora

[2022-04-29 13:42] rongduo commented on #77
Thanks for your solution. I encountered a similar issue and solved it with your suggestion.

[2022-04-29 18:08] ProGamerGov commented on #1692
If this is a bug, it seems like it goes beyond unicode. I fed the TorchText and OpenAI CLIP tokenizers the bpe merges file as an input, and they deviate after a certain point.

[code]

Indices 479 and 480 are different in the outputs, and then they completely diverge starting at index 1432.

[2022-05-03 15:36] Nayef211 commented on #1692
@ProGamerGov thanks for surfacing this issue. We will discuss with @abhinavarora to take a look at this since he is the most familiar with the BPE merge logic implementation.

@ebsmothers just wanted to ensure that you are aware of this bug in our CLIPTokenizer implementation as I believe TorchMM is using this in your model training pipeline correct?

[2022-05-05 07:51] meetshrihari commented on #467
Replacing 'torch.tensor' with 'torch.as_tensor' removed the warning.
Thank you.

[2022-05-05 20:23] Nayef211 opened #1702 "Add TorchData as a required dependency in TorchText for 0.13.0 release"
## 🚀 Feature

TorchData is currently an optional dependency which means users have to `pip install torchdata` if they want to be able to use our datasets. Since datasets are a core feature of TorchText, we want to improve the user experience by making TorchData a required dependency.

After the next `torch` and `torchdata` branch cuts for version `1.12`, we want to take a hard dependency on the `t

[2022-05-05 20:24] Nayef211 commented on #1702
cc @atalman @malfet @parmeet @ejguan @seemethere

[2022-05-06 15:04] #620 closed

[2022-05-06 19:58] ProGamerGov commented on #1692
The single character 'ĳ', is encoded by OpenAI's tokenizer with the same tokens for both an `i` and `j` character `ij`, but oddly enough it can correctly decode back to the single character value. This might be indicative of a bug in OpenAI's code, or some difference that TorchText missed in it's implementation.

[code]

[2022-05-06 20:47] ProGamerGov commented on #1692
The `ftfy` library function is also responsible for the divergence in normal text inputs.

Looking at the docs for the library, it appears to be a heuristic replacement algorithm for for : https://ftfy.readthedocs.io/en/latest/

The project has a GitHub page here: https://github.com/rspeer/python-ftfy

Specifically, the part that changes `ĳ` to `ij` is here: https://github.com/rspeer/python-ftfy/b

[2022-05-07 06:07] MohamedAliRashad opened #1705 "Better Documentation for `merges_path` in `CLIPTokenizer`"
## 📚 Documentation

**Description**
I didn't get what i need to provide for the class for it to work and there is no documentation on what is `merges_path` or what it should contain (i am not specialized in NLP so my question can be little naive).

All is required is an example of what i need to provide to the class for it to work.

[2022-05-09 20:01] Nayef211 commented on #1705
This issue thread does a good job of explaining the purpose of the merge file (https://github.com/huggingface/transformers/issues/4777#issuecomment-646989260).

cc @parmeet @abhinavarora do you think it would be useful to explain the `merges_path` param a bit better in the CLIP tokenizer doc strings or potentially provide a link to some resource such as the GH issue above to better understand what

[2022-05-11 16:04] VirgileHlav opened #1710 "Add support for all datasets of the GLUE benchmark"
## 🚀 Feature

Add support for all 8 remaining datasets (SST-2 is already supported) of the [GLUE benchmark](https://gluebenchmark.com/): CoLA, MRPC, QQP, STS-B, MNLI, QNLI, RTE, WNLI.

**Motivation**

In itself adding support for all GLUE datasets has a lot of value: GLUE is one of the most widely used benchmark in the NLP community. Furthermore, our planned effort to develop a cohesive API for Mu

[2022-05-11 18:01] parmeet opened #1716 "Torchtext datasets failed during multi-processing due to lambda functions usage"
Duplicate Issue https://github.com/pytorch/data/issues/397

# Issue
Currently, torchtext datasets make use of lambda functions that creates issue for MultiProcessing with DataLoader as pickle doesn't support serialization with lambda functions.

Tracking the issue here as well for visibility

# Suggested Resolution
Remove usage of lambda functions

cc: @NivekT  , @NicolasHug

[2022-05-11 21:02] #1716 closed

[2022-05-12 03:03] parmeet commented on #1710
Thanks @VirgileHlav  for creating this issue! Just a general comment regarding dataset implementation: let's avoid usage of lambda functions, please refer issue https://github.com/pytorch/text/issues/1716 for details.

[2022-05-12 07:51] JustM57 opened #1719 "TabularDataset"
## ❓ Questions and Help

**Replacement of torchtext.data.TabularDataset**

 As the change of API in version 1.9.0 many things have changed and deprecated modules moved to torchtext.legacy. There is nice migration tutorial how to replace Field & BucketIterator, but there is no information what to with the DataSet. In version 0.12.0 legacy module does not exist. Does current API support loading data

[2022-05-12 09:40] NicolasHug commented on #1716
Thanks @parmmet for keeping track of this!

I think there are still instances of the use of `lambdas` in the tutorials:

https://github.com/pytorch/text/blob/dfb53af611a6d6dc0a043a6eb26a1cec30501fc1/examples/tutorials/sst2_classification_non_distributed.py#L98

The DataLoader doesn't use multi-processing for now

https://github.com/pytorch/text/blob/dfb53af611a6d6dc0a043a6eb26a1cec30501fc1/example

[2022-05-12 12:08] parmeet commented on #1716
Thanks @NicolasHug, sure will update the tutorial.

Regarding some of the pitfalls, I think it's a good idea to document.  Will look into it and see to create a tracking issue that can be referenced in release notes or something :).

[2022-05-12 15:51] Nayef211 commented on #1719
TorchText as a whole is moving away from map style datasets and migrating to iterable style datasets ([doc](https://pytorch.org/docs/stable/data.html#map-style-datasets) explaining the differences between the two). The current API doesn't support loading datasets from a file, but we are thinking of adding a generic dataset class that allows users to do this (i.e. read from a csv/tsv file stored lo

[2022-05-12 15:51] #1719 closed

[2022-05-12 16:51] parmeet commented on #1719
@JustM57 would be great if you can also share your use-case bit in details. As @Nayef211 , we would potentially like to add utilities to support loading user dataset from files or web..Thanks!

[2022-05-13 13:45] yingqichao opened #1723 "How shall I install torchtext with pytorch version 1.10.1? Seems torchtext 0.12 and 0.11 only support 1.11.0 and 1.10.0 respectively"
Dear developers,

How shall I install torchtext with pytorch version 1.10.1? Seems torchtext 0.12 and 0.11 only support 1.11.0 and 1.10.0 respectively. When I run either "pip install torchtext==0.11.0" or "pip install torchtext" (==0.12.0 omitted). The system will download a new pytorch version for me, which is annoying.

Thanks!

[2022-05-13 15:27] mthrok commented on #1723
Hi @yingqichao

`TorchText v0.11.1` should work with `PyTorch 1.10.1`.

https://github.com/pytorch/text/releases/tag/v0.11.1

[2022-05-14 07:36] yingqichao commented on #1723
Thanks a lot mthrok!

[2022-05-14 07:36] #1723 closed

[2022-05-16 13:01] parmeet commented on #1705
Thanks @Nayef211. Yes, I think we have minimalistic doc and we could definitely improve here. One think I am think along is adding tutorial on tokenizers. We have few of them now and providing examples on their usage along with clear description of the inputs should help users.

[2022-05-16 17:42] ejguan opened #1725 "Update MACOSX_DEPLOYMENT_TARGET to 10.13"
## 🚀 Feature

**Motivation**

TorchData is trying to enable AWSSDK to binary by default. However, the AWSSDK requires at least 10.13 for MacOS. Since TorchText is currently using `MACOSX_DEPLOYMENT_TARGET=10.9`, TorchData has to postpone enable AWSSDK in MacOS by default.

**Pitch**

Could we update the minimum version of `MACOSX_DEPLOYMENT_TARGET` in TorchText?

@atalman recommended me to post an

[2022-05-16 17:50] mthrok commented on #1725
I am not macOS expert and I do not really know what it does, but from [what I have been told](https://fburl.com/zhn6rcws) and [have done in audio](https://github.com/pytorch/audio/pull/1880), there should be no issue removing `MACOS_DEPLOYMENT_TARGET`.

[2022-05-16 18:02] ejguan commented on #1725
Thanks @mthrok for your input! That would be perfect for TorchData.

@parmeet wdyt?

Note: We don't necessarily make it into this coming release. I can disable C++ extension for TorchData on MacOS for the coming release.

[2022-05-16 23:56] parmeet commented on #1725
Yes, I agree with what @mthrok  said. I don't think this is an issue..Will make PR similar to Audio to remove it from TorchText.

[2022-05-17 00:41] ejguan commented on #1725
@parmeet Do you think it's going to be shipped before release?

[2022-05-17 01:48] parmeet opened #1727 "Regarding adding shuffling and sharding datapipes to in-built datasets"
## 🚀 Feature

**Motivation**

* To avoid pitfall with shuffling and sharding of datapipes in distributed training environments
* To ensure consistent experience of TorchData based datasets across domains.

**Pitch**

TorchText datasets return datapipes. In order to perform distributed computing, users would typically apply a sharding filter in order to shard the data across ranks. Furthermore, to

[2022-05-17 03:57] Nayef211 commented on #1710
Thanks for creating this issue to keep track of the new datasets we are adding! One suggestion from my end would be to update our documentation for each new dataset we add [here](https://github.com/pytorch/text/blob/main/docs/source/datasets.rst).

[2022-05-17 10:11] NicolasHug commented on #1727
Thanks for agreeing to make these changes @parmeet , I think this will be positively impact users' experience with datapipes in the long run.

Considering the release and branch cut dates are approaching (fast!), please let me know if you'd like me to help by submitting PRs for the datapipes, or for the docs.

[2022-05-17 14:41] parmeet commented on #1710
Let's also make sure we add shuffle and sharding filters: Reference Issue: https://github.com/pytorch/text/issues/1727. Reference PR #1729

[2022-05-17 21:53] ejguan commented on #1725
Closing as the PR has been merged. Thank you @parmeet

[2022-05-17 21:53] #1725 closed

[2022-05-18 19:53] VirgileHlav commented on #1710
Solved lint issues and added documentation + shuffle/sharding on all PRs.

[2022-05-19 17:32] Nayef211 commented on #1692
@abhinavarora would you mind taking a look at this?

[2022-05-20 21:10] VitalyFedyunin opened #1735 "Caching results of the `filter` will result to inconsistent cache state"
Currently it blocks, but we just got lucky:

https://github.com/pytorch/text/blob/caaa8e3c08309fe2c40ae40efaf7c2adcf1a2c8a/torchtext/datasets/stsb.py#L85

Please change the order of `filter` and `end_caching`

[2022-05-22 16:18] Nayef211 commented on #1735
@VitalyFedyunin just wondering if this could be the cause of the test failures I'm seeing in my PR? https://github.com/pytorch/text/pull/1732#issuecomment-1132267901

[2022-05-22 19:49] parmeet commented on #1735
Yes, @VitalyFedyunin  already told me about this. One thing I am wondering is why it is causing failures in STSB and wikitext103 only? We do filtering in between on_disk_cache and end_caching for all the compressed datasets. Should we change to order in other datasets too?

[2022-05-23 20:00] #1735 closed

[2022-05-23 21:58] VitalyFedyunin commented on #1735
Yes please change all datasets. I think it fails when you try to `zip` two data pipes in tests and as they are separate graph parts but locking the same files this deadlock happens.

[2022-05-24 00:15] parmeet commented on #1735
This PR fixes the issue https://github.com/pytorch/text/pull/1737. Seems like empty/non-existent files/path are creating the problem and it is not really necessary to put filter after end caching. In-fact this issue brought up the bugs in our mock testing for the failing datasets :). The reason we are keeping filter in-between is because we do not want to dump all the files to disk but only the on

[2022-05-25 18:54] VitalyFedyunin commented on #1735
I just afraid that this `filter` pattern is error prone. And even if I fix deadlock (it is possible), putting filter might lead to cache inconsistency (in case of filter output change between runs).

[2022-05-26 00:16] msaroufim opened #1743 "`ImportError: torchtext C++ Extension is not found`"
## 📚 Documentation

Hi I was interested in installing `torchtext` nightly so I can try out the latest and greatest datapipes @parmeet

**TL;DR**: It'd be really nice to either start having nightly builds for torchtext or streamline the installation process with some more scripts

I noticed `torchtext` isn't mentioned on pytorch.org

![Screen Shot 2022-05-25 at 4 56 29 PM](https://user-images.githu

[2022-05-26 00:24] mthrok commented on #1743
Regarding the import error, are you in the directory where torchtext is cloned? (is `~/torchtext` where git cloned torchtext?) If so the ImportError is because the source code is shadowing the torchtext installed in the anaconda env. Can you see what happens if you move out of the directory of `~/torchtext`?

[2022-05-26 00:33] msaroufim commented on #1743
Wow that worked lol

[code]

[2022-05-26 00:40] #1743 closed

[2022-05-26 02:47] parmeet commented on #1743
I think for the reasons @mthrok  mentioned, you could try `python setup.py develop` instead. If I am not mistaken, this would create symlink with the working directory. Hence you do not have to re-install as well when modifying python source files.

[2022-05-26 11:17] rkingery opened #1744 "NameError: name 'IterableWrapper' is not defined"
## 🐛 Bug

Hello, I am trying to load torchtext datasets to reproduce a couple of the tutorials using the new PyTorch MPS support on Mac. After downloading torchdata I get the following error when trying to load any of the datasets in `torchtext.datasets`:

[code]

My environment screen dump is below. Thanks.

[code]

[2022-05-26 14:45] parmeet commented on #1744
hmm, seem strange. The exception is not raised [here](https://github.com/pytorch/text/blob/fe57328975817161b71b6c34a9f82ec8ddb88c31/torchtext/datasets/imdb.py#L81) which means that torchdata is already available on the system (as also listed in your environment). If that is the case, `Iterablewrapper` should have been imported [here](https://github.com/pytorch/text/blob/fe57328975817161b71b6c34a9f

[2022-05-26 17:50] lolzballs commented on #1676
Hi, I just wanted to point out that it seems there seems to be another issue at play here. With pytorch/data#442, we can get past the content-disposition error described in the previous comments. But there's still a problem with the dataset loading, as eventually it times out with the following message:
[code]

I did some debugging and it seems a bit related to the nested caching in [`_filter_clea

[2022-05-26 17:58] Nayef211 commented on #1676
@lolzballs the caching issue you just mentioned seems to be related to https://github.com/pytorch/text/issues/1735.

cc @parmeet @VitalyFedyunin I wonder if this is caused by the cache inconsistency issue you mention here https://github.com/pytorch/text/issues/1735#issuecomment-1137723096 when using filters in our dataset logic.

[2022-05-26 18:40] lolzballs commented on #1676
@Nayef211 thanks, it does sound like exactly what I'm observing with IWSLT.

But I tried what is suggested in #1735 with (note the order of end_caching here and in the original code):
[code]

I still get the same behaviour: the inner `load_from_tar()` never gets iterated over.

[2022-05-26 19:09] parmeet opened #1747 "All the mock tests are failing on CI"
All the mock tests for datasets started failing recently on CI as well

So far only thing I could figure out is that all of them are just hanging when fetching the samples and then fail after a while. For eg: [here](https://github.com/pytorch/text/blob/d963bdb82b4c6c5170430fd7289b9dd0a2b9283a/test/datasets/test_agnews.py#L58) for AG_NEWS test.

Interestingly, there is no problem working with the a

[2022-05-26 19:14] ejguan commented on #1747
Could you please link the CI?
TorchData doesn't have major function changes this week. This is weird to me.

[2022-05-26 20:58] mthrok commented on #1680
@Nayef211 I think this can be closed now.

[2022-05-26 20:59] #1680 closed

[2022-05-26 21:13] Nayef211 commented on #1747
@ejguan  Here are the test failures in CI
https://app.circleci.com/pipelines/github/pytorch/text/5614/workflows/a4124efa-3ac7-44c0-9d5d-a702555542e1

[2022-05-26 23:13] parmeet commented on #1676
Thanks @Nayef211, @lolzballs. I am also start seeing this issue but rather sporadically. The error is not reproducible unfortunately.

[2022-05-26 23:19] parmeet commented on #1676
Also I am not very clear what the `timeout`  [here](https://github.com/pytorch/data/blob/main/torchdata/datapipes/iter/util/cacheholder.py#L377) is really doing. Per the doc `Integer value of seconds to wait for uncached item to be written to disk`, it seems it is the time waiting to download the file. But reducing the time to very small value (1 second) doesn't impact anything for me even though

[2022-05-26 23:42] lolzballs commented on #1676
Interesting, it seems this issue may be a regression? I was able to consistently reproduce the error using the latest `main` branches of both torchtext and torchdata if I remove the IWSLT cache folder (I would recommend just removing `IWSLT2017/2017-01-trnmted`, it leaves the original tar so we don't hit the quota from downloading it too much). But it seems like its fine with torchtext 0.12.0 and

[2022-05-27 14:53] parmeet commented on #1747
Ya, It may likely not be an issue from torchdata side, since the real datasets are working just fine. But quite strange, why mock tests start failing all of sudden.

[2022-05-27 15:13] parmeet commented on #1747
Looking at the commit history, looks like mock tests start failing at this merge https://github.com/pytorch/text/commit/70fc1040ee40faf129604557107cc59fd51c4fe2

[2022-05-27 15:38] parmeet commented on #1747
OK found the issue. Culprit is this line https://github.com/pytorch/text/blob/d963bdb82b4c6c5170430fd7289b9dd0a2b9283a/torchtext/data/datasets_utils.py#L190. The base directory in mock tests need to take this into account.

[2022-05-27 17:54] #1747 closed

[2022-05-31 12:46] NicolasHug opened #1751 "Document current limitations of datapipes"
As discussed with @parmeet previously, it's important to document current limitations of the datasets. In particular regarding:

-  the lack of DDP support
- how to properly shuffle (i.e. pass shuffle=True in the DataLoader). We should also make sure that suffle works as expected regarding RNGs, which was broken benfore. There were recent fixes in the DataLoader regarding this - @parmeet did you g

[2022-05-31 13:57] Nayef211 commented on #1751
@NicolasHug thank you for calling this out. I do like the second option of writing one warning on top of the `datasets.rst` page and having warnings in each dataset linking to the main warning just to avoid duplicating a large warning message across all our dataset implementations. Would you mind creating a PR that calls out some of these limitations since you have a lot of context here and brough

[2022-06-01 21:26] xuzhao9 opened #1756 "Multi30K dataset link is broken"
The link to Multi30K dataset at `http://www.quest.dcs.shef.ac.uk/wmt16_files_mmt/training.tar.gz` is broken: https://github.com/pytorch/text/blob/73bf4fa8cedc12d910ab76190e446bd2e47a8325/torchtext/datasets/multi30k.py#L16

[2022-06-01 22:02] VitalyFedyunin commented on #1676
Could be the situation when locks from previous runs (with mispositioned `filter`) remained in the folder. Can you please clean it up and try again. If it still fails, a minimal reproducible example would really help me to debug the issue.

[2022-06-01 22:04] VitalyFedyunin commented on #1676
I agree that message is cryptic in case of errors which is not timeout, I will change it to some sort of diagnosis URL to help users figure out if the pipeline is bad and there are real errors.

[2022-06-01 23:16] lolzballs commented on #1676
@VitalyFedyunin

Pretty much taken from the docs, [this](https://paste.sr.ht/~lolzballs/0baf31bd90b25b7ed418f3598e8085323e41e273) is what I did. I tested again today with torchtext cb8475ed18 and torchdata cd3892790, still get the same timeout. Based on the same commit I changed the order of the filter as I posted [above](https://github.com/pytorch/text/issues/1676#issuecomment-1138895054), and no

[2022-06-02 02:29] parmeet commented on #1756
Yupp, looks like the server is down :(.

[2022-06-02 21:38] #1751 closed

[2022-06-03 21:11] Nayef211 opened #1766 "[v0.13] Release Tracker"
We cut a [release branch](https://github.com/pytorch/text/tree/release/0.13) for the 0.13 release. (common commit  with main is d6e3550)

This issue is for tracking cherry-picks to the release branch.
The POCs for the TorchText team are @Nayef211 and @VirgileHlav

### Versions

0.13

### Cherry-Pick (until 06/13/22)
We will keep cherry-picking all PRs landed to main branch until PyTorch 1.12.0 off

[2022-06-08 00:38] muskbing commented on #1756
Any solutions?

[2022-06-09 06:38] chenghan1995 commented on #1756
I meet the same problem, is there any solution?

[2022-06-09 06:46] chenghan1995 commented on #1756
![image](https://user-images.githubusercontent.com/37642597/172782290-c90ae43f-4f58-434a-bdb3-3c6df9b423bd.png)

[2022-06-09 06:46] chenghan1995 commented on #1756
![image](https://user-images.githubusercontent.com/37642597/172782370-26dc20dc-3d44-46b3-b22d-9126cb43acfa.png)

[2022-06-09 06:56] Nayef211 commented on #1756
@chenghan1995 @muskbing unfortunately, we're not responsible for hosting the datasets. I'd recommend waiting for their server to come back up or reaching out directly to the organization that hosts the dataset. In this case this would be the University of Sheffield.

cc @parmeet I wonder if you know of a way to get in contact with the team that hosts this dataset?

[2022-06-09 07:05] muskbing commented on #1756
I've send email to the owner of the dataset
https://www.statmt.org/wmt16/multimodal-task.html#task1
![image](https://user-images.githubusercontent.com/53995462/172785451-f55927ba-59b4-44b9-8d67-d95a2aa99405.png)

email address is:lspecia@gmail.com

But there is no response.

I wander is there anyone who has the data file

[2022-06-12 03:15] y12uc231 commented on #711
Is there a way to load datasets from CSV files in torchtext == 0.12? It seems like they removed legacy as well.

[2022-06-12 13:19] erip opened #1778 "Torchtext nightly conda build not shipping with C++ extensions on OS X"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

1. `conda create -n fresh -y python=3.9`
2. `conda activate fresh`
3. `conda install -c pytorch-nightly torchtext -y`
4. `python -c "import torchtext"`
5. Observe error:

[code]

**Expected behavior** A clear and concise description of what you expected to happen.

[2022-06-12 13:34] GuassTesla commented on #1357
I have the same problem when using Multi30k.

[2022-06-12 14:43] erip commented on #1778
Seems like there's a missing `python setup.py build_ext --inplace` in the packaging code. I can't conveniently test nightly on other platforms, but may be worth testing.

[2022-06-12 16:03] erip opened #1779 "`SentencePieceTokenizer` should return IDs _or_ pieces"
## 🚀 Feature

`SentencePieceTokenizer` (or similar) should return IDs.

**Motivation**

Currently using `SentencePieceTokenizer` as a transform requires a second transform which uses torchtext's `Vocab` abstraction in order to ID-ify the encoded text. While `Vocab` is useful in its own right, `SentencePieceTokenizer` could realistically return ids directly which is a function of a `Vocab` transfor

[2022-06-12 19:42] alvynabranches opened #1780 "torchtext.legacy.data not available"
## 🐛 Bug

**Describe the bug** A clear and concise description of what the bug is.

torchtext.legacy.data module is not available in torchtext==0.11.0 (torch==1.11)

**Environment**

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py) (or
fill out the checklist below manually).

You can get t

[2022-06-12 19:49] dipta007 opened #1781 "Torchtext Dataset/Dataloader with generator"
## ❓ Questions and Help

**Description**

For a large corpus, I couldn't find any way to use an iterator in the dataset like the PyTorch dataset.
Is it possible to make a dataset from only the generator or implement something like a PyTorch dataset object which will dynamically pull the data?

[2022-06-13 14:33] parmeet commented on #711
@y12uc231  In torchtext 0.12 we have migrated our datasets on top of [torchdata](https://github.com/pytorch/data). You can look at datasets implementation that offer plenty of examples how to work with CSV files or refer the torchdata [documentation](https://pytorch.org/data/beta/index.html) for additional information on usage and available functionality in datapipes.

Datapipe for reading data fr

[2022-06-13 14:51] parmeet commented on #1779
Thanks @erip for the issue. I think this make sense. We do have [experimental version of it](https://github.com/pytorch/text/blob/e2fa8d80004be2d39fadd706ed7a51d8d0006599/torchtext/experimental/transforms.py#L241) that return IDs. In other tokenizer transforms (for eg: BERT, CLIP, GPT2BPE tokenizer), we now provide option to either return IDs or tokens. I think we should do the same for SentencePi

[2022-06-13 14:57] parmeet commented on #1780
hmm, interesting. It should be available in 0.11 version, we have removed it in 0.12 release.

[2022-06-13 15:07] parmeet commented on #1781
Hi @dipta007, In torchtext 0.12 we have migrated our datasets on top of [torchdata](https://github.com/pytorch/data). You can look at datasets implementation that offer plenty of examples or refer the torchdata [documentation](https://pytorch.org/data/beta/index.html) for additional information on usage and available functionality in datapipes.

In general, datapipes offer constructing iterable Da

[2022-06-13 20:02] atalman commented on #1766
Cherry pick PR: https://github.com/pytorch/text/pull/1784
Critical CI Fixses

[2022-06-13 20:15] #1710 closed

[2022-06-13 20:51] atalman commented on #1766
Cherry pick PR: https://github.com/pytorch/text/pull/1784
Critical CI Fixes

---
@atalman merged

[2022-06-13 20:52] atalman commented on #1766
Cherry pick PR: https://github.com/pytorch/text/pull/1786
Critical CI Fixes

---
@atalman merged

[2022-06-13 23:47] y12uc231 commented on #711
Thanks! This works!

Maybe a bit of a different question but do you know how to load Glove embedding vocabulary for my dataset?

[2022-06-14 04:15] Nayef211 commented on #1778
Hi @erip. I actually just tried replicating the error on my mac by following your repro steps but `import torchtext` is working fine for me. Could you try again to see if this might have been fixed in the latest nightlies?

@parmeet do you want to see if you're able to repro this?

[2022-06-14 14:23] parmeet commented on #1778
@Nayef211 , @erip Seems working fine on my mac as well. Couldn't repro the issue.

[2022-06-14 14:32] #1778 closed

[2022-06-14 14:38] parmeet commented on #1766
cherry pick PR #1788
Doc Fix

[2022-06-15 16:03] neychev commented on #1756
Found a local copy of the dataset and uploaded it to github (it's rather small). For now it is available via this link: https://github.com/neychev/small_DL_repo/tree/master/datasets/Multi30k

Just in case, all rights belong to the original authors of the dataset, this is only a temporal copy for convenience.

[2022-06-15 21:49] mreso opened #1793 "Segmentation fault on loading a tokenizer with torch.jit.load + map_location"
## 🐛 Bug

**Describe the bug** When saving a scripted tokenizer with torch.jit.save and loading it with torch.jit.load while giving a gpu device as map_location the program crashed with a segmentation fault.

**To Reproduce** Steps to reproduce the behavior:
Run:

[code]

**Expected behavior** My personal expectation was that the tokenizer would get silently loaded on cpu as there is no gpu implem

[2022-06-15 21:54] mreso commented on #1793
Maybe as addition context: I am trying to set the map_location during loading because I want to combine tokenizer and model with a Sequential transformation to save them into the same file.

[2022-06-15 22:26] mreso commented on #1793
Thanks @parmeet, that makes sense. From a user perspective I would prefer a more elaborate error message. Same when loading the tokenizer but torchtext is not installed. In this case I only get "Aborted (core dumped)". In Tensorflow for example you get a list of missing graph ops when an optional package is not installed but you're loading a graph that uses it.

[2022-06-15 22:57] mreso commented on #1793
Just noticed that I get "Aborted (core dumped)" even if torchtext is installed but I do not call "import torchtext" before executing torch.jit.load. Thats a tricky situation as in our use case (torchserve) we might not import torchtext explicitly in a something like a default request handler. Is it possible to through an exception in this case that we can handle instead of crashing the process?

Y

[2022-06-16 10:06] neychev commented on #1756
Example code to make it work (tested on Colab):

[code]

[2022-06-20 02:46] rrmina commented on #1756
Thank you! This worked for `train` and `valid` but not for `test` :( .

The test file being downloaded by torchtext (and torchdata) are from http://www.quest.dcs.shef.ac.uk/wmt16_files_mmt/mmt16_task1_test.tar.gz

Does anyone have the `mmt16_task1_test.tar.gz` file for the meantime? Thanks in advance!!!

P.S. I was able to work around the 'test' issue by making another tar.gz from the contents of

[2022-06-20 03:19] rrmina opened #1796 "'MapperIterDataPipe' object is not an iterator --- Error encountered when iterating IMDB Dataset"
## 🐛 Bug

Encounters **TypeError**: `'MapperIterDataPipe' object is not an iterator` when taking the `next` example from the iterator returned b  IMDB Dataset

**To Reproduce** Steps to reproduce the behavior:

[code]

**Expected behavior** A clear and concise description of what you expected to happen.

yields tuple of label (1 to 5) and text containing the news title and contents

**Screenshots*

[2022-06-20 04:52] rrmina commented on #1796
Seems like the errors are caused by deprecated API from the tutorial I am following. Closing this issue now.

Sorry for the trouble.

[2022-06-20 04:52] #1796 closed

[2022-06-20 15:07] cdeepali opened #1797 "Unable to compile torchtext v0.13 with CUDA"
## 🐛 Bug

Seeing the following error while building torchtext with FORCE_CUDA=1:

[code]

[code]
**To Reproduce** :

Build torchtext tag https://github.com/pytorch/text/releases/tag/v0.13.0-rc2 with FORCE_CUDA=1

**Expected behavior** .
It should build successfully.

**Environment**

OS: Red Hat Enterprise Linux 8.5 (Ootpa) (ppc64le)
GCC version: Anaconda GCC 11.2
Python version: 3.9.12 (main, Apr