[2018-08-22 14:41] chrishokamp commented on #366
np :smile: I'm also not super familiar with all the torchtext possibilities, but I think for your usecase it might suffice to change [this line](https://github.com/pytorch/text/blob/7ab2ee56c3590ec112da81cf09dcc057c0563b6b/torchtext/data/dataset.py#L248) to `examples = (make_example(line, fields) for line in reader)` and to change the context manager block (`with ... as`) to keep the `.csv` file o

[2018-08-22 15:01] SamLynnEvans commented on #366
Thanks again Chris!

Interesting... however I suppose processing the text each iteration will mean longer training time though? As it stands I will already be training the data for 2 days or so...

In terms of time optimisation wouldn't the best way be way to take a big hit and process the text all at once at the start? Even if I initially have to wait a bit, I'll see that time come back come trai

[2018-08-22 15:07] chrishokamp commented on #366
yeah i guess that's the intuition behind doing it all upfront, but I don't think that would be the bottleneck for NMT at least, since tokenization and batching should be quite fast compared to the time taken by the model for each mini-batch. Anyway I'd say look at [how Opennmt-py does it](https://github.com/OpenNMT/OpenNMT-py/blob/master/preprocess.py), because they also handle the case where your

[2018-08-23 01:15] hohoCode commented on #346
Exactly the same question, is there any official way to share vocabulary ACROSS fields? Thanks!

[2018-08-23 01:18] hohoCode opened #367 "How to share vocabulary ACROSS fields? Thanks!"
I think this question was asked before but got no responses.. Wondering is there any official way to share vocabulary ACROSS fields? How to do this?

Thank you!

[2018-08-23 09:51] domaala commented on #367
@hohoCode I think that if those two (or more) fields are preprocessed in the same way, then you don't need two (or more) different fields, but only a single one. For example, if there are two text columns in your `TabularDataset` and, let's say, a label column, you could use a single text field **twice** and a single label field once in the specification. That is:

[code]

Now, you need to build t

[2018-08-24 08:41] cswangjiawei opened #368 "How to use NestedField?"
What is the role of NestedField, the documentation says it is used to implement character embeddings, but I don't understand it. And how to use NestedField?

[2018-08-24 11:42] rumaak commented on #359
Solving this with `batch_size_fn` seems a bit cumbersome to me. If there really isn't a different way to use dynamic bptt besides implementing it by yourself, I think it could be a nice feature to add to already existing `BPTTIterator`. Maybe consider a PR?

[2018-08-24 13:06] akurniawan commented on #359
Sure thing, will do a PR probably next sunday. Thanks!

[2018-08-24 18:36] hohoCode commented on #367
Thanks for help! But my fields have very different formats, some in (nested) list, others in plain text sequence, or with special tokens (which requires extra parsing/tokenization). All I want is just to share the vocab among them. So it would be difficult to reuse the field twice..

[2018-08-24 19:05] domaala commented on #367
@hohoCode Seems that case is not supported yet, unfortunately. Take a look at #253. Maybe you could build vocabularies for each field separately, then merge them using the function given on link, and then finally set them manually to both fields. I am just tossing ideas around; maybe they don't make any sense. :)

[2018-08-25 08:01] rumaak opened #370 "Multi30k dataset splits method missing argument"
TL;DR
 `Multi30k.splits()` is missing argument `path`

I encountered a problem when loading Multi30k machine translation dataset. I have first donwloaded it to see the extensions needed and to go through data a bit before creating dataset. When I tried to create the dataset, I got `
FileNotFoundError: [Errno 2] No such file or directory: 'data/Multi30k/multi30k\\test.de'`... The name of test set i

[2018-08-25 09:51] domaala commented on #370
Same as #312.

[2018-08-25 11:05] rumaak commented on #370
Thanks, will move to #312

[2018-08-25 11:05] #370 closed

[2018-08-25 11:11] rumaak commented on #312
This problem breaks a functionality of part of library, it's about 3 months old and (correct me if I am wrong) all it takes to fix this is to add `path` argument to both `splits()` and `super(Multi30k, cls).splits()`. How is this issue not fixed yet (or why there isn't even a PR)?

[2018-08-27 16:15] rumaak commented on #355
https://torchtext.readthedocs.io/en/latest/data.html#field

I tried this, but unsuccessfully. When used pipeline deleting 0 from sequence, I get this error:

`ValueError: expected sequence of length 12 at dim 1 (got 11)`

I don't think there is anything closer to your use case than `postprocessing`, yet that doesn't seem to work. If anyone could try it out, it would be great.

Minimal example I us

[2018-08-28 00:46] hohoCode commented on #367
Thanks for the clarification.

[2018-08-28 00:46] #367 closed

[2018-08-29 17:57] Wuyou-HIC opened #371 "Try to get the vocab of NestedField but only get '[]'"
**- Here is the dataset**
----------------------
train1.csv: "3","EBay gets into rentals","EBay plans to buy the apartment and home rental service Rent.com for \$415 million, adding to its already exhaustive breadth of offerings."
test1.csv: "3","EBay gets into rentals","EBay plans to buy the apartment and home rental service Rent.com for \$415 million, adding to its already exhaustive breadth of

[2018-08-29 17:58] #371 closed

[2018-08-29 17:59] Wuyou-HIC opened #372 "Try to get the vocab of NestedField but only get '[]'"
# Here is the dataset

train1.csv: "3","EBay gets into rentals","EBay plans to buy the apartment and home rental service Rent.com for \$415 million, adding to its already exhaustive breadth of offerings."
test1.csv: "3","EBay gets into rentals","EBay plans to buy the apartment and home rental service Rent.com for \$415 million, adding to its already exhaustive breadth of offerings."

# Here is my

[2018-08-29 18:06] fernandocamargoti commented on #350
I have PyTorch 0.4.1 and the error still occurs. I've tried the @notnami workaround, but I receive:

'torch' has no attribute 'float32'

[2018-08-29 18:26] domaala commented on #350
@fernandocamargoti Please, try this:

[code]

This **should** work on PyTorch 0.4.1.

[2018-08-29 20:14] hohoCode commented on #346
Update: I think I got the answer. There is no official way to do so but we can do so on our own way.

[2018-08-30 03:28] Runingtime commented on #346
@hohoCode can you please tell me  the solution?

[2018-08-31 21:15] hohoCode commented on #346
@Runingtime I think it is possible to basically hack into the codes, and make the Vocab sharable across all fields. I am still on this and havn't made it working yet. Hopefully will be there.

[2018-09-02 20:13] soaxelbrooke opened #374 "Consider Adding --user to README Install Commands"
The README contains bare commands that by default will look like they need escalated permissions.  Many people are not experts in Python package management, and the `Permission denied` shown at the end of a failing `pip install` or `spacy download` will steer a lot of people towards running the commands as root, which for most is the wrong path to go down.  It would be good to add `--user` to thes

[2018-09-03 00:45] soaxelbrooke commented on #374
(I can put up a PR for this if it would be helpful)

[2018-09-04 15:20] ben0it8 opened #375 "Is there any way to concatenate two TabularDatasets?"
Hello,

Let's say I've split my train set to train and val and I also have a test set.
After performing some hyperparameter optimization, I want to train my selected model prototype on the entire available training set (i.e. train+val) without validating after epochs.

Is it possible to concatenate the two TabularDatsets somehow?

ben0it9

[2018-09-04 16:14] nabihach commented on #358
Thanks. Closing this for now. Once I get a chance to experiment with this, I will post here.

[2018-09-04 16:14] #358 closed

[2018-09-04 18:01] rumaak commented on #375
Yes, although it's not implemented directly in the library. My solution works with python `list`, but it doesn't seem slower than completely reloading the whole dataset. There are 2 similar solutions. In both cases, you need to extract list of `examples` from former datasets and create new one with these (meaning you will keep the former datasets). Then you just simply create new `Dataset` with th

[2018-09-04 19:07] ksurya opened #376 "Use "cpu" instead of None for representing device"
I think using device value as `cpu` instead of `None` will make `Iterator` class compatible with PyTorch device types [1] i.e., "cpu" and "gpu".

[1] https://pytorch.org/docs/stable/tensor_attributes.html

[2018-09-08 21:18] SamLynnEvans opened #378 "Adding vocab to field object"
Hi Everyone,

Is there any way of adding more vocabulary to a Field object that already has had its vocab built?

for example if at one point I have run this sort of code:

[code]

[2018-09-10 01:56] Blusea opened #379 "how to retrain the glove or other word vectorize algorithms?"
how to retrain the glove or other word vectorize algorithms?
Armed in search an sequence-based model for protain-protain binding prediction, it need to retain charactor vectorize model for amino acid sequence. In this repo, I just found the pretrained api.

[2018-09-10 08:29] pablogps commented on #201
Is there a way to use a pre-trained embedding that does not involve changing the source code? This seems like pretty important functionality! As a fast patch I would be very grateful if a pre-trained Spanish embedding were included in the default choices.

[2018-09-10 09:46] dizcza commented on #304
I still experience this issue in v0.4.1.
[code]

[2018-09-11 15:08] pablogps opened #380 "Consider adding: spacy tokenizer in other languages"
Currently a field may take "tokenize='spacy'" to use spacy (English) as tokenizer. This is really convenient. Unfortunately, it only works in English. Other languages (Spanish) would be much appreciated, and should be a small update.

Thanks!

[2018-09-11 15:27] mttk commented on #379
This repository only contains data loaders (for vectors and common datasets).

If you want to train the vectors from scratch on a different corpus, I'd suggest you take a look at the official implementations of word2vec / GloVe / FastText.

If you want to fine-tune the pre-trained vectors which can be loaded via torchtext, you need to define a model with pytorch.

[2018-09-11 15:35] mttk commented on #378
There's two options:

the `build_vocab` method accepts a variable number of datasets. So, if you want to add the vocabulary from `dataset_b` to `dataset_a`, you can simply do it by calling `TEXT.build_vocab([dataset_a, dataset_b])`

In the second case, where you just have a list of words and not another dataset, I'd suggest extending the `stoi` and `itos` variables of the built vocab (`TEXT.vocab.

[2018-09-11 15:37] #275 closed

[2018-09-11 17:07] mttk commented on #380
This seems reasonable, if you could formulate this in a PR, it would be great.

[2018-09-11 17:40] pablogps commented on #380
I'll give it a try and report back!

[2018-09-12 09:02] JJAlmagro opened #381 "Language modelling dataset only one sample"
[code]

This returns a length of one. It should print the length of the whole dataset. I have tried both with version 0.2.3 and 0.3  and none of them worked.

[2018-09-12 09:29] mttk commented on #381
While confusing, this is actually expected behavior. The language modelling datasets accept one (or multiple) lines of continuous text. Since WikiText2 is stored in one line, it will appear as there is "one" training sample.

However, when constructing the `BPTTIterator` (line 24 of the example script), the "one" sample (with a large word length) will be separated into length 30 examples (via argu

[2018-09-14 11:49] nzw0301 commented on #336
Yes, we need to pass `random.getstate()` to `random_state`, not `int`.
Ex. https://github.com/pytorch/text/blob/7f0ed40229d680e64dc3fefbb39f2dccc255eb07/torchtext/datasets/sequence_tagging.py#L95

So document seems to be wrong...

[2018-09-14 12:20] #312 closed

[2018-09-14 15:08] notnami commented on #350
As of Pytorch 0.4.1, this is no longer a problem, so I think this issue should be closed.

[2018-09-15 10:40] skurzhanskyi commented on #378
@mttk, but for if I do not have test data before the training and I want just to update the vocabulary to predict test?

[2018-09-15 13:29] mttk commented on #378
I'd say the best way (right now) is to manually extend `stoi` and `itos` with the new words and concatenate the vectors to your embedding matrix (where you have to make sure that indices match).

Allowing the vocab to be extended after being constructed seems like a reasonable change, but I'm not sure when I'll get the time to implement it.

[2018-09-15 14:08] skurzhanskyi commented on #378
Thanks a lot for the quick answer. Currently, there's the method `Vocab.extend`. It also may be helpful, but in this case, you should create your own `Vocab` for the test set. Not sure about it at the moment.

[2018-09-15 14:57] skurzhanskyi commented on #378
Should I extend a new field or the old one? Because when I tried to extend the old one (what seems logically) I get significantly worse results. Maybe the reason is that when you use your new field in `data.TabularDataset` it becomes somehow related to your test data. So, you should extend new filed, but to keep all indexing changes in your embedding. Am I doing right?

[2018-09-15 15:49] mttk commented on #378
Which field you are extending shouldn't matter (basically all that fields do is convert strings to indices and tokenize). Can you first manually check that both the str-index mappings are good after you extend the fields?

If it still doesn't work, paste some minimal reproduction if you can and I'll look into it.

[2018-09-16 12:21] rumaak opened #384 "Translation splits error when not downloading dataset first"
Thanks @AngusMonroe for finding this! The problem is that the absence of dataset is not addressed when creating splits. Minimal example:

[code]

[2018-09-16 12:28] rumaak commented on #384
I am currently busy and can't work on it (possibly for a few days) so if anyone wants to submit PR, go for it. Otherwise, I will take a look at it as soon as possible.

[2018-09-17 08:36] skurzhanskyi commented on #378
Thanks a lot for your help, Martin.
Steps that helped to solve this:
- create new text field (with the same parameters as previous one)
- load new dataset using this field
- build vocabulary for this field for this dataset
- extend previous filed's vocabulary with the new one
- link new dataset with the old filed (which was extended) like
`data_test.fields['text'] = OLD_TEXT_FIELD`

[2018-09-17 10:13] mttk commented on #384
#385 fixes this.
Unrelated, but note the `root` should be the `.data` or `data`, or whichever folder _contains_ the `multi30k` folder as the name gets appended automatically.

[2018-09-17 10:13] #384 closed

[2018-09-17 14:49] mttk commented on #355
So, the lifecycle of a dataset goes as follows:

1. `preprocess` is called on example-level (row-by-row), but at this moment the vocabulary is not yet built
2. `build_vocab` is called on the pre-processed dataset, mapping the strings to indices
3. `process` is called (pad & numericalize) on an already constructed batch (by an `Iterator`)
4. (optional) 'postprocess' is called

You can't fit this pa

[2018-09-17 22:04] ben0it8 opened #387 "AttributeError: type object 'Example' has no attribute 'fromTSV'"
I have lately encountered  **AttributeError: type object 'Example' has no attribute 'fromTSV'** which have never happened before. It was raised when calling TabularDataset.splits().
I'm using torchtext 0.2.1.

Thank you for any help!

[2018-09-18 08:17] mttk commented on #387
`fromTSV` was removed in favor of `fromCSV`, which handles both cases since #217. However, this happened after 0.2.1 (https://github.com/pytorch/text/blob/v0.2.1/torchtext/data/example.py), so I'm not sure what's the cause of the error.

Could you remove and reinstall the package and see if this happens again?

[2018-09-18 11:16] davidalbertonogueira opened #388 "Problem with data.Field preprocessing"
As it can be seen in the code sample below, we get different results if
* we pre-process a text with a certain _**text_processor**_ and then create an Example with a data.Field() without a preprocessing Pipeline vs
* creating an Example with the text as it is, with a Field(preprocessing=data.Pipeline(lambda x : _**text_processor**_(x))

Using the Field preprocessing pipeline, the  _**text_processo

[2018-09-18 13:18] mttk commented on #388
I see. A workaround for the time being would be to define your own `tokenizer`, which you could create as following:

[code]

And you can simply pass `tokenizer = my_tokenizer` to the `Field` constructor. I haven't tried this, but it should work.

[2018-09-18 22:33] felipebravom opened #389 "Problem processing a text regression dataset"
Hi,
I'm trying to train a regression model for emotion intensity prediction.
My data looks as follows:

[code]

So, I would like to get the intensity_score appended to my batches as a float column, so I can apply a regression loss function such as L1Loss.

However, I can't figure out how to declare numeric labels in torchtext.
My code is given below:

[code]

and I'm getting the following error:

[2018-09-19 07:45] mttk commented on #389
Which `torchtext` version are you using?
I tried loading on master, and while there is an unrelated bug (which will be fixed shortly), everything works fine.

[2018-09-19 14:03] mttk commented on #322
@AveryLiu @caolusg there's unfortunately no other elegant way to do it, those values are currently hardcoded. This would be a reasonable change.

[2018-09-19 20:08] mttk opened #391 "Fix / clean the docs"

[2018-09-19 20:12] mttk commented on #376
Sure, could you submit a PR for this?

[2018-09-20 06:19] mttk commented on #389
Great!

[2018-09-20 06:19] #389 closed

[2018-09-20 06:57] #287 closed

[2018-09-20 07:02] #309 closed

[2018-09-20 07:05] mttk commented on #310
Fixed in #351

[2018-09-20 07:05] #310 closed

[2018-09-20 08:10] mttk commented on #356
@WrRan this will be fixed when #392 lands, but an alternative is to use `root` and pass `root='/dir/to'`, without the dataset folder. This is pretty obfsucated and will be cleaned up soon.

[2018-09-20 09:03] #365 closed

[2018-09-21 04:19] kylase commented on #372
I have the same issue for using `NestedField` to do character-level embedding.

I followed the [test script](https://github.com/pytorch/text/blob/master/test/sequence_tagging.py#L69) but `CHAR.vocab.freqs` is empty.

[2018-09-21 08:02] mttk commented on #285
Closing as #285 has landed.

[2018-09-21 08:02] #285 closed

[2018-09-21 12:44] nzw0301 opened #398 "SubwordVocab's stoi and itos change if it is called more than once"
If `SubwordVocab` is called more than once , `SubwordVocab.stoi` and `SubwordVocab.itos` will be strange except for the first one.

Example code:

[code]

Output:

[code]

This is because `specials` is updated inside `SubwordVocab__init__` due to call by reference.

[2018-09-21 13:21] #398 closed

[2018-09-21 15:35] mttk commented on #322
Fixed in #400

[2018-09-21 15:35] #322 closed

[2018-09-21 15:35] mttk commented on #354
Added in #397

[2018-09-21 15:35] #354 closed

[2018-09-21 16:54] manuelsh commented on #354
Amazing, thanks!

[2018-09-23 15:46] tkondrashov commented on #289
same error, very simple code to trigger it:
`import torch
from torchtext import data
from torchtext import datasets

inputs = data.Field(lower=True, include_lengths=True, batch_first=True)
train, dev, test = datasets.IWSLT.splits(root='.data', exts=['.en', '.de'], fields=[inputs, inputs])
`

[2018-09-24 01:30] ksurya opened #406 "BucketIterator iterating more than the length"
I have code like this:

[code]
[code]

Following this, I do

[code]

And this program doesn't stop (at least I checked until count = 3000). I suppose it should iterate just once!

[2018-09-24 13:57] mttk commented on #289
@tkondrashov python 2.7, right?

[2018-09-24 14:15] nzw0301 commented on #406
Yes, your code does not stop.

`Iteration` class's behavior may be confusing. If you want to iterate just once, you need to pass `False` to `repeat` argument like this.

[code]

`False` as the default value of `repeat` seems to be better than `None`.

[2018-09-24 14:18] ksurya commented on #406
Does this mean, the iterator keeps repeating and is there a way to fix the number of repeats?

[2018-09-24 14:40] nzw0301 commented on #406
Yes, if you want to iterate just once in each epoch, my code snippet above can do that.

[2018-09-24 15:19] #289 closed

[2018-09-24 19:58] #372 closed

[2018-09-24 21:41] mttk commented on #355
Agreed, but the best way is not yet completely clear to me right now because I dislike going over the whole dataset so many times (1. loading, 2. building vocab, 3. filtering and 4. batching). And you can filter UNKs only after you've constructed the whole vocab.

This filtering would ideally happen _during_ numericalization, but it doesn't fit into the current lifecycle so I'd like to restructure

[2018-09-25 15:38] ksurya opened #414 "SOS and EOS tokens are not recognized when Field is used by multiple TabularDataset"
I have a data file that already contains SOS and EOS tokes. There are multiple files but I need to maintain common vocabulary.

I create a field object `text_field = torchtext.data.Field(sequential=True, batch_first=True)`

Use the field object with two TabularDataset instances.

[code]

The `text_field.vocab.stoi` dictionary does not contain SOS and EOS tokes that are in the files.

If I just bui

[2018-09-25 15:55] mttk commented on #414
`build_vocab` always constructs a new vocab from scratch (and doesn't extend the old one).
However, you can pass multiple datasets to it. Can you try running `text_field.build_vocab(ds1, ds2)`?

[2018-09-25 17:56] ksurya opened #415 "Documentation not rendered"
<img width="984" alt="screen shot 2018-09-25 at 1 55 40 pm" src="https://user-images.githubusercontent.com/932927/46032877-c53f8000-c0ca-11e8-825b-214fe40ebb29.png">

[2018-09-25 18:05] mttk commented on #415
Yup, there's some issues with rendering up-to-date documentation that we are aware of and working on fixing ASAP.

[2018-09-25 20:00] ksurya commented on #406
Thanks you.  I would suggest to set  default `repeat` to `True` in `BucketIterator` -- that may break existing codebases but I think typically iterators are not in infinite loop.

[2018-09-25 20:16] ksurya commented on #414
Thank you, its working.

[2018-09-25 20:16] #414 closed

[2018-09-25 20:51] mttk commented on #406
Yeah, I believe it is more or less agreed that the default infinite loop in Iterators is confusing.

I'd say that the expected behavior is to iterate for one epoch (so, the default would be `repeat=False`), and leave the infinite loop as an option if users prefer it. This might break something backwards but it's manageable.

[2018-09-25 22:15] manuelsh opened #419 "Feature request: add ELMo vectors"
They are new state-of-the-art word embeddings.

See: https://allennlp.org/elmo

Thanks!

[2018-09-25 22:20] manuelsh opened #420 "Feature request: add Roten Tomatoes and AGNews datasets"
Would be fantastic to have these two datasets, as they would make the new model testing faster!

Datasets available here:

Roten Tomatoes (sentiment analysis):
https://www.kaggle.com/c/sentiment-analysis-on-movie-reviews

and

AGNews (text classification):
https://www.di.unipi.it/~gulli/AG_corpus_of_news_articles.html

Thanks!

[2018-09-26 08:38] mttk commented on #419
ELMo works on sentence level (and requires loading a pretrained model, not only a dictionary), which is _currently_ out of scope of the library. Adding ELMo and CoVe would be nice, but I'm not sure when it's going to happen.

[2018-09-26 08:47] mttk commented on #341
Not _yet_, but this is something planned.

[2018-09-26 09:33] mttk commented on #419
It does, but it produces those vectors through a BiLSTM, which requires the whole sentence as context.

Quote from the blog post: "Embeddings from Language Models (ELMos) use language models to obtain embeddings for individual words while taking the entire sentence or paragraph into account."

and

"Concretely, ELMos use a pre-trained, multi-layer, bi-directional, LSTM-based language model and ext

[2018-09-26 10:00] manuelsh commented on #419
Hi @mttk

That's the same case with other embeddings, like word2vec, where they are obtained from a model that takes context into account (e.g. n-grams) and then one can use the pre-trained vectors in other model.

I believe in https://allennlp.org/elmo there are weights from pre-trained ELMos vectors, taken with models trained with wikipedia corpus.

[2018-09-26 10:03] manuelsh commented on #419
So when it says: "Then, they compute a weighted sum of those hidden states to obtain an embedding for each word."  this is how the embeddings for each word are obtained, I think. :-)

[2018-09-26 10:13] mttk commented on #419
It's not the same case as the other word embedding models such as word2vec generate a "word : vector" dictionary. ELMo produces a model which produces those weights. This requires, at some point, loading the model as a pytorch module.

You can read [this](https://github.com/allenai/allennlp/blob/master/tutorials/how_to/elmo.md) tutorial and also download and open the [weights](https://allennlp.org

[2018-09-26 11:04] manuelsh commented on #419
I see your point now... the phrase "Then, they compute a weighted sum of those hidden states to obtain an embedding for each word." confused me.  Thanks @mttk !

[2018-09-26 12:58] jueliangguke opened #422 "What's the meaning of "repeat" parameter of torchtext.data.Iterator?"
In Docs, this parameter is described as "Whether to repeat the iterator for multiple epochs.". But how to understand "repeat the iterator"?

[2018-09-26 12:59] jueliangguke opened #423 "Can I use the generated batch as the input of a tensorflow model?"

[2018-09-26 13:06] mttk commented on #422
It means that instead of iterating for one epoch, the iterator continues infinitely until stopped (in cases where you measure performance after # iterations and not # epochs).
The default will soon be changed to `False` (so the iterator will stop after one epoch).

[2018-09-26 13:07] mttk commented on #423
The generated batch is a torch Tensor, from which you can extract a numpy matrix and construct a Tensor in tensorflow. Constructing a tensorflow tensor is currently not supported.

[2018-09-26 20:50] #59 closed

[2018-09-26 20:51] #124 closed

[2018-09-26 20:54] #187 closed

[2018-09-27 01:30] jueliangguke commented on #422
@mttk I see, thanks for your answer!

[2018-09-27 01:30] #422 closed

[2018-09-27 02:35] righ120 commented on #131
Same thing happened to me.

`
class TranslationDataset(data.Dataset):
    """Defines a dataset for machine translation."""

    @staticmethod
    def sort_key(ex):
        return data.interleave_keys(len(ex.src), len(ex.trg))

    def __init__(self, path, exts, fields, **kwargs):
        """Create a TranslationDataset given paths and fields.

        Arguments:
            path: Common prefix of p

[2018-09-27 04:45] jueliangguke opened #424 "What is "parse_field" for?"
In torchtext.datasets.SNLI.splits, there is a parameter named "parse_field". I found if setting this field with a "datasets.snli.ShiftReduceField" object, the vocabulary becomes much smaller and SNLI accuracy always improves (compared with default value). It is amazing! But I can't find any description about it...

[2018-09-27 08:16] rumaak commented on #424
https://github.com/pytorch/text/blob/master/torchtext/datasets/nli.py#L57

I am not familiar wit the corpus itself, but quick search found me this, so you might want to check it out.

[2018-09-27 11:19] mttk commented on #355
Closing as #413 landed

[2018-09-27 12:33] rumaak commented on #355
@mttk why reopen?

[2018-09-27 12:35] mttk commented on #355
@rumaak I remembered that this is just a temporary solution :)

[2018-09-27 17:51] mttk commented on #131
@righ120 when #426 lands, this should be fixed. Please let me know if it isn't

[2018-09-27 19:31] kklemon commented on #368
The documentatin for NestedField is indeed a bit sparse. From my understanding the intention is to inherit attributes like the vocabular or tokenizer between different fields. Basically like normal inheritance for classes, but just specifically for fields. For example you might have a base Field that does tokenization and then different nested fields that inherit the tokenizer from the base field

[2018-09-27 19:38] kklemon commented on #347
Why can't you just apply @domaala trick after you did the training? What use case do you specifically?

[2018-09-28 03:21] AngusMonroe opened #427 "io.UnsupportedOperation: not readable"
I got  this error when I loading data.

[code]

It seems like the mode of `src_file` and `trg_file` is incorrect.

Maybe change the code in `translation.py` like this would fix the problem.

[code]

[2018-09-28 07:53] kklemon opened #428 "How to use TranslationDataset with an encoder-decoder architecture?"
In an encoder-decoder architecture (see for example [1]) one would normally have an encoder module that learns to create a sparse vector representation of some input data, e.g. a text to be translated and a decoder that is trained to produce the translation from those vector while fed with its own previous output.

During training one would just feed the target text to the decoder shifted by one t

[2018-09-28 08:38] mttk commented on #427
whoops, fixing immediately, an error while c/ping that didn't get caught by tests.

[2018-09-28 08:42] mttk commented on #427
Can you please check if this is ok after #429 lands?

[2018-09-28 09:05] mttk commented on #428
Firstly, regarding the translation architecture: AFAIK, the way to handle the `<sos>` tokens can be seen in these two lines of Keon's minimal seq2seq:
[Fields](https://github.com/keon/seq2seq/blob/master/utils.py#L18), here you basically create the input to the decoder with the start token.
[Loss](https://github.com/keon/seq2seq/blob/master/train.py#L36), here the token is "removed" for the output

[2018-09-28 09:15] fuzihaofzh opened #430 "How to escape empty line?"
I have a text file with some empty lines inside. If I run `build_vocab`, it will crash since example have no text for empty lines. How can I deal with this situation? I foud that there is no function in TabularDataset that can handle.
Thanks

[2018-09-28 09:33] fuzihaofzh commented on #430
Hi, @mttk ,
This is the code, input text and trace. I just want to escape the empty, can I add some preprocessing function to it?
Thanks for your help.

code:
[code]
Input:
[code]

[code]

[2018-09-28 10:15] fuzihaofzh opened #431 "How to filter low frequency words?"
I wonder how to filter the low-frequency words or is there any way to constrain the size of the vocabulary?

[2018-09-28 10:52] mttk commented on #431
you pass these as arguments to the `build_vocab` method, ex:

[code]

[2018-09-28 11:07] mttk commented on #430
So the hotfix I can offer (assuredly not the best) is to replace the blank lines with some symbol (whitespace works).

I'm thinking of how to fix this but I'm not sure what the default would be. Probably setting a specialized `<blank>` symbol to empty lines?
What do you expect to get as text in those blank lines?

[2018-09-28 11:29] mttk commented on #430
You can currently add a preprocessing hook to the field (argument `preprocessing=`) which is applied _after_ tokenization (on the tokenized list). Essentially, you can manually set the blank lines to `<blank>` and handle them with your custom preprocessing function.

However, that won't work in the case of empty lines as no data is assigned to those fields prior to constructing the vocabulary (thi

[2018-09-28 11:37] fuzihaofzh commented on #431
It solved by that. Thanks.

[2018-09-28 11:37] #431 closed

[2018-09-28 20:35] kklemon commented on #428
Thank you for the detailed reply!

This is what I meant before when I said that with the current design, undecent _hacks_ are required to achieve such things so I'm glad you also see it the same way.

I mean, as far as I know there is no official philosophy behind Torchtext except for the things that can be derived from the code, but I see Torchtext as a great library that puts a layer of abstract

[2018-09-28 21:30] mttk commented on #428
In _this specific_ case I'd argue that the hacky way is better than having two outputs (<sos> and no <sos>) since the memory overhead is much larger than the time. But yeah, the current fields are very rigid.

So far, the function of `torchtext` split to classes is as follows:

1. `Dataset` is responsible for downloading, loading and storing data data from variable sources and  folder structures i

[2018-09-29 12:06] AngusMonroe commented on #427
Thx. This commit is work for me.

[2018-09-29 12:07] #427 closed

[2018-09-29 13:53] keitakurita commented on #349
I can imagine people wanting to read tsv/csv files that have text fields containing newlines by using quotations as well, so I'm not sure setting `quotechar` to `None` by default is a good idea. For me, it seems like a quotation mark being at the head of a field while not being used to contain text seems more like an edge case, though I'm open to being convinced otherwise.

A better workaround wou

[2018-09-29 15:31] keitakurita commented on #428
I'm not sure if this is the appropriate place to discuss this, but I do have a few ideas for how to handle the 1:1 relationship between dataset field and Field object in the short term:

1. Create a Union Field
One way to accomplish the above change without significantly changing the API is to create a Union Field that manually maps a single field in the dataset to multiple field objects in Torcht

[2018-09-30 11:07] KrisKorrel commented on #349
I agree with your arguments @keitakurita so this seems like a good solution. Thanks!

[2018-09-30 11:07] #349 closed

[2018-10-02 03:39] #424 closed

[2018-10-03 07:38] caolusg opened #433 "Specified Field tensor_type torch.float32 can not be used with use_vocab=False because we do not know how to numericalize it."
The output/label of the training set is a float type, I want to use it directly but got the issue. how to solve it?

[2018-10-03 08:59] mttk commented on #433
That's odd, as `torch.float32` is in the `dtypes` of a `Field`. Can you paste the code snippet where you create the field?

[2018-10-03 10:12] MFajcik opened #434 "Large vocabulary for model deployment"
Hi,
I am still confused about using vocabs in torchtext. Assume that my model is perfectly trained and I want to deploy it. The model can work with much larger vocabulary, than it has seen in the training data.
How do I create field with vocabulary as big as possible?
Thanks.

[2018-10-03 11:13] mttk commented on #434
If you're loading word vectors, then your vocab will (by default) keep all those vectors which are loaded from the vector file.
Could you elaborate your concrete use-case?

[2018-10-03 13:12] MFajcik commented on #434
Assume that

[2018-10-03 13:27] MFajcik opened #435 "Character level CNN-based embeddings"
Hi,
are there any plans for adding character CNN-based embeddings into torchtext? (Popularized by Kim et al. https://arxiv.org/abs/1508.06615).

[2018-10-03 14:41] mttk commented on #435
Doing that is the responsibility of the model -- right now, you can obtain character level vocabularies for Fields w/ one-hot vectors (via NestedField), and you can feed those into a nn.Embedding, as you usually do with word embeddings.

[2018-10-04 02:11] caolusg commented on #433
hi, thank you for your reply, I have found the issue, I should put torch.FloatTensor but I put tensor.float

[2018-10-04 02:11] #433 closed

[2018-10-04 21:09] CoderINusE opened #436 "No argument `max_vectors` in torchtext.vocab.Vectors.__init__()"
No argument `max_vectors` in torchtext.vocab.Vectors.__init__() for torchtext 0.2.3. Why there is not information about the 0.3 version in README? Pip is not able to find the version 0.3.0 with error: "Could not find a version that satisfies the requirement torchtext==0.3.0 (from versions: 0.1.1, 0.2.0, 0.2.1, 0.2.3)". What should I do?

I'm using PyTorch 0.4.1 and Python 3.6.

[2018-10-04 21:45] mttk commented on #436
I believe 3.0 is not yet released. For now, you can install from master (clone the repo and run `python setup.py`).

[2018-10-04 21:59] CoderINusE commented on #436
I knew that but the official docs give information about new features so it is a little misleading.

[2018-10-04 22:02] mttk commented on #436
Agreed, we'll release 3.0 to pypi sometime next week. The docs had some issues up until recently so there's unfortunately no versions of docs for previous releases.

[2018-10-05 12:50] #435 closed

[2018-10-05 13:14] MFajcik commented on #434
Okay, yesterday I thought I have found the solution but... I did not.
To elaborate, assume the following example:

1. I have a field `contexts` which contains vocabulary put together from training and validation data `contexts.build_vocab(train_data, val_data, vectors="fasttext.en.300d", vectors_cache=config["vectors_cache"])`.
2. I train my model (vectors are fed to `torch.nn.Embedding` via `embe

[2018-10-05 14:44] MFajcik commented on #434
To include all the embeddings, I do the following
[code]
But I guess this is a bit hackish.

[2018-10-06 03:54] seilna opened #437 "Does `BucketIterator` support `num_workers` argument?"
At docs for [`BucketIterator`](https://torchtext.readthedocs.io/en/latest/data.html#bucketiterator),
[code]

It seems that there no options for setting `num_workers`. Is there anything I missed? or Is it the case?

[2018-10-06 06:52] cswangjiawei opened #438 "batch_szie changed"
In an epoch training process, the size of batch suddenly changed, why？
![error](https://user-images.githubusercontent.com/33107884/46568404-ed569b00-c976-11e8-81e3-2a5ffe5ecb88.jpg)

[2018-10-06 09:08] mttk commented on #438
If the length of your dataset is not divisible with your defined `batch_size`, the last batch in an epoch will contain the overflow examples.

So, if you have a batch size of 32 and 100 examples, the last 4 examples (after 3 size-32 batches) will be the last batch. This will be changed so you can control it with an argument in the near future, for now I'd recommend to check whether the tensor batc

[2018-10-06 09:13] mttk commented on #437
This is correct, `BucketIterator` at the current state does not support multithreading.

[2018-10-06 15:03] raheelqader opened #439 "Sharing vocab"
I know this question has been asked before but no clear answers were given. I'm wondering if its now possible to share the vocab across fields even if they use different special tokens. For example when the trg field has bos and eos tokens but the src doesn't.

[2018-10-07 01:48] cswangjiawei commented on #438
When my batch_size is set to 128, the dataset has a total of 313 batches, but why in the 305th batch, the size of the batch becomes 64. I have done two experiments before, and in the 312th and 301th batches, the size of the batch has changed to 64. Why did not the size of the batch change when the 313th batch is used? Shouldn't the size of the last batch change?

[2018-10-07 18:12] kklemon opened #440 "Behavior of Iterator regards sorting is confusing"
I noticed that the behavior of Iterators.splits() is a bit confusing regarding how and if it applies sorting to the passed datasets. In particular when you pass different datasets to Iterator.splits() without providing a specific sort key either to the dataset or to the splits() method, sorting will be enabled for all returned iterators except the first one, the one for training respectively. This

[2018-10-08 08:27] rahulbhalley opened #441 "UnicodeError while creating TabularDataset"
I am following the tutorial which can be found [here](https://github.com/DaehanKim/torchtext_tutorial/blob/master/torchtext_tutorial.ipynb).
The code is written as following:

[code]

[2018-10-08 11:16] raheelqader opened #442 "Field of raw text"
I need a field to store my source text as as raw text. Is there a way to achieve this?

I tried to use RawField but it fives met this error: AttributeError: 'RawField' object has no attribute 'is_target'. I think #288 is causing the error.

[2018-10-08 13:08] raheelqader commented on #439
I found a solution:
trg_field.build_vocab(train_dataset.src, train_dataset.trg, max_size=vocab_size)
src_field.vocab = trg_field.vocab

The src_field's vocabulary will contain the sos and eos tokens which are not necessary but thats OK I think.

[2018-10-09 14:37] simonjisu opened #443 "[torchtext.datasets.WMT14] loading path error"
Hi! I'm wondering problem in loading dataset-WMT14 using `splits` method.

When i run code below (my data are downloaded in `./data/` using `.download(root='./data/')` method )
[code]

and i got error: no file `test.de`

so i copy `newstest2014.tok.bpe.32000`  and changed file name as `test.de` and `test.en`

after code runs well but i got only 3000 training sets

[code]
i found that `newstest2013

[2018-10-09 21:29] bentrevett commented on #443
I believe this was fixed by https://github.com/pytorch/text/pull/377, if you build TorchText from source it should be fixed.

Hopefully they'll push these updates to pypi soon!

[2018-10-10 04:14] nzw0301 commented on #441
My code based on your snippet works with the latest `torchtext`.
You can solve this isseu by upgrading your `pytorch` and `torchtext`.

[code]

[2018-10-10 04:36] rahulbhalley commented on #441
@nzw0301 thanks for replying. Can you please verify if `torchtext`'s latest version is `0.2.3`?

[2018-10-10 04:39] nzw0301 commented on #441
No, `0.3.0` is the latest stable version via `pip`.

[2018-10-10 04:47] nzw0301 commented on #441
Yes, but I mean that you use the master branch's code because the latest stable is a little bit old...

To install the master branch code, you run commands below:
[code]

BTW, the code also works on my environment (MacOSX, anaconda2-latest, pttorch=0.4.1, torchtext=0.2.3).

[2018-10-10 04:58] rahulbhalley commented on #441
Now I am on `torchtext 0.3.0` version but still the same error. 😞

[2018-10-10 05:10] nzw0301 commented on #441
`PyTorch 1.0 nightly-build` is also fine on my env... Sorry, I have no idea to solve your issue, but your error may occur by outside of this repo.

[2018-10-10 14:30] mttk commented on #441
Could you try downloading `polarity.tsv` again and running again with the fresh download (without opening the downloaded file in any editor)?

[2018-10-10 14:32] mttk commented on #439
Essentially, your solution is something that can work. The `vocab` is just an attribute, and you can manually assign a built vocab to another `Field`. There should be some support for initializing a `Vocab` based on an already built one, or based on some frequencies. I'll look into it.

[2018-10-10 16:35] rahulbhalley commented on #441
Thanks @mttk. I guess the problem was that I opened raw version of `polarity.tsv` in GitHub and then saved it.
Now I just ran
[code]
and loaded `polarity.tsv` & it fa*king worked! Thanks a lot!

[2018-10-10 16:35] #441 closed

[2018-10-10 23:44] akurniawan opened #444 "Multiple Fields on LanguageModeling Dataset"
Currently we only accept single field on `LanguageModellingDataset` constructor
https://github.com/pytorch/text/blob/499e327ea53bdf67c648f5747ed26764283b968a/torchtext/datasets/language_modeling.py#L8

That assume people will only use word embedding to parse the dataset. To throw one example, according to this paper https://www.aaai.org/ocs/index.php/AAAI/AAAI16/paper/download/12489/12017, it is p

[2018-10-11 14:44] bentrevett commented on #444
Could you give an example of how to use this? The following only gives me the `text` field:

[code]

I had to change `if isinstance(fields, dict)` to `if not isinstance(fields,dict)` which correctly matches up with the `ValueError` message, but that might have also caused my problems.

[2018-10-11 14:56] yiqiaoc11 opened #445 "How to bypass downloading dataset?"
I had some customized dataset and a glove.840B at hands. How can I use the dataset and interpret it by the
glove.840B without downloading?

[2018-10-11 16:38] yiqiaoc11 commented on #445
Actually, I’d like to use an unzipped dataset and parse it by glove.6B. Could you give an example? Thanks.

________________________________
From: Martin Tutek <notifications@github.com>
Sent: Friday, October 12, 2018 12:22 AM
To: pytorch/text
Cc: yiqiaoc11; Author
Subject: Re: [pytorch/text] How to bypass downloading dataset? (#445)

If you want to use already downloaded vectors, you should set t

[2018-10-11 23:37] akurniawan commented on #444
@bentrevett sorry, I think I put the wrong code. This should be the right one
[code]

and we may need to create a new `BPTTIterator`, since for now the `BPTTIterator` still hardcoding the fields `TEXT` and `TARGET`

[2018-10-12 03:56] tcqiuyu opened #446 "Vocab vectors using complete pretrained-embedding?"
I am new to pytorch and nlp. I have a question when I tried to build a model.

Since my training dataset is not so big, the size of its _vocab_ is relatively small (around 5000). However, I want to deal with any other user input which could be out of this vocabulary.

The problem is, in the model I trained, the embedding layer's weight is based on the vectors of the field, not the **whole** word2v

[2018-10-12 08:38] yiqiaoc11 commented on #445
I'd like to split unzipped SNLI dataset at hands. Is there a way similar to datasets.SNLI.splits(), but not downloading again? Thanks.

[2018-10-12 13:34] mttk commented on #446
Yeah, I believe that there isn't a way to do this _currently_ other than 1. loading the `Vectors` object and then 2. changing the `stoi` and `itos` of the _already built_ vocab object (Field.vocab) to include all the words in the vectors file.

This is something that will be changed in the near future, but there is no easy way to do now.

[2018-10-12 14:15] tcqiuyu commented on #446
Thanks for answering.

For now can I update all words in the pretrained embedding dict to a Counter then pass it to construct a Vocab? In this way will I get a complete word vector?

Thanks for answering.

For now can I update all words in the pretrained embedding dict to a Counter then pass it to construct a Vocab? In this way will I get a complete word vector?

[2018-10-12 14:18] mttk commented on #446
Yeah, that actually also sounds like a good option. You can create your own `Vocab` instance from a `Counter` and assign it to a `Field` manually.

[2018-10-12 17:35] andreazampieri commented on #442
Hi!
I just encountered this problem myself, and for now I came up with this workaround [it's very unelegant but it should do the work]

[code]

Basically i modify on the fly the RawField adding the field that's missing

[2018-10-12 18:24] nryant opened #447 "Apparent bug for ``torchtext.data.vocab.Vocab`` causing collisions between OOV words and in vocab words."
When using `torchtext` version 0.3.1, I notice a rather alarming bug affecting `torchtext.vocab.Vocab` that causes collisions between OOV words and non-OOV words. When a vocabulary is instantiated with `specials_first=True`, there is a collision between OOV words and the first special word:

[code]

which yields:

[code]

Similarly, when `specials_first=False`, there is a collision between OOV wor

[2018-10-12 20:21] GeoffNN commented on #290
Is there any example of using it with a FastText embedding?

[2018-10-12 21:02] GeoffNN opened #448 "Bug in SubwordField.build_vocab when max_size==None"
`None` gets sent to `revtok.SubwordSegmenter`, then yielding the error

[code]

`revtok.SubwordSegmenter(counter, max_size)` should be called with `max_size = len(counter)` if it's set to `None`.

[2018-10-14 08:42] simonjisu commented on #443
@bentrevett , @mttk Thanks!!!

[2018-10-14 08:42] #443 closed

[2018-10-14 11:30] harkous opened #449 "Adding `is_target` to `LabelField`"
Hi,

With the addition of `is_target` in #288, it might be a good idea for `LabelField` to come with `is_target` as True by default.

[2018-10-14 13:17] mttk commented on #448
Yeah, AFAIK this bug depends on `revtok`, I remember trying to fix it locally to no avail.

[2018-10-15 13:30] cswangjiawei opened #451 "How to save a Field object"
Field objects can't be saved by pickle or json, how to save Field objects？

[2018-10-16 00:43] cswangjiawei commented on #451
Field objects can be saved by dill . dill extends python’s pickle module for serializing and de-serializing python objects to the majority of the built-in python types. Serialization is the process of converting an object to a byte stream, and the inverse of which is converting a byte stream back to on python object hierarchy.

[2018-10-16 09:01] mttk commented on #447
Yeah this is not the nicest bug. Assuming UNK=0 is ok since it's already hardcoded (so we can hardcode it further). I'll fix this when I get the time, if someone wants to take a stab at it, feel free.

[2018-10-19 05:42] tcqiuyu opened #452 "RawField exception after upgrading to 0.3.1"
After upgrading torchtext from 0.2.3 to 0.3.1, my code encountered a new exception as below:

[code]

I used RawField because I intended to add some values that does not require any modification to the dataset. But now there seems some changes around here. I am wondering if RawField behaves the same as before? Thanks for any help in advance!

[2018-10-19 06:12] tcqiuyu commented on #452
I just found a previous issue in #442. The work around works fine for me. This issue can be closed:)

[2018-10-19 08:47] mttk commented on #452
@tcqiuyu this will also be fixed soon, although in master. I might do a quick update on the release if this is a common use-case.

[2018-10-19 08:48] #452 closed

[2018-10-19 14:31] mttk commented on #451
When #453 lands, this will be possible to do even without `dill`.

[2018-10-19 14:33] mttk commented on #73
This error is something relatively new with regard to pickling `torch.[dtype]` attributes, such as `torch.int64`. #453 will enable fields to be saved by `torch.save` or `pickle.dump`

[2018-10-19 16:46] mttk commented on #380
This should work now in master. You can pass the argument `tokenizer_language=es` for example and it should load the spacy spanish tokenizer.

[2018-10-19 18:02] pablogps commented on #380
Oh! I've been busy but meaning to do this myself. Sorry I took too long, and thanks a lot for the improvement, it will be appreciated!

[2018-10-22 10:36] eugene-kharitonov opened #454 "[Feature request] Reading compressed (e.g. gzipped) datasets?"
Hello,
I wonder if there could be a support for reading zipped/gzipped torchtext.data.TabularDataset-s?
In our case the dataset is small enough that we want to store its versions in the repo alongside with the code.
I understand it's not a mainstream use-case.  Happy to make a PR myself, if it makes sense.
A relevant snippet https://github.com/pytorch/text/blob/master/torchtext/data/dataset.py#L25

[2018-10-22 12:37] mttk commented on #454
This sounds as a reasonable addition. I believe the gist of the change would be changing `open` to some variant of `zipfile`, `gzipfile` etc., as I believe you intended with the referenced line.

A PR would be appreciated!

[2018-10-22 13:35] cswangjiawei opened #455 "Does torchtext regard each row record as a sentence when processing text data?"
Does torchtext regard each row record as a sentence when processing text data?

[2018-10-22 13:36] cswangjiawei opened #456 "Does torchtext regard each row record as a sentence when processing text data?"
Does torchtext regard each row record as a sentence when processing text data?

[2018-10-22 14:47] mttk commented on #455
Duplicate of #456

[2018-10-22 14:47] #455 closed

[2018-10-22 14:51] mttk commented on #456
Not necessarily, however the default tokenization of `Fields` makes no attempt to separate sentences that might exist inside of paragraphs. `NestedField` and such extensions can be modified to handle separation first into sentences and then words.

[2018-10-22 15:41] artemisart opened #457 "Field.stop_words is overwritten and is no longer a set"
https://github.com/pytorch/text/blob/758d356fd76ee6102de06a4cb5e414a3164c9e42/torchtext/data/field.py#L166-L173

I think this is an error and self.stop_words should not be overwritten after the condition.

[2018-10-23 00:55] cswangjiawei commented on #456
Then, when Itertor divides the data into different batches according to the length of the sentence, what is the basis for dividing a sentence?

[2018-10-23 08:31] #457 closed

[2018-10-23 08:45] mttk commented on #456
The iterators don't divide the data according to the length of the sentence, but to the length of some field (that can contain a sentence, a phrase or a paragraph, or even the characters in a paragraph).

You can also define your own function that determines how the batches are sorted.

[2018-10-23 08:58] cswangjiawei commented on #456
When the iterator divides the data by the length of the sentence, how does the iterator judge the sentence, in other words, how does the iterator determine which words and punctuation marks make up a sentence? Or if the batches are sorted according to the length, the data is divided by the length of the record?

[2018-10-24 06:17] mfuntowicz opened #460 "RawField incompatibility inside of Batch"
I've updated torchtext to its latest master, and it seems that the setup for Squad I was using before is not working anymore.

More precisely, I was using 2 RawField which allow me to get back from the predicted tokens span to the initial text :

[code]
Now, the following set of Field makes the Batch creation crash as :

[code]

Is there a new way of handling this ? Or is it possible to make Batch

[2018-10-24 09:10] MFajcik opened #461 "How exactly FastText and CharNGram work in Torchtext"
Firstly, I know in past I found documentation on how CharNGram embedding works (either somewhere in code), but I cannot find it right now.

Secondly I would like to know if FastText uses precomputed word vectors for pretrained vocabulary,
or calling it within build_vocab constructs embeddings from pre-trained ngrams for training data vocabulary. In other words, does build_vocab handle out-of-pretr

[2018-10-24 09:19] mttk commented on #460
A fix in #459 has been merged, please try reinstalling from master.

[2018-10-24 10:10] mttk commented on #442
This has been fixed with #459, thanks for reporting!

[2018-10-24 10:10] #442 closed

[2018-10-24 10:10] #451 closed

[2018-10-24 16:05] mfuntowicz commented on #460
Working now ! Thanks 👍

[2018-10-24 16:05] #460 closed

[2018-10-25 11:54] vin-ivar commented on #342
Fixed in #462, seems to run fine.

[2018-10-29 08:22] shocho3858 opened #463 "Multiple Fields Share One Column in CSV or TSV"
However I can duplicate the column in the input file, I wonder if this functionality exists in raw torchtext?

[2018-11-01 10:05] lmatz opened #464 "How should I use torchtext to partition the data?"
Is there a way that I can ask torchtext to let workers load mutually exclusive partitions of a single data file? Thanks

[2018-11-01 13:59] villmow opened #465 "Package six is missing from requirements"
I just installed a fresh version of torchtext from pip and tried to load a simple TabularDataset.
It crashed due to the dependency to `six`, which is used in [example.py](https://github.com/pytorch/text/blob/9187177364570e0625c8bfe409f05e494412b4d6/torchtext/data/example.py#L3).

**Problem**: The [setup.py](https://github.com/pytorch/text/blob/9187177364570e0625c8bfe409f05e494412b4d6/setup.py#L40)

[2018-11-02 19:35] vince62s opened #467 "Copy Construct warning"
Hello,
was this ever fixed ?

/usr/local/lib/python3.5/dist-packages/torchtext/data/field.py:308: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).

[2018-11-03 14:11] vince62s commented on #467
it refers to this line in master:
https://github.com/pytorch/text/blob/master/torchtext/data/field.py#L359

[2018-11-06 08:40] cswangjiawei opened #468 "field"
I have a TSV file training_abstracts.tsv when I use the function:
‘def test1():
    with open('F:\\small paper\\ner\\data_file\\training_abstracts.tsv', 'r', encoding='utf-8') as f1:
        line = f1.readline()
        while line:
            list1 = line.split('\t')
            text = list1[1]
            bio = list1[2]
            if len(tokenizer(text)) != len(bio.split()):
                pri

[2018-11-06 11:46] cswangjiawei commented on #468
I output the text of the records with inconsistent text columns and tag columns, and find that they do not correctly treat a row as an example, such as:‘plsr is a multivariate regression technique commonly applied to analyze relationships between signaling or transcriptional data and cellular behavior . 	 o o o o o o o o o o o o o o o o o o o o o
 23593923 	 functional conservation and structural

[2018-11-06 11:54] cswangjiawei opened #469 "How does torchtext define the example that makes up the dataset?"
How does torchtext define the example that makes up the dataset ?

[2018-11-09 19:54] kuldeep7688 commented on #239
this can be solved just by defining the sort key in the iterator.
[code]

This worked for me perfectly.

[2018-11-12 03:54] whbzju opened #473 "How to make TabularDataset loading csv faster"
I try torchtext with data from https://www.kaggle.com/c/quora-question-pairs/data, which size is 200MB.

train.csv: 404302 lines
test.csv:3563490 lines

I use TabularDataset to load them, it's too slow. For train.csv, it cost 5mins, and for test.csv, it can't finish in 40mins. But it only need 3sec when use pandas to load train.csv, and 20 sec for keras's texts_to_sequences to process.

here is my

[2018-11-12 04:22] kidman99 opened #474 "TypeError: '<' not supported between instances of 'Example' and 'Example'"
Got the error when running the following code. Is there anything similar to an operator overloading for "<" needed here, or there is a go around way here?

from torchtext.data import TabularDataset
from torchtext import data
from torchtext.vocab import GloVe
from torchtext.vocab import GloVe

tv_datafields = [("id", None), # we won't be needing the id, so we pass in None as the field

[2018-11-14 11:42] AratorField commented on #473
What tokenizer do you use?
Maybe it could be better if you pre-tokenize text and join tokens with whitespace.
Then you will need only str.split as tokenizer which works fast.

[2018-11-15 07:49] #468 closed

[2018-11-15 07:50] #469 closed

[2018-11-16 03:57] DhruvDh opened #477 "Better support for fasttext"
FastText has a number of pre-trained word vectors, looking through the code it seems it's currently hard-coded to select a particular wiki trained embedding.

I tried to just change to URL for downloading different vectors and hope that it works, but it does not.

[2018-11-16 07:32] tnlin opened #478 "Can't deal with text label (invalid literal for int() with base 10: 'my_label1')"
I wanna do a multi-class classification task
Here is my sample data (updated, thanks to @bentrevett )
[code]

Sample code
[code]

When I call
[code]

It will pop out error  `invalid literal for int() with base 10: 'my_label1'`
Can anyone give me any hint?
Google for whole day but still can't solve it...

[2018-11-18 04:48] illcat opened #479 "Why Iterator doesn't have collate_fn to change anyone in batch?"
For example:
torch.utils.data.DataLoader(dataset=training_set,batch_size=batch_size,collate_fn=my_fn_align_sent)

[2018-11-22 11:55] ahmetbaglan commented on #478
Hi did you get any solution yet? I have a similar problem

[2018-11-22 14:45] bentrevett opened #481 "IMDB data with spaCy loads much slower than other datasets"
The IMDB dataset when loaded using the spaCy tokenizer takes a considerable amount of time (>5 minutes) compared to other datasets.

The following takes >5 minutes to run:

[code]

Originally, I thought this was a problem with spaCy being slow as I tried using a basic tokenizer (the following takes ~2 seconds to run).

[code]

However, when using spaCy with a different dataset, here the Multi30k t

[2018-11-28 15:00] mttk commented on #481
It might have something to do with the average sentence length (IMDB has a large spread of lengths). I'm unable to check this right now, but could you perhaps test spacy on raw IMDB data (preloaded) and do some speed comparison?

There are some speed issues I've noticed as well.

[2018-11-28 21:34] ProKil commented on #283
For 1

You can write a customized `collate_fn` to deal with `torchtext.data.Example` objects.

Here I wrote a new `collate_fn` function for `torchtext.data.Batch`. You can easily adapt `torchtext.data.Example` objects to it.

[code]

[2018-12-06 09:03] mtreviso commented on #446
I'm writing a strategy for this. I've been thinking about adding these two params to Vocab's constructor: `keep_rare_with_vectors` and `add_vectors_vocab` (they are False by default).

- `keep_rare_with_vectors`: if True and the vectors are passed, then it will keep words that appear less than `min_freq` but are in vectors vocab.
- `add_vectors_vocab`: If True and the vectors are passed, then it w

[2018-12-08 20:28] oya163 opened #483 "How do I get label using torchtext?"
For example, if I have training set for binary classification with labels/classes [0, 1]. Is there anyway that I can get these classes directly using torchtext?

[2018-12-09 08:38] livc opened #484 "get BucketIterator with arbitrary batch size"
Hi,

Now we can create BucketIterator with batch_size:

[code]

How to get the Iterator without specifying batch_size?
For example, it may be:
[code]

[2018-12-12 08:59] VectorChanger0 opened #485 "test_field error typeError: process() missing 2 required positional arguments: 'device' and 'train'"
[code]

**Traceback** (most recent call last):
  File "D:\anaconda\envs\me\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-78-21455d966ee5>", line 11, in <module>
    field_processed = field.process(batch)
**TypeError: process() missing 2 required positional arguments: 'device' and 'train'**
py

[2018-12-12 13:03] #484 closed

[2018-12-14 07:01] bebound commented on #201
This works, `xxx.vec`should be the standard word2vec format file.
[code]

[2018-12-14 09:11] pablogps commented on #201
Yes, you are right! There is a bit more info [here](https://www.innoq.com/en/blog/handling-german-text-with-torchtext/).

[2018-12-24 02:44] yyHaker commented on #346
Hi, I have the same question, do you have any good ideas?

[2019-01-02 13:08] manuelsh commented on #483
Use a field for the label. See the fourth example in:

https://github.com/pytorch/text/blob/master/README.rst

or look to `Fields`.

[2019-01-02 13:11] manuelsh opened #486 "[Feature request] K-folding cross validation"
It would be great to have it integrated in the library, otherwise one have to resource to a lot of manual steps (e.g. use sklearn and pandas to create the folds, storing to a file, and then reading from there).

Thanks!

[2019-01-07 15:43] raheelqader commented on #419
@davidalbertonogueira: is there a chance you can share the code of your BERT supported field?

[2019-01-09 13:20] raheelqader opened #487 "reverse source and target for each batch"
I need to reverse the my source and target fields for each batch and then re-sort the batch again such that it can work with pack_padded_sequence(). Is there a way to do this?

[2019-01-10 17:27] jacobcvt12 opened #488 "Load data from pandas"
It would be nice to load data from pandas versus having to read from a disk file. I normally perform some data manipulation in pandas, and then to use torchtext, have to write the dataframe to disk. Ideally, I could skip the writing to disk.

In this [stackoverflow](https://stackoverflow.com/questions/52602071/dataframe-as-datasource-in-torchtext), there's a pretty simple class added to do just th

[2019-01-12 18:07] larry0123du commented on #324
@nh007cs Would you mind sharing a bit of your code? Thx!

[2019-01-12 23:24] larry0123du opened #489 "Load JSON data into NestedField"
If I have a train.json and a test.json that contain JSON data of the below format:
`{"review": [["it", "is", "good"], ["I", "like", "it"]], "label": 1}`
When I was trying to use the following code to load it:
[code]
I got an empty list. Is there anything I did wrong here? Thanks!

[2019-01-14 16:02] tu-artem commented on #489
with `fields = {'review': ('r', REVIEW), 'label': ('l', LABEL)}` you are renaming `review `to `r` and `label` to `l`. Later, in `REVIEW.build_vocab()` you should use new names, so `REVIEW.build_vocab(train_data.r, max_size=25000)` should work fine

[2019-01-14 22:23] larry0123du commented on #489
Got it, Thanks!

[2019-01-14 22:23] #489 closed

[2019-01-15 03:54] MathieuLAllier opened #490 "Enable use of Distributed Sampler"
Enabling the use of Sampler would allow to use torchtext with distributed libraries such as Horovod

[2019-01-15 12:43] DhruvDh commented on #477
Hey!

Yes, that is what I am doing, just thought it could be easier. The idea was to give more options to people. That's okay, it's not that important anyway.

[2019-01-15 13:06] tu-artem commented on #474
`.splits()` returns a tuple of datasets, in your case it is of length 1. So

[code]
should work here or you can use a regular `TabularDataset` constructor instead.

[2019-01-16 12:37] ikorolev93 opened #491 "`input, target = batch` syntax is not working if the batch is created by BPTTIterator"
Minimal reproduction code:
[code]

Expected: no errors
Actual result:
[code]
---
Looking at the code, `BPTTIterator` calls `Batch.fromvars` that creates a `Batch`, but never defines the `input_fields` and `target_fields` (unless it's passed in `**kwargs`, which is not the case). Copying the appropriate initialization code from constructor, it starts working.
So either `Batch.fromvars` should calcu

[2019-01-18 02:36] yyHaker commented on #324
Hi，could you please share your solving method? Thank you in advance!

[2019-01-18 12:05] nh007cs commented on #324
@larry0123du @yyHaker No problem! The code for processing are as follows:

#!usr/bin/env python
# -*- coding:utf-8 -*-
"""
@author:nieh
@file: data_iter.py
@time: 2018/05/08
"""
from pathlib import Path
import torch
import torchtext.data as data
from functools import partial
import spacy
import random

class DataIter:
    def __init__(self, args):
        self.args = args
        self.text_dir = P

[2019-01-18 12:15] #324 closed

[2019-01-18 17:17] notnami commented on #488
I can work on this, unless someone else wants to.

[2019-01-18 19:37] toli-belo commented on #467
also what if you need to convert tensor to dtype=torch.float ?
replacing with clone().detach() is not going to convert the tensor....

[2019-01-21 09:38] cheryllwl commented on #474
I had the same problem with TabularDataset too
http://mlexplained.com/2018/02/08/a-comprehensive-tutorial-to-torchtext/
This tutorial was helpful.
![image](https://user-images.githubusercontent.com/26339229/51465644-4837c500-1da3-11e9-9e6f-ac8660827649.png)
added these two lines and it worked like a charm

[2019-01-22 16:28] samurous opened #492 "Inconsistent fields initialization in Dataset and Example fromdict."
In the Documentation on [Dataset and Fields](https://torchtext.readthedocs.io/en/latest/data.html#dataset) it states that fields

While in the __init__() method description it states:

But `data.Example.fromdict` won't work either way since it is expecting a dict with a tuple in the dict value like `Dict[str, ('str', 'Field')]` here:

https://github.com/pytorch/text/blob/c4f746f91abf97bdaca5bc7ade

[2019-01-26 16:42] tu-artem commented on #378
Hi @mttk, what is the status of this one? I want to work on it if it is not in progress already

[2019-01-27 16:59] tangxiangru opened #493 "AttributeError: 'TextMultiField' object has no attribute 'is_target'"
File "translate.py", line 42, in <module>
    main(opt)
  File "translate.py", line 27, in main
    attn_debug=opt.attn_debug
  File "/home/txr/OpenNMT-py-ende/onmt/translate/translator.py", line 208, in translate
    for batch in data_iter:
  File "/home/txr/anaconda3/envs/python3/lib/python3.5/site-packages/torchtext/data/iterator.py", line 157, in __iter__
    yield Batch(minibatch, self.datase

[2019-01-28 08:18] speedcell4 opened #494 "does pytorch team stop developing torchtext?"
I notice the latest commit is in Nov 2018.
does that mean pytorch team have already stopped developing torchtext?
if yes, then official suggestion is migrating to pytext instead?

[2019-01-28 11:20] mttk commented on #494
I've been maintaining torchtext up until Nov, when I had some major issues with my hand causing me to miss out on coding for a bit over a month. Since I'm doing maintenance in my free time, I've been a bit overwhelmed with the backlog accumulated on my job in that month and haven't _yet_ been able to clean up the repository.

I'll get to it in the near future, but the maintenance has not been stop

[2019-01-28 11:42] speedcell4 commented on #494
I see, thank you so much~

[2019-01-28 11:42] #494 closed

[2019-01-28 14:24] mttk commented on #378
@tu-artem feel free to start working on it, it's not yet in progress

[2019-01-29 21:40] aatkinson opened #496 "Project status?"
I've noticed a long period of inactivity on this project and I'm curious if it's still being actively developed?

Also is this library going to be merged with PyText - or vice-versa - since it is a dependency? (See https://github.com/facebookresearch/pytext)

[2019-01-30 09:25] ReactiveCJ opened #497 "initializing the vectors at vocab.py is random"
At the vocab.py,
for this line self.vectors = torch.Tensor(len(self), tot_dim)
we want to initialize the element of  self.vectors by zero, but when the len(self) or tot_dim is small, this initialization results is random.
Correct
self.vectors = torch.Tensor(len(self), tot_dim)
to
 self.vectors = torch.zeros(len(self), tot_dim)

[2019-01-30 10:02] #479 closed

[2019-01-30 15:14] aatkinson commented on #496
Hi Martin, sorry I didn't see that issue. Thanks for the update, get well soon!

[2019-01-30 15:14] #496 closed

[2019-01-30 17:42] soumith commented on #496
@cpuhrsch will also be helping out / revamping things starting probably in a few weeks. We'll reach out to you Martin, to co-ordinate this.

[2019-01-31 16:30] #447 closed, assigned to nobody

[2019-01-31 16:31] mttk commented on #465
This bug somehow creeped through a few versions, and is fixed by #475. Thanks for reporting.

[2019-01-31 16:31] #465 closed

[2019-01-31 17:00] mttk commented on #467
Could you provide the case where you get this error?

I assume that `arr` is a `torch.tensor`, which means that the numericalization / postprocessing casts it into that at some point (as the standard pipeline shouldn't do that prior to [L359](https://github.com/pytorch/text/blob/master/torchtext/data/field.py#L359)).

[2019-01-31 20:00] mttk commented on #473
As @AratorField mentioned, this is likely due to the tokenizer. I reproduced your script, and when using `spacy` as the tokenizer, the code took 70 seconds to execute for `train.csv`, while when using `str.split`, it took ~5 seconds. Visual profiling also shows that most of the time spent is in `spacy` methods (which is also to be expected).

I'm not sure which splitter the method in Keras uses, h

[2019-01-31 20:00] #473 closed

[2019-01-31 20:14] mttk commented on #497
Correct, however the undefined data is going to get overwritten in the loop over `itos` in any case.

The vector loading code is long overdue a cleanup, and I'll also remove the `torch.Tensor` calls.

[2019-01-31 20:14] #497 closed

[2019-01-31 21:33] mttk commented on #474
thanks @cheryllwl , this should be documented properly.

[2019-01-31 21:50] mttk commented on #492
Regarding your first point, the difference in documentation is between the attribute and the argument of the constructor. When constructing a raw `Dataset`, the expected datatype of `fields` is `List(tuple(str, Field))`. Then, inside the constructor, the argument is converted to the format of the class attribute `dict[str, Field])`. So, while those two variables share names, they are not the same.

[2019-01-31 21:51] mttk commented on #491
Thanks for reporting, will fix this ASAP.

[2019-02-01 05:08] ReactiveCJ opened #500 "add stopwords to Field"
At the __init__ function of class Field,
    if stop_words is not None:
            try:
                self.stop_words = set(stop_words)
            except TypeError:
                raise ValueError("Stop words must be convertible to a set")
        else:
            self.stop_words = stop_words
        self.stop_words = stop_words
we try to convert stop_words to set, but at the end, we duplica

[2019-02-01 10:42] mttk commented on #500
This has been fixed in master AFAIK

https://github.com/pytorch/text/blob/master/torchtext/data/field.py#L169

[2019-02-04 18:56] tu-artem commented on #378
Some challenges I am currently facing:

1. Currently there is an `extend()` method of `Vocab` which simply goes through `itos` of an argument and adds them to current vocab. I want to make it more general to accept `Counter` object as in `Vocab.__init__()` and also keep in mind original `max_size` and `min_freq` arguments. But changing it this way may harm code that is using current `entend()` met

[2019-02-06 20:56] wcollins-ebsco commented on #349
I just got bit by this big time, in two different ways. Because of the severity of the problems it can cause I would urge a warning note or something in the documentation if not the default argument for ignoring quotes.

Lines in my dataset that started with double quotes _were_ a fringe case, but the csv reader selects everything up to the next double quote, which could be dozens or hundreds of r

[2019-02-13 01:11] akurniawan opened #502 "Feature Request: Loading multiple datasets simultaneously"
I'm thinking of using pytorch's [ConcatDataset](https://github.com/pytorch/pytorch/blob/f435fb8290aeb00fbfa0191d5c42c59c5a772623/torch/utils/data/dataset.py#L46) to achieve of doing so since all of torchtext dataset classes are also inherited from pytorch's Dataset. However, in torchtext dataset, it is required to provide `Field` whenever we instantiate any dataset class. Is there a way to just us

[2019-02-14 16:02] yngtodd commented on #478
I have `use_vocab = False` for my labels, and I am running into this same issue at about 40% through training my first epoch. It is odd that it is coming up after training for a bit.

Here is how I am handling my data:
[code]

[2019-02-14 22:36] yngtodd commented on #478
I think I have my workaround. Instead of using the integer valued `labels` from my csv, I am switching over `genre`, which is a string, and setting `use_vocab=True`.
[code]

[2019-02-15 11:52] JohanWork commented on #485
Did you mange to solve it?

[2019-02-17 08:53] AveryLiu opened #503 "Positive and negative example sampler for Iterator"
I have an unbalanced classification problem at hand and it requires me to manually balance the ratio of positive and negative samples in each batch to reach better performance. The problem is similar to this [related issue](https://github.com/pytorch/text/issues/283).

The default Iterator accepts train, validation and test datasets. What I would like to do is loading data from train_pos, train_ne

[2019-02-18 12:59] AveryLiu commented on #503
It turns out that some manual tweak for the Iterator object can bring the desired effect. I wonder if this could be incorporated into the codebase?

[2019-02-19 00:17] sarahwie opened #505 "Is indexing broken?"
Specs: python 3.6.0, on Mac, no CUDA install.
torch version ==1.0.1.post2, installed via `pip3 install torch`.

Minimal example:
[code]
produces
[code]

I can't replicate in python 2.7.

[2019-02-19 00:20] sarahwie commented on #505
Wrong repository.

[2019-02-19 00:20] #505 closed

[2019-02-22 18:34] prashantbudania commented on #473
You should disable spacy's pipelines if you are only using it for tokenization. More info here: [https://spacy.io/usage/processing-pipelines#disabling](https://spacy.io/usage/processing-pipelines#disabling)

(because parser pipeline is the slowest and if you are not using that information, then it's just waste of time)

[2019-02-22 21:01] #352 closed

[2019-02-23 04:58] #502 closed

[2019-02-23 12:14] #503 closed

[2019-02-24 13:54] woyijkl1 opened #507 "error when load vector"
I successfully run the following code:
vec = vocab.Vectors('glove.twitter.27B.50d.txt',r'/home/yinrongdi/vector',unk_init=torch.nn.init.xavier_uniform)
but,to run this code:
txt_field.build_vocab(train_set , vectors=vec)
will cause (when torchtext version is 0.3.+ will cause but when torchtext version is 0.2.3 will not cause)
 ValueError: Fan in and fan out can not be computed for tensor with less

[2019-02-25 04:02] pppplin opened #508 "Specified Field tensor_type int64 can not be used with use_vocab=False because we do not know how to numericalize it."
Hi,

I am using torch 1.0.1 and torchtext 0.3.0. Any suggestions on how to solve? Many thanks!

[2019-02-26 13:53] n0obcoder commented on #312
i am not able to download the IMDB dataset. any idea why this is happening?
Following is my code...
#######################
import torch
from torchtext import data
from torchtext import datasets
from nltk import word_tokenize
train_data , test_data = datasets.IMDB.splits(TEXT, LABEL)
print(len(train_data))
##########################
len(train_data) shows 0. pls help

[2019-02-26 14:11] mttk commented on #312
Using the following code:

[code]

I'm running this on the current pip install of torchtext.

[2019-02-26 14:17] n0obcoder commented on #312
@mttk i figured out that i had to add the 'root' argument in the split function. so i modified the line of code to
train_data , test_data = datasets.IMDB.splits(TEXT, LABEL, root = 'data') #the data will be downloaded in the root dir
and then the data got downloaded in the specified root directory. thnaks anyways :D

[2019-02-26 14:50] n0obcoder commented on #312
i have one more doubt tho...when i run this code, the data is tokenized every time whoch takes about 2 mins. this is irritating. so i tried pickling the output and loading it the next time whne i run the code. but it doesnt seem to be working... can somebody pls help me with this...i am sharing the code below....\
##########################
import torch
from torchtext import data
from torchtext im

[2019-02-27 09:40] brbzjl opened #509 "what's the meaning of the 1 in ShiftReduceField?"
the following code is what i used. i know the 2 and 3 in transitions vector are respectively means 'reduce' and 'shiftthe'. the  question is, there also exist some 1 and 0. i am confused, what kind of roles plays these 0 and 1?

inputs = datasets.nli.ParsedTextField(lower=args.lower)
transitions = datasets.nli.ShiftReduceField()
answers = data.Field(sequential=False)
train, dev, test = datasets.SN

[2019-02-28 00:08] zdavid1995 commented on #493
I'm having this same error (even after installing torchtext from source). I'm trying to summarize text with one of their pretrained models from OpenNMT. My Pytorch version is 1.0.1.post2 and my torchtext version is 0.3.1.

[2019-03-02 04:13] jackyetz opened #510 "the problem of <class 'torch.LongTensor'>"
torch 1.0.1 , torchtext 0.3.1
I encounter the following problem.

  File "C:\Users\etz\AppData\Local\Programs\Python\Python36\lib\site-packages\torchtext\data\iterator.py", line 157, in __iter__
    yield Batch(minibatch, self.dataset, self.device)
  File "C:\Users\etz\AppData\Local\Programs\Python\Python36\lib\site-packages\torchtext\data\batch.py", line 34, in __init__
    setattr(self, name, fi

[2019-03-02 18:37] Rhuax commented on #176
Hi, I would like to reopen this issue since I'm facing the same problem. I have a training set about 4.5 GB and using the standard way of creating a BucketIterator fills up all of my ram capacity (12GB).
Following the example posted by @jekbradbury he is generating new samples on the fly by randomly picking words, but how can I actually feed real samples from a huge file?

[2019-03-02 18:40] Rhuax commented on #176
Hi, I would like to reopen this issue since I'm facing the same problem. I have a training set about 4.5 GB and using the standard way of creating a BucketIterator fills up all of my ram capacity (12GB).
Following the example posted by @jekbradbury he is generating new samples on the fly by randomly picking words, but how can I actually feed real samples from a huge file?

[2019-03-03 22:44] zsb87 commented on #505
I have the same issue. Could you help explain it? Thanks

[2019-03-03 23:51] sarahwie commented on #505
@zsb87 See [https://github.com/pytorch/pytorch/issues/17237](https://github.com/pytorch/pytorch/issues/17237)

[2019-03-04 13:04] bxclib2 commented on #270
Hi For me I think the solution could be:
Save the tokenized data first and use an extremely easy tokenizer in torch.text
Such as you could preprocess the data with spacy and save the sentence as tokenized one in the csv file.
Such as "I am the king" to "I<tab>am<tab>the<tab>king", and in the torchtext you just give a tokenizer by split("<tab>"), I think this will be way faster than use the spacy t

[2019-03-04 16:54] Rhuax commented on #176
Using @jekbradbury 's demo, I cannot use the iterator more than once. Is there something I can do? I'm using a bucketIterator to iterate over test set examples, so I need to iterate over it more than once during the training phase, but after iterating once, from the second time on the iterator doesn't let me iterate. What can I do?

[2019-03-08 10:33] hwijeen opened #511 "How to add sos token manually to Vocab"
In my implementation, I don't pass `init_token` argument(defaults to `None`) because I don't want my example to be prepended with sos token.
However, I need sos token to be in vocabulary because I need its embedding when generating sentences.
What I came up with so far is the code below, but can anyone suggest me a better way?(in terms of efficiency or readability)
[code]

Or, is it more suggested

[2019-03-11 00:01] drozzy opened #512 "TabularDataset splits when created"
If I try to load a file with 12000 entries with TabularDataset, e.g.:

[code]

for some reason it only sees 10149 of them!
[code]

I suspect it has something to do with an extra `split` call somewhere in the code, because this is similar to a default split one would get if they called "split" on the dataset.

[2019-03-11 00:07] drozzy commented on #512
Something with '\t' in my file...

[2019-03-11 00:07] #512 closed

[2019-03-11 14:22] Fronkan commented on #263
Ran in to this problem as well. I agree that it is unclear what should happen in the case described by @domaala  in https://github.com/pytorch/text/issues/263#issuecomment-386735588 but a solution to the problem originally described could be to after the line:
https://github.com/pytorch/text/blob/28fc0556f56fb1e4e68302ec7f18d80698078fe6/torchtext/vocab.py#L158
set the value of the `self.vectors.un

[2019-03-12 11:57] Fronkan commented on #493
Just for everyone running on the currently latest version on pip, version 0.3.1, and won't or can't install from source here is a simple work around for the issue:
[code]

[2019-03-18 03:05] sheepover96 opened #513 "How can I filter out too high frequency words"
Hi!

Now I want to filter out too frequency words when i call build_vocab() method like a following manner.
[code]
Is there any method to do this or do I need to implement it by my self?

[2019-03-20 00:31] KosmonautX opened #514 "RuntimeError: sizes must be non-negative"
train_iter = MyIterator(train, batch_size=opt.batchsize, device=opt.device,
                        repeat=False, sort_key=lambda x: (len(x.src), len(x.trg)),
                        batch_size_fn=batch_size_fn, train=True, shuffle=True)
I enumerate the iterator to pass me the count and the following runtime error occurs. I am using torchtext 0.3.1 within a conda environment with pytorch 0.4.1. My

[2019-03-26 17:27] drozzy opened #516 "Cheeseshop 0.4.0?"
Can you guys push 0.4.0 to pypi?

Thanks.

[2019-03-26 18:13] Americanwallace0 opened #517 "torchtext 0.4.0 not available"
$ pip install torchtext==0.4.0
Collecting torchtext==0.4.0
  Could not find a version that satisfies the requirement torchtext==0.4.0 (from versions: 0.1.1, 0.2.0, 0.2.1, 0.2.3, 0.3.1)
No matching distribution found for torchtext==0.4.0

[2019-03-27 06:55] gongliym commented on #242
I think the original version is better.
The current version is as follow:
[code]
The problem is that if we set the parameter ~~ sort_within_batch=False~~(default), then the batch is not optimized for minimum padding.
From my understanding, this part of code should:
1. takes ~~100*batch_size~~ examples
2. sort within these examples by length
3. generate batch iterator

[2019-03-27 15:02] ValentijnBroeken opened #518 "Vectors not used when assigned in vocab"
I was implementing one-hot encoding using torchtext. I manually defined a vocabulary (as I want the encoding to be in a certain order) by assigning fieldname.vocab.itos and .stoi, as well as using .set_vectors() to map these integers to the sparse tensors. However, the dataset in the end only contains the integer encoding, while fieldname.vocab.vectors shows the right tensors and can be used as me

[2019-03-28 22:31] rjknight opened #520 "Unable to download wiki.simple.vec"
I was running the unit tests for pytorch/text and hit a failure as follows, up until a few days ago it had been working fine

[code]
diging in a little I see the URL is not accessable anymore

[code]
making this change
[code]
seems to resolve the issue

[2019-03-30 14:03] gissemari commented on #297
What's the value I should use in 'text_field'?

[2019-03-30 22:34] edult commented on #323
Has this been resolved?

[2019-03-31 11:00] grll commented on #520
I created a pull request with the exact same change #521

[2019-04-02 01:47] zide05 opened #522 "how to set random seed for BucketIterator to guarantee that it produce the same itrator every time you run the code ?"

[2019-04-02 06:02] shuoyangd commented on #242
I agree with your understanding. However,

[code]

I'm not sure why that is a problem when you set "sort_within_batch=False". From what I recall, this is a configuration that you should only use for debugging?

[2019-04-05 12:48] rjknight commented on #520
I created a PR for to fix the url for wiki.simple.vec #525

[2019-04-08 02:35] yyHaker opened #526 "NestedField why not be another NestedField?"
##### use torchText to load a list of list data
from torchtext import data
import pprint
pp = pprint.PrettyPrinter(indent=4)
char_filed = data.Field(sequential=True, use_vocab=True, tokenize=list)
word_field = data.NestedField(char_filed, use_vocab=True, tokenize=lambda x: x)
paras_field = data.NestedField(word_field, use_vocab=False, tokenize=lambda x: x)
mini_batch = [
    [["I", "love", "she"],

[2019-04-08 09:07] bebound commented on #517
Latest version released on pypi is 0.3.1
You can install the github version by `pip install git+https://github.com/pytorch/text`, which is 0.4.0

[2019-04-11 13:51] cswangjiawei opened #527 "Create Dataset from multiple files"
I noticed that the 'path' parameter of the splits method of the Dataset class accepts only a single file path . If the data consists of multiple files, such as the train set and test set of 1 billion word, which are composed of multiple files, how to create the Dataset object?

[2019-04-15 06:40] cswangjiawei commented on #381
I use 'LanguageModelingDataset' on news.en.heldout-00000-of-00050 of 1 billion word which is stored in multiple line. But it still returns a length of one. This is my code:
`import re
from torchtext import data
from torchtext.datasets.language_modeling import LanguageModelingDataset

SPACE_NORMALIZER = re.compile(r"\s+")

def tokenize_line(line):
    line = SPACE_NORMALIZER.sub(" ", line)
    line

[2019-04-15 06:42] cswangjiawei commented on #381
I use 'LanguageModelingDataset' on news.en.heldout-00000-of-00050 of 1 billion word which is stored in multiple line. But it still returns a length of one. This is my code:
`import re
from torchtext import data
from torchtext.datasets.language_modeling import LanguageModelingDataset

SPACE_NORMALIZER = re.compile(r"\s+")

def tokenize_line(line):
    line = SPACE_NORMALIZER.sub(" ", line)
    line

[2019-04-15 06:44] cswangjiawei commented on #381
I use 'LanguageModelingDataset' on news.en.heldout-00000-of-00050 of 1 billion word which is stored in multiple line. But it still returns a length of one. This is my code：
[code]

[2019-04-20 10:59] Thanatoz-1 opened #528 "Why is .vector_cache created locally everytime?"
The `torchtext/vocab.py` always downloads the file locally into the folder  `.vector_cache ` folder that is saved in the same repo as the project. Don't you think that this cache should be globally created so that we don't have to download the complete GloVe zip everytime we are working in a newer project.

[2019-04-24 11:47] meghdadFar commented on #201
@bebound I tried your solution with pretrained 300-dimensional word embeddings. However, the loaded vectors are always 100 dimensional. Do you know why?

[2019-04-24 11:52] bebound commented on #201
@meghdadFar  That's weird.  Can you check the output of`head -n2 xxx.vec | wc -w`? It should be 303.

[2019-04-24 11:58] meghdadFar commented on #201
@bebound It's a binary file. Does it have to be txt?!

[2019-04-24 12:11] bebound commented on #201
@meghdadFar  Yes

[2019-04-24 12:14] meghdadFar commented on #201
@bebound Ok, so the vector file was a binary file. I changed it  back to text. The output of `head -n2 xxx.vec | wc -w` is 303. But when I load them, the dimension remains 100:

[code]

[2019-04-24 12:28] bebound commented on #201
@meghdadFar I guess there is hidden cache file in that folder(The suffix may be pt, I’m not sure). Delete it and try again.

[2019-04-24 12:41] meghdadFar commented on #201
@bebound you're absolutely right. There was an old 100-dimensional `xxx.vec` inside `.vector_cache/`. I removed it and the problem is fixed. Thanks!

[2019-04-25 11:47] rahular commented on #201
Is there a way to initialize the embeddings from a torch tensor instead of a file?

[2019-05-03 11:48] DianeBouchacourt opened #532 "Dataset.split with stratified=True is not reproducible"
When using TabularDataset.split with stratified = True, the sampling is not reproducible. After inspection, it looks like it is because of this line:
https://github.com/pytorch/text/blob/499e327ea53bdf67c648f5747ed26764283b968a/torchtext/data/dataset.py#L318

Indeed, the set of unique_strata returned is not always in the same order. Therefore, even though the samples drawn in rationed_split are th

[2019-05-07 14:40] mttk commented on #520
#525 is merged, closing. Thanks for the effort!

[2019-05-07 14:40] #520 closed

[2019-05-07 14:41] mttk commented on #532
This sounds reasonable, could you send a PR?

[2019-05-07 14:42] mttk commented on #516
As soon as I merge some changes and write up the changelog, so likely tomorrow.

[2019-05-07 14:42] #516 closed

[2019-05-07 14:42] mttk commented on #517
0.4 is coming up tomorrow, merging some final fixes.

[2019-05-07 14:42] #517 closed

[2019-05-07 20:30] oya163 commented on #37
I am also stuck in the same problem. Trying to implement BiLSTM+CNN with the help of torchtext, but I seem to get lost. If there is a clear direction, it would be a great help.

[2019-05-09 08:14] tang1943 commented on #265
_default_unk_index is hard code to zero, so  <unk> and <pad> are in conflict when changing TEXT.vocab.stoi

[2019-05-10 18:12] shafiul opened #535 "Numericalize torch.FloatTensor and torch.DoubleTensor"
Hi,

I was unable to use floating-point labels using the following field declaration:

    LABEL = data.Field(sequential=False, use_vocab=False, is_target=True, dtype=torch.DoubleTensor)

Got this error: "Specified Field dtype <class 'torch.DoubleTensor'> can not be used with use_vocab=False because we do not know how to numericalize it"

Would it be straight-forward to numericalize such fields?

[2019-05-11 05:08] fred2008 opened #536 "Iterator by default do not sort within bucket?"
According to the example code in the ducument, the bucketIterator cannot sort according to sort_key at all. The sort_key is not used when running and therefore cannot achieve "Minimizes amount of padding needed while producing freshly shuffled batches for each new epoch. See pool for the bucketing procedure used."  as [https://torchtext.readthedocs.io/en/latest/data.html#BucketIterator](url).
[cod

[2019-05-13 18:18] cpuhrsch commented on #186
@Rajat-Mehta - was this resolved / is still relevant?

[2019-05-13 21:02] cpuhrsch commented on #230
@Antupis - PyTorch has a [Numpy Bridge](https://pytorch.org/tutorials/beginner/former_torchies/tensor_tutorial.html#numpy-bridge). Does that resolve your issue?

[2019-05-13 21:14] cpuhrsch commented on #251
@srush @jekbradbury - Did something come out of this? In particular, @srush did you give Matchbox a try?

[2019-05-13 21:24] jekbradbury commented on #251
I don’t think Matchbox (or last summer’s JIT script batching prototype) was ever mature enough to be materially useful for researchers like Sasha.

[2019-05-13 21:34] cpuhrsch commented on #251
@jekbradbury - do you know why?

[2019-05-13 21:40] jekbradbury commented on #251
The main reason Matchbox didn’t get mature enough was that it became clear that, while doing it in C++/TorchScript might have reasonable performance, doing it in Python probably never would. The main reason BatchTensor didn’t get mature enough (as far as I can tell) was that it was pretty difficult to work on the JIT at a time when everything was changing constantly, and because the JIT IR wasn’t

[2019-05-14 12:56] mttk commented on #535
Hi, instead of using a concrete class for the `dtype` argument, you should use torch dtypes, ex:
`LABEL = data.Field(sequential=False, use_vocab=False, is_target=True, dtype=torch.float64)`

[2019-05-15 03:10] risingdhxs commented on #323
Also looking forward to this support function, as calling datasets.IWSLT.splits(...) takes about an hour on my computer...
On that topic, is there a way to speed up this process? From what I observe only one core was running this process. Utilizing multiple cores should speed it up considerably

[2019-05-16 02:47] srush commented on #251
Thanks for the explanation James. Hope everything is going well at Google. I'll close the request.

[2019-05-16 02:47] #251 closed

[2019-05-18 09:51] QDxiaoye opened #537 "torchtext data Field should retrain with train_data when predict?"
When I predict by model,  I find I have to retrain torchtext.data.Field object, Then i save the Field object by dill and the object file is big.  I want to know if I have another way to select.

[2019-05-20 06:47] belerico commented on #488
I could get my hands on it if it's still open

[2019-05-20 14:48] Greenbald opened #539 "FastText"
Is there a way to use the FastText as a PyTorch module? The existing one uses a hardcoded URL, and I could not change it to the pretrained weights available ![here]{https://fasttext.cc/docs/en/crawl-vectors.html}. Is there a way to work with that without using vocab.Vectors.

[2019-05-24 22:24] mridunarang commented on #130
I have the same initial request - any tutorial on how to load the content on demand from a large single file?

[2019-05-25 14:58] vincentzlt opened #540 "iterator epoch property can cause error"
https://github.com/pytorch/text/blob/9902e793a0c5f5f0a8fccee09684c5cd4a86afea/torchtext/data/iterator.py#L132

when batch_size_fn is implemented, self(len) is not implemented. thus the epoch property will raise an error.

[2019-05-29 12:02] yangyaofei commented on #444
[code]

I use this to get a both char and word

[2019-05-29 17:57] madaanpulkit commented on #375
I have multilingual parallel data. Therefore each of the individual (src-target) datasets has different fields because of different tokenisations(of different sources and targets). Is there a way to create a torchtext dataset for multilingual?

[2019-05-29 23:37] zhangguanheng66 commented on #535
@shafiul if the issue is resolved, please feel free to close the issue. Thanks.

[2019-05-29 23:50] zhangguanheng66 commented on #513
For now, please implement it as needed. If we continuously receive such feature request, we will add it via a PR.

[2019-05-29 23:57] zhangguanheng66 commented on #510
Similar issue? https://github.com/pytorch/text/issues/508

[2019-05-29 23:58] zhangguanheng66 commented on #500
@ReactiveCJ please feel free to close the issue if it's fixed.

[2019-05-30 09:38] #535 closed

[2019-05-30 09:38] #500 closed

[2019-05-30 14:21] zhangguanheng66 commented on #491
Hi @mttk just wondering if there are any progress for this issue. Thanks.

[2019-05-30 14:25] zhangguanheng66 commented on #488
@belerico please help with a PR for this issue. Thanks.

[2019-05-30 14:28] zhangguanheng66 commented on #487
@raheelqader I just close this issue. Feel free to re-open it if you still have the question.

[2019-05-30 14:28] #487 closed

[2019-05-30 14:43] #483 closed

[2019-05-30 14:43] zhangguanheng66 commented on #483
Thanks for answering questions.

[2019-05-30 14:49] #478 closed

[2019-05-30 14:49] zhangguanheng66 commented on #478
Feel free to re-open the issue if you still have any questions.

[2019-05-30 14:57] mttk commented on #491
Hey @zhangguanheng66, I've (re)identified the problem, and I have a quick and dirty solution. I'll open a PR right away (#542), but the language modelling pipeline needs a large restructure.

[2019-05-30 15:43] zhangguanheng66 commented on #540
@vincentzlt if you create a PR, we will accept it. Really appreciate it.

[2019-05-30 15:51] zhangguanheng66 commented on #467
@toli-belo feel free to reopen the issue if you still have questions.

[2019-05-30 15:51] #467 closed

[2019-05-30 15:53] zhangguanheng66 commented on #463
If this function is still needed, feel free to re-open this issue and we could add a label.

[2019-05-30 15:53] #463 closed

[2019-05-30 15:55] zhangguanheng66 commented on #461
an unit test could be added as a good example.

[2019-05-30 16:04] zhangguanheng66 commented on #446
@mtreviso could you submit a PR and fix the issue? Thanks.

[2019-05-30 18:21] notnami commented on #488
Hi, sorry I disappeared. I have a prototype implementation for this. I can share it.

[2019-05-30 18:37] notnami commented on #488
https://gist.github.com/notnami/3c4d636f2b79e206b26acfe349f2657a This is what I have been using. If this looks good, and if @belerico doesn't mind, I can make a PR with this.

[2019-05-30 18:40] zhangguanheng66 commented on #488
@notnami @belerico Thanks for working on it. Please create a PR with proper unit tests and docs.

[2019-05-30 18:47] notnami commented on #488
Ok, I'll try to submit a PR by the end of the week.

[2019-05-30 19:06] belerico commented on #488
No problem. Now I'm a little bit busy with my work and studies, but I can make unit test or doc

[2019-05-30 20:01] zhangguanheng66 commented on #445
@yiqiaoc11 feel free to re-open the issue if you still have questions.

[2019-05-30 20:01] #445 closed

[2019-05-30 20:07] zhangguanheng66 commented on #444
@yangyaofei @akurniawan if a possible PR can help resolve the issue, please feel free to submit one with proper unit tests and docs. Thanks.

[2019-05-30 20:10] zhangguanheng66 commented on #440
@kklemon would like to submit a PR with proper docs for this issue. Thanks.

[2019-05-30 20:13] zhangguanheng66 commented on #439
@raheelqader feel free to re-open the issue if you have more questions.

[2019-05-30 20:13] #439 closed

[2019-05-30 20:15] zhangguanheng66 commented on #438
@cswangjiawei if you could provide a script to reproduce the error, I'm happy to take a look at the issue. Feel free to reopen the issue and assign to me.

[2019-05-30 20:15] #438 closed

[2019-05-30 20:16] zhangguanheng66 commented on #437
@seilna feel free to reopen the issue if you still have questions.

[2019-05-30 20:16] #437 closed

[2019-05-30 20:17] zhangguanheng66 commented on #436
@CoderINusE feel free to reopen the issue if you still have questions.

[2019-05-30 20:17] #436 closed

[2019-05-30 20:23] zhangguanheng66 commented on #434
If my understanding is correct, you should load the deployment vocabulary and probably re-train the model. Feel free to reopen the issue and add more discussions.

[2019-05-30 20:23] #434 closed

[2019-05-30 20:44] zhangguanheng66 commented on #419
If ELMo is still needed, please propose in PyTorch core library since it is relevant to the embedding module.

[2019-05-30 20:44] #419 closed

[2019-05-30 20:46] zhangguanheng66 commented on #406
I will just close this issue since a PR is attached. Thanks all for the help.

[2019-05-30 20:46] #406 closed

[2019-05-30 20:46] zhangguanheng66 commented on #391
@mttk Any ideas that I can help with?

[2019-05-30 20:52] zhangguanheng66 commented on #387
@ben0it8 if it still happens after 0.4.0, please re-open the issue.

[2019-05-30 20:52] #387 closed

[2019-05-30 20:59] zhangguanheng66 commented on #380
@mttk Thanks for fixing it. I will just close the issue.

[2019-05-30 20:59] #380 closed

[2019-05-30 21:01] zhangguanheng66 commented on #379
@Blusea feel free to reopen the issue if you still have questions.

[2019-05-30 21:01] #379 closed

[2019-05-30 21:11] zhangguanheng66 commented on #374
@soaxelbrooke would you like to create a PR for this issue?

[2019-05-30 21:15] zhangguanheng66 commented on #366
@chrishokamp thanks for the help. I will just close the issue and feel free to reopen it.

[2019-05-30 21:15] #366 closed

[2019-05-30 21:16] zhangguanheng66 commented on #359
@any progress for the PR or this issue? @akurniawan

[2019-05-30 21:18] zhangguanheng66 commented on #357
@kent930 if you can provide a script to reproduce the issue, I'm happy to take a look at it.

[2019-05-30 21:22] zhangguanheng66 commented on #355
@mttk is there anything I can do to resolve the issue?

[2019-05-30 21:24] zhangguanheng66 commented on #347
@domaala @kklemon Thanks for the help. If the issue is resolved, I will just close it.

[2019-05-30 21:24] #347 closed

[2019-05-30 21:32] zhangguanheng66 commented on #346
feel free to reopen the issue if you have any questions.

[2019-05-30 21:32] #346 closed

[2019-05-30 21:35] zhangguanheng66 commented on #343
@ mtreviso Thanks for the PR. Please close it.

[2019-05-30 21:37] zhangguanheng66 commented on #342
@vin-ivar Thanks for the contribution. Please close the issue after fixing it.

[2019-05-30 21:40] zhangguanheng66 commented on #177
I will close this issue since we are now on 0.4.0. Feel free to reopen it if you still experience the slowdown.

[2019-05-30 21:40] #177 closed

[2019-05-30 21:49] vin-ivar commented on #342
I can't close the issue, I didn't open it, and it isn't my repository.

[2019-05-30 21:52] zhangguanheng66 commented on #342
@psubnwell Feel free to reopen the issue if you still have a question.

[2019-05-30 21:52] #342 closed

[2019-05-30 22:10] zhangguanheng66 commented on #338
@tuzhucheng do you still have a similar issue under 0.4.0? If so, please attach a script to reproduce the error and I'm happy to take a look.

[2019-05-30 22:13] zhangguanheng66 commented on #337
Just want to check if you still have the issue.

[2019-05-30 22:39] zhangguanheng66 commented on #336
Since the issue has been fixed, I will close it.

[2019-05-30 22:39] #336 closed

[2019-05-30 22:40] zhangguanheng66 commented on #334
@udion do you still experience the issue?

[2019-05-30 22:45] soaxelbrooke commented on #374
@zhangguanheng66 Done! See #544

[2019-05-30 22:47] zhangguanheng66 commented on #333
@udion have you figured this our? Could you share any ideas? Thanks.

[2019-05-30 22:49] zhangguanheng66 commented on #331
@PetrochukM just to check in and see which kind of datasets you would propose.

[2019-05-30 22:50] #330 closed

[2019-05-30 22:51] zhangguanheng66 commented on #327
@ysangj do you still experience such issue. Please reopen it if so. Thanks.

[2019-05-30 22:51] #327 closed

[2019-05-30 22:52] zhangguanheng66 commented on #325
@cswhjiang if you still have such an issue, feel free to reopen it.

[2019-05-30 22:52] #325 closed

[2019-05-30 22:53] zhangguanheng66 commented on #323
@domaala just wondering if there is any progress for this issue. Thanks.

[2019-05-30 22:54] zhangguanheng66 commented on #321
@vince62s if this is still an issue, feel free to reopen it.

[2019-05-30 22:54] #321 closed

[2019-05-30 22:56] zhangguanheng66 commented on #311
@jsedoc Thanks for the help. I will close the issue if there are no future questions.

[2019-05-30 22:56] #311 closed

[2019-05-30 22:57] zhangguanheng66 commented on #307
@domaala do you still have this issue under current versions of Pytorch and torchtext? Feel free to reopen it.

[2019-05-30 22:57] #307 closed

[2019-05-31 02:13] akurniawan commented on #359
@zhangguanheng66 I haven't had a chance to work on it. Will try to do some work starting this weekend

[2019-05-31 03:15] nzw0301 commented on #539
Like this?
https://github.com/facebookresearch/fastText/blob/master/python/doc/examples/FastTextEmbeddingBag.py

[2019-06-01 15:52] shafiul commented on #535
Hi, sorry for the late response. Thank you for the feedback.

[2019-06-02 14:39] justice-suri opened #548 "ValueError from FastText"
Hello.
I recently installed Torchtext 0.3.1 and tqdm 4.32.1 and tried to use FastText.
However, the following error occurred:

  0%|                                                     | 0/1 [00:00<?, ?it/s]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ros-slam/.local/lib/python3.5/site-packages/torchtext/vocab.py", line 411, in __init__
    super(FastText

[2019-06-03 05:46] lipingbj opened #549 "field larger than field limit (131072)"
When I use the data.TabularDataset ,there occurs an problem(field larger than field limit (131072)).

train_data = data.TabularDataset(path='train.txt.labeled2', format='tsv',
fields=[('sentence', TEXT),('label', LABEL)], csv_reader_params={"lineterminator": "\n"})

The lines of the train.txt.labeled2 is larger than 1000,0000. I don't know how to set the attribute of the csv.field_size_limit. And

[2019-06-03 13:45] zhangguanheng66 commented on #549
@lipingbj can you upload your dataset so I can reproduce the error?

[2019-06-03 13:46] zhangguanheng66 commented on #548
@justice-suri could you share some code to reproduce the error?

[2019-06-04 02:11] justice-suri commented on #548
@zhangguanheng66  This error occurs just type on terminal.

My environment is like this.
Ubuntu : 16.04
Kernel : 4.15.0
Python : 2.7.12
Torchtext : 0.3.1
tqdm : 4.32.1

When I import torchtext, some error occur like here.

/home/ros-slam/.local/lib/python2.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.3) or chardet (2.3.0) doesn't match a supported version!
  Re

[2019-06-04 16:04] justice-suri commented on #548
@zhangguanheng66 torchtext is imported with warning.
As you see above, my environment enable to import trochtext with warning but It print error when I use the comment like this.

torchtext.vocab.FastText()

Then, Is it right the problem about urllib3 and chardet?

[2019-06-04 16:22] justice-suri commented on #548
I just upgraded urllib3 and chardet and warning was disappeared.
But error still occured.

[2019-06-04 16:23] zhangguanheng66 commented on #548
I will take a look at the problem.

[2019-06-04 21:21] zhangguanheng66 commented on #548
I just did a quick test with torchtext-0.4.0 and didn't have a problem to load torchtext.vocab.FastText(). If possible, please clone the master branch from GitHub and install it with command "python setup.py install". It's pretty straightforward.

[2019-06-05 06:44] justice-suri commented on #548
@zhangguanheng66
I try to install torchtext 0.4.0 and it works well in git folder.
But it didn't work in other folder like /home/myname.

So that reason, I cannot apply this program.
It works in /home/myname/git/text/ here.

[2019-06-05 13:44] zhangguanheng66 commented on #548
You can use torchtest.__version__ to check the version of torchtext being used. Very likely, you use 0.4.0 in the git folder. Try "pip uninstall torchtext" outside the git folder and re-install it again.

[2019-06-05 13:54] justice-suri commented on #548
@zhangguanheng66 Thanks your answer.

I execute FastText() and the output is below.

[code]
I deleted the older version and install 0.4.0. But the result is failed.
Is there any other way?
I'm so sorry that your help hasn't been resolved.

[2019-06-05 20:32] eedeleon commented on #331
Are there plans to consolidate these two libraries?

Also are there any roadmaps available for releases/plans? I noticed torch/vision has a models/ directory and torch text does not. After a searching for a while it seems like NLP models are scattered across many github repositories with little to no support minus a hand full of research libraries such as AllenNLP. And this library and torchnlp ar

[2019-06-06 08:56] mttk commented on #391
@zhangguanheng66 what mostly lacks documenting IMO are the use-cases for specific fields (ex. how to use NestedField for character embeddings, Reversible / Subword Fields), usage examples w/ diferent argument values of BucketIterator, some common Dataset & Field combinations.

I'm not sure what else I had in mind back then, but https://torchtext.readthedocs.io/en/latest/ seemed like it could be mo

[2019-06-06 09:46] mttk commented on #548
Could you create a completely fresh virtual environment (conda or virtualenv) and try reproducing the bug there, just to make sure that there was no lingering library errors?

[2019-06-07 14:06] zhangguanheng66 commented on #331
@eedeleon Yes. There will be a release by the end of July (0.4.0). We are now planning to incorporate some common NLP models in torchtext (like torchvision) to support the research community. We also try to improve the merge process, including more completed docs, examples, and unit tests. If you have any models and dataset in mind, feel free to propose here or slack pytorch text.

[2019-06-11 08:35] pltrdy commented on #337
Hi,

It's been a long time so we did manage for workaround. In fact, it was a quite unexpected behavior, more than an issue in itself.

From what I remember torchtext add out-of-vocabulary tokens in the vocabulary and map it to the related special token. This kind of make sense, but wasn't expected by us so we found side effects weird e.g. the vocabulary size may increase and we may have some key

[2019-06-13 05:47] plkmo commented on #323
Me too interested in this saving support

[2019-06-16 03:02] wartenhx commented on #366
hello,SamLynnEvans,following the link(https://towardsdatascience.com/how-to-code-the-transformer-in-pytorch-24db27c8f9ec),I got the same issue, have you solved this problem? it will waste some time during  each training for load this dataset, after reading your post, I know we can use "self.examples",but how to apply it to the dataset you will create? hope to your reply, Thank you!

[2019-06-19 04:48] lipingbj commented on #549
@zhangguanheng66 I have uploaded the dataset. The address is (https://drive.google.com/file/d/11-dsF5wuaSB7FPyo56MJDw8Z9-zm9WGF/view?usp=sharing).

[2019-06-21 17:14] madaanpulkit commented on #346
It throws error at
`a_text.vocab = text.vocab`
Field object has no attribute vocab

[2019-06-21 19:04] zhangguanheng66 commented on #346
a_text doesn't have the vocab attribute until you call build_voca()

[2019-06-21 19:30] madaanpulkit commented on #346
Changed the code for `Field` class to declare `self.vocab=None` in the constructor. Seemed to work.

[2019-06-22 17:07] zhangguanheng66 commented on #346
You could use vars(a_text) to check if there is an attribute vocab. If so, the error message doesn't make sense.

[2019-06-30 13:19] jumelet opened #555 "Allow vocab order to be read from file"
When using a pretrained model with a fixed vocab order, the functionality of sorting the vocab by frequency (and alphabet) is causing trouble.

I have a simple .txt file with a vocab entry on each line, but it seems that the only way I can still use the torchtext `Vocab` utilities by setting the `itos`/`stoi` attributes myself, is this correct?

Related to #439

[2019-07-11 04:10] PetrochukM commented on #331
@eedeleon Originally, there was a plan to deprecate `torchtext` and merge `torchnlp` into the official library; however, the Facebook PyTorch team has had a lack of resources and expertise in NLP to follow through on this process.

Also, I did not have the time to dedicate a full-time effort to `torchnlp`.

There was also a plan from `pytext` and `torchnlp` to collaborate because `pytext` was find

[2019-07-11 09:40] VictorKuenstler commented on #130
You can also collect byte offsets for each line in a large file and store it in a dictionary.

[code]

In your Dataset, you will need to seek to the offset and read the line. A Dataset can look like the following:

[code]

[2019-07-11 15:19] zhangguanheng66 commented on #331
@PetrochukM Thanks for the comments. For the next release, I will try to add a few new supervised learning dataset, a tutorial to construct dataset with new pattern. We still have a lot of tech debt to fix but we have to prioritize them.

[2019-07-12 10:43] belerico commented on #488
Someone is already working on it?

[2019-07-12 14:23] zhangguanheng66 commented on #488
No, I don't think so.

[2019-07-14 02:58] dainis-boumber commented on #323
Yes, this would have saved me some headache. I ended up doing a piecemeal solution that involved some pandas, some basic python, some torchtext. Making a more conformant purely torchtext solution over this and next weekend, if I have time and there is still interest, I  can try to work on a mergeable solution sometime next month.

[2019-07-14 18:30] zhangguanheng66 commented on #323
@dainis-boumber. I'm wondering if you are interested to share your work via a PR. Thanks.

[2019-07-14 21:14] ShahriarSS opened #559 "Implementing C++ Side"
Hi @soumith I want to work on torchtext and implement its C++ API. I'm less familiar with torchtext so where can I can start?

[2019-07-15 13:43] zhangguanheng66 commented on #559
@ShahriarSS Thanks for the proposal. We do want to implement its C++ API (similarly to [TorchVision](https://github.com/pytorch/vision/tree/master/torchvision/csrc)). If you have some specific APIs in mind, please briefly describe here and move forward. Otherwise, we can start with some simple APIs and build the bindings first. Again, appreciate for your contribution.

[2019-07-15 14:18] ShahriarSS commented on #559
@zhangguanheng66 As I said I'm less familiar with ```torchtext``` but we will have a problem implementing C++ side because we don't have ```spacy``` for tokenization and lemmatization and there aren't any other good libraries that I know of to do these tasks in c++ (I have checked out a few). What do you suggest we do here?

[2019-07-15 18:23] zhangguanheng66 commented on #559
@ShahriarSS IMO, it would be great if you could start with some simple functions in C++ and build the bindings. An example is the text normalization function here (https://github.com/pytorch/text/blob/844242a3a50759ed82c81a3814476640a31c52ae/torchtext/datasets/text_classification.py#L36-L45. Build the bindings and compile/test it. It will facilitate our future implementation on the C++ side.

Anot

[2019-07-29 18:25] XinDongol opened #572 "How to set the max length for batches?"
Is there a way to use something like `max_len` argument: all text entries in a dataset longer than a certain length can be thrown out.

[2019-07-29 19:49] zhangguanheng66 commented on #572
After batching, I guess you can just sent the batches within the "max_len"  value to the model.

[2019-07-29 22:13] XinDongol commented on #572
@zhangguanheng66
You mean something like this?
[code]

[2019-07-29 22:23] zhangguanheng66 commented on #572
I think I misunderstand your request. If the text entries are longer than a certain length, you can pad the text (maybe with 'unk' token) and then ignore them. You need some kinds of pre-processing depending on a specific dataset.

[2019-07-29 22:41] XinDongol commented on #572
Thanks.

The length of my sentences is
![image](https://user-images.githubusercontent.com/15049780/62087581-15213300-b217-11e9-98cf-6b947220e309.png)

I only want to use len<=30 sentences to form batches. Is there any solution that allows me to do this without changing my txt data file?

[2019-07-30 09:34] akurniawan commented on #341
Hi @mttk, bumping up this request. Is this something that you are working on right now? I'm also happy to help if needed!

[2019-07-30 10:36] mttk commented on #341
@akurniawan the repo is undergoing a large overhaul by @zhangguanheng66 and @cpuhrsch, and I think this might be one of their future goals. I'd suggest you wait until the new classes are fleshed out though. Either way, George & Christian will know more information.

[2019-07-30 11:24] akurniawan commented on #341
@mttk thanks for the info! Is there any roadmap that all of us can see?

[2019-07-30 13:29] zhangguanheng66 commented on #341
@akurniawan. We appreciate the feedbacks from the open source community. There are a few things we want to do, including a C++ extension for the dictionary, sentencepiece.

[2019-07-30 18:40] cpuhrsch commented on #341
Currently we're only adding separate features or improving existing features without changing the API surface. The upcoming release notes will include a detailed review of these changes. That means this isn't an overhaul just yet, since it barely touches anything currently available, but we are reviewing existing issues and are adding features with some of them in mind.

Both George and I have onl

[2019-07-31 03:25] oja commented on #160
This should be closed, right?

[2019-07-31 18:36] #160 closed

[2019-08-03 02:41] meshiguge opened #581 "why IMDB could not work?"
[code]
This returns a length of **0** .

[2019-08-04 17:54] zhangguanheng66 commented on #581
I check the downloaded file and there are no text files in the training folder. I guess the online file is broken. Unfortunately, we don't host data. But I will reach out to them and see what happen there.

[2019-08-04 18:39] zhangguanheng66 commented on #581
I try the script above on the latest master branch. The dataset works for me (the output len of train is 25000). Just be patient for data loading, and it may stuck for a while.

[2019-08-04 18:39] #581 closed

[2019-08-05 19:13] anmolsjoshi commented on #572
@XinDongol can you override the [__iter__ method](https://github.com/pytorch/text/blob/master/torchtext/data/dataset.py#L147) here like this

[code]

[2019-08-06 01:35] anmolsjoshi commented on #420
@zhangguanheng66 @mttk AGNews has been incorporated.

I wanted to add Rotten Tomatoes Dataset but noticed it was hosted on Kaggle. Is it ok to host the data on Google Drive and submit a PR for that dataset?

[2019-08-06 14:30] zhangguanheng66 commented on #420
@anmolsjoshi Thanks. Rather than hosting data, we prefer to download the data with a link. So to your question, yes and Google Drive should be fine (actually several existing datasets uses the data from Google drive).

[2019-08-06 14:32] zhangguanheng66 commented on #420
AG_NEWS available in the 0.4.0 [release](https://github.com/pytorch/text/releases/tag/0.4.0). More supervised learning datasets are available there as well.

[2019-08-06 15:10] anmolsjoshi commented on #420
@zhangguanheng66 on further inspection, it seems that Kaggle has rules against sharing datasets, they prefer it is hosted on their website. If you know any different, I'd be happy to send a PR for this.

[2019-08-06 15:10] anmolsjoshi commented on #540
@zhangguanheng66 where is the epoch property used?

[2019-08-07 02:53] kylase commented on #572
You can pass in a `Callable` as `filter_pred` to `Dataset` (https://torchtext.readthedocs.io/en/latest/data.html#torchtext.data.Dataset). I have used this to remove certain examples that are not necessary.

[2019-08-09 16:59] #559 closed

[2019-08-09 18:19] #572 closed

[2019-08-09 18:26] zhangguanheng66 commented on #549
@lipingbj can you also copy/paste the objects of TEXT and LABEL so I could reproduce the error.

[2019-08-14 22:45] yiulau opened #587 "Penn-treebank dataset does not download automatically"
Probably similar to this issue : [Translation datasets not automatically downloading](https://github.com/pytorch/text/issues/312)
[code]

[2019-08-15 13:54] zhangguanheng66 commented on #587
Do you have the root directory `.data'?

[2019-08-15 14:22] yiulau commented on #587
It is supposed to create the directory then download the data automatically but it isn't doing that. I tried creating the directory myself but it still wouldn't download.

[2019-08-15 14:43] yiulau commented on #587
I get the same error for the WikiText2 dataset, but it works perfectly for IMDB.

[2019-08-15 15:34] zhangguanheng66 commented on #587
So I test both PennTreebank and WikiText2 datasets and it works well on my side. I use the master branch but our binary 0.4.0 release should be fine as well. Here is my script.
[code]

[2019-08-15 16:06] yiulau commented on #587
It does not work for me...

[2019-08-15 16:10] zhangguanheng66 commented on #587
Do you use the master branch or the binary 0.4.0 release?

[2019-08-15 16:51] zhangguanheng66 commented on #587
Do you see the downloaded files in each directory?

[2019-08-15 18:00] yiulau commented on #587
The function creates automatically the directories but does not download.

[2019-08-15 18:11] yiulau commented on #587
I closed this by mistake it is still not resolved.

[2019-08-15 19:43] zhangguanheng66 commented on #587
Could you check the version of the requests package? I use 2.22.0. It seems to me that the download task is not initiated.

[2019-08-15 19:51] yiulau commented on #587
I am also on 2.22.0

[2019-08-15 19:57] zhangguanheng66 commented on #587
If you don't see any download task bar, you are not downloading the files. Try to remove the directory `penn-treebank` in `.data`

[2019-08-19 19:24] zhangguanheng66 opened #589 "Add SentencePiece binding to torchtext"
SentencePiece is an unsupervised text tokenizer that is mainly applicable for text-based systems. The size of vocab is predetermined prior to train the tokenizer. The subword unit implemented in SentencePiece allows for tokenizing raw sentences without language-specific pre/postprocessing.

In addition to text-based system, the SentencePiece may be also applicable for torchaudio script.

@cpuhrsch

[2019-08-19 19:26] zhangguanheng66 commented on #589
The first part of work is to apply sentencepiece to some supervised learning datasets (i.e. textclassification datasets). The subword method in sentencepiece should improve the results in the text classification tutorial [here](https://pytorch.org/tutorials/beginner/text_sentiment_ngrams_tutorial.html).

Then, we could apply sentencepiece to unsupervised learning datasets.

[2019-08-19 21:43] vincentqb commented on #589
[Example](https://github.com/pytorch/audio/tree/master/examples/interactive_asr) from torchaudio

[2019-08-20 10:02] anonymone commented on #549
In windows, When I load a large dataset, the  `Python int too large to convert to C long` error happened.
To solve the error, I changed  https://github.com/pytorch/text/blob/9a20c79c13657543adc28ca8e8355daaf591eaf6/torchtext/utils.py#L129 into `csv.field_size_limit(int(ctypes.c_ulong(-1).value // 2))` .

[2019-08-20 13:53] zhangguanheng66 commented on #549
Do you still see the error after checking out the master branch?

[2019-08-21 13:23] wpfnlp opened #592 "arr = [[self.vocab.stoi[x] for x in ex] for ex in arr] KeyError: None"
torchtext=0.4.0 BUG:

Traceback (most recent call last):
  File "/Users/weipengfei/workspaces/FastNLPProjects/research01/Intent+SlotFilling01.py", line 112, in <module>
    for i, batch in enumerate(train_iter):
  File "/miniconda3/lib/python3.7/site-packages/torchtext/data/iterator.py", line 156, in __iter__
    yield Batch(minibatch, self.dataset, self.device)
  File "/miniconda3/lib/python3.7/s

[2019-08-21 13:53] zhangguanheng66 commented on #592
Can you post your script so I could reproduce the case?

[2019-08-22 04:07] gitfourteen opened #593 "Dataset.split() generate wrong ratio"
## ❓ Questions and Help

**Description**

`torchtext.__version__` '0.3.1'

- code snippet

[code]

`len(data_train), len(data_test), len(data_valid)`
(15957, 127657, 15957)

If I reset the **split_ratio** as` [0.1, 0.8, 0.1]`, will get (15957, 15957, 127657) instead.

According to **[check_split_ratio](https://github.com/pytorch/text/blob/master/torchtext/data/dataset.py#L295)** and **[rationed_sp

[2019-08-22 07:17] mttk commented on #593
It is not. The order of the splits being returned is `train, val, test`. This is different from the order of the arguments since the validation ratio is optional, so it is set as the tail one. This might be confusing.

Docs for the split method:
[code]

[2019-08-22 14:07] zhangguanheng66 commented on #593
@mttk Thanks for the quick response.
@gitfourteen I will close this issue. Feel free to re-open it if you still have questions.

[2019-08-22 14:07] #593 closed

[2019-08-22 21:19] zhangguanheng66 commented on #589
The TransformerBag plus MultiheadAttentionBag will add more flexibility for the input sequences. For the sequences with different lengths, no padding is required, and mask/offsets are used for the attention mechanism. Though it’s a pleasant to have such kind of capability, it requires some fundamental changes on the current modules (both nn.MultiheadAttention and nn.Transformer ). We have to re-de

[2019-09-03 14:27] #592 closed

[2019-09-03 14:27] zhangguanheng66 commented on #592
Feel free to re-open the issue if you still have questions.

[2019-09-03 14:28] zhangguanheng66 commented on #587
Feel free to re-open the issue if you still have questions.

[2019-09-03 14:28] #587 closed

[2019-09-03 14:28] zhangguanheng66 commented on #549
Feel free to re-open the issue if you still have questions.

[2019-09-03 14:28] #549 closed

[2019-09-03 14:28] zhangguanheng66 commented on #548
Feel free to re-open the issue if you still have questions.

[2019-09-03 14:28] #548 closed

[2019-09-08 09:24] skurzhanskyi commented on #190
Adding `max_len` in `Field` sound like a great feature!
Are there any possibilities do throw out now?

[2019-09-09 01:20] GodIsAWord opened #595 "How can I keep the Example dont do numbericalize?"
## ❓ Questions and Help

**Description**

[2019-09-09 14:47] zhangguanheng66 commented on #595
I think if you don't sample/batch the examples, it will always be text based. Is this what you want?

[2019-09-09 14:48] zhangguanheng66 commented on #190
what you mean throw out?

[2019-09-09 15:06] skurzhanskyi commented on #190
I actually mean to add `man_len` to be sure, that your sequence no longer
than it. You often need it not to get memory error 😉

On Mon, Sep 9, 2019, 17:48 Guanheng George Zhang <notifications@github.com>
wrote:

[2019-09-09 15:38] zhangguanheng66 commented on #190
But we don't want to accidentally set up a limit for the input text length, right? Users may not realize  that we automatically cut their inputs.

[2019-09-09 16:21] skurzhanskyi commented on #190
Of, course. I just asked how I could do it manually. But it would be useful to have a possibility to set `max_len` in `Filed` constructor, as @windweller  wrote.

[2019-09-10 20:07] skurzhanskyi commented on #190
Thanks, @mttk. As you wrote, I decided to manually redefine pad (to take into account `mal_len`). Seems to be useful to have the possibility to set it in `Field`.

[2019-09-11 17:33] Guitaricet opened #599 "SubwordField documentation is absent"
## 📚 Documentation

**Description**

It is not clear how (and when) to use `SubwordField` from the documentation. And it is hard to find usage examples. It would be great if someone who used it would add at least a few lines to its doc.

For example, if I am using github.com/VKCOM/YouTokenToMe tokenizer - should I create `SubwordField` or `Field`. And what is the difference between them?

[2019-09-16 08:54] maxtrem commented on #130
I'm facing this problem too. Although some interesting ideas have been suggested here I am struggling to find a good solution that works as well with creating fields and the vocabulary.

Is there some solution for this problem where you can build up fields and vocabs as well?

[2019-09-16 15:04] XinDongol commented on #572
Could you please provide more hints about this method (I am familiar with `Callback`)?
Thanks a lot

[2019-09-16 15:48] zhangguanheng66 commented on #130
I have this problem to construct enwik9 dataset. Based on the discussions in this issue, I have some ideas:
- a list of sub-datasets
- a list of byte offsets and construct sub-datasets based on the byte offsets.

[2019-09-16 18:31] mttk commented on #130
Right now, `Dataset` classes usually function by loading and storing data and constructing vocabularies at creation time. To work with datasets too large to fit into memory, the storing part should be made optional. There's two separate issues in this thread, one working with massive files and another of working with multiple input files. I'll comment on the former with respect to the new dataset

[2019-09-17 18:56] cpuhrsch commented on #130
cc @zhangguanheng66

[2019-09-18 12:36] ZhuBaohe commented on #599
[Referring to the example of the original PR](https://github.com/pytorch/text/pull/107)

[2019-09-19 11:30] dilettacal opened #601 "Unable to load vocab objects - _default_unk_index issue"
**Exception**:
`Error while loading vocabularies: Can't get attribute '_default_unk_index' on <module 'torchtext.vocab' from 'home/user/project/env37/lib/python3.7/site-packages/torchtext/vocab.py'>`

I have trained an encoder-decoder model for translation. For the model I have pickled the vocabularies.
Now, every time I launch the program, this problem occurs. So I have to reload and process the

[2019-09-19 12:00] mttk commented on #601
So, if I understood correctly, you store the objects wih `dill`, but load with `torch.load`? I'm not sure if this is guaranteed to work as the load/save methods are different.

Could you try storing your vocab with `torch.save` instead (Vocabs are picklable since #453)?

[2019-09-19 13:12] dltcls commented on #601
I store the objects with `torch.save` but using the pickle module `dill`:
`torch.save(obj_dict, os.path.join(path_to_pkl), pickle_module=dill)`, and `obj_dict` is a torchtext `Field` object. Then I load the pickled object using torch.load as explained in the comment above

[2019-09-19 15:11] zhangguanheng66 commented on #601
I tried to torch.save vocab before with the default args and it worked.

[2019-09-23 05:16] akhilchitreddy opened #604 "AttributeError: 'MultiLabelField' object has no attribute 'is_target'"
<ipython-input-5-8d5762e54eba> in train(self, run_order, epochs, no_print)
    721             field = RawField()
    722             field.is_target = False
--> 723             for iter, data in enumerate(self.train_iter):
    724                 self.classifier.zero_grad()
    725                 (x, x_lengths), y = data.Text, data.Description

/home/ec2-user/anaconda3/envs/python2/lib/python2.7

[2019-09-23 11:39] mttk commented on #604
Is `MultiLabelField` your custom class, and does it inherit from `RawField` (it should)?
Also, could you paste the class in that case?

[2019-09-25 10:25] tomgun132 opened #606 "Using cache when loading vocab.Vectors on Windows gives OSError Invalid Argument error"
I was trying to load fasttext common-crawl vector (.vec.gz) file into torchtext by using torchtext.vocab.Vectors
`emb = vocab.Vectors(name=fasttext_name, url=URL, cache=fasttext_cache)`
For the first time without the .pt file, loading the vectors works fine and it creates<filename> .pt file on the cache folder. However, whenever I load the vector again when the .pt file exists in the folder, it gi

[2019-09-25 16:38] bentrevett opened #607 "SNLI dataset does not support extra_fields or multiple fields per json entry"
First, the `SNLI.splits` method does not accept an `extra_fields` argument. This seems fair enough as the other fields in there aren't really useful.

This, however, leads to a problem when trying to use multiple torchtext fields for each key in the SNLI dataset - such as getting both words and characters for the premise and hypothesis.

The main issue seems to be [here](https://github.com/pytorch

[2019-09-27 21:04] zhangguanheng66 commented on #606
@mttk I don't think we cover Windows now, right?

[2019-09-27 21:04] #589 closed

[2019-09-28 02:13] akurniawan opened #608 "Different design on Text Classification Dataset"
## ❓ Questions and Help

**Description**

Hi, I notice there is a noticeably different approach for text classification dataset. In test folder, for text classification, we are no longer using data.Fields nor data.Iterator anymore and instead build our own iterator for that dataset. Is there any change of direction in terms of the design from this moment forward? Or it's just for this particular d

[2019-09-29 22:29] mttk commented on #606
Windows isn't officially supported by torchtext, but I'm not convinced this should fail on Windows (as it's failing on deserialization).
@tomgun132 What's the size of the file you're trying to load? And can you try loading the serialized file in isolation (so just a script doing `torch.load()` of the vector file), and then again like this:

[code]
I'm not 100% sure of the syntax for the `extra_arg

[2019-09-30 01:36] tomgun132 commented on #606
The size of the .pt file is 2.4GB. I tried loading the serialized file by just using torch.load and it fails with the same error as well. When I tried with the argument protocol, it says that `TypeError: 'protocol' is an invalid keyword argument for load()`

[2019-09-30 10:51] mttk commented on #606
Yeah, my bad, I misremembered the `load` args, protocol is a save only arg.
This is related to Pickle having problems with loading large files (https://github.com/stanfordnlp/stanfordnlp/issues/8, https://stackoverflow.com/questions/42653386/does-pickle-randomly-fail-with-oserror-on-large-files/42725930), which exists for a while.

I've created a branch on my fork (https://github.com/mttk/text/tre

[2019-09-30 17:34] zhangguanheng66 commented on #608
@akurniawan We are currently redesigning torchtext dataset, especially `Field` class. There are a lot of things we propose to change and I will open an issue for open discussions later.

In general, we would like to break `Field` class into several orthogonal modules/functionals because wrapping up tokenizers/vocab/Batch in a single class is difficult for users. We want to create some simple indep

[2019-10-01 01:33] tomgun132 commented on #606
I uninstalled torchtext and followed the steps you mentioned. It still doesn't work and shows the same error even with a simple `torch.load`. Though, I noticed a longer time before the code shows the error.
My python version is 3.7.3 and the model file I'm trying to load is [Japanese model of fasttext common crawl vectors](https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.ja.300.vec.gz) if

[2019-10-01 02:38] akurniawan commented on #608
@zhangguanheng66 interesting! looking forward to that discussion!
One more question related to the new design, are you guys planning to add support to load data directly from cloud storage (gcs, s3, etc)? Since we already have [IterableDataset](https://pytorch.org/docs/stable/data.html#torch.utils.data.IterableDataset), would be nice to actually have built-in support to load text data from those a

[2019-10-01 09:15] mttk commented on #606
That's odd. I'll try to get my hands on a Win machine and run some debugging in the next day or so. Thanks for the info, I'll keep you updated.

[2019-10-01 10:47] tomgun132 commented on #606
My pytorch version is 1.2.0

[2019-10-01 14:26] zhangguanheng66 commented on #608
We don't have it on our current plan. But thanks for pointing it out and I will add it to our to-do lists.

[2019-10-02 09:54] akurniawan commented on #608
thanks!

[2019-10-02 09:54] #608 closed

[2019-10-02 12:27] JohnGiorgi opened #609 "How might I use the tokenizers from the HuggingFace Transformers library"
## ❓ Questions and Help

**Description**

__TL;DR__: Has anyone been able to successfully integrate the [transformers library](https://github.com/huggingface/transformers) tokenizer with torchtext?

I wanted to use the torchtext library to process/load data for use with the [transformers library](https://github.com/huggingface/transformers). I was able to set their tokenizer in a Field object, and

[2019-10-02 15:29] zhangguanheng66 commented on #609
To your questions, I think you need to check the dimension of the `encode` func.

If you set `build_vocab` to `True`, it will build a vocab based on `torchtext.vocab`. To use HuggingFace's vocab, you need to find their API for tokenization+numericalization.

I recently add a third-party tokenizer to torchtext (a.k.a sentencepiece), it is based on a different structure so you may also take a look (

[2019-10-02 17:45] JohnGiorgi commented on #609
@zhangguanheng66 Hi, and thanks for the response.

Sorry, I am not sure what "dimension" means in this context?

My understanding is that `encode` _is_ their API for tokenization+numericalization. E.g.

[code]
Is there something I am misunderstanding?

[2019-10-02 18:37] zhangguanheng66 commented on #609
The dimension means the output from the `encode` func.

I see. So you don't need to build `torchtext.vocab` here. The API is actually a tokenizer plus numericalizer. You just need to convert it into torch.Tensor(tokenizer.encode("This is a test")). In the sentencepiece [example](https://github.com/pytorch/text/pull/597/files#diff-3c53b67f6b5a0fda3d3e9cbf0455ef55R67), `sentencepiece_numericalizer`

[2019-10-03 16:34] mttk commented on #609
@JohnGiorgi your code is exactly how this should be done. You don't use torchtext's vocab and instead provide your own tokenization. The error happens due to the padding step done while batching data, where the default padding token in `data.Field` is `<PAD>`, which is a string (and since you're not using vocabs, there's no way to convert it to an index).

The solution is simply to fetch the pad i

[2019-10-03 22:22] mattr1 commented on #606
FWIW, I ran into the same problem today. We upgraded from pytorch 0.4 to 1.2 and I get the same exception when loading a pt file (no problem when creating the pt file). The .pt file size increases by 36 bytes with torch 1.2 (2,354,897,570 bytes vs. 2,354,897,534 bytes). I also tried with @mttk's patch and still had the same exception.

I did find a fix though: It works with torch 1.1.0. Strangely,

[2019-10-03 22:41] mattr1 commented on #606
Okay, looks like a known issue with pytorch 1.2:  https://github.com/pytorch/pytorch/issues/26998

[2019-10-04 17:36] kunjmehta commented on #474
@tu-artem Can you please elaborate on what adding the index [0] does?
From what I gather the `splits()` method returns a Dataset object as a tuple containing Example objects (instances/rows)
So, if I write;
`train, val = torchtext.data.TabularDataset.splits(path='./', train = "train.csv",  test = "test.csv", format='csv', fields=data_fields, skip_header = True)`
I will get a Dataset object which i

[2019-10-04 18:32] tu-artem commented on #474
@kunjmehta in your case you are already doing tuple unpacking via multiple assignment `train, val = ...`, so you don't need any further indexing

[2019-10-04 19:16] Hravan opened #611 "Getting started"
## ❓ Questions and Help

I would like to contribute to torchtext and therefore I decided to learn more about the internals of the library. Is there any guide that introduces into torchtext? I mean something that presents the core assumptions, classes, functionalities, etc., so that a person can learn how to use torchtext incrementally. If not and the only way to learn more about torchtext is to re

[2019-10-04 19:26] zhangguanheng66 commented on #611
Besides the source code, you could also read our docs [here](https://pytorch.org/text/). We also have some examples in [pytorch/tutorials](https://pytorch.org/tutorials/beginner/text_sentiment_ngrams_tutorial.html).

Please keep in mind that we plan to change the structure of torchtext significantly soon so you will see a lot of variations for the codebase.

Of course, we are always welcome the co

[2019-10-04 19:26] #611 closed

[2019-10-06 20:47] neychev opened #612 "TabularDataset fails if lines start with ""
## 🐛 Bug
**Describe the bug**
`torchtext.data.TabularDataset` generates corrupted dataset from TSV file if one of the lines starts with quotation mark `"`

**Example script to reproduce the bug is attached below**.

**To Reproduce**
Steps to reproduce the behavior:
1. Create file with one of the lines starting with `"` mark.
2. Create `TabularDataset` from this file.

**Expected behavior**
Dataset

[2019-10-06 21:00] JohnGiorgi commented on #609
@mttk Thank you so much. This is exactly what I was looking for!

Final question, do I still need to call `TEXT.build_vocab()` in my case?

[2019-10-06 21:23] mttk commented on #609
In this case, no. build vocab is relevant only when you use a vocab.

On Sun, Oct 6, 2019, 16:00 John Giorgi <notifications@github.com> wrote:

[2019-10-06 23:45] #609 closed

[2019-10-10 08:34] daydayfun opened #615 "Why can not find some models and weights(such as bert ) in this repository"
## ❓ Questions and Help

**Description**

If I want to add Bert for pytorch community, can I push models and weights of BERT in **pytorch/text**

[2019-10-10 13:33] hawkeoni commented on #612
Hello, @neychev!
It seems that the problem is a bit bigger than torchtext. It seems as even `pandas` can't correctly parse this data, because of a parameter called `quotechar` and `quoting`.

For example the following code
[code]
produces a pandas.DataFrame similiar to TabularDataset. One way to negate it is to set an additional parameter
[code]
This way the DataFrame looks as it was intended to l

[2019-10-10 14:08] hawkeoni commented on #612
@zhangguanheng66
The csv quoting mechanic is used to ignore delimiters, I can submit a PR to set it as csv.QUOTE_NONNUMERIC by default, because it seems best in torchtext.

[2019-10-11 02:26] TinaChen95 commented on #592
I've came across the same issue, and it only occur when I define my own unk_token and set min_freq >1.
Below is the code:
`
SRC = data.Field(lower=True, unk_token='<UNK>')
TGT = data.Field(lower=True)

train, val, test = datasets.IWSLT.splits(exts=('.de', '.en'), fields=(SRC, TGT))

SRC.build_vocab(train, min_freq=10)

train_iter = data.BucketIterator(dataset=train, batch_size=64,

[2019-10-11 02:29] TinaChen95 commented on #592
I come across the same issue, and it only happen when I define my own **unk_token** and set **min_freq** >1 at the same time.

here's the code I use:
`
SRC = data.Field(lower=True, unk_token="<UNK>")
TGT = data.Field(lower=True)

train, val, test = datasets.IWSLT.splits(exts=('.de', '.en'), fields=(SRC, TGT))

SRC.build_vocab(train, min_freq=10)

train_iter = data.BucketIterator(dataset=train, bat

[2019-10-11 11:24] ZeerakW opened #617 "Field information unavailable for validation set using BucketIterator.splits"
When generating data splits using BucketIterator.splits the fields are only applicable on the train data, meaning that it's impossible to iterate through dev or test splits.

Following [example 5](https://pytorch.org/text/examples.html) in the docs the issue occurs when iterating over the dev or test splits.

Running the code below

[code]
produces the correct output:

[code]

and this traceback

[2019-10-11 19:58] giovannipcarvalho commented on #78
@greed2411 you don't even need the lambda. `Field(use_vocab=False, preprocessing=float)` is enough.

[2019-10-12 02:08] TinaChen95 opened #618 "arr = [[self.vocab.stoi[x] for x in ex] for ex in arr] KeyError: None"
## 🐛 Bug
**Describe the bug**
I came across this error when using **data.Field**. It only happen when I define my own **unk_token** and set **min_freq** >1 at the same time.

**To Reproduce**
the code I use:
`SRC = data.Field(lower=True, unk_token="my_unk_token")
TGT = data.Field(lower=True)

train, val, test = datasets.IWSLT.splits(exts=('.de', '.en'), fields=(SRC, TGT))

SRC.build_vocab(train, m

[2019-10-12 06:14] daydayfun commented on #615
thanks

[2019-10-12 06:14] #615 closed

[2019-10-15 14:42] JohnGiorgi opened #619 "How to use torchtext for sequence labelling with wordpiece tokeniers"
## ❓ Questions and Help

**Description**

Hi,

In a previous issue (#609), I asked how to use the tokenizer from the [Transformers](https://github.com/huggingface/transformers) library with torch text.

I now would like to be able to use this tokenizer and torchtext to load sequence labelling datasets. The issue I am facing is that the tokenizer introduces wordpiece tokens, which ends up breaking

[2019-10-16 08:07] balhafni commented on #201
Is there a way in `torchtext.vocab` to load the vectors from a binary file or they must be in the standard word2vec format?

[2019-10-17 02:27] trangtv57 opened #620 "Can I use torchtext for load data to multi gpu?"
## ❓ Questions and Help
as the title, I try to use torchtext for load my data to balance of 2 gpus, but it's not working

**Description**

[2019-10-18 04:14] binhna commented on #37
Have you solved this yet? I am trying to implement word-level combined with char-level using torchtext too

[2019-10-21 17:27] h56cho opened #622 "How to integrate HuggingFace transformers with Torchtext?"
## ❓ Questions and Help

Hello,

I am trying to use the pretrained tokenizer from the HuggingFace Transformer-XL when training my custom transformer-XL model on WikiText2, and I am having a trouble making the BPTTIterator from the Torchtext to work.

Below are my code:

[code]

How can I fix this error?

Thank you,

[2019-10-21 20:50] zhangguanheng66 commented on #619
@mttk any ideas?

[2019-10-21 21:02] zhangguanheng66 commented on #617
@mttk any ideas?

[2019-10-23 12:02] lwgkzl opened #623 "Is vocab embedding shared across fields？"
## ❓ Questions and Help

**Description**

When i train to generat a dialog response by a question in different field. Are questions and answers shared their embedding?

[2019-10-23 18:29] zhangguanheng66 commented on #623
You may want to ask this kind of questions on PyTorch nlp forum [here](https://discuss.pytorch.org/c/nlp).

[2019-10-23 18:29] #623 closed

[2019-10-23 18:53] zhangguanheng66 commented on #201
@balhafni I don't see the utils to load a binary file there.

[2019-10-23 21:49] imran3180 opened #625 "id field in the example"
## ❓ Questions and Help

**Description**

How can I find the id of the particular example while processing the batch?

I need it because I have to maintain a particular statistics for each example while training. Since Iterators shuffle the example while batching, so the order is getting lost.

Or Is there any workaround by which I can identify the reverse mapping of examples in batch to the origi

[2019-10-23 22:03] zhangguanheng66 commented on #625
a particular statistics? So you mean a non-uniform distribution? I guess you probably need a custom `Sampler` and batch examples based a sampling density.

[2019-10-24 09:46] mttk commented on #619
This is an oversight with `LabelField` as `sequential` defaults to `False`.
Please replace this line
[code]
with
[code]
You will get misaligned (sequence-length wise) batches but that's fine as you know how to align them.

[2019-10-24 10:23] ZeerakW commented on #617
@mttk so that would be strange because the test and dev sets are the same and they're both just the last 500 rows + header of the train file. I've e-mailed you the file because I can't seem to find the URL again.

[2019-10-24 10:52] mttk commented on #622
Where did you define `TEXT` (used as argument here `train_Wiki2, val_Wiki2, test_Wiki2 = torchtext.datasets.WikiText2.splits(TEXT)`)?

[2019-10-24 12:21] mttk commented on #618
This happens due to redefining the unk token which is hardcoded at one point. It's a pretty big bug, thanks for spotting it. I will issue a fix soon.

[2019-10-24 14:11] zhangguanheng66 commented on #622
We can integrate `get_tokenizer` func with HuggingFace AIP. Then pass the tokenizer to `TEXT`.

[2019-10-26 01:58] yonghangzhou opened #628 "can't download dataset from drive.google.com"
## 🐛 Bug
**Describe the bug**
A clear and concise description of what the bug is.

when i run train_dataset,test_dataset = text_classification.DATASETS['AG_NEWS'](root = './data/text_classcification',ngrams=NGRAMS,vocab=None)

it will be error ：
ConnectionError: HTTPSConnectionPool(host='drive.google.com', port=443): Max retries exceeded with url: /uc?export=download&id=0Bz8a_Dbh9QhbUDNpeUdjb0wxRm

[2019-10-27 09:02] h56cho opened #629 "How to use custom-built Torchtext vocabulary with the HuggingFace TransfoXLLMHeadModel?"
Hello,

I am trying to use my custom built vocabulary which I defined using Torchtext functions with the HuggingFace TransfoXLLMHeadModel, and I am having some troubles with it.
I defined my text field as below:
[code]
and then I defined the HuggingFace transformer's configuration as below:
[code]
and then I want to somehow specify that I want to use my `TEXT.vocab` that I defined earlier via Torc

[2019-10-27 12:57] h56cho opened #630 "How can I train TransfoXLLMHeadModel on a dataset that is different than just WikiText103?"
Hello,

Is it possible to train HuggingFace TransfoXLLMHeadModel on a dataset different than WikiText103, say, on the combined WikiText2 and WikiText103 dataset?

Below are my code:
[code]

and now I am trying to write the train function but I am not sure how exactly I should proceed.
Below is what I tried:

[code]

But I don't think the line `loss = criterion(output.view(-1, ntokens), targets)` s

[2019-10-27 15:01] zhangguanheng66 commented on #630
https://github.com/pytorch/text/issues/609

[2019-10-27 15:11] zhangguanheng66 commented on #629
You mean apply HF tokenizer, instead of spacy? Since you have the train/valid/test data, you should be able to send them to HF model for training.

BTW, the vocab is generated from train/valid/test data. Why not just train data?

[2019-10-27 15:12] zhangguanheng66 commented on #628
Cannot reproduce the issue? Feel free to re-open it if you still have questions.

[2019-10-27 15:12] #628 closed

[2019-10-27 16:24] h56cho commented on #630
Hello,

Thank you for your comment.
I already have seen the post that you have pointed out, and was trying to follow the instructions but I am still having troubles with training my custom Transformer-XL model on WikiText2 dataset. Below are my BPTTiterator and the train function.

Do you see any error in my train function? Thank you,

[code]

[2019-10-27 16:31] h56cho commented on #630
I am especially interested in knowing whethe the part below is correct:
[code]
What I am intending to do here is to train my custom Transformer-XL model by calculating the loss and propagate it backwards.

PS: It seems that this HuggingFace integration is not allowing users to specify the type of loss that's being calculated --- in the `loss = output[0]`, what type of loss does this specifically r

[2019-10-27 17:11] h56cho commented on #629
Hello,

Thank you for your reply.
The problem I am facing is I don't know how to send my train/valid/test data to a HF model for training. Don't I need to write a separate train function for training the model?

Below is my BPTTiterator and the train function.
Do you see any error in my train function? Thank you,

[code]

NOTE: I am especially interested in knowing whether the part of my train fun

[2019-10-27 17:18] h56cho commented on #629
Could you please provide me with some example code on how to send the datasets generated by `train_Wiki2, val_Wiki2, test_Wiki2 = torchtext.datasets.WikiText2.splits(TEXT)` to a custom HF model for training?

[2019-10-28 14:21] zhangguanheng66 commented on #629
[Here](https://pytorch.org/tutorials/beginner/torchtext_translation_tutorial.html) is an example.

Please note that the datasets in torchtext are subject to change at this moment. Dataset with new pattern (more compatible with `torch.utils.data`) could be found [here](https://pytorch.org/tutorials/beginner/text_sentiment_ngrams_tutorial.html).

[2019-10-28 20:10] mttk commented on #629
Hi,

your `train` function is more or less correct. You can iterate over the training data without indexing like this:
[code]

The return value from the `model()` call can be seen if you check the class implementation in the `transformers` library here: https://github.com/huggingface/transformers/blob/master/transformers/modeling_transfo_xl.py#L780

The return values are always outputs of a (varia

[2019-10-29 02:12] moomooda opened #631 "Would you please include sort_idex in the modules in Iterator ?"
## 🚀 Feature

**Motivation**

I want to get the original index of the sorted lists of the batch, because getting the sorted lists into original index after the training process of model is helpful

[2019-10-29 20:15] cpuhrsch opened #632 "Subword models: PBE, Unigram subword models and Unicode equivalence"
## Motivation

There are multiple libraries that implement subword models within the compression-based space. There is fastBPE, SentencePiece, YouTokenToMe, etc.

As far as I can tell there are four major, orthogonal pieces these libraries implement together
1) White space substitution (e.g. replace whitespace with U+2581 or @@)
2) Unicode equivalence, e.g. NFKC
3) BPE as defined by https://arxiv.

[2019-10-29 20:52] vincentqb commented on #632
By the way, when loading a [dataset](https://github.com/pytorch/text/tree/master/torchtext/datasets), do we expect any of the transforms to be applied (say white space substitution), or do we let the user apply the ones desired?

[2019-10-29 20:55] zhangguanheng66 commented on #632
I agree that we should create a simple interface to support those subword models. It could be a subward transform to process the raw text data.

[2019-10-29 20:58] zhangguanheng66 commented on #632
For basic users, we provide them the data that are ready for use. At the same time, we keep the flexibility for advanced user to choose the transforms. At least for tokenizers, each dataset has a default one but subject to change.

[2019-10-29 22:28] chenyangyu1988 commented on #632
@zhangguanheng66 @vincentqb I agree that we should keep flexibility for advanced user to choose the transforms. Usually a pre-trained model is tightly coupled with a transform, for example: RoBERTa is using gpt-2 BPE for pre-training, so we also need to use the same transform when doing fine-tuning no matter the dataset.

[2019-10-30 12:19] h56cho commented on #629
Hello, if HuggingFace transformerXL model can't yet be trained from scratch and loss is not returned as the result, why is the HuggingFace Transformer XL documentation indicate that the loss can be returned with appropriate labels(https://huggingface.co/transformers/model_doc/transformerxl.html#transfoxllmheadmodel)?

[2019-10-30 12:22] mttk commented on #629
I believe it is better to ask that question at the trasnformers repository.

[2019-10-30 12:33] h56cho commented on #629
Hello,
Thank you again for your reply. I just found out that it was an error in the documentation, and like you mentioned, the TransfoXLLMHead model cannot be trained from scratch just yet.

Because I am new to python and NLP in general, can I confirm with you that, unlike TransfoXLLMHead model, the HuggingFace TransfoXLModel is trainable from scratch. From the TransfoXLModel code, it appears that

[2019-10-30 12:38] cpuhrsch commented on #632
For now I'd treat all of these pieces as functionals. Whitespace substitution and unicode equivalence are straightforward string manipulations, so they can be a few functions for the different options. BPE and the unigram subword language model could be viewed as compression techniques for existing vocabularies given a certain dataset. They could be transforms for vocabularies with a certain inter

[2019-10-30 12:56] mttk commented on #629
The `TransfoXLModel` is merely en encoder, and is not task-specific. Given a sequence of inputs it will produce a sequence of hidden states representing the "contextualized" sequence. In order to train it, you need to apply it to a concrete task (done by adding a "prediction head", hence `TransfoXLLMHead`, which does language modelling) So, you would need to make your changes to the `TransfoXLLMHe

[2019-10-31 03:32] QDxiaoye commented on #601
I guess the issue is the version of the package.
when I use dill to save object at torchtext=0.3.1 and load object at  torchtext=0.4.0, the issue happend

[2019-10-31 16:33] ZeerakW commented on #617
I've looked more into this and it only happened with that one dataset and in the files generated by @mttk (and when I tried regenerating them myself) it didn't happen.

[2019-10-31 16:33] #617 closed

[2019-10-31 18:01] mttk commented on #313
You can likely do this with the current version of the vocab. When iterating over the data, imagine your batch is of shape BxT (batch_size x sequence length). Each element in the batch is a sequence of indices from the vocabulary.

You can convert each element in the T dimension to a one-hot embedding:
[code]
But since this matrix will be very large if your vocab is large, you might want to conver

[2019-10-31 19:51] ZeerakW commented on #313
@mttk Amazing! I'll try it out tomorrow to confirm that it works (my vocabulary is small) and I'll try with a multi hot encoding sometime in the next week and report back (potentially with code).

[2019-11-01 05:44] LeenaShekhar opened #633 "Custom Dataset class in Torchtext with variable number of Fields"
## ❓ Questions and Help

**Description**
A custom dataset in Torchtext where each data is (text1, text2, and label) can be written something like below:

[code]

But in my case rather than text1 and text2, I have 2 lists of strings of variable length (text1 = ["some text", "some text", ...] and text2 = ["yet some text", "yet some text", ...])and a label for the 2 lists.

How can I write a dataset

[2019-11-01 06:14] LeenaShekhar commented on #324
@nh007cs Thank you for proving your code. I have a doubt, where are you using the DataIter class in your code? I am just trying to understand the flow of the code.

My problem is similar, I have to read my data and each sample has three fields: first list of texts, second list of texts, and a label associated with these two lists. Then length of each list is a variable and each sentence in list ha

[2019-11-01 14:57] mttk commented on #633
Yeah, you would want to use NestedField here. I would concatenate the lists of strings with some delimiter (so text1 and text2 will have these texts as a single string), define a `NestedField` which knows how to split these merged texts to obtain the lists, and the `nesting_field` which would know how to process each element.

I can't produce the code right now, but this should be straightforward

[2019-11-01 15:21] #629 closed

[2019-11-01 17:01] LeenaShekhar commented on #633
Thank you @mttk!
I actually tried something similar: defined a NestedField with a custom tokenizer (I concatenated my list of strings with the custom delimiter) and passed NestingField to it as well. It as still splitting everything at character level. May be I made some error so I will try that again.

[2019-11-01 17:04] mttk commented on #633
If you don't manage to fix it within some reasonable time, feel free to paste a minimal reproduction and I'll look at it. I won't get a lot of time over this weekend though.

[2019-11-02 17:22] antgr opened #634 "build_vovab with fasttext"
## 🐛 Bug
**Describe the bug**
TEXT_FASTTEXT.build_vocab(train_data,
                 min_freq = MIN_FREQ,
                 vectors = torchtext.vocab.FastText(),
                 unk_init = torch.Tensor.normal_)
URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>
Similar issue also for CharNGram
HTTPError: HTTP Error 403: Forbidden

Also no issue using

[2019-11-03 13:01] lsh23 opened #635 "Can I get embedding vectors from my pretrained vectors?"
## ❓ Questions and Help

**Description**
[code]

I want to get TEXT.vocab.vectors from not the vectors torchtext had but my pretrained vector.

for example
[code]
and then I will get the torch text embedding vectors from my_pretrained_vectors.

[2019-11-04 06:26] LeenaShekhar commented on #633
I think I made some mistake first time because NestedField works just fine. Thank you for confirming it though in the first place.

[2019-11-04 10:34] #633 closed

[2019-11-04 15:00] zhangguanheng66 commented on #635
@mttk Any ideas?

[2019-11-04 16:43] mttk commented on #635
@lsh23 I assume you want to load some vector file which you produced yourself (not one of the pretrained GloVe, word2vec, files).
In that case you need to format your vector file in the standard format (each line contains a word and a vector, where all the values are separated by a single space). Then construct your own `Vectors` object by passing the path to your vector file to the constructor, e

[2019-11-05 08:03] lsh23 commented on #635
thank you for the answer!

[2019-11-05 08:03] #635 closed

[2019-11-05 19:14] ZeerakW commented on #313
Oh forgot to report back. Using ```torch.functional.one_hot``` works on a batch level. I haven't had time to try out a multi-hot  vector so can't say if that'll work. But perhaps this can be closed now?

[2019-11-05 19:23] mttk commented on #313
Yup, thanks for confirming!

[2019-11-05 19:23] #313 closed

[2019-11-07 06:36] kamrankausar commented on #236
preprocessed data was found and loaded
Traceback (most recent call last):
  File "train_word_embeddings_2.py", line 61, in <module>
    neg_loss = neg_loss.cuda()
  File "/home/kamran/anaconda3/lib/python3.6/site-packages/torch/nn/modules/module.py", line 305, in cuda
    return self._apply(lambda t: t.cuda(device))
  File "/home/kamran/anaconda3/lib/python3.6/site-packages/torch/nn/modules/module

[2019-11-08 16:36] h56cho opened #636 "For HuggingFace GPT2DoubleHeadsModel, is there a way to directly provide a hidden state for an input?"
Hello,
Say I have two custom trained HuggingFace GPT2DoubleHeadsModels (Model 1 and 2).
I want to take an hidden state of m-th layer of model 1, and use that hidden state as my input for model 2.
Is this possible with HuggingFace GPT2DoubleHeadsModels?

Some coding example would be a great help!

Thank you,

[2019-11-08 17:08] zhangguanheng66 commented on #636
You could ask this question at [HF](https://github.com/huggingface)

[2019-11-09 19:48] antgr opened #639 "train loop modification for multiple datasets"
## ❓ Questions and Help

**Description**
Hi, I want to make a train loop but each time I want to chose from a different dataset.
So, instead of having something like this:
```      for batch in iterator:```
I would imagine something like (pseudocode follows):
``` choose one of the iterators to differrent datasets as the current iterator. See if has next item, if id does not remove this iterator fr

[2019-11-12 22:12] leimao commented on #73
It is nearly 2020, so what is the official solution now? Thanks.

[2019-11-12 22:47] PetrochukM commented on #73
I built PyTorch-NLP out of frustration: https://github.com/PetrochukM/PyTorch-NLP

[2019-11-12 22:49] mttk commented on #73
@leimao you can save fields by using `torch.save` since #453 was merged.

[2019-11-12 23:12] PetrochukM commented on #539
Like this?
https://github.com/PetrochukM/PyTorch-NLP#pre-trained-word-vectors

[2019-11-12 23:14] PetrochukM commented on #522
You mean something like this? https://github.com/PetrochukM/PyTorch-NLP#deterministic-functions

[2019-11-12 23:57] leimao commented on #73
`torch.save` and `torch.load` seem to be working. Thank you.

[2019-11-13 20:13] kiran-kate opened #640 "BucketIterator small batch in the middle"
I am using BucketIterator in the following code:
[code]

And the output of print(len(batch_y)) shows that a batch in the middle is the small batch and all other batches are of size batch_size. One would expect the last batch to be small. Issue #438 seems to report the same observation. This is affecting my downstream code, is there a way to avoid this behavior?

[2019-11-14 17:00] LeoLaugier opened #641 "Setting sort_within_batch of pool to True when called in the method create_batches of BucketIterator?"
Hi,

I am working with torchtext and I had a question about the **pool** function in the iterator module.

I have a train_dataset, valid_dataset and test_dataset. I want to create a train iterator with minibatches of similar lengths, with random internal order, and eventually shuffle the order of the minibatches. For the valid and test set, I want to keep their initial orders and create batches se

[2019-11-15 15:16] ZeerakW opened #642 "KeyError in vocab if the vocab is built on a subset of the initially read data"
So I'm getting a strange issue, where I'm trying to read in a dataset (from a single file), split it into a train, dev, and test set. If I read it in using TabularDataset, then split the data, and train the vocab on the first split, I get KeyErrors, however if I split the dataset files prior to reading it in, no such errors occur.

Dataset I've been running into this issue: https://github.com/t-da

[2019-11-15 16:59] zhangguanheng66 commented on #642
@mttk Are we supposed to read and split a single file for train/valid/test datasets.

[2019-11-15 17:08] zhangguanheng66 commented on #641
@mttk I think this is a good example to decouple those functionals.

@LeoLaugier If you don't want to sort valid/test dataset, can you pass them separately to `data.BucketIterator.splits()`

[2019-11-16 04:08] Hans0124SG opened #643 "How to skip last batch that has a different batch size?"
## ❓ Questions and Help

**Description**

Sorry if this is a newbie question.
In `torch.nn.utils.data.dataloader` we can drop the last batch by specifying `drop_last=True`.
Do we have something equivalent for our `Iterator`? Currently I continue the training loop if I see the current `batch_size` is different from my preset `batch_size`. Is there something built-in?

Thank you very much!

[2019-11-18 06:53] icmpnorequest commented on #618
When running on my own custom dataset using `torchtext`, it runs successfully on train_dataset, but for evaluating, it shows the error:
[code]

Could somebody help me fix this issue?
Thanks in advance!

[2019-11-18 10:07] mttk commented on #618
Your vocab is likely initialized without an UNK token. Can you paste the definition of the Fields for the dataset?

[2019-11-18 13:25] icmpnorequest commented on #618
@mttk
Here is my initialization of the Fields code:
[code]

It runs successfully with training dataset, however, with validating dataset / testing dataset, it shows error:
[code]

The testing code is below:
[code]

[2019-11-18 13:42] mttk commented on #618
From what I see, you have token-wise labels (the POS tags). Since the LabelField assumes there is no tokenization (a single label), it treats this `"('DET', 'NOUN', 'ADP', 'DET', 'NOUN', 'NOUN', 'ADP', 'DET', 'NOUN', 'NOUN', 'VERB', 'ADJ', 'NOUN')"` as a single string.
Since that exact sequence of POS tags wasn't seen in the training data, and LabelFields don't use unk tokens, this error occurs.

[2019-11-18 13:44] mttk commented on #643
Unfortunately, there is nothing of the sort built-in right now.

[2019-11-18 15:54] zhangguanheng66 commented on #643
Could you check and skip the last batch if the batch size is different from the normal?

Close this issue for now and suggest to ask the question in [pytorch/issues](https://github.com/pytorch/pytorch/issues)

[2019-11-18 15:54] #643 closed

[2019-11-19 02:12] h56cho opened #644 "Using Google 1-billion benchmark data on PyTorch"
Hello,

I am new to NLP and I have some questions.

I downloaded the Google 1-billion benchmark dataset, and I am trying to use the dataset on PyTorch:

[code]

I also want to make a use of WikiText2 that is built in PyTorch:

[code]
...and I want my `train_billion_google` to have the same structure as my `train_Wiki2`, more specifically, I want my `train_billion_google` to store a list of individ

[2019-11-19 07:42] icmpnorequest commented on #618
@mttk
Thank you so much for the detailed guidance on `LabelField`.
I tried building `my_tokenize_function`, but still with bugs. Finally solved by formatting the POS-Tagging dataset with the proper format in csv:
[code]
And using LabelField, it works!

[2019-11-19 10:44] bentrevett commented on #644
You should use the [LanguageModelingDataset](https://github.com/pytorch/text/blob/master/torchtext/datasets/language_modeling.py#L5) instead of the `TabularDataset`.

[2019-11-19 11:25] h56cho commented on #644
Hello,
Thank you for your reply.
I am new to torchtext and I am unfamiliar with so many things.
How can I use `LangaugeModelingDataset` with `splits`?
I want to split my `billion_google` dataset into `train_billion_google`,`val_billion_google`, and `test_billion_google`, just as in the case of the WikiText2 dataset when I execute the line of code below:

[code]

Thank you again,

[2019-11-19 14:48] zhangguanheng66 commented on #644
We are re-writing a lot of datasets, including language modeling dataset @bentrevett @h56cho . In your case, it should be pretty simple to use our new pattern (take a look [here](https://github.com/pytorch/text/pull/624)). If you would like to add this `billion_google` dataset to torchtext, please open a PR and I'm happy to review/land it. Regarding `splits` function, the new pattern is more compa

[2019-11-19 15:32] h56cho commented on #644
Hello,

My background is not computer programming and I am having hard time understanding the posts.
If you can, could you please provide me with some codes as to how I can apply the `splits` function to `billion_google`?

I tried the code below and it's giving me an error...
[code]

[2019-11-19 15:36] h56cho opened #645 "Adding Google 1 Billion Benchmark Dataset to PyTorch dataset"
Hello,

Currently, for language modelling, PyTorch has 3 built-in datasets (WikiText103, WikiText2, Penn Treebank). Would it be possible to add the Google 1 Billion Benchmark dataset as one of the PyTorch language modelling built-in data?

The link to the Google 1 Billion Benchmark dataset is below:

http://www.statmt.org/lm-benchmark/

Thanks,

[2019-11-19 15:46] zhangguanheng66 commented on #644
@h56cho You could download the file, which is very large, and pass the path to `LanguageModelingDataset`.

[2019-11-19 15:48] zhangguanheng66 commented on #645
Just for future contributors, the raw files are quite large compared with current built-in language modeling datasets. However, it's still useful to include this benchmark dataset for Torchtext users. My suggestion is to start with the one "News Crawl corpus (2011 only)"

[2019-11-19 15:49] h56cho commented on #644
Hello,
Yes, I know that but my question is I don’t know how to split `billion_google` data into train, test, and validation sets. The `splits` function is not working for me, Python is complaining that there are not enough values to unpack.

[2019-11-19 16:36] h56cho commented on #644
Hello,

I tried a slightly different approach and it's still not working for me...
[code]
Python indicates that the `train_billion_google` set in this case contains only 13 tokens, which is clearly wrong. What am I doing wrong here? I can't split `billion_google`!

[2019-11-19 16:43] zhangguanheng66 commented on #644
Can you check the training file 'train_billion_google' ?

[2019-11-19 16:46] h56cho commented on #644
Hello,

The file file 'train_billion_google` is only 196 bytes large and when I open it, it's completely empty.

[2019-11-19 18:30] zhangguanheng66 commented on #644
So you didn't download it correctly.

[2019-11-19 18:41] h56cho commented on #644
Hello,

so how can I "download it correctly"? I thought that I am supposed to manually make the empty files named `train_billion_google`, `val_billion_google`, `test_billion_google` before executing the line of code below:

[code]

again, how can I make the `splits` function to work?

Thank you,

[2019-11-19 18:42] h56cho commented on #644
The `billion_google` file is full of texts, but the `train_billion_google, val_billion_google, test_billion_google` files are empty because I manually (artificially) made an empty file before running the code above.

[2019-11-19 18:46] h56cho commented on #644
I don't get how I can use the "new pattern" in TorchText to make `split` function to work.

[2019-11-19 18:55] zhangguanheng66 commented on #644
It's quite confused me. To test your code, you should add "something" in `train_billion_google` file and see if it load the information as expected.

For the new pattern, it's not supposed to use `splits`. If you take a look at the PR I attached above, it should be pretty clear to put together a new dataset (a.k.a. billion_google).

[2019-11-19 23:38] h56cho opened #646 "Can the HuggingFace GPT2DoubleHeadsModel either for regular language modelling or solving multiple-choice questions? or is it only for solving multiple-choice questions?"
Hello,

According to the HuggingFace Transformer's website (https://huggingface.co/transformers/model_doc/gpt2.html#gpt2doubleheadsmodel), GPT2DoubleHeadsModel is the GPT2 Model transformer with a language modelling and a multiple-choice classification head on top e.g. for RocStories/SWAG tasks.

Does this mean that the GPT2DoubleHeadsModel can be used for both the regular language modelling tasks

[2019-11-20 00:15] h56cho commented on #646
How exactly does the Swag task is performed with the GPT2? Do we just feed in a sequence of tokens that makes up the question statement as well as the multiple choice options, and a GPT2DoubleHeadsModel puts out one of the multiple choice options as an output (i.e. as an answer that it selects)?

I am not sure if I am understanding the GPT2 paper correctly.

Thank you,

[2019-11-20 01:03] h56cho commented on #644
Thank you!

Your answer solved my issue.

[2019-11-20 01:03] #644 closed

[2019-11-20 13:16] mttk commented on #618
Great, I'm glad that I inadvertendly helped!

[2019-11-20 13:28] mttk commented on #642
@ZeerakW could you paste the code you're using for both loads? I'm interested in the Field config

[2019-11-20 14:12] ZeerakW commented on #642
Sure, just for completeness here is everything. I'm just heading out now, but will post a notebook later.

[code]

And here the loads diverge for one line:

Working (train vocab on entire dataset)
[code]

Not working
[code]

Reconverging:
[code]

and then (first line works, second fails).

[code]

[2019-11-20 14:43] antgr opened #647 "Length of a dataset"
## ❓ Questions and Help

Hello, how could I calculate the length of a default dataset like imdb etc,  With length I mean the number of its examples.

[2019-11-20 14:53] mttk commented on #647
`len(dataset)` should do it.

[2019-11-20 15:04] zhangguanheng66 commented on #647
Feel free to re-open it if you still have questions.

[2019-11-20 15:04] #647 closed

[2019-11-20 15:05] antgr commented on #647
Yes! Thank you... In the mean time I figured it out, and I was ready to post it as well.

[2019-11-20 15:11] antgr opened #648 "TEXT.build_vocab for two datasets"
## ❓ Questions and Help

**Description**

Hi, I want to do multitask learning, and to use two datasets.
I want to create common vocabulary from the two datasets. For example from imdb and snli. How should I use TEXT.build_vocab to achieve this?

[2019-11-20 15:14] zhangguanheng66 commented on #646
I suggest to ask this question on HF's Github and add the link of discussions here. Thanks.

[2019-11-20 15:15] zhangguanheng66 commented on #648
@mttk Can we pass a pretrained vocab object to build a torchtext dataset?

[2019-11-20 15:29] antgr commented on #647
OK, I have one more question.
If I take a slice of the dataset, will this keep its properties?
I would like to take a small version of a dataset  for example
train_data_nli_small = train_data_nli[:len(train_data)]
but then I think that it is not iterable any more.

[2019-11-20 17:01] ZeerakW commented on #642
Here's a gist: https://gist.github.com/ZeerakW/b9da3c9a9c456d404b71cc7f82429dc2

[2019-11-22 12:52] h56cho opened #649 "How to perform common sense reasoning task with GPT-2?"
Hello,

I am new to NLP so I have lots of questions.
I am interested in carrying out common sense reasoning task with GPT-2, for example, with Winograd Schema Challenge dataset.

Q1. How should I tokenize the Winograd Schema Challenge dataset to process it with GPT-2 (with the double heads model, for instance)? Can someone please give me an example?

Q2. Can GPT2DoubleHeadsModel be used to conduct

[2019-11-22 15:24] zhangguanheng66 commented on #649
There is a paper about commonsense reasoning [here](https://arxiv.org/pdf/1806.02847.pdf).

I didn't take a look at Winograd Schema Challenge dataset. Based on GPT-2, you need two sentences for the two heads (language modeling and classification). Depending on the structure of the raw data, you may write some custom pipeline (see the [one](https://github.com/pytorch/text/blob/3271dc87d1157d9db6186

[2019-11-22 15:37] mttk commented on #648
You can build vocab from multiple datasets (the argument for `TEXT.build_vocab` can be a sequence of `Dataset` instances).
Illustratively:
[code]

[2019-11-22 16:09] antgr commented on #648
You mean that I could not use for example "Glove" etc. Right?
For example something like:
TEXT.build_vocab(imdb_train, snli_train
                 min_freq = MIN_FREQ,
                 vectors = "glove.6B.300d",
                 unk_init = torch.Tensor.normal_)

[2019-11-22 16:12] mttk commented on #648
That should work, yes. The Field has to be shared between the Datasets (as it is in the example above),  and you will get a common vocab.

[2019-11-22 16:19] h56cho commented on #649
Hello,

Thank you very much for your reply.
So suppose the raw data is structured like below:
[code]

so to process this type of data with GPT-2 double heads model, do I need to rearrange the data like below, and feed the rearranged sequences into GPT2 for training?:

[code]
(notice that I got rid of the proper label at the end)
one of the things that I am unsure about is when creating two sentenc

[2019-11-22 16:43] zhangguanheng66 commented on #649
I may not correct. IMO, you need to split the raw text into `q`, `context`, `option0`, `option1`, `correctLabel`. You need to write a very custom pipeline for this part (similar to [_csv_iterator](https://github.com/pytorch/text/blob/3271dc87d1157d9db618611558d5b2efe6c21268/torchtext/datasets/text_classification.py#L31)). After this step, you need to build vocab (like [this](https://github.com/pyt

[2019-11-22 17:25] antgr commented on #648
OK thank you! And if i would like to use a custom dataset instead of, for example, imdb? How could I use there the TEXT? Can I use ```split``` (with text_field as argument) in a custom dataset as well?

[2019-11-22 18:27] mttk commented on #648
You have to load that dataset by e.g. using TabularDataset and assigning TEXT as a field in the constructor, then you can use the builtin `dataset.split` method. Now you have your custom dataset splits loaded.

Then, you can pass any instance of Dataset as an argument to `TEXT.build_vocab`.

[2019-11-23 14:38] #649 closed

[2019-11-25 21:33] antgr opened #650 "combining TEXT.build_vocab with flair embeddings"
## ❓ Questions and Help

**Description**

Hi, we can use glove embedding  when building vocab, using
something like:
[code]
We also can create embeddings using flair library, using for example:
[code]
Could I use the above embeddings instead of glove in the above code?
Is anything similar to this supported?

[2019-11-25 23:05] zhangguanheng66 commented on #650
@mttk I don't think we are currently supporting this one, right?

[2019-11-26 10:11] mttk commented on #650
We don't support something like this out of the box, as flair has its own API for tokenization / data loading, and there is no simple way to integrate it with torchtext.

If you **really** want to (ex. for using your own dataset), you can do an ugly workaround like (1) initializing a Dataset in torchtext without assigning a `vectors` object to your Field, then (2) constructing a fake flair `Senten

[2019-11-26 12:50] h56cho opened #652 "How to add special token in torch text.Data.Field( )?"
Hello,

I defined my text Field as below:
[code]
However, in the text `openbookQA`, there is a special token named `<mcoption>`. How can I make the text Field to recognize this special token?

Thank you,

[2019-11-26 13:29] mttk commented on #652
You can pass a **keyword argument** specials when calling `build_vocab()`.
Example:
[code]

[2019-11-26 13:31] h56cho opened #653 "LanguageModelingDataset is not recognizing special tokens"
Hello,

When I define my Fields and perform split like below, under `train_Wiki2.examples[0].text`, `val_Wiki2.examples[0].text`, `test_Wiki2.examples[0].text`, I see that the end-of-sentence token `<eos>`,etc. are correctly recognized as a single token as a whole, but for some reason the unknown-token `<unk>` is not recognized as a single token as a whole:

[code]
How can I make LanguageModelingD

[2019-11-26 13:34] antgr commented on #650
So, what you say is to construct a gigantic sentence with all the words of the vocab, use this sentence as argument in  ```stacked_embeddings.embed(sentence)``` and iterate through the tokens of the result, concatenating them in a pytorch tensor (3), and then use this tensor for nn.Embedding. Am I right?

[2019-11-26 13:35] mttk commented on #653
Wikitext2 is already pre-tokenized and stored in a space-separated format (thus the `<unk>` tokens). In this case, you are using the spacy english tokenizer, which incorrectly splits the `<unk>` token.
For such pre-tokenized datasets, you should simply not define a tokenizer, and then the default `string.split` will be used, which is intended for these cases.

So -- simply remove the `tokenizer` a

[2019-11-26 13:37] mttk commented on #650
Correct. It is ugly, but it will work and I don't see a cleaner way to do it (again, I'm not an expert with flair).

[2019-11-26 13:39] h56cho commented on #653
Thank you!

[2019-11-26 13:39] #653 closed

[2019-11-26 13:40] h56cho commented on #652
Thank you!

[2019-11-26 13:40] #652 closed

[2019-11-26 14:44] h56cho opened #654 "torchtext iterator that tokenizes each line of words between the tokens `<sos>` and `<eos>`"
Hello,

I generated a text file called `openbookQA_train`. The contents of this file are shown below:
[code]

I am trying to use or define torchtext Iterator to generate the input that I can pass into my Transformer.

I want **each sample** in my `next(iter(openbookQA_train)).text` to be a series of integers that are obtained by tokenizing each line of words between  `<sos>` and `<eos>` (including

[2019-11-26 15:09] zhangguanheng66 commented on #654
@mttk may have a solution for this.

Otherwise, you could take a look at the new language modeling dataset (https://github.com/pytorch/text/pull/624) and write a custom pipeline.

[2019-11-26 15:16] mttk commented on #654
The fixed length can be set for certain Fields by using the `fix_length` argument of `Field`. Let's say you want to pad every example to 128 tokens.
[code]

[2019-11-26 15:28] bentrevett opened #655 "Ability to pass custom tokenizer to text_classification datasets"
## 🚀 Feature
The current `text_classification` sets all use the "basic english" tokenizer which cannot be changed. I would propose that a `tokenizer` argument is added to `_csv_iterator` and `_setup_datasets` to allow us to use a custom tokenizer function, as we can do with the new `language_modeling` datasets.

Required changes:
FROM
[code]
[code]
[code]
[code]

TO
[code]
[code]
[code]
[code]

[2019-11-26 15:33] zhangguanheng66 commented on #655
@bentrevett Thanks. I will accommodate this feature in  https://github.com/pytorch/text/pull/651

[2019-11-26 16:09] h56cho commented on #654
Hello,

Thank you for your reply.
How can I ensure that each sample at a fixed sample length (I will set the fixed sample length in a way that this fixed sample length will always be greater than the number of tokens between  `<sos>` and `<eos>`) that is being passed into the Transformer contain all of the tokenized words for each sentence (between the tokens `<sos>` and `<eos>`), and the rest of

[2019-11-26 16:24] antgr commented on #650
Sorry for the silly question: I am a bit confused with the last step, on how we use this tensor for nn.Embedding. :) Thank you so much for your answer!

[2019-11-26 16:24] mttk commented on #654
If I understood your use-case correctly, a BucketIterator would work fine in this case. Are you training the model for QA or are you doing some variation of language modelling, or both?

[2019-11-26 16:29] mttk commented on #650
There are two options, both equally good:
Option 1: Copy data from a tensor
[code]
Option 2: use [`from_pretrained`](https://pytorch.org/docs/stable/nn.html#torch.nn.Embedding.from_pretrained)
`embedding = nn.Embedding.from_pretrained(vectors)`

[2019-11-26 18:11] h56cho commented on #654
Hello,

Thank you for your reply.
I am a bit confused --- what exactly are the `batch_size` and `bptt_len`?

Is `batch_size` same as the length of the individual sample (or sequence)?
what's the difference between `batch_size` and `bptt_len`?

Thank you,

[2019-11-26 18:30] antgr commented on #650
Great! Thank you!

[2019-11-26 23:58] h56cho opened #656 "get_linear_schedule_with_warmup( ) from pytorch_transformers is not working."
Hello,

When I try to execute the line of code below, Python gives me an import error:

[code]

What should I then import to use the linear scheduler with warm up?

Thank you,

[2019-11-27 11:14] mttk commented on #650
No problem -- please do close the issue if everything is resolved.

[2019-11-27 11:15] mttk commented on #654
`bptt_len` is the length of a single instance, while `batch_size` is the number of instances you process in parallel (in "batches").

[2019-11-27 12:27] h56cho commented on #654
@mttk

Hello,

Thank you again for your reply.

when you say "instance", is "a single instance" = "a single sequence of tokens" ?

Thank you,

[2019-11-27 12:39] #650 closed

[2019-11-27 12:45] mttk commented on #654
Every token in an instance will always be processed, no matter the `batch_size`. The size of batches affects the optimization process (magnitude / bias of updates) & is limited by the amount of GPU memory available to you.
I would suggest you to check lecture notes on optimization from some ML / NLP course for more information on this.

[2019-11-27 13:24] h56cho commented on #654
@ mttk

Hello,

Thank you again for your reply.
So just to clarify a bit more, when you say "a single instance", do you mean "a single sequence" that's being passed into the Transformer? For example, if we pass the sequence "I like dogs" into the Transformer, would the length of a single instance in this case be 3 ('I', 'like', 'dogs')?

Sorry for the ongoing question, I will try to look up more o

[2019-11-27 13:29] mttk commented on #654
Yes, in this case, an instance is a single sequence you pass as input. The length of the "I like dogs" instance is 3 if you use word tokenization (note that most Transformers use _subword_ tokenizers).

If you would define your `bptt_len` to be for example 5, the instance that your model will see would look like ["I", "like", "dogs", "<pad>", "<pad>"]. A batch contains multiple instances which are

[2019-11-27 13:31] h56cho commented on #654
Thank you!

[2019-11-27 14:27] h56cho commented on #654
@mttk

Hello,

just a follow up question,

Say I am using the `WikiText2` dataset for my text corpus in doing NLP. To ensure the entire corpus is being processed by the Transformer, how should I set my `batch_size`? It seem to me that only the texts of length `bptt_length` * `batch_size` are being processed, which is not necessarily equal to the length of the entire text corpus.  The code and outp

[2019-11-27 14:31] mttk commented on #654
This size is just a single batch of your dataset. `train_Wiki2_iter` will have multiple batches of that size, and the total amount of data processed will be `len(train_Wiki2_iter)` (the amount of batches in a dataset) times the size of a single batch (which is `[1024, 1]` in your case).

[2019-11-27 14:32] h56cho commented on #654
Thank you! :)

[2019-11-27 14:43] h56cho commented on #654
@ mttk
Sorry --- one more question.

Say I executed a block of code below:

[code]

and from here, would `train_Wiki2_i[ : ,0]` access the first sequence contained in each batch (so here, would `train_Wiki2_i[ : ,0]` access the first sequence of each of 64 batches) ?

Thank you :s

[2019-11-27 15:17] h56cho commented on #654
Hello,

Sorry for continuing this thread.
So say I want my `batch_size = 1` since I am interested in doing the Stochastic Gradient Descend..

[code]
In your previous post you mentioned that `train_Wiki2_iter` will have multiple batches of the size 1024 * 1. How can I access the second batch, the third batch, and so on? I tried `train_Wiki2_i[[2]]`  `train_Wiki2_i[2]`, and `train_Wiki2_i[2 , :, :]`

[2019-11-27 15:20] mttk commented on #654
`next(iter(...))` will only give you the first batch (the first element of the iterable). If you want to iterate over all batches, do something like this:
[code]

[2019-11-27 15:31] h56cho commented on #654
Thank you! Highly appreciated.

[2019-11-27 16:37] h56cho commented on #654
@ mttk

Hello again,

from your example below:

[code]
Is there a way I can turn the `batch` into a python list?
If so, how I can change `batch` into a list?

Thank you,

[2019-11-27 16:45] bentrevett opened #657 "text_classification dataset default ngrams argument does not match comments"
## 🐛 Bug

`_setup_datasets` for the `text_classification` datasets has the `ngrams` argument default to 2, [see](https://github.com/pytorch/text/blob/master/torchtext/datasets/text_classification.py#L116)

However the comments for each of the `text_classification` datasets says that the default `ngrams` argument is 1, [see](https://github.com/pytorch/text/blob/master/torchtext/datasets/text_classi

[2019-11-27 16:48] mttk commented on #654
If the `batch` is in format [bptt_size, batch_size], then
`instance_list = [instance for instance in batch.t()]` should work

[2019-11-27 17:00] h56cho commented on #654
`instance_list = [instance for instance in batch.t()]` doesn't work but
`instance_list = [instance for instance in batch.text]` seem to work... thank you!

[2019-11-27 20:46] zhangguanheng66 commented on #657
@bentrevett Please let us know if you have any feedbacks for the new datasets in `text_classification` and `language_modeling`. I will do a cherry-up for the bug in doc.

@cpuhrsch

[2019-11-27 21:04] antgr opened #658 "Sequence tagging custom dataset"
## ❓ Questions and Help

**Description**

Hi, I have a custom dataset that has the following format:
[code]
I want to use column 0 as my sentences, and the next three consecutive columns as my labels (label1, label2, label3). I could afford to ignore the other fields. (Maybe in the future I would consider to use the last column, for example I have an idea to zero the gradient only when I switch do

[2019-11-27 21:10] antgr commented on #656
You are in a wrong repo! Here you are: https://github.com/huggingface/transformers
But to answer your question, you have to upgrade to transformers.
You can install using: ```pip install git+https://github.com/huggingface/transformers```
Then you can do:
```from transformers import get_linear_schedule_with_warmup```

[2019-11-27 21:14] zhangguanheng66 commented on #658
@mttk does TabularDataset work for this?

You could also a custom pipeline to read the text file. Some reference https://github.com/pytorch/text/pull/651

[2019-11-27 21:27] mttk commented on #658
For this case, you should subclass the [SequenceTaggingDataset](https://github.com/pytorch/text/blob/master/torchtext/datasets/sequence_tagging.py#L5). The examples in your dataset should be in the format used by, for example, UDPOS (a newline separating instances). I think this is already fine in your case. You have examples of subclassing in the same file.

For an example of Field definition for

[2019-11-28 08:04] antgr commented on #658
OK thanks! I will look into your suggestions with detail! The fact that I have the train, dev, test, already separated, makes any difference?

[2019-11-28 10:23] mttk commented on #658
It should even make the process simpler. Ideally, you should just implement the `splits` method in the SequenceTaggingDatset subclass, pass the correct paths to the files, and everything should work out of the box.

[2019-11-28 16:34] bentrevett commented on #657
@zhangguanheng66 I think they look good so far - but do they not lose functionality offered by `data.Field` and `build_vocab`?

A lot of the functionality offered by the `Field` can be incorporated into the `tokenizer` argument, e.g. `init_token`, `eos_token`, `fix_length`, `lower`, but some cannot. How can I get the same functionality as `include_lengths` (necessary for packed padded sequences) f

[2019-11-28 21:49] antgr commented on #658
What I have done following the answer and the test :
*(I have changed the specific names to lab1,lab2,lab3 for more generality)*
[code]
and
[code]
and finaly:
[code]

[2019-11-28 22:12] mttk commented on #658
I think that is the convention so you would get batch elements (.word, .lab1) of the same length, but it is not necessary (you will have to handle that yourself if you choose not to assign them).
You can (should) mask them out at prediction time as they don't really contribute to the loss.

[2019-11-29 01:07] h56cho opened #659 "Pytorch Transformers: should I re-initialize my optimizer and my scheduler before I try to fine tune my neural network on the different dataset?"
Hello,

I am doing NLP, and I have this block of Transformer body that was already trained on dataset A.
Now I am interested in fine tuning this same Transformer on a new dataset B.

In my Python code, should I re-initialize my optimizer and my scheduler before I try to fine tune my neural network on the different dataset? or is this not needed?

Thank you,

[2019-11-29 01:59] #659 closed

[2019-11-29 08:22] antgr commented on #658
How does this (init_token and eos_token) help get batch elements (.word, .lab1) of the same length?
How could I handle that by myself? (What I am supposed to do?). I miss the connection.

If I understand correctly, I always have to mask them out in forward and in computation of loss, right? For example to take ```logits[1:-1]``` ?

Thank you!

[2019-11-29 10:54] mttk commented on #658
I assumed that you want to have `init_token` and `eos_token` in your WORD Field. In that case, the length of an `batch.word` will be longer by 2 than `batch.lab1` (if you didn't set those tokens there as well). I'm guessing the example adds init and eos tokens to labels for convenience.

Doing `logits[1:-1]` is a correct way to handle this (in that case, your `labels` don't need to have init and e

[2019-11-29 12:59] antgr commented on #658
OK, it makes sense. So, if I will use ```init_token``` and ```eos_token``` for labels as well, I have to do ```labels[1:-1]``` as well. Is that correct?  Is this the standard way for someone using torchtext, to use a filtering such as ```[1:-1]``` for logits and labels? There is no confusion by your explanations!  The confusion is probably due to my lack of familiarity! Thanks!

[2019-11-29 16:39] mttk commented on #658
Yeah. Although I am pretty sure that just doing `logits[1:-1]` and not setting init and eos tokens for labels will work.
I'm honestly confused right now why the labels also have init and eos tokens, since I believe you should never predict those.

[2019-11-30 19:52] zhangguanheng66 commented on #657
Hi @bentrevett  You are right and we are still at the early stage to incorporate those functions and we need to figure out a better way to have these functionals. For example, you could write a padding function in `collate_fn`.

[2019-12-03 23:18] imran3180 commented on #625
I was asking a way by which we can access id(the unique identifier of the example after numericalzation) in the training loop.
using torchtext.datasets.MultiNLI does not return pairID of the example in the batch.

So I used the workaround by using fields dictionary and TabularDataset.

[code]
and then use the data.TabularDataset.

Closing this issue.

[2019-12-03 23:18] #625 closed

[2019-12-04 14:04] speedcell4 opened #660 "How to prefetch data?"
Currently, the bottleneck of my model training is on the data loading part, is there any example about how to prefetch data? Like the `pin_memory` and `num_workers` arguments of `torch.utils.data.DataLoader`

[2019-12-04 14:41] zhangguanheng66 commented on #660
which dataset are you using now? We have re-writed language modeling and text classification datasets to make them more compatible with `torch.utils.data.DataLoader`.

[2019-12-05 19:57] #657 closed

[2019-12-06 19:28] zhangguanheng66 opened #664 "Experimental datasets in torchtext 0.5.0 release"
## Motivation and summary of the current issues in torchtext

Based on the feedback from users, there are several issues existing in torchtext, including
- Several components and functionals are unclear and difficult to adopt. For example, `Field` class couples tokenizer, vocabulary, split, batching and sampling, padding, and numericalization together. The current `Field` class works as a "black b

[2019-12-06 19:30] zhangguanheng66 commented on #664
@cpuhrsch @vincentqb @fmassa @soumith @mttk @bentrevett

[2019-12-06 20:52] bentrevett commented on #664
The new dataset API looks like a good start - I think it's a good idea to move away from using `Field` - but there's a few things that still need to be looked at.

I'm currently experimenting on the `text_classification` datasets in 0.4 using the following:
[code]

An example of use:
[code]

With 0.5, we'll be able to pass a tokenize to the dataset - which is much needed - but as we can't pass arg

[2019-12-06 21:30] zhangguanheng66 commented on #664
@bentrevett Thanks for your comments and great feedback.
For the `vocab` part, I think some changes could be made in `build_vocab_from_iterator`. Then, users build a custom `vocab` object, which is passed to the dataset interface.

For padding, yes, `torch.nn.utils.rnn.pad_sequence`  is doing the same thing (don't know why it's under the "rnn" category). There are also different ways to pad sequen